﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>

<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>

<div>
    <h3 style="color: maroon; padding-left: 41px;">Certificates</h3>
    <div class="form-content">       
        <table>
            <tr>                
                <td>
                    <p style="padding-left: 43px;">
                        <select id="Member" name="Member" class="form-control">
                        </select>
                        <span class="validationForm" id="errMember"></span>
                    </p>
                </td>
            </tr>
        </table>
       
        <div class="form-row" id="divForm" style="padding-left: 27px;">
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" id="FirstName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" id="MiddleName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" id="LastName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" id="EmailAddress" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text" id="MobileNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>IIA Global Number</label>
                    <input type="text" id="IIAGlobalNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>National ID Number</label>
                    <input type="text" id="NationalIDNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>JobTitle</label>
                    <input type="text" id="JobTitle" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Organization</label>
                    <input type="text" id="Organization" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Membership Type</label>
                    <input type="text" id="MembershipType" class="form-control" readonly="readonly" />
                </div>
            </div>           
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <h4>Enter Certificate Information</h4>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="form-group calendar-icon">
                    <input type="text" data-toggle="datepicker" name="CertificateDate" id="CertificateDate" class="form-control" placeholder="Certificate Date">
                    <span class="validationForm" id="errCertificateDate"></span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group calendar-icon">
                    <input type="text" data-toggle="datepicker" name="ValidityDate" id="ValidityDate" class="form-control" placeholder="Validity Date">
                    <span class="validationForm" id="errValidityDate"></span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <input type="text" name="Score" id="Score" class="form-control" placeholder="Score">
                    <span class="validationForm" id="errScore"></span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <select id="CmsCertificateId" name="CmsCertificateId" class="form-control">
                    </select>
                    <span class="validationForm" id="errCmsCertificateId"></span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <button type="button" style="display:inline;" class="btn btn-light" id="btnSubmit" name="btnSubmit">Submit</button>
                </div>
            </div>
        </div>        
    </div>
</div>
<script> 
    $(document).ready(function () {        
        GetMemberList();
        GetCertificateTemplateList();

        $("#btnSubmit").click(function () {            
            if (CheckValidation() == false) {

            }
        });
        
        $("#Member").change(function () {     
            ClearField();
            GetMemberInfo($("#Member option:selected").val());
        });

        function GetMemberList() {
            $("#Member").html("Loading, Please wait...");
            $.ajax({
                url: '/Umbraco/Surface/Certificate/GetMemberNonMemberList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{}",
                success: function (response) {
                    var tbHtml = '<option value="">Select Member</option>';
                    if (response.status == true) {
                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            tbHtml = tbHtml + '<option value="' + MemberInfo.ProfileId + '">' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + ' (' + MemberInfo.EmailAddress + ')</option>';
                        });

                        $("#Member").html(tbHtml);
                    }
                    else {
                        $("#Member").html(tbHtml);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function GetMemberInfo(ProfileId) {           

            if (ProfileId != '') {
                $.ajax({
                    url: '/Umbraco/Surface/Certificate/GetMemberByID',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{ProfileId:'" + ProfileId + "'}",
                    success: function (response) {
                        if (response.status == true) {                          
                            $("#FirstName").val(response.MemberInfo.FirstName);
                            $("#MiddleName").val(response.MemberInfo.MiddleName);
                            $("#LastName").val(response.MemberInfo.LastName);
                            $("#EmailAddress").val(response.MemberInfo.EmailAddress);
                            $("#MobileNumber").val(response.MemberInfo.MobileNumber);
                            $("#IIAGlobalNumber").val(response.MemberInfo.IIAGlobalNumber);
                            $("#NationalIDNumber").val(response.MemberInfo.NationalIDNumber);                            
                            $("#JobTitle").val(response.MemberInfo.JobTitle);
                            $("#Organization").val(response.MemberInfo.Organization); 
                            $("#MembershipType").val(response.MemberInfo.MembershipType); 
                        }
                        else {

                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        }

        function GetCertificateTemplateList() {
            $("#CmsCertificateId").html("Loading, Please wait...");
            $.ajax({
                url: '/Umbraco/Surface/Certificate/GetCertificateTemplateList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{}",
                success: function (response) {
                    var tbHtml = '<option value="">Select Template</option>';
                    if (response.status == true) {
                        $.each(response.template, function (i,templateInfo) {
                            tbHtml = tbHtml + '<option value="' + templateInfo.Value + '">' + templateInfo.Text + '</option>';
                        });

                        $("#CmsCertificateId").html(tbHtml);
                    }
                    else {
                        $("#CmsCertificateId").html(tbHtml);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function ClearField() {           

            $("#FirstName").val("");
            $("#MiddleName").val("");
            $("#LastName").val("");
            $("#EmailAddress").val("");
            $("#MobileNumber").val("");
            $("#IIAGlobalNumber").val("");
            $("#NationalIDNumber").val("");           
            $("#JobTitle").val("");
            $("#Organization").val("");   
            $("#MembershipType").val("");
        }

        function AlertMessage(message) {
            if (message != null && message != "") {
                swal({
                    title: "",
                    text: message,
                    type: "error",
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok'
                },
                    function (isConfirm) {
                        if (isConfirm) {

                        }
                    });
            }
        }

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;           
            if ($("#Member option:selected").val() == '') {
                $("#errMember").html("Please select member").show();
                $("#Member").focus();
                hasError = true;
            }           
            if ($("#CertificateDate").val() == '') {
                $("#errCertificateDate").html("Please enter Certificate Date").show();
                $("#CertificateDate").focus();
                hasError = true;
            } 
            if ($("#Score").val() == '') {
                $("#errScore").html("Please enter Score").show();
                $("#Score").focus();
                hasError = true;
            } 
            if ($("#CmsCertificateId option:selected").val() == '') {
                $("#errCmsCertificateId").html("Please select template").show();
                $("#CmsCertificateId").focus();
                hasError = true;
            } 
            return hasError;
        }
    });
</script>

<script>
    $(document).ready(function () {
        $("#Member").select2();   
        $("#CmsCertificateId").select2(); 
    });
</script>

