﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<!-- <script src="/AdminUI/js/developer.js"></script> -->
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/AdminUI/js/jquery-validate/bootstrap.validate.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>


<style>
    .select2-container {
    width: 26rem !important;
}

    .td-padding {
        padding: 20px;
    }
    .field-validation-error {
        color: red !important;
    }
    .profile-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .ValidationSummary {
        display: flex;
        justify-content: start;
        align-items: center;
        display: none;
        border: 2px solid red;
        margin-bottom: 18px;
        border-radius: 8px;
        width: 60rem;
    }

    .d-flex {
        display: flex;
    }

    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .d-flex-start {
        justify-content:flex-start;
        align-items:start;
    }

    .p-b-10 {
        padding-bottom: 10px;
    }

    .input-width {
        width: 38%;
    }
</style>


<div>
    <h3 style="color: maroon;" id="ElectionUsersMailsTitlePage">Objection Committe Emails</h3>
    <div id="ValidationSummary" class="ValidationSummary" style="display:none;">
        <span style="color:red; font-size: large; margin: 2px;" id="electionErrorMessage">
            * Please Select Election
        </span>
    </div>
    <table id="ConfigTb">
        <tr>
            <td class="td-padding">
                <p>
                    <select id="Election" name="Election"></select>
                    <span class="validationForm" id="errElection"></span>
                </p>
            </td>
            <td class="td-padding">
                <button type="button" class="btn btn-light" id="btnNew" style="display:inline;" name="btnNew">New objection committe member</button>
            </td>
        </tr>
    </table>
    <br /><br />
</div>

<div class="show-requests">
<h3 style="color: maroon;margin-top:20px;" ">Users List</h3>
<table style="width:100%" id="tblElectionMailUserList" class="table table-contact footable default footable-loaded"></table>
</div>

<div class="request-details">
   
   <div class="form-row">
       <div class="col-md-6 col-12 p-b-10" id="ElectionDropDownDiv">
        <div class="form-group d-flex">
        <lable for="newElection" style="font-size: 16px; width: 9%;">Election <span style="color:red">*</span></lable>
        <select id="newElection" name="newElection"></select>
       </div>
         <span class="validationForm" id="errnewElection"></span>
     </div>
    </div>


   <div class="form-row">
    <div class="col-md-6 col-12 p-b-10">
      <div class="form-group d-flex">
        <Label for="UserName" style="font-size: 16px; width: 9%;">User Name <span style="color:red">*</span></Label>
        <input type="text" name="UserName" id="UserName" minlength="100" class="form-control input-width" placeholder="User Name">
        <span class="validationForm" id="errUserName"></span>
      </div>
    </div>
   </div>

   <div class="form-row">
    <div class="col-md-6 col-12 p-b-10">
        <div class="form-group d-flex">
          <Label for="UserEmail" style="font-size: 16px; width: 9%;">Email <span style="color:red">*</span></Label>
          <input type="text" name="UserEmail" id="UserEmail" class="form-control input-width" placeholder="User Email">
          <span class="validationForm" id="errUserEmail"></span>
        </div>
      </div>
   </div>


    <div class="form-action d-flex d-flex-start">
        <button type="button" id="btnSave" name="btnSave" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Save</button>
        <button type="button" id="btnDetailsBack" name="btnDetailsBack" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Back</button>
    </div>
</div>


<script>
    GetElectionList();
    $('.request-details').hide();
    $('.show-requests').hide();
    
    function ResetPage(){
        $("#ConfigTb").show();
        $("#UserName").val("");
        $("#UserEmail").val("");
        $(".file-Link").text("");
        $(".request-details").hide();
        $('.show-requests').show();
    }

    $("#btnNew").on("click" , function(){
        ResetPage();
        GetNewElectionList();
        $("#ConfigTb").hide();
        $("#btnSave").prop("disabled" , false);
        $('.show-requests').hide();
        $('.request-details').show();
        $("#ElectionDropDownDiv").show();
    });

    $("#btnDetailsBack").on("click" , function(){
        ResetPage();
    });

    $("#Election").change(function () {
        GetAssignedUsersMailsToElectionList();
    });

    function GetElectionList() {
        $("#Election").html("");
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#Election").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetNewElectionList()
    {
        $("#newElection").html("");
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#newElection").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    
    function GetAssignedUsersMailsToElectionList() {
        $("#tblElectionMailUserList").html("Loading, Please wait...");
        var electionId = $("#Election option:selected").val();
        if(electionId == 0)
        {
            return;
        }
        $.ajax({
            url: "/Umbraco/Surface/Election/GetAssignedMailUsersToElection",
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",

            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    if (response.MailUserInfo != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>User Name</th>" +
                            "<th>Email</th>" +
                            "<th>Action</th>" +
                            "</tr></thead>";

                        $.each(response.MailUserInfo, function (i, MailUserInfo) {
                            tbHtml += "<tr>" +
                                "<td>" + MailUserInfo.UserName + "</td>" +
                                "<td>" + MailUserInfo.UserEmail + "</td>" +
                                "<td> <a href='javascript:;' onClick='deleteElectionMailUser(\"" +MailUserInfo.ElectionUserMailId + "\")'>Delete</a></td>";
                            "</tr>";
                        });

                        $("#tblElectionMailUserList").html(tbHtml);
                        $(".show-requests").show();
                    }
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {

            }
        });
    }

    function deleteElectionMailUser(electionUserMailId) {
        var result = confirm("Are you sure you want to remove this assigned user mail?");
        if (result) {
            $.ajax({
                url: '/Umbraco/Surface/Election/RemoveMailUserAssignedToElection',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{electionUserMailId:'" + electionUserMailId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        AlertMessage("This assigned user mail has been deleted successfully from the selected election!");
                        GetAssignedUsersMailsToElectionList();
                    }
                    else {
                        AlertMessage(response.error);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        }

    $("#btnSave").on("click", function () {
      if(CheckValidation() == false)
      {
        $(this).prop("disabled" , true);
        var electionId = $("#newElection option:selected").val();
        var userName = $("#UserName").val();
        var userMail = $("#UserEmail").val();
        var formData = new FormData();
        formData.append("ElectionId", electionId);
        formData.append("UserName", userName);
        formData.append("UserMail", userMail);
        $.ajax({
            url: "/Umbraco/Surface/Election/AssignUserMailToElection",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    AlertMessage("Selected users has been assigned successfully to the selected election");
                    $(this).prop("disabled" , false);
                    ResetPage();
                    GetAssignedUsersMailsToElectionList();
                }
                else {
                        $(this).prop("disabled" , true);
                        AlertMessage(response.error);
                }
            },
            error: function (request, error) {
                $(this).prop("disabled" , true);
                AlertMessage("Error in submission, please try again!");
            }
        });
      }
    });

    function CheckIsEmail(email) {
      var EmailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      return EmailRegex.test(email);
    }

    function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var electionValue = $("#newElection option:selected").val();
            if (electionValue == '' || electionValue == 0 || electionValue == null) {
                $("#errnewElection").html("Required").show();
                $("#newElection").focus();
                hasError = true;
            }

            if ($("#UserName").val() == '') {
                $("#errUserName").html("Required").show();
                $("#UserName").focus();
                hasError = true;
            }

            if ($("#UserEmail").val() == '') {
                $("#errUserEmail").html("Required").show();
                $("#UserEmail").focus();
                hasError = true;
            }
            else {
               var isEmail = CheckIsEmail($("#UserEmail").val());
               if(isEmail == false)
               {
                 $("#errUserEmail").html("Email Format Is Wrong").show();
                 $("#UserEmail").focus();
                 hasError = true;
               }
            }
           return hasError;
        }

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>


<script>
    $("#Election").select2();
    $("#newElection").select2();
</script>
