﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = Model.Content.Ancestors().ToArray();

    var CurrentPageTitle = "";

    if(Model.Content.GetPropertyValue("title") != null)
    {
        if (!string.IsNullOrEmpty(Model.Content.GetPropertyValue("title").ToString()))
        {
            CurrentPageTitle = Model.Content.GetPropertyValue("title").ToString();
        }
        else
        {
            CurrentPageTitle = Model.Content.Name;
        }
    }
    else
    {
        CurrentPageTitle = Model.Content.Name;
    }

}

@if (selection.Length > 0)
{
    <div class="links-nav">
        <div class="container-fluid">
            <span>@Umbraco.GetDictionaryValue("You are here") :</span>
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                var pageTitle = "";
                if (item.Name == "en" || item.Name == "ar")
                {
                    pageTitle = Umbraco.GetDictionaryValue("Home");
                }
                else
                {
                    if (!string.IsNullOrEmpty(item.GetPropertyValue("title").ToString()))
                    {
                        pageTitle = item.GetPropertyValue("title").ToString();
                    }
                    else
                    {
                        pageTitle = item.Name;
                    }

                }
                <a href="@item.Url">@pageTitle <i class="fal fa-caret-right"></i></a>                
            }           
            <a href="#" class="active">@CurrentPageTitle <i class="fal fa-caret-right"></i></a>
        </div>
    </div>
    
}
