﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);    
}
<div class="col-md-6">
    <h2>@Umbraco.GetDictionaryValue("Email Subscription")</h2>
    <p>@Umbraco.GetDictionaryValue("Subscription Text")</p>
</div>
<div class="col-md-6">
    <span class="validationForm" id="errSubscribeEmail"></span>
    <form>
        <input type="text" class="form-control" id="SubscribeEmail" name="SubscribeEmail" placeholder="@Umbraco.GetDictionaryValue("Enter email address")">

        <button class="btn btn-light" id="btnSubscribe" type="button">@Umbraco.GetDictionaryValue("Subscribe")</button>
    </form>
</div>

<script>
    $(document).ready(function () {

        $("#btnSubscribe").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("email", $("#SubscribeEmail").val());
                $.ajax({
                    url: "/Umbraco/Surface/FormProcess/NewsletterSubscribe",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage("Thank you for newsletter subscription!");
                            $("#SubscribeEmail").val("");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#SubscribeEmail").val() == '') {
                $("#errSubscribeEmail").html("Please enter email address").show();
                $("#SubscribeEmail").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#SubscribeEmail").val())) {
                $('#errSubscribeEmail').html("Please enter valid email address").show();
                $("#SubscribeEmail").focus();
                hasError = true;
            }

            return hasError;
        }
    });


</script>
