﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var parentId = Model.Parent.Parent.Id;
    var parentContent = Umbraco.TypedContent(parentId);
    var image = parentContent.GetPropertyValue<IPublishedContent>("joinIIAKSAImage");
}
<section class="iia-join" data-aos="fade-in" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@image.Url);">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 col-md-8 col-12 text-side h-100">
                <h2>@parentContent.GetPropertyValue("joinIIAKSATitle")</h2>
                <p>@parentContent.GetPropertyValue("joinIIAKSASubTitle")</p>
            </div>
            <div class="col-lg-6 col-md-4 col-12 social-side h-100">
                <a href="/@lang/become-qualified" class="btn btn-light">@Umbraco.GetDictionaryValue("Join IIA KSA")</a>
            </div>
        </div>
    </div>
</section>
<!-- Sart Request a Call Back Section -->
<section class="request-call" data-aos="fade-in" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
    <div class="container">
        <h2>@parentContent.GetPropertyValue("requestCallBackTitle")</h2>
        <p>@parentContent.GetPropertyValue("requestCallBackSubTitle")</p>
        <a href="javascript:;" id="btnRequestCallBack" class="btn btn-light">@Umbraco.GetDictionaryValue("Request a Call Back")</a>
        <a href="javascript:;" id="btnDownloadBrochure" class="btn btn-light">@Umbraco.GetDictionaryValue("Download Brochure")</a>
</div>
</section>


<div class="modal fade custom-modal" id="RequestCallBack" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        @Umbraco.RenderMacro("RequestaCallBack", new { ContactType = "RequestCallBack", PageId = this.Model.Id })
    </div>
</div>
<div class="modal fade custom-modal" id="DownloadBrochure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        @Umbraco.RenderMacro("DownloadBrochure", new { ContactType = "DownloadBrochure", PageId = this.Model.Id })
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnRequestCallBack").on("click", function () {
            $("#RequestCallBack").modal("show");
        });

        $("#btnDownloadBrochure").on("click", function () {
            $("#DownloadBrochure").modal("show");
        });

    });
</script>

