﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var TopImage = Model.GetPropertyValue<IPublishedContent>("topBanner");
    var parentUrl = currentPage.Parent.Url;
}
    <section class="sub-banner">
        <h1>@Model.GetPropertyValue("title")</h1>
        <a href="@parentUrl">@Umbraco.GetDictionaryValue("Go Back")</a>
        @*<a href="javascript:window.history.back();">@Umbraco.GetDictionaryValue("Go Back")</a>*@
    </section>
