﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var TopImage = Model.GetPropertyValue<IPublishedContent>("topBanner");    
}
    <section class="banner" style="background-image: url(@TopImage.Url);">
        <h1>@Model.GetPropertyValue("title")</h1>
    </section>