﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>

<div>
    <h3 style="color: maroon;">Add New Member</h3>
   
    <div class="form-row">
        <div class="col-md-3 col-12">
            <div class="form-group">
                <select id="MembershipType" name="MembershipType" class="form-control">
                    <option value="">Membership Type</option>
                    <option value="Students">Students</option>
                    <option value="Individuals">Individuals</option>
                    <option value="Corporate">Corporate</option>
                    <option value="Professional">Professional</option>
                </select>
                <span class="validationForm" id="errMembershipType"></span>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="form-group">
                <select id="MembershipBadge" name="MembershipBadge" class="form-control">
                    <option value="">Membership Badge</option>
                    <option value="Gold">Gold</option>
                    <option value="Silver">Silver</option>
                    <option value="Bronze">Bronze</option>
                </select>
                <span class="validationForm" id="errMembershipBadge"></span>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="form-group">
                <select id="ParentProfileId" name="ParentProfileId" class="form-control">
                </select>
                <span class="validationForm" id="errParentProfileId"></span>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="form-group">
                <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="Email Address">
                <span class="validationForm" id="errEmailAddress"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="First Name (English)">
                <span class="validationForm" id="errFirstName"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="FirstName_ar" id="FirstName_ar" class="form-control" placeholder="First Name (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="MiddleName" id="MiddleName" class="form-control" placeholder="Middle Name (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="MiddleName_ar" id="MiddleName_ar" class="form-control" placeholder="Middle Name (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Last Name (English)">
                <span class="validationForm" id="errLastName"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="LastName_ar" id="LastName_ar" class="form-control" placeholder="Last Name (Arabic)">
            </div>
        </div>

        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="NationalIDNumber" id="NationalIDNumber" class="form-control" placeholder="National ID Number">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">

                <select id="Gender" name="Gender" class="form-control">
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span class="validationForm" id="errGender"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" data-toggle="datepicker" name="DateOfBirth" id="DateOfBirth" class="form-control" placeholder="Date Of Birth">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="JobTitle" id="JobTitle" class="form-control" placeholder="Job Title (English)">
                <span class="validationForm" id="errJobTitle"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="JobTitle_ar" id="JobTitle_ar" class="form-control" placeholder="Job Title (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="Organization" id="Organization" class="form-control" placeholder="Organization (English)">
                <span class="validationForm" id="errOrganization"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="Organization_ar" id="Organization_ar" class="form-control" placeholder="Organization (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">

                <select name="Country" id="Country" class="form-control">
                </select>
                <span class="validationForm" id="errCountry"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="City" id="City" class="form-control" placeholder="City (English)">
                <span class="validationForm" id="errCity"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="City_ar" id="City_ar" class="form-control" placeholder="City (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="Zip_Postal_Code" id="Zip_Postal_Code" class="form-control" placeholder="ZIP / Postal Code">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="number" name="MobileNumber" id="MobileNumber" class="form-control" placeholder="Mobile No">
                <span class="validationForm" id="errMobileNumber"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="number" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="Phone No">                
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="number" name="FaxNumber" id="FaxNumber" class="form-control" placeholder="Fax No">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="IIAGlobalNumber" id="IIAGlobalNumber" class="form-control" placeholder="IIA Global Number">
                <span class="validationForm" id="errIIAGlobalNumber"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" data-toggle="datepicker" name="MembershipStartDate" id="MembershipStartDate" class="form-control" placeholder="Membership Start Date">
                <span class="validationForm" id="errMembershipStartDate"></span>
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" data-toggle="datepicker" name="MembershipEndDate" id="MembershipEndDate" class="form-control" placeholder="Membership End Date">
                <span class="validationForm" id="errMembershipEndDate"></span>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <textarea name="Qualification" id="Qualification" class="form-control" placeholder="Qualifications"></textarea>

            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-group">
                <textarea name="Qualification_ar" id="Qualification_ar" class="form-control" placeholder="Qualifications (Arabic)"></textarea>

            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <textarea name="Experience" id="Experience" class="form-control" placeholder="Experience"></textarea>

            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <textarea name="Experience_ar" id="Experience_ar" class="form-control" placeholder="Experience (Arabic)"></textarea>

            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <textarea name="Bio" id="Bio" class="form-control" placeholder="Bio"></textarea>

            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <textarea name="Bio_ar" id="Bio_ar" class="form-control" placeholder="Bio (Arabic)"></textarea>

            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <button type="button" class="btn btn-light" id="btnAdd" style="display:block;" name="btnUpdate">Save</button>
            </div>
        </div>
    </div>
       
 </div>  
<script>
    $(document).ready(function () {

        $("#MembershipBadge").attr("disabled", "disabled");
        $("#ParentProfileId").attr("disabled", "disabled");
        $("#MembershipStartDate").attr("disabled", "disabled");
        $("#MembershipEndDate").attr("disabled", "disabled");

        var jsonCountry = $.ajax({
            type: 'POST',
            url: "/Umbraco/Surface/FormProcess/GetCountry",
            dataType: "application/json; charset=utf-8",
            context: document.body,
            global: false,
            async: false,
            success: function (data) {
                return data;
            }
        }).responseText;

        var strCountry = '<option value="">Country</option>';
        var jsonObject = $.parseJSON(jsonCountry);
        $.each(jsonObject, function (i, obj) {
            strCountry = strCountry + '<option value="' + obj.CountryCode + '">' + obj.CountryName + '</option>';

        });
        
        $("#Country").html(strCountry);      

        GetCorporateAccount();
    
       
    function ClearField() {
        $("#MembershipBadge").attr("disabled", "disabled");
        $("#ParentProfileId").attr("disabled", "disabled");
        $("#MembershipStartDate").attr("disabled", "disabled");
        $("#MembershipEndDate").attr("disabled", "disabled");
        $("#MembershipType").val("").change();
        $("#MembershipBadge").val("").change();
        $("#ParentProfileId").val("0").change();
        $("#FirstName").val("");        
        $("#FirstName_ar").val("");
        $("#MiddleName").val("");
        $("#MiddleName_ar").val("");
        $("#LastName").val("");
        $("#LastName_ar").val("");
        $("#NationalIDNumber").val("");
        $("#Gender").val("").change();
        $("#DateOfBirth").val("");
        $("#JobTitle").val("");
        $("#JobTitle_ar").val("");
        $("#Organization").val("");
        $("#Organization_ar").val("");
        $("#Country").val("").change();
        $("#City").val("");
        $("#City_ar").val("");
        $("#Zip_Postal_Code").val("");
        $("#MobileNumber").val("");
        $("#PhoneNumber").val("");
        $("#FaxNumber").val("");
        $("#EmailAddress").val("");
        $("#IIAGlobalNumber").val("");
        $("#Experience").val("");
        $("#Experience_ar").val("");
        $("#Qualification").val("");
        $("#Qualification_ar").val("");
        $("#Bio").val("");
        $("#Bio_ar").val("");       
        $("#MembershipStartDate").val("");     
        $("#MembershipEndDate").val("");
    }

    $("#btnAdd").on("click", function () {
        if (CheckValidation() == false) {
            AddNewMember();
        }
    });
        function AddNewMember() {
            $("#btnAdd").html("Progress, please wait..");
        var formData = new FormData();
        formData.append("FirstName", $("#FirstName").val());
        formData.append("FirstName_ar", $("#FirstName_ar").val());
        formData.append("MiddleName", $("#MiddleName").val());
        formData.append("MiddleName_ar", $("#MiddleName_ar").val());
        formData.append("LastName", $("#LastName").val());
        formData.append("LastName_ar", $("#LastName_ar").val());
        formData.append("NationalIDNumber", $("#NationalIDNumber").val());
        formData.append("Gender", $("#Gender option:selected").val());
        formData.append("DateOfBirth", $("#DateOfBirth").val());
        formData.append("JobTitle", $("#JobTitle").val());
        formData.append("JobTitle_ar", $("#JobTitle_ar").val());
        formData.append("Organization", $("#Organization").val());
        formData.append("Organization_ar", $("#Organization_ar").val());        
        formData.append("Country", $("#Country option:selected").val());
        formData.append("City", $("#City").val());  
        formData.append("City_ar", $("#City_ar").val());  
        formData.append("Zip_Postal_Code", $("#Zip_Postal_Code").val()); 
        formData.append("MobileNumber", $("#MobileNumber").val()); 
        formData.append("PhoneNumber", $("#PhoneNumber").val()); 
        formData.append("FaxNumber", $("#FaxNumber").val()); 
        formData.append("EmailAddress", $("#EmailAddress").val()); 
        formData.append("IIAGlobalNumber", $("#IIAGlobalNumber").val()); 
        formData.append("MembershipStartDate", $("#MembershipStartDate").val());
        formData.append("MembershipEndDate", $("#MembershipEndDate").val());
        formData.append("MembershipType", $("#MembershipType option:selected").val());
        formData.append("MembershipBadge", $("#MembershipBadge option:selected").val());
        formData.append("Qualification", $("#Qualification").val()); 
        formData.append("Qualification_ar", $("#Qualification_ar").val()); 
        formData.append("Bio", $("#Bio").val()); 
        formData.append("Bio_ar", $("#Bio_ar").val()); 
        formData.append("Experience", $("#Experience").val()); 
        formData.append("Experience_ar", $("#Experience_ar").val()); 
        formData.append("ParentProfileId", $("#ParentProfileId option:selected").val());

        $.ajax({
            url: "/Umbraco/Surface/Admin/AddNewMember",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {

            },
            success: function (response) {
                if (response.status == true) {     
                    ClearField();
                    $("#btnAdd").html("Save");
                    AlertMessage("New Member has been added successfully!");
                }
                else {
                    $("#btnAdd").html("Save");
                    alert(response.message);
                }
            },
            error: function (request, error) {
                $("#btnAdd").html("Save");
            }
        });
    }
    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }

    $("#MembershipType").change(function () {
        if (this.value == "Corporate") {
            $("#MembershipBadge").removeAttr("disabled"); 
            $("#ParentProfileId").val("0").change();
            $("#ParentProfileId").attr("disabled", "disabled");
            $("#MembershipStartDate").removeAttr("disabled");
            $("#MembershipEndDate").removeAttr("disabled");
        }
        else if (this.value == "Professional") {
            $("#ParentProfileId").removeAttr("disabled");
            $("#MembershipBadge").val("").change();
            $("#MembershipBadge").attr("disabled", "disabled");
            $("#MembershipStartDate").val("");
            $("#MembershipStartDate").attr("disabled", "disabled");
            $("#MembershipEndDate").val("");
            $("#MembershipEndDate").attr("disabled", "disabled");
        }
        else {
            $("#ParentProfileId").val("0").change();
            $("#ParentProfileId").attr("disabled", "disabled");
            $("#MembershipBadge").val("").change();
            $("#MembershipBadge").attr("disabled", "disabled");
            $("#MembershipStartDate").removeAttr("disabled");
            $("#MembershipEndDate").removeAttr("disabled");
        }
    });

    function GetCorporateAccount() {        
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetCorporateAccount',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{}",
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Corporate Account</option>';
                    $.each(response.MemberInfo, function (i, MemberInfo) {
                        tbHtml = tbHtml + '<option value="' + MemberInfo.ProfileId + '">' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + ' (' + MemberInfo.EmailAddress + ')</option>';
                    });

                    $("#ParentProfileId").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function CheckValidation() {
        $(".validationForm").hide();
        var hasError = false;
        var emailReg = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;    

        if ($("#MembershipType option:selected").val()=='') {
            $("#errMembershipType").html("Please select membership").show();
            $("#MembershipType").focus();
            hasError = true;
        }
        if ($("#MembershipType option:selected").val() == 'Corporate') {
            if ($("#MembershipBadge option:selected").val() == '') {
                $("#errMembershipBadge").html("Please select membership badge").show();
                $("#MembershipBadge").focus();
                hasError = true;
            }
        }
        if ($("#MembershipType option:selected").val() == 'Professional') {
            if ($("#ParentProfileId option:selected").val() == '0') {
                $("#errParentProfileId").html("Please select corporate account").show();
                $("#ParentProfileId").focus();
                hasError = true;
            }
        }

        if ($("#EmailAddress").val() == '') {
            $("#errEmailAddress").html("Please enter email address").show();
            $("#EmailAddress").focus();
            hasError = true;
        }
        if ($("#EmailAddress").val() != '') {
            if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("Please enter valid email address").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
        }   

        if ($("#FirstName").val() == '') {
            $("#errFirstName").html("Please enter first name").show();
            $("#FirstName").focus();
            hasError = true;
        }

        if ($("#LastName").val() == '') {
            $("#errLastName").html("Please enter last name").show();
            $("#LastName").focus();
            hasError = true;
        }

        if ($("#Gender option:selected").val() == '') {
            $("#errGender").html("Please select gender").show();
            $("#Gender").focus();
            hasError = true;
        }

        if ($("#MembershipType option:selected").val() == 'Individuals' || $("#MembershipType option:selected").val() == 'Corporate' || $("#MembershipType option:selected").val() == 'Professional') {
            if ($("#JobTitle").val() == '') {
                $("#errJobTitle").html("Please enter job title").show();
                $("#JobTitle").focus();
                hasError = true;
            }
            if ($("#Organization").val() == '') {
                $("#errOrganization").html("Please enter organization").show();
                $("#Organization").focus();
                hasError = true;
            }           
        }


        if ($("#Country option:selected").val() == '') {
            $("#errCountry").html("Please select country").show();
            $("#Country").focus();
            hasError = true;
        }

        if ($("#City").val() == '') {
            $("#errCity").html("Please enter city").show();
            $("#City").focus();
            hasError = true;
        }        

        if ($("#MobileNumber").val() == '') {
            $("#errMobileNumber").html("Please enter mobile number").show();
            $("#MobileNumber").focus();
            hasError = true;
        }              

             
        if ($("#IIAGlobalNumber").val() == '') {
            $("#errIIAGlobalNumber").html("Please enter iia global no").show();
            $("#IIAGlobalNumber").focus();
            hasError = true;
        }

        if ($("#MembershipType option:selected").val() != 'Professional') {
            if ($("#MembershipStartDate").val() == '') {
                $("#errMembershipStartDate").html("Please enter start date").show();
                $("#MembershipStartDate").focus();
                hasError = true;
            }

            if ($("#MembershipEndDate").val() == '') {
                $("#errMembershipEndDate").html("Please enter end date").show();
                $("#MembershipEndDate").focus();
                hasError = true;
            }
        }
        return hasError;
    }
    });
</script>


