﻿.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529 !important;
}
.table {
    font: 15px/20px "Roboto-Medium", sans-serif;
    background: #dcddde !important;
    border-collapse: collapse;
    margin: 33px 0 49px !important;
}
table {
    border-spacing: 0;
}
.table th {
    background: #808285 !important;
    border: solid #fff !important;
    border-width: 0 0 1px 1px;
    color: #fff !important;
    text-align: left;
    padding: 15px 19px 14px;
}
    .table th:first-child, .table td:first-child {
        border-left: none;
    }
.table thead th {
    border-bottom: 1px solid #efefef;
}
.table thead th {
    vertical-align: bottom;
}
.table td, .table th {
    border-top: 1px solid #efefef;
}