﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationWithCandidateViewModel>
@using IIA.Helper;
@using CMS.Helpers;
@{
    Html.EnableUnobtrusiveJavaScript();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var firstStepperIcon = this.Model.CandidateStatus == CandidateRequestStatus.UnderRequest ? "active" : "done";
    var seconedStepperIcon = this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest ? "active" :
                            this.Model.CandidateStatus == CandidateRequestStatus.Pending ?  "done" : "";
    var thirdStepperIcon = this.Model.CandidateStatus == CandidateRequestStatus.Pending ? "active" : "";

    var statusKey = this.Model.CandidateStatus == CandidateRequestStatus.Pending ? "Pending" :
                    this.Model.CandidateStatus == CandidateRequestStatus.Reject ? "Rejected" :
                    this.Model.CandidateStatus == CandidateRequestStatus.Approve ? "Approved" : "";

    var statusClass = this.Model.CandidateStatus == CandidateRequestStatus.Approve ? "GreenStatus" :
                      this.Model.CandidateStatus == CandidateRequestStatus.Reject ? "RedStatus" :
                      this.Model.CandidateStatus == CandidateRequestStatus.Pending ? "YellowStatus" : "";
}

<link rel="stylesheet" href="~/customalert/sweetalert.css" />
<script src="~/customalert/sweetalert-dev.js"></script>
<style>
     .d-none {
         display:none;
     }
    .GreenStatus {
        color:green;
    }
    .RedStatus {
        color:red;
    }
    .YellowStatus {
        color:burlywood;
    }
     .float-right {
       float: right;
     }
    .d-flex {
        display: flex;
    }

    .d-flex-center {
        justify-content: center;
        align-items: center;
    }

    .padding-left-5 {
        padding-left: 5px;
    }

    .contentPage p {
        color: black !important;
    }

    .form-group {
        margin-top: 3rem;
        margin-bottom: 4.5rem !important;
    }

    .connecting-line {
        width: 50% !important;
    }

    .d-flex-row {
        display: flex;
        flex-direction: row;
    }

    .width-6{
        width: 6rem;
    }

    .lable-flex-start 
    {
        height:0px !important;
        justify-content: flex-start;
        align-items: start;
        text-align: center;
    }
    .OtherDocumentFileLabel {
        display: inline-block !important;
        top:unset;
    }
</style>
<link href="~/ui/stylesheet/font-awesome.min.css" rel="stylesheet" />
   @if (lang == "ar")
   {
    <link href="~/ui/stylesheet/stepper-ar.css" rel="stylesheet" />
   }
   else
   {
    <link href="~/ui/stylesheet/stepper.css" rel="stylesheet" />
   }
<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <!-- // Title -->
            <div class="row">
                <div class="col-md-6 col-12">
                    <span style="font-size:Larger;"> @Umbraco.GetDictionaryValue("Apply for Board of Directors Nomination and Election")
                    @if(lang == "ar")
                    {
                        <span> @DateTime.Now.Year </span>
                    }
                    </span>
                    <input type="hidden" name="status" id="status" value="@((int)this.Model.CandidateStatus)" />
                    <input type="hidden" name="MemberId" id="MemberId" value="@this.Model.ProfileId" />
                    <input type="hidden" name ="ElectionId" id="ElectionId" value="@this.Model.ElectionId" />
                    <!-- <input type="hidden" name ="PageId" id="PageId" value="@pageId" /> -->
                    @if(!string.IsNullOrEmpty(statusKey) && !string.IsNullOrEmpty(statusClass))
                    {
                        <div style="display:flex; padding-top:5px;">
                        <span style="font-size:Large; padding:3px;">  
                         @Umbraco.GetDictionaryValue("Request Status")   :
                        </span>
                        <span style="font-size:20px; margin: 0px 10px 0px 10px;" class="@statusClass">  
                          @Umbraco.GetDictionaryValue(statusKey)
                        </span>
                        </div>
                        if(this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                        {
                        <div style="display:flex; padding-top:5px;">
                        <span style="font-size:Large; padding:3px;">  
                         @Umbraco.GetDictionaryValue("Reason")   :
                        </span>
                        <span style="font-size:20px; margin: 0px 10px 0px 10px;" >  
                          @this.Model.Comment
                        </span>
                        </div>
                        }
                    }
                </div>
            </div>

            <!-- // Stepper -->
        <div class="row list-info steps-content">
            <div class="col-12 steps-wizard">
                    <section class="signup-step-container">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs row" role="tablist">
                                    <li role="presentation" class="col @(this.Model.CandidateStatus == CandidateRequestStatus.UnderRequest ? "active" : "disabled")" id="tab_step1">
                                        <a data-toggle="tab" style="cursor:pointer;" aria-controls="step1" role="tab" onclick="moveToStep1()"
                                        aria-expanded="true"><span class="round-tab">1 </span> <i>@Umbraco.GetDictionaryValue("Step 1")</i></a>
                                    </li>
                                    <li role="presentation" class="col @(this.Model.CandidateStatus != CandidateRequestStatus.UnderRequest ? "active" : "disabled")" id="tab_step2">
                                        @if(this.Model.CandidateStatus == CandidateRequestStatus.UnderRequest)
                                        {
                                          <a data-toggle="tab" aria-controls="step2" style="cursor:pointer;" role="tab" aria-expanded="false">
                                          <span class="round-tab">2</span> <i>@Umbraco.GetDictionaryValue("Step 2")</i></a>
                                        }
                                        else 
                                        {
                                          <a data-toggle="tab" aria-controls="step2"  style="cursor:pointer;" role="tab" onclick="moveToStep2()" aria-expanded="false">
                                          <span class="round-tab">2</span> <i>@Umbraco.GetDictionaryValue("Step 2")</i></a>
                                        }
                                        
                                    </li>
                                </ul>
                            </div>
            


            <div class="col-12">
            <input type="hidden" id="lang" value="@lang" />



            <div class="tab-pane @(this.Model.CandidateStatus == CandidateRequestStatus.UnderRequest ? "d-none" : "active")" role="tabpanel" id="step2">

                 <form enctype="multipart/form-data" method="post">                
                    
                    <div class="form-content">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="title">
                                    <h1>@Umbraco.GetDictionaryValue("User Profile")</h1>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 contact-sec">
                                @if (!string.IsNullOrEmpty(this.Model.IIAGlobalNumber))
                                {
                                    <h2 class="phone">@Umbraco.GetDictionaryValue("IIA Global Contact No")</h2>
                                    <span class="phone-num">@this.Model.IIAGlobalNumber</span>
                                }
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 3rem;">
                            <div class="col-12">
                                <div class="avatar-upload">
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url(@this.Model.ProfilePhoto);">
                                        </div>
                                    </div>
                                </div>
                                <div class="user-name">
                                    @if (this.Model.MiddleName != "")
                                    {
                                        @Html.Raw(this.Model.FirstName + ' ' + this.Model.MiddleName + ' ' + this.Model.LastName)
                                    }
                                    else
                                    {
                                        @Html.Raw(this.Model.FirstName + ' ' + this.Model.LastName)
                                    }
                                    @if (this.Model.JobTitle != "")
                                    {
                                        <span>@this.Model.JobTitle, @this.Model.Organization</span>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <Label for="Bio">@Umbraco.GetDictionaryValue("Short Bio")</Label>
                            <input type="text" name="Bio" id="Bio" value="@this.Model.Bio"
                             onkeyup="countBioChar(this)" onpaste="countBioChar(this)"
                             minlength="100" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Short Bio")">
                             <span class="float-right" style="padding-top: 6px;">
                             <span id="countBioChar"> 0 </span> <span> / 100 @Umbraco.GetDictionaryValue("Word")</span> 
                             </span> 
                             <span class="validationForm" id="errBio"></span>
                        </div>
                        <hr width="100%" style="border: 1px solid gray;" color="#000000" size="3">
                        <div class="form-group">
                            <Label for="Description">@Umbraco.GetDictionaryValue("Full Bio")</Label>
                            <textarea rows="3" name="Description" id="Description" class="form-control" 
                             onkeyup="countDescriptionChar(this)" onpaste="countDescriptionChar(this)"
                             minlength="250" placeholder="@Umbraco.GetDictionaryValue("Full Bio")">@this.Model.Description</textarea>
                             <span class="float-right" style="padding-top: 6px;">
                             <span id="countDescriptionChar"> 0 </span> <span> / 250 @Umbraco.GetDictionaryValue("Word")</span> 
                             </span> 
                            <span class="validationForm" id="errDescription"></span>
                        </div>
                        <hr width="100%" style="border: 1px solid gray;" color="#000000" size="3">

                        <div class="form-group d-flex">
                            <div class="col-md-6">
                                <div class="form-content" id="divResumeFile">
                                    <div class="row tab-title">
                                        <div class="col-lg-6 col-12">
                                            <h4>@Umbraco.GetDictionaryValue("Upload Resume")</h4>
                                        </div>
                                        <div class="col-lg-8 col-12">
                                            @if (this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                            {
                                               <a href="@this.Model.ResumeFile" id="ResumeFileLink" name="ResumeFileLink" target="_blank">
                                                <span> @Umbraco.GetDictionaryValue("Show File") </span>
                                               </a>
                                            }
                                            <p style="color:black;font-size: 15px;">@Umbraco.GetDictionaryValue("Supported Format Doc")</p>
                                        </div>
                                    </div>
                                    <div class="upload-file">
                                        <div class="custom-file">
                                        @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest || this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                        {
                                            <input class="custom-file-input" type="file" name="ResumeFile" id="ResumeFile" />
                                            <label class="custom-file-label">@Umbraco.GetDictionaryValue("Add file")</label>
                                        }
                                        else 
                                        {
                                            <a href="@this.Model.ResumeFile" target="_blank">
                                            <span> @Umbraco.GetDictionaryValue("Show File") </span>
                                            </a>
                                        }
                                            <div class="row-action text-right">
                                                <button type="button" class="remove-parent">
                                                    <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                                </button>
                                            </div>
                                            <span class="validationForm" id="ResumeFileError"></span>
                                        </div>
                                    </div>
                                    <hr width="100%" style="border: 1px solid gray;display: block;" color="#000000" size="3">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-content" id="divElectionProgramFile">
                                    <div class="row tab-title">
                                        <div class="col-lg-6 col-12">
                                            <h4>@Umbraco.GetDictionaryValue("Upload Election Program")</h4>
                                        </div>
                                        <div class="col-lg-8 col-12">
                                            @if(this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                            {
                                               <a href="@this.Model.ElectionProgramFile" name="ElectionProgramFileLink" id="ElectionProgramFileLink" target="_blank">
                                                <span> @Umbraco.GetDictionaryValue("Show File") </span>
                                               </a>
                                            }
                                            <p style="color:black;font-size: 15px;">@Umbraco.GetDictionaryValue("Supported Format Doc")</p>
                                        </div>
                                    </div>
                                    <div class="upload-file">
                                        <div class="custom-file">
                                        @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest || this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                        {
                                             <input class="custom-file-input" type="file" name="ElectionProgramFile" id="ElectionProgramFile" />
                                            <label class="custom-file-label">@Umbraco.GetDictionaryValue("Add file")</label>
                                            
                                        }
                                        else 
                                        {
                                            <a href="@this.Model.ElectionProgramFile" target="_blank">
                                            <span> @Umbraco.GetDictionaryValue("Show File")   </span>
                                            </a>
                                        }
                                        <div class="row-action text-right">
                                                <button type="button" class="remove-parent">
                                                    <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                                </button>
                                            </div>
                                            <span class="validationForm" id="ElectionProgramFileError"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr width="100%" style="border: 1px solid gray;display: block;" color="#000000" size="3">
                            </div>
                        </div>



                        <div class="form-group d-flex">
                            <div class="col-md-6">
                                <div class="form-content" id="divLetterOfInterestFile">
                                    <div class="row tab-title">
                                        <div class="col-lg-6 col-12" >
                                            <h4> @Umbraco.GetDictionaryValue("Upload Letter Of Interest")</h4>
                                        </div>
                                        <div class="col-lg-8 col-12">
                                          @if (this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                            {
                                               <a href="@this.Model.LetterOfInterestFile" id="LetterOfInterestFileLink" name="LetterOfInterestFileLink" target="_blank">
                                                <span> @Umbraco.GetDictionaryValue("Show File") </span>
                                               </a>
                                            }
                                            <p style="color:black;font-size: 15px;">@Umbraco.GetDictionaryValue("Supported Format Doc")</p>
                                        </div>
                                    </div>
                                    <div class="upload-file">
                                        <div class="custom-file">
                                        @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest || this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                        {
                                           <input class="custom-file-input" type="file" name="LetterOfInterestFile" id="LetterOfInterestFile" />
                                           <label class="custom-file-label">@Umbraco.GetDictionaryValue("Add file")</label>
                                        }
                                        else 
                                        {
                                            <a href="@this.Model.LetterOfInterestFile" target="_blank">
                                            <span> @Umbraco.GetDictionaryValue("Show File")   </span>
                                            </a>
                                        }
                                            <div class="row-action text-right">
                                                <button type="button" class="remove-parent">
                                                    <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                                </button>
                                            </div>
                                            <span class="validationForm" id="LetterOfInterestFileError"></span>
                                        </div>
                                    </div>
                                    <hr width="100%" style="border: 1px solid gray;display: block;" color="#000000" size="3">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-content" id="divOtherDocumentFile">
                                    <div class="row tab-title">
                                        <div class="col-lg-12 col-12">
                                            <h4> @Umbraco.GetDictionaryValue("Education Certification And Other Relevant Documents")</h4>
                                        </div>
                                        <div class="col-lg-8 col-12">
                                        @if(this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                        {
                                            foreach(var file in this.Model.OtherDocumentFiles)
                                            {
                                               <a style="margin: 0px 10px 0px 10px;" href="@file" name="OtherDocumentFileLink" id="OtherDocumentFileLink" target="_blank">
                                                <span> @Umbraco.GetDictionaryValue("Show File") </span>
                                               </a>
                                            }
                                        }
                                        <p style="color:black;font-size: 15px;">@Umbraco.GetDictionaryValue("Supported Format Doc")</p>
                                        </div>
                                    </div>
                                    
                                    <div class="upload-file upload-file-otherdocument-filediv">
                                        <div class="custom-file-otherdocumentfileinput d-flex-row">
                                        @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest)
                                        {
                                            <input class="custom-file-input OtherDocumentFileField" type="file" name="OtherDocumentFile" id="OtherDocumentFile"/>
                                            <label class="custom-file-label OtherDocumentFileLabel">@Umbraco.GetDictionaryValue("Add file")</label>
                                            <div class="row-action text-right" style="padding-right:2rem;">
                                               <button type="button" class="remove-parent width-6 btn-primary">
                                                <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                               </button>
                                            </div>
                                        }
                                        else if(this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                        {
                                           <input class="custom-file-input OtherDocumentFileField" type="file" name="OtherDocumentFile" id="OtherDocumentFile"/>
                                            <label class="custom-file-label OtherDocumentFileLabel">@Umbraco.GetDictionaryValue("Add file")</label>
                                            <div class="row-action text-right" style="padding-right:2rem;">
                                               <button type="button" class="remove-parent width-6 btn-primary">
                                                <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                               </button>
                                            </div>
                                        }
                                        else if(this.Model.OtherDocumentFiles != null)
                                        {
                                            foreach(var file in this.Model.OtherDocumentFiles)
                                            {
                                               <a style="margin: 0px 10px 0px 10px;" href="@file" target="_blank">
                                                <span> @Umbraco.GetDictionaryValue("Show File") </span>
                                               </a>
                                            }
                                            
                                        }
                                            <span class="validationForm" id="OtherDocumentFileError"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr width="100%" style="border: 1px solid gray;display: block;" color="#000000" size="3">
                                @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest || this.Model.CandidateStatus == CandidateRequestStatus.Reject)
                                    {
                                      <button type="button" class="add-more">
                                        <i class="fa fa-plus" aria-hidden="true"></i> @Umbraco.GetDictionaryValue("Add more document")
                                      </button>
                                    }
                            </div>
                        </div>

                     @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest)
                     {
                        <div class="form-group d-flex">
                            <div class="col-md-5 d-flex-center">
                                <input type="checkbox" name="isAcknowledge" id="isAcknowledge" @(this.Model.IsAcknowledge ? "Checked = true" : "")>
                                <span class="padding-left-5">@Umbraco.GetDictionaryValue("acknowledgement That Information Provided Are Correct")</span>
                            </div>

                            <div class="col-md-6 d-flex-center">
                                <input type="checkbox" name="isAgree" id="isAgree" @(this.Model.IsAgree ? "Checked = true" : "")>
                                <span class="padding-left-5">@Umbraco.GetDictionaryValue("is Agree To The") <a href="/@lang/terms-conditions/" target="_blank"> @Umbraco.GetDictionaryValue("Terms and Conditions") </a> @Umbraco.GetDictionaryValue("And") <a href="/@lang/privacy-policy/" target="_blank"> @Umbraco.GetDictionaryValue("Privacy Policy") </a></span>
                            </div>
                        </div>
                     }
                        
                         <div class="form-action d-flex d-flex-center">
                        @if(this.Model.CandidateStatus == CandidateRequestStatus.PendingRequest)
                        {
                            <button type="button" id="btnSubmit" disabled style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">@Umbraco.GetDictionaryValue("Apply")</button>
                            <!-- <button type="button" id="btnBackToProceedBtn" style="width: 11rem;height: 4rem;" class="btn btn-light">
                            @Umbraco.GetDictionaryValue("Back")</button> -->
                        }
                        else if(this.Model.CandidateStatus == CandidateRequestStatus.Reject) {
                            <input type="hidden" id="ResumeFileLink" name="ResumeFileLink" value="@this.Model.ResumeFile"  />
                            <input type="hidden" id="ElectionProgramFileLink" name="ElectionProgramFileLink" value="@this.Model.ElectionProgramFile"  />
                            <input type="hidden" id="LetterOfInterestFileLink" name="LetterOfInterestFileLink" value="@this.Model.LetterOfInterestFile"  />
                            <input type="hidden" id="OtherDocumentFileLink" name="OtherDocumentFileLink" value="@this.Model.OtherDocumentFile"  />

                            <button type="button" id="btnSubmitOnReject" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">@Umbraco.GetDictionaryValue("Update")</button>
                        }
                        </div>
                        
                    </div>
                </form>
            </div>

                <div class="tab-pane @(this.Model.CandidateStatus == CandidateRequestStatus.UnderRequest ? "active" : "d-none")" role="tabpanel" id="step1">
                    <div class="form-content">
                        <div class="row contentPage">
                            @Html.Raw(pageContent.GetPropertyValue("Details"))
                        </div>
                        @if(this.Model.CandidateStatus == CandidateRequestStatus.UnderRequest)
                        {
                           <div class="form-action d-flex d-flex-center">
                            <button type="button" id="btnProceed" style="width: 11rem;height: 4rem;" class="btn btn-light">@Umbraco.GetDictionaryValue("Proceed")</button>
                           </div>
                        }
                    </div>
                </div>
            </div>
              </section>
           </div>
        </div>
    </div>
 </div>
</div>




<script>
    function CallNextTab() {
            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);
        }

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }

     function moveToStep1(){
          $("#step1").toggleClass("active");
          $("#tab_step1").toggleClass("active");
          $("#step2").removeClass("active");
          $("#tab_step2").removeClass("active")
          $("#step2").addClass("d-none");
          $("#step1").removeClass("d-none");
     }
     
     function moveToStep2()
     {
          $("#step2").toggleClass("active");
          $("#tab_step2").toggleClass("active");
          $("#step1").removeClass("active");
          $("#tab_step1").removeClass("active");
          $("#step1").addClass("d-none");
          $("#step2").removeClass("d-none");
     }

</script>
<script>
    // Upload file
    $(document).ready(function () {
        $("#Bio").trigger("keyup");
        $("#Description").trigger("keyup");
        var status = $("#status").val();
        $(document).on('change', '.custom-file-input', function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
                var name =  $(this)[0].name;
                if(name != undefined && name != 'OtherDocumentFile' && status == '@((int)CandidateRequestStatus.Reject)')
                {
                  var selector = "#"+ name + "Link";
                  $(selector).css("display" , "none");
                }
            }
        });
        var keyValue = "IsApplied_" + $("#ElectionId").val();
        var isApplied = sessionStorage.getItem("IsApplied");
        if(isApplied != null && isApplied == keyValue)
        {
            sessionStorage.removeItem("IsApplied");
            AlertMessage("@Umbraco.GetDictionaryValue("Candidate Request Applied Successfully")")
        }
    });

    $(".add-more").on('click', function () {
            var $row = $('.custom-file-otherdocumentfileinput:last-child').clone();
            $($row).children('.custom-file-label').html('@Umbraco.GetDictionaryValue("Add file")');
            $('.upload-file-otherdocument-filediv').append($row);
        });

    $(document).on('click', '.remove-parent', function () {
        if ($(this).parent().parent().parent().find('.custom-file-otherdocumentfileinput').length > 1)
            $(this).parent().parent().remove();
    });

    $(window).bind('beforeunload', function(){
       sessionStorage.removeItem("IsApplied");
    });

   
    function countBioChar(val) {
    var len = val.value.length;
    if (len > 100) {
    val.value = val.value.substring(0, 100);
    } 
    else
    {
    $('#countBioChar').text(len);
    }
    };

    function countDescriptionChar(val) {
    var len = val.value.length;
    if (len > 250) {
    val.value = val.value.substring(0, 250);
    } 
    else
    {
    $('#countDescriptionChar').text(len);
    }
    };
    $("#isAcknowledge").change(function() {
    var isAgree = $("#isAgree").is(':checked');
    if(this.checked && isAgree)
    {
      $("#btnSubmit").prop("disabled" , false);
    }
    else
    {
      $("#btnSubmit").prop("disabled" , true);
    }
    });

    $("#isAgree").change(function() {
    var isAcknowledge = $("#isAcknowledge").is(':checked');
    if(this.checked && isAcknowledge)
    {
      $("#btnSubmit").prop("disabled" , false);
    }
    else
    {
      $("#btnSubmit").prop("disabled" , true);
    }
    });
    
     $(document).on("click","#btnProceed",function() {
                    var memberId = $("#MemberId").val();
                    var electionId = $("#ElectionId").val();
                    var formData = new FormData();
                    formData.append("MemberId", memberId);
                    formData.append("ElectionId", electionId);
             $.ajax({
                    url: "/Umbraco/Surface/Candidate/CreateBaseCandidate",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {
                        },
                    success: function (response) {
                            if (response.status == true) {
                                window.location.reload();
                                //moveToStep2();
                            }
                            else {
                                AlertMessage("Error in submission, please try again!");
                            }
                        },
                    error: function (request, error) {
                            AlertMessage("Error in submission, please try again!");
                        }
                    });
                });


            $(document).on("click","#btnBackToProceedBtn",function() {
                var status = $("#status").val();
                if(status != '@((int)CandidateRequestStatus.PendingRequest)')
                {
                        return;
                }
                    var memberId = $("#MemberId").val();
                    var electionId = $("#ElectionId").val();
                    var formData = new FormData();
                    formData.append("MemberId", memberId);
                    formData.append("ElectionId", electionId);
                 $.ajax({
                    url: "/Umbraco/Surface/Candidate/BackToProceedCandidate",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {
                        },
                    success: function (response) {
                            if (response.status == true) {
                               moveToStep1();
                            }
                            else {
                                AlertMessage("Error in submission, please try again!");
                            }
                        },
                    error: function (request, error) {
                            AlertMessage("Error in submission, please try again!");
                        }
                    });
                });
        

        $("#btnSubmitOnReject").on("click", function () {
                    var pageId = '@pageId';
                    if (CheckValidation("SubmitOnReject") == false) {
                        $(this).prop("disabled" , true);
                        var memberId = $("#MemberId").val();
                        var electionId = $("#ElectionId").val();
                        var formData = new FormData();
                        formData.append("MemberId", memberId);
                        formData.append("ElectionId", electionId);
                        formData.append("Bio", $("#Bio").val());
                        formData.append("Description", $("#Description").val());
                        if($("#ResumeFile")[0].files.length != 0)
                        {
                          formData.append("ResumeFile", $("#ResumeFile")[0].files[0]);
                        }
                        if($("#ElectionProgramFile")[0].files.length != 0)
                        {

                          formData.append("ElectionProgramFile", $("#ElectionProgramFile")[0].files[0]);
                        }
                        if($("#LetterOfInterestFile")[0].files.length != 0)
                        {
                          formData.append("LetterOfInterestFile", $("#LetterOfInterestFile")[0].files[0]);
                        }
                        if($(".OtherDocumentFileField").length != 0)
                        {
                            $(".OtherDocumentFileField").each(function(index, file) {
                                var item = $(file)[0].files[0];
                                if (item != undefined)
                                    formData.append("OtherDocumentFiles", item);
                            });                        
                        }
                        
                $.ajax({
                        url: "/Umbraco/Surface/Candidate/UpdateRejectedCandidate",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {},
                    success: function (response) {
                        if (response.status == true) {
                            var value = "IsApplied_" + $("#ElectionId").val();
                            sessionStorage.setItem("IsApplied" , value);
                            window.location.reload();
                        }
                        else {
                            $(this).prop("disabled" , false);
                            AlertMessage("Error in apply, please try again!");
                        }
                    },
                    error: function (request, error) {
                                 $(this).prop("disabled" , false);
                                AlertMessage("Error in apply, please try again!");
                            }
                        });
                    }
                });

        function DeleteFile(e)
        {
            var candidateId = $("#CandidateId").va();
        }

        $("#btnSubmit").on("click", function () {
            var isAcknowledge = $("#isAcknowledge").is(':checked');
            var isAgree = $("#isAgree").is(':checked');
            if (CheckValidation("Submit") == false && isAgree && isAcknowledge) 
            {
                        $(this).prop("disabled" , true);
                        var memberId = $("#MemberId").val();
                        var electionId = $("#ElectionId").val();
                        var formData = new FormData();
                        formData.append("MemberId", memberId);
                        formData.append("ElectionId", electionId);
                        formData.append("Bio", $("#Bio").val());
                        formData.append("Description", $("#Description").val());
                        formData.append("ResumeFile", $("#ResumeFile")[0].files[0]);
                        formData.append("ElectionProgramFile", $("#ElectionProgramFile")[0].files[0]);
                        formData.append("LetterOfInterestFile", $("#LetterOfInterestFile")[0].files[0]);
                        if($(".OtherDocumentFileField").length != 0)
                        {
                            $(".OtherDocumentFileField").each(function(index, file) {
                                var item = $(file)[0].files[0];
                                if (item != undefined)
                                    formData.append("OtherDocumentFiles", item);
                            });
                        
                        }
                $.ajax({
                    url: "/Umbraco/Surface/Candidate/ApplyCandidate",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {},
                    success: function (response) {
                        if (response.status == true) {
                            var value = "IsApplied_" + $("#ElectionId").val();
                            sessionStorage.setItem("IsApplied" , value);
                            window.location.reload();
                        }
                        else {
                            $(this).prop("disabled" , false);
                            AlertMessage("Error in apply, please try again!");
                        }
                    },
                    error: function (request, error) {
                            $(this).prop("disabled" , false);
                            AlertMessage("Error in apply, please try again!");
                        }
                    });
            }
        });  

               



        function CheckValidation(type) {
            $(".validationForm").hide();
            var hasError = false;

            if ($("#Bio").val() == '') {
                $("#errBio").html("@Umbraco.GetDictionaryValue("Validation_Error_ShortBio")").show();
                $("#Bio").focus();
                hasError = true;
            }

            if ($("#Description").val() == '') {
                $("#errDescription").html("@Umbraco.GetDictionaryValue("Validation_Error_Description")").show();
                $("Description").focus();
                hasError = true;
            }

        if(type == "Submit")
        {
            if ($("#ResumeFile").val() == '') {
                $("#ResumeFileError").html("@Umbraco.GetDictionaryValue("Validation_Error_FileRequired")").show();
                $("#ResumeFile").focus();
                hasError = true;
            }

            if ($("#ElectionProgramFile").val() == '') {
                $("#ElectionProgramFileError").html("@Umbraco.GetDictionaryValue("Validation_Error_FileRequired")").show();
                $("#ElectionProgramFile").focus();
                hasError = true;
            }

            if ($("#LetterOfInterestFile").val() == '') {
                $("#LetterOfInterestFileError").html("@Umbraco.GetDictionaryValue("Validation_Error_FileRequired")").show();
                $("#LetterOfInterestFile").focus();
                hasError = true;
            }

            if ($("#OtherDocumentFile").val() == '') {
                $("#OtherDocumentFileError").html("@Umbraco.GetDictionaryValue("Validation_Error_FileRequired")").show();
                $("#OtherDocumentFile").focus();
                 hasError = true;
            }
        }
           return hasError;
        }

         function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>
