﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.UserProfileDashboardModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);    

}
<input type="hidden" id="lang" value="@lang" />
<style>
    .sweet-alert button.cancel {
        background-color: #C1C1C1 !important;
        display: inline !important;
    }
</style>
<div class="col-md-6 col-12">
    <h2 class="title">@Umbraco.GetDictionaryValue("Apply for Mentoring")</h2>
</div>
<div class="body-content row apply-sec">
    <div class="col-md-6 col-12 action-apply">
        <a href="javascript:;" id="btnApplyMentoring" class="btn btn-light">@Umbraco.GetDictionaryValue("Apply")</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnApplyMentoring").on("click", function () {
            ConfirmMentoring("@Umbraco.GetDictionaryValue("Do_you_want_to_apply_for_mentoring?")");
        });
    });

    function ConfirmMentoring(message) {
        if (message != null && message != "") {
            swal({
                title: "@Umbraco.GetDictionaryValue("Are_you_sure?")",
                text: message,
                icon: "warning",
                confirmButtonColor: '#00a4be',
                cancelButtonColor: '#C1C1C1',
                cancelButtonText: '@Umbraco.GetDictionaryValue("No")',
                confirmButtonText: '@Umbraco.GetDictionaryValue("Yes")',
            },
                function (isConfirm) {
                    if (isConfirm) {
                        ApplyMentoring();
                    }
                    else {

                    }
                });


        }
    }

    function ApplyMentoring() {
          $.ajax({
              url: '/Umbraco/Surface/Dashboard/ApplyMentoring',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
              data: "{lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        AlertMessage('@Umbraco.GetDictionaryValue("Apply_Mentoring")');
                    }
                    else {
                        AlertMessage('@Umbraco.GetDictionaryValue("Mentoring_Already_Applied")');
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
    }

</script>