﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
    <div class="right-side col-lg-9 col-md-10 col-12">
        <div class="body-content row">
            @Html.Raw(pageContent.GetPropertyValue("details"))
        </div>

        <div class="body-content row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h1>@Umbraco.GetDictionaryValue("Send an Email")</h1>                           
                        </div>
                    </div>
                    <div class="col-12">
                        @Html.Partial("Dashboard/ContactAdminForm")
                    </div>
                </div>
            </div>
        </div>

    </div>