﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
    <input type="hidden" id="lang" value="@lang" />
    <div class="form-content">
        <div class="form-group">
            <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
            <span class="validationForm" id="errFirstName"></span>
        </div>
        <div class="form-group">
            <input type="text" name="LastName" id="LastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
            <span class="validationForm" id="errLastName"></span>
        </div>
        <div class="form-group">
            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
            <span class="validationForm" id="errEmailAddress"></span>
        </div>
        
            <div class="form-group">
                <input type="number" name="ContactNo" id="ContactNo" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Contact No")">
                <span class="validationForm" id="errContactNo"></span>
            </div>
       
            <div class="form-group">                
                <textarea name="Message" id="Message" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Enter your message here")"></textarea>
                <span class="validationForm" id="errMessage"></span>
            </div>       
        <div class="form-action">
            <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Send Email")</button>
        </div>
    </div>

    <script>

    $(document).ready(function () {

        GetBasicUserInfo();

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("FirstName", $("#FirstName").val());
                formData.append("LastName", $("#LastName").val());
                formData.append("EmailAddress", $("#EmailAddress").val());
                formData.append("ContactNo", $("#ContactNo").val());
                formData.append("Message", $("#Message").val());
                formData.append("ContactType", "ContactAdmin");
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/Dashboard/ContactAdmin",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Contact_Us")');
                            $("#FirstName").val("");
                            $("#LastName").val("");
                            $("#EmailAddress").val("");
                            $("#ContactNo").val("");
                            $("#Message").val("");
                        }
                        else {
                            AlertMessage("Error in submission, please try again!");
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function GetBasicUserInfo() {
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/Dashboard/GetBasicUserInfo',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: {},
                    success: function (response) {
                        if (response.status == true) {
                            $("#FirstName").val(response.FirstName);
                            $("#LastName").val(response.LastName);
                            $("#EmailAddress").val(response.EmailAddress);
                            $("#ContactNo").val(response.MobileNumber);
                        }
                    },
                    failure: function (response) {
                        AlertMessage(response.responseText);
                    },
                    error: function (response) {
                        AlertMessage(response.responseText);
                    }
                });
            });
        }

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#FirstName").val() == '') {
                $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName").focus();
                hasError = true;
            }

            if ($("#LastName").val() == '') {
                $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName").focus();
                hasError = true;
            }

            if ($("#EmailAddress").val() == '') {
                $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }

            if ($("#ContactNo").val() == '') {
                $("#errContactNo").html("@Umbraco.GetDictionaryValue("Validation_Error_ContactNo")").show();
                $("#ContactNo").focus();
                hasError = true;
            }

            if ($("#Message").val() == '') {
                $("#errMessage").html("@Umbraco.GetDictionaryValue("Validation_Error_Message")").show();
                $("#Message").focus();
                hasError = true;
            }

            return hasError;
        }

    });
    </script>

