﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<input type="hidden" id="lang" value="@lang" />
<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class=" col-12">
                    <div class="title">
                        <h1>@Html.Raw(pageContent.GetPropertyValue("title"))</h1>
                        <p>@Html.Raw(pageContent.GetPropertyValue("details"))</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row graduates-row " id="divMemberList">                      
                    </div>
                    <div class="row row-add">
                        <div class="col-12">
                            <a href="javascript:;" id="btnAdd" class="add">
                                <img src="/ui/media/images/add.png" alt="img">
                                <span>+ @Umbraco.GetDictionaryValue("Add More")</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade custom-modal" id="Enrolled" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body form-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12 text-center left-bg">
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">                            
                            <div class="form-content">
                                <h2>@Umbraco.GetDictionaryValue("Add Member")</h2>
                                <p></p>
                                <div class="form-row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="FirstName" id="FirstName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                            <span class="validationForm" id="errFirstName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="FirstName_ar" id="FirstName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name (Arabic)")">
                                            <span class="validationForm" id="errFirstName_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="MiddleName" id="MiddleName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Middle Name")">

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="MiddleName_ar" id="MiddleName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Middle Name (Arabic)")">

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="LastName" id="LastName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                            <span class="validationForm" id="errLastName"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="LastName_ar" id="LastName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name (Arabic)")">
                                            <span class="validationForm" id="errLastName_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                            <span class="validationForm" id="errEmailAddress"></span>
                                        </div>
                                    </div>
                                   
                                    <div class="form-action">
                                        <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Send Invite")</button>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnAdd").on("click", function () {
            $("#Enrolled").modal("show");
        });

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {

                var formData = new FormData();
                formData.append("FirstName", $("#FirstName").val());
                formData.append("MiddleName", $("#MiddleName").val());
                formData.append("LastName", $("#LastName").val());
                formData.append("FirstName_ar", $("#FirstName_ar").val());
                formData.append("MiddleName_ar", $("#MiddleName_ar").val());
                formData.append("LastName_ar", $("#LastName_ar").val());
                formData.append("EmailAddress", $("#EmailAddress").val());
                formData.append("lang", $("#lang").val());

                $.ajax({
                    url: "/Umbraco/Surface/Dashboard/AddEnrolledMember",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Employee_Enrolled")');
                            GetEmployeeEnrolled("", "");
                            $("#FirstName").val("");
                            $("#FirstName_ar").val("");
                            $("#MiddleName").val("");
                            $("#MiddleName_ar").val("");
                            $("#LastName").val("");
                            $("#LastName_ar").val("");
                            $("#EmailAddress").val("");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        $("#EmailAddress").on("change keyup", function () {
            if ($('#EmailAddress').val() != "") {
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                if (!emailReg.test($("#EmailAddress").val())) {
                    $('#errEmailAddress').html("Please enter valid email address").show();
                    $("#EmailAddress").focus();
                    hasError = true;
                }
                else {
                    $('#errEmailAddress').html("").hide();
                    CheckExists($("#EmailAddress").val())
                }
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#FirstName").val() == '') {
                $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName").focus();
                hasError = true;
            }

            if ($("#FirstName_ar").val() == '') {
                $("#errFirstName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName_ar").focus();
                hasError = true;
            }

            if ($("#LastName").val() == '') {
                $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName").focus();
                hasError = true;
            }

            if ($("#LastName_ar").val() == '') {
                $("#errLastName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName_ar").focus();
                hasError = true;
            }
            if ($("#EmailAddress").val() == '') {
                $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            return hasError;
        }

        function CheckExists(email) {
            var formData = new FormData();
            formData.append("email", email);
            $.ajax({
                url: "/Umbraco/Surface/FormProcess/CheckExists",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $("#loader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                },
                success: function (response) {
                    if (response.status == true) {
                        $("#errEmailAddress").html("").hide();
                        $("#EmailAddress").val("");
                        $("#EmailAddress").focus();
                        AlertMessage('@Umbraco.GetDictionaryValue("Email_Already_Exists")');
                    }
                    else {
                        $("#errEmailAddress").html("").hide();
                    }
                    $('.load').remove();
                },
                error: function (request, error) {
                    $('.load').remove();
                }
            });
        }

    });
</script>
<script>
    GetEmployeeEnrolled("", "");
    function GetEmployeeEnrolled(name, emailAddress) {
        $("#divMemberList").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/GetEmployeeEnrolled',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{name:'" + name + "', emailAddress:'" + emailAddress + "', lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            tbHtml += '<div class="col-lg-2 col-md-4 col-6 text-center">' +
                                '<a href="javascript:;">' +
                                '<div class="user-img">' +
                                '<img src="' + MemberInfo.ProfilePhoto + '" alt="' + MemberInfo.FirstName + '">' +
                                '</div>  ' +
                                '<h2>' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + '</h2>' +
                                '<h3>' + MemberInfo.MembershipType + '</h3>' +
                                '<span>' + MemberInfo.MembershipBadge + '</span>' +
                                '</a>' +
                                '</div>';
                        });

                        $("#divMemberList").html(tbHtml);
                    }
                    else {
                        $("#divMemberList").css("display", "none");
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

</script>