﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.UserProfileDashboardModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var purchaseItem = "";

}

    <div class="right-side col-lg-9 col-md-10 col-12">
        <div class="body-content row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 col-12 text-right">
                        <a href="/@lang/my-account/user-profile/">@Umbraco.GetDictionaryValue("Go Back")</a>
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-md-6 col-12">
                        <div class="title">
                            <h1>@Umbraco.GetDictionaryValue("User Profile")</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 contact-sec">
                        @if (!string.IsNullOrEmpty(this.Model.RegisterInfo.IIAGlobalNumber))
                        {
                            <h2 class="phone">@Umbraco.GetDictionaryValue("IIA Global Contact No")</h2>
                            <span class="phone-num">@this.Model.RegisterInfo.IIAGlobalNumber</span>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="avatar-upload">
                            @*<div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>*@
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(@this.Model.RegisterInfo.ProfilePhoto);">
                                </div>
                            </div>
                        </div>
                        <div class="user-name">
                            @if (this.Model.RegisterInfo.MiddleName != "")
                            {
                                @Html.Raw(this.Model.RegisterInfo.FirstName + ' ' + this.Model.RegisterInfo.MiddleName + ' ' + this.Model.RegisterInfo.LastName)
                            }
                            else
                            {
                                @Html.Raw(this.Model.RegisterInfo.FirstName + ' ' + this.Model.RegisterInfo.LastName)
                            }
                            @if (!string.IsNullOrEmpty(this.Model.RegisterInfo.JobTitle))
                            {
                                <p>@Html.Raw(this.Model.RegisterInfo.JobTitle + ',' + this.Model.RegisterInfo.Organization)</p>
                            }

                        </div>
                    </div>
                </div>
                <div class="row list-info">
                    <ul class="list-unstyled col-12">
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Address")</span>
                            <span class="right-side">@this.Model.RegisterInfo.City, @this.Model.RegisterInfo.Country</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Mobile No")</span>
                            <span class="right-side">@this.Model.RegisterInfo.MobileNumber</span>
                        </li>                       
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Experience")</span>
                            <span class="right-side">@Html.Raw(this.Model.RegisterInfo.Experience)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Qualifications")</span>
                            <span class="right-side">@Html.Raw(this.Model.RegisterInfo.Qualification)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Bio")</span>
                            <span class="right-side">@Html.Raw(this.Model.RegisterInfo.Bio)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Order History")</span>
                            <span class="right-side">
                                @if (this.Model.PurchaseList.Count > 0)
                                {
                                    foreach (var item in this.Model.PurchaseList)
                                    {
                                        if (item.ProductType == "C")
                                        {
                                            purchaseItem += item.CourseCmsName + ", " + item.LevelCmsName + "<br/>";
                                        }
                                        else if (item.ProductType == "P")
                                        {
                                            purchaseItem += item.ProductCmsName + "<br/>";
                                        }

                                    }
                                    @Html.Raw(purchaseItem)
                                }
                            </span>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>       
    </div>
  