﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
<input type="hidden" id="lang" value="@lang" />
    <div class="right-side col-lg-9 col-md-10 col-12">
        <div class="body-content row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="title">
                            <h1>@Umbraco.GetDictionaryValue("Financial")</h1>
                        </div>
                    </div>
                    <div class="col-md-9 col-12 info-sec">
                        @if (this.Model.MembershipStartDate != null && this.Model.MembershipEndDate != null && this.Model.ProfileType != "NonMember")
                        {

                            @*<span><i class="far fa-user"></i> Member since @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(this.Model.MembershipStartDate.Value.Month) @this.Model.MembershipStartDate.Value.Year</span>

                            <span><i class="fal fa-calendar-alt"></i> Account will expire on @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(this.Model.MembershipEndDate.Value.Month) @this.Model.MembershipEndDate.Value.Year</span>*@
                            <span><i class="far fa-user"></i> @Umbraco.GetDictionaryValue("Member since") @this.Model.MembershipStartDate.Value.ToString("dd MMM yyyy")</span>

                            <span><i class="fal fa-calendar-alt"></i> @Umbraco.GetDictionaryValue("Account will expire on") @this.Model.MembershipEndDate.Value.ToString("dd MMM yyyy")</span>
                        }
                    </div>
                </div>

                <div class="row list-info">
                    @if (this.Model.ProfileType != "NonMember")
                    {
                        <ul class="list-unstyled col-12 financial-row">
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Membership Type")</span>
                                <span class="right-side">@Umbraco.GetDictionaryValue(this.Model.MembershipType)</span>
                            </li>
                            @if (!string.IsNullOrEmpty(this.Model.MembershipBadge))
                            {
                                <li>
                                    <span class="left-side">@Umbraco.GetDictionaryValue("Renewal")</span>
                                    <span class="right-side">@Html.Raw(Umbraco.GetDictionaryValue(this.Model.MembershipBadge) + " " + @Umbraco.GetDictionaryValue("Membership"))</span>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <span class="left-side">@Umbraco.GetDictionaryValue("Renewal")</span>
                                    <span class="right-side">@Html.Raw(Umbraco.GetDictionaryValue(this.Model.MembershipType) + " " + @Umbraco.GetDictionaryValue("Membership"))</span>
                                </li>
                            }

                        </ul>
                        if (this.Model.MembershipType != "Professional")
                        {
                            <div class="col-12 row-btn">
                                <a class="btn btn-light" id="btnRenew" href="javascript:;">@Umbraco.GetDictionaryValue("Renew")</a>
                            </div> 
                        }
                    }

                </div>
            </div>
        </div>
        @{ Html.RenderAction("GetInvoice", "Dashboard"); }

    </div>

    <script>

    $(document).ready(function () {
        $("#btnRenew").on("click", function () {
            GetBasicUserInfo();
        });

        function GetBasicUserInfo() {
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/Dashboard/GetBasicUserInfo',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: {},
                    success: function (response) {
                        if (response.status == true) {
                            if (response.FirstName != '' && response.LastName != '') {
                                window.location.href = "/" + $("#lang").val() + "/registration/membership-renewal-checkout/";
                            }
                            else {
                                 AlertMessage('@Umbraco.GetDictionaryValue("Validation_Complete_Profile")');
                            }
                        }
                    },
                    failure: function (response) {
                        AlertMessage(response.responseText);
                    },
                    error: function (response) {
                        AlertMessage(response.responseText);
                    }
                });
            });
        }

        $("#btnUpgrade").on("click", function () {
            window.location.href = "/" + $("#lang").val() + "/registration/membership-upgrade-checkout/";
        });

    });
    </script>