﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@using IIA.Models;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
<input type="hidden" id="lang" value="@lang" />
<div class="body-content row current-jop">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <h2>@Umbraco.GetDictionaryValue("Order History")</h2>
                </div>
            </div>
        </div>

        <div class="row list-info">
            <ul class="list-unstyled col-12" id="listInvoice">
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    GetInvoiceList();
        function GetInvoiceList() {
        $("#listInvoice").html("");       
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/GetInvoiceList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        $.each(response.InvoiceList, function (i, InvoiceItem) {

                            tbHtml+='<li>' +
                                '<span class="left-side">@Umbraco.GetDictionaryValue("Order Date") : ' + InvoiceItem.strInvoiceDate+'</span>' +
                                '<span class="right-side">  ' +
                                '@Umbraco.GetDictionaryValue("Grand Total") : SAR ' + InvoiceItem.GrandTotal+'</span>' +
                                '<a href="/@lang/my-account/order-details/?invId=' + InvoiceItem.InvoiceId + '&type=' + InvoiceItem.InvoiceType +'">@Umbraco.GetDictionaryValue("View Details")</a>' +
                                '</span>' +
                                '</li>';

                        });

                        $("#listInvoice").html(tbHtml);
                    }
                    else {

                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });        
        }
    });
</script>