﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.LeftMenuModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<style>
    .electionItem{
       color:white !important;
    }
    .electionItem :hover {
       color: #00AEEF !important;
    }
</style>

<ul class="list-unstyled">
    <li>
        <a href="/@lang/my-account/user-profile/"><i class="fal fa-user"></i> <span>@Umbraco.GetDictionaryValue("User Profile")</span></a>
    </li>
    <li>
        <a href="/@lang/my-account/financial/"><i class="fal fa-chart-bar"></i> <span>@Umbraco.GetDictionaryValue("Financial")</span></a>
    </li>
    <li>
        <a href="/@lang/my-account/contact-admin/"><i class="far fa-phone"></i>  <span>@Umbraco.GetDictionaryValue("Contact Admin")</span></a>
    </li>
    @if (Model.RegistrationViewModel.ProfileType != "NonMember" && Model.RegistrationViewModel.MembershipEndDate >= DateTime.Now)
    {
        <li>
            <a href="/@lang/my-account/member-directory/"><i class="fal fa-star"></i> <span>@Umbraco.GetDictionaryValue("Directory of Members")</span></a>
        </li>
    }

    <li>
        <a href="/@lang/my-account/training-calendar/"><i class="fad fa-chalkboard"></i> <span>@Umbraco.GetDictionaryValue("Training Calendar")</span></a>
    </li>
    @if (Model.RegistrationViewModel.MembershipType == "Corporate" && Model.RegistrationViewModel.ParentProfileId == 0 && Model.RegistrationViewModel.MembershipEndDate >= DateTime.Now)
    {
        <li>
            <a href="/@lang/my-account/employees-enrolled/"><i class="far fa-users"></i> <span>@Umbraco.GetDictionaryValue("Employees Enrolled")</span></a>
        </li>

        <li>
            <a href="/@lang/my-account/post-a-job/"><i class="far fa-briefcase"></i> <span>@Umbraco.GetDictionaryValue("Post a Job")</span></a>
        </li>
        <li>
            <a href="/@lang/my-account/post-an-internship/"><i class="fal fa-user"></i> <span>@Umbraco.GetDictionaryValue("Post an Internship")</span></a>
        </li>
    }
    @foreach (var election in Model.Elections)
    {
        <li>
            <div style="cursor: pointer;" onclick="RedirectToLink('@lang' , '@election.ElectionId')">
            <i class="fal fa-users electionItem"></i>
            <span class="electionItem">
                @if (lang == "ar")
                {
                    <span> @election.ApplyTitleAr </span>
                }
                @if (lang == "en")
                {
                    <span> @election.ApplyTitle </span>
                }
            </span>
            </div>
        </li>
    }

    @if (Model.RegistrationViewModel.ProfileType != "NonMember" && Model.RegistrationViewModel.MembershipEndDate >= DateTime.Now)
    {
        @*<li>
                <a href="/@lang/my-account/apply-for-leadership-program/"><i class="fal fa-user"></i> <span>@Umbraco.GetDictionaryValue("Harvard_Course_Registration")</span></a>
            </li>*@
    }

</ul>

<script>
function RedirectToLink(lang , electionId)
{
   $.ajax({
            url: '/Umbraco/Surface/Candidate/ApplyCandidateInCookie',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            success: function (response) {
                if (response.status == true) {
                    var link = '/' + lang + '/my-account/apply-candidate-for-election';
                    var s = window.location.replace(link);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

}
</script>

