﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@using IIA.Models;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"]) : 1;
    var keyword = Request.QueryString["keyword"] != null ? Request.QueryString["keyword"] : "";
}
<input type="hidden" id="lang" value="@lang" />
<input type="hidden" id="page" value="@page" />
<input type="hidden" id="parmKeyword" value="@keyword" />
<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        @Html.Raw(pageContent.GetPropertyValue("details"))
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-filter">
                    <div class="col-md-12 col-12 padd-left">
                        @*<h2>@Umbraco.GetDictionaryValue("Filter by")</h2>*@

                        <div class="words" style="display:none;">
                            @*<a href="javascript:GetMemberList('','',1)">All</a>*@
                            <a href="javascript:GetMemberList('A','',1)">A</a>
                            <a href="javascript:GetMemberList('B','',1)">B</a>
                            <a href="javascript:GetMemberList('C','',1)">C</a>
                            <a href="javascript:GetMemberList('D','',1)">D</a>
                            <a href="javascript:GetMemberList('E','',1)">E</a>
                            <a href="javascript:GetMemberList('F','',1)">F</a>
                            <a href="javascript:GetMemberList('G','',1)">G</a>
                            <a href="javascript:GetMemberList('H','',1)">H</a>
                            <a href="javascript:GetMemberList('I','',1)">I</a>
                            <a href="javascript:GetMemberList('J','',1)">J</a>
                            <a href="javascript:GetMemberList('K','',1)">K</a>
                            <a href="javascript:GetMemberList('L','',1)">L</a>
                            <a href="javascript:GetMemberList('M','',1)">M</a>
                            <a href="javascript:GetMemberList('N','',1)">N</a>
                            <a href="javascript:GetMemberList('O','',1)">O</a>
                            <a href="javascript:GetMemberList('P','',1)">P</a>
                            <a href="javascript:GetMemberList('Q','',1)">Q</a>
                            <a href="javascript:GetMemberList('R','',1)">R</a>
                            <a href="javascript:GetMemberList('S','',1)">S</a>
                            <a href="javascript:GetMemberList('T','',1)">T</a>
                            <a href="javascript:GetMemberList('U','',1)">U</a>
                            <a href="javascript:GetMemberList('V','',1)">V</a>
                            <a href="javascript:GetMemberList('W','',1)">W</a>
                            <a href="javascript:GetMemberList('X','',1)">X</a>
                            <a href="javascript:GetMemberList('Y','',1)">Y</a>
                            <a href="javascript:GetMemberList('Z','',1)">Z</a>
                        </div>
                        <div class="form-content">                           
                            <div class="form-group">
                                <div class="row">                                    
                                    <div class="col-md-4 col-12">
                                        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Enter_Search_Key")" />
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <button type="button" id="btnSearch" class="btn btn-light">@Umbraco.GetDictionaryValue("Search")</button>
                                    </div>
                                </div>
                            </div>
                                </div>                            
                        </div>
                        @*<div class="col-12 hr-col">
                            <hr>
                        </div>*@
                    </div>

                <section class="graduates-row">
                    <div class="container" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <div class="row" id="divMemberList">

                        </div>
                        <div class="row pagination-row">
                            <nav aria-label="Page navigation" id="divPagination">
                                @*<ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>*@
                            </nav>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        GetMemberList($("#parmKeyword").val(), "", $("#page").val());
        function GetMemberList(keyword, company, page) {
            //$("#divMemberList").html("Loading, please wait...");
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/GetMemberList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{keyword:'" + keyword + "', company:'" + company + "', page:'" + page + "', lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {                       
                        if (response.MemberInfo != null) {
                            var tbHtml = "";
                            var designation = "";

                            $.each(response.MemberInfo, function (i, MemberInfo) {
                                designation = "";
                                if (MemberInfo.JobTitle != null) {
                                    designation = '<h3>' + MemberInfo.JobTitle + ', ' + MemberInfo.Organization + '</h3>';
                                }

                                tbHtml += '<div class="col-lg-2 col-md-4 col-6 text-center">' +
                                    '<div class="user-img">' +
                                    '<img src="' + MemberInfo.ProfilePhoto + '" alt="' + MemberInfo.FirstName + '">' +
                                    '</div>' +
                                    '<h2>' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + '</h2>' +
                                    designation +
                                    '<a href="/@lang/my-account/member-details/?proId=' + MemberInfo.ProfileId + '">@Umbraco.GetDictionaryValue("View Bio")</a>' +
                                    '</div>';

                            });

                            $("#divMemberList").html(tbHtml);
                            $("#divPagination").html(response.pagination);

                            $("#divMemberList").css("display", "flex");
                            $("#divPagination").css("display", "inline");
                        }
                        else {
                            $("#divMemberList").css("display", "none");
                            $("#divPagination").css("display", "none");
                        }
                    }
                    else {  
                        
                        $("#divMemberList").css("display", "none");
                        $("#divPagination").css("display", "none");
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        }
        $("#keyword").change(function () {
            GetMemberList($("#keyword").val(), "", "1");
        });

        $("#btnSearch").click(function () {
            GetMemberList($("#keyword").val(), "", "1");
        });        
    });
</script>