﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@using IIA.Models;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"]) : 1;
}
<input type="hidden" id="lang" value="@lang" />
<input type="hidden" id="page" value="@page" />
<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        @Html.Raw(pageContent.GetPropertyValue("details"))
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-filter">
                    <div class="col-xl-10 col-lg-9 col-md-8 col-12 padd-left">
                        <h2>@Umbraco.GetDictionaryValue("Filter by")</h2>
                        <div class="words">
                            <a href="javascript:GetMemberList('','',1)">All</a>
                            <a href="javascript:GetMemberList('A','',1)">A</a>
                            <a href="javascript:GetMemberList('B','',1)">B</a>
                            <a href="javascript:GetMemberList('C','',1)">C</a>
                            <a href="javascript:GetMemberList('D','',1)">D</a>
                            <a href="javascript:GetMemberList('E','',1)">E</a>
                            <a href="javascript:GetMemberList('F','',1)">F</a>
                            <a href="javascript:GetMemberList('G','',1)">G</a>
                            <a href="javascript:GetMemberList('H','',1)">H</a>
                            <a href="javascript:GetMemberList('I','',1)">I</a>
                            <a href="javascript:GetMemberList('J','',1)">J</a>
                            <a href="javascript:GetMemberList('K','',1)">K</a>
                            <a href="javascript:GetMemberList('L','',1)">L</a>
                            <a href="javascript:GetMemberList('M','',1)">M</a>
                            <a href="javascript:GetMemberList('N','',1)">N</a>
                            <a href="javascript:GetMemberList('O','',1)">O</a>
                            <a href="javascript:GetMemberList('P','',1)">P</a>
                            <a href="javascript:GetMemberList('Q','',1)">Q</a>
                            <a href="javascript:GetMemberList('R','',1)">R</a>
                            <a href="javascript:GetMemberList('S','',1)">S</a>
                            <a href="javascript:GetMemberList('T','',1)">T</a>
                            <a href="javascript:GetMemberList('U','',1)">U</a>
                            <a href="javascript:GetMemberList('V','',1)">V</a>
                            <a href="javascript:GetMemberList('W','',1)">W</a>
                            <a href="javascript:GetMemberList('X','',1)">X</a>
                            <a href="javascript:GetMemberList('Y','',1)">Y</a>
                            <a href="javascript:GetMemberList('Z','',1)">Z</a>
                        </div>
                    </div>
                    <div class="col-12 hr-col">
                        <hr>
                    </div>
                </div>

                <div class="row card-row" id="divMemberList">

                </div>
                <div class="row pagination-row">
                    <nav aria-label="Page navigation" id="divPagination">                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    GetMemberList("", "", $("#page").val());
    function GetMemberList(keyword, company, page) {
        $("#divMemberList").html("Loading, please wait...");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/GetMemberList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{keyword:'" + keyword + "', company:'" + company + "', page:'" + page + "', lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        var designation = "";

                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            designation = "";
                            if (MemberInfo.JobTitle != null) {
                                designation = '<p>' + MemberInfo.JobTitle + ', ' + MemberInfo.Organization + '</p>';
                            }

                            tbHtml += '   <div class="col-lg-4 col-md-6 col-12">  ' +
                                '                               <a href="/@lang/my-account/member-details/?proId=' + MemberInfo.ProfileId+'" class="governance-card">  ' +
                                '                                   <img src="' + MemberInfo.ProfilePhoto + '" alt="' + MemberInfo.FirstName + '">  ' +
                                '                                   <div class="card-content">  ' +
                                '                                       <h3>' + MemberInfo.FirstName + ' ' + MemberInfo.LastName + '</h3>  ' +
                                                                        designation +
                                '                                   </div>  ' +
                                '                               </a>  ' +
                                '                          </div>  ';
                        });

                        $("#divMemberList").html(tbHtml);
                        $("#divPagination").html(response.pagination);
                    }
                    else {
                        $("#divMemberList").css("display", "none");
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

</script>