﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@using IIA.Models;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
    <style>
        .sweet-alert button.cancel {
            background-color: #C1C1C1 !important;
            display: inline !important;
        }
    </style>
<input type="hidden" id="lang" value="@lang" />
<div class="row row-enrol">
    <div class="col-12">
        <h2>@Umbraco.GetDictionaryValue("Enrol Your Staff")</h2>
    </div>
    <div class="col-12">
        <form action="" class="">
            <div class="form-content row">
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="@Umbraco.GetDictionaryValue("Search by name")">
                    </div>
                </div>
                <div class="col-md-4  col-12">
                    <div class="form-group">
                        <input type="email" name="Email" id="Email" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Search by Email Address")">
                    </div>
                </div>
                <div class="col-md-4 col-12 text-right">
                    <button type="button" id="btnSearch" class="btn btn-light">@Umbraco.GetDictionaryValue("Search")</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">@Umbraco.GetDictionaryValue("Name")</th>
                        <th scope="col">@Umbraco.GetDictionaryValue("Email")</th>
                        <th scope="col">@Umbraco.GetDictionaryValue("Status")</th>
                        <th scope="col">@Umbraco.GetDictionaryValue("Action")</th>
                    </tr>
                </thead>
                <tbody id="divMemberList">
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    GetEmployeeEnrolled("", "");

    $("#btnSearch").on("click", function () {
        GetEmployeeEnrolled($("#Name").val(), $("#Email").val())
    });

    function GetEmployeeEnrolled(name, emailAddress) {
        //$("#divMemberList").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/GetEmployeeEnrolled',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{name:'" + name + "', emailAddress:'" + emailAddress + "', lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        var Status = "";
                        var Name = "";

                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            Status = "";
                            Name = "";

                            if (MemberInfo.IsActive == true) {
                                Status = '<td>@Umbraco.GetDictionaryValue("Active")</td>  ' +
                                    '<td><a style="width:38%;margin-right:20px;" href="javascript:;" class="btn btn-light btn-unenrol" onClick="Unroll(' + MemberInfo.ProfileId + ')">@Umbraco.GetDictionaryValue("Unenrol")</a><a style="width:38%;margin-right:20px;" href="javascript:;" class="btn btn-light btn-unenrol" onClick="Remove(' + MemberInfo.ProfileId + ')">@Umbraco.GetDictionaryValue("Remove")</a></td>  '
                                Name = '<h3><a href="/@lang/my-account/member-enroll-details/?proId=' + MemberInfo.ProfileId + '">' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + '</a></h3>';
                            }
                            else {
                                Status = '<td>Inactive</td>  ' +
                                    '<td><a style="width:38%;margin-right:20px;" href="javascript:;" class="btn btn-light" onClick="SendInvite(' + MemberInfo.ProfileId + ')">@Umbraco.GetDictionaryValue("Send Invite")</a><a style="width:38%;margin-right:20px;" href="javascript:;" class="btn btn-light btn-unenrol" onClick="Remove(' + MemberInfo.ProfileId + ')">@Umbraco.GetDictionaryValue("Remove")</a></td>  '
                                Name = '<h3>' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + '</h3>';
                            }
                            tbHtml+='<tr>' +
                                '<td>' +
                                '<div class="img-user">  ' +
                                '<img src="' + MemberInfo.ProfilePhoto + '" alt="' + MemberInfo.FirstName + '">' +
                                '</div>  ' +
                                '<div class="user-info">' +
                                Name +
                                '<h4>' + MemberInfo.MembershipType + '</h4>' +
                                '<span>' + MemberInfo.MembershipBadge + '</span>' +
                                '</div> ' +
                                '</td> ' +
                                '<td>' + MemberInfo.EmailAddress + '</td>  ' +
                                 Status +
                                '</tr>  ';
                        });

                        $("#divMemberList").html(tbHtml);
                    }
                    else {
                        $("#divMemberList").css("display", "none");
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    function Unroll(profileId) {
       var message = "@Umbraco.GetDictionaryValue("Do_you_want_to_Unenrol_Member")";
        ConfirmUnroll(message, profileId);
    }
    function SendInvite(profileId) {
        $.ajax({
            url: '/Umbraco/Surface/Dashboard/SendInvite',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{profileId:'" + profileId + "', lang:'" + $("#lang").val() + "'}",
            success: function (response) {
                if (response.status == true) {
                   AlertMessage("@Umbraco.GetDictionaryValue("Employee_Enroll_Invitation")");
                   GetEmployeeEnrolled($("#Name").val(), $("#Email").val());
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                AlertMessage(response.responseText);
            },
            error: function (response) {
                AlertMessage(response.responseText);
            }
        });
    }

    function Remove(profileId) {
        var message = "@Umbraco.GetDictionaryValue("Do_you_want_to_Remove_Enroll_Member")";
        ConfirmMRemove(message, profileId);
    }

    function ConfirmMRemove(message, profileId) {
        if (message != null && message != "") {
            swal({
                title: "@Umbraco.GetDictionaryValue("Are_you_sure?")",
                text: message,
                icon: "warning",
                confirmButtonColor: '#00a4be',
                cancelButtonColor: '#C1C1C1',
                cancelButtonText: '@Umbraco.GetDictionaryValue("No")',
                confirmButtonText: '@Umbraco.GetDictionaryValue("Yes")',
            },
                function (isConfirm) {
                    if (isConfirm) {
                        RemoveMember(profileId);
                    }
                    else {

                    }
                });
        }
    }

    function RemoveMember(profileId) {
        $.ajax({
            url: '/Umbraco/Surface/Dashboard/RemoveMember',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{profileId:'" + profileId + "', lang:'" + $("#lang").val() + "'}",
            success: function (response) {
                if (response.status == true) {
                    AlertMessage("@Umbraco.GetDictionaryValue("Employee_Remove_Success")");
                    GetEmployeeEnrolled($("#Name").val(), $("#Email").val());
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                AlertMessage(response.responseText);
            },
            error: function (response) {
                AlertMessage(response.responseText);
            }
        });
    }

    function ConfirmUnroll(message, profileId) {
        if (message != null && message != "") {
            swal({
                title: "@Umbraco.GetDictionaryValue("Are_you_sure?")",
                text: message,
                icon: "warning",
                confirmButtonColor: '#00a4be',
                cancelButtonColor: '#C1C1C1',
                cancelButtonText: '@Umbraco.GetDictionaryValue("No")',
                confirmButtonText: '@Umbraco.GetDictionaryValue("Yes")',
            },
                function (isConfirm) {
                    if (isConfirm) {
                        UnrollMember(profileId);
                    }
                    else {

                    }
                });
        }
    }

    function UnrollMember(profileId) {
        $.ajax({
            url: '/Umbraco/Surface/Dashboard/Unroll',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{profileId:'" + profileId + "', lang:'" + $("#lang").val() + "'}",
            success: function (response) {
                if (response.status == true) {
                    AlertMessage("@Umbraco.GetDictionaryValue("Employee_Unroll_Success")");
                    GetEmployeeEnrolled($("#Name").val(), $("#Email").val());
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                AlertMessage(response.responseText);
            },
            error: function (response) {
                AlertMessage(response.responseText);
            }
        });
    }

</script>