﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
  
<input type="hidden" id="redLang" value="@lang" />
<section class="user-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 left-side">
                <ul class="list-unstyled">
                    <li class="user-img"><img src="@this.Model.ProfilePhoto" alt=""></li>
                    @if (this.Model.MiddleName != "")
                    {
                        <li class="user-name"><a href="#">@Html.Raw(this.Model.FirstName + ' ' + this.Model.MiddleName + ' ' + this.Model.LastName)</a></li>
                    }
                    else
                    {
                        <li class="user-name"><a href="#">@Html.Raw(this.Model.FirstName + ' ' + this.Model.LastName)</a></li>
                    }
                    @if (Model.ProfileType == "Member")
                    {
                    <li class="account-type">
                        @Umbraco.GetDictionaryValue(this.Model.MembershipType)
                        @if (!string.IsNullOrEmpty(this.Model.MembershipBadge))
                        {
                        <span>@Umbraco.GetDictionaryValue(this.Model.MembershipBadge)</span>
                        }
                    </li>
                    }
                </ul>
            </div>
            <div class="col-md-6 col-12 right-side">
                <a href="/@lang/my-account/update-user-profile/"><i class="fal fa-pen"></i> @Umbraco.GetDictionaryValue("Edit Profile")</a>
                <a href="#" id="btnLogout"><i class="fal fa-lock"></i>@Umbraco.GetDictionaryValue("Logout")</a>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#btnLogout").on("click", function () {
        Logout();
    });
    });

    function Logout() {

        $.removeCookie('IsLogin', { path: '/' }); // works!
        $.removeCookie('proId', { path: '/' }); // works!
        $.removeCookie('backUrl', { path: '/' }); // works!
        window.location = "/" + $("#redLang").val() + "/login";

         //$.ajax({
         //    url: "/Umbraco/Surface/Dashboard/Logout",
         //       headers: {
         //           'Content-Type': 'application/json; charset=utf-8',
         //           'X-Requested-With': 'XMLHttpRequest',
         //       },
         //       type: 'POST',
         //     data: "{lang:'" + $("#lang").val() + "'}",
         //       success: function (response) {
         //           if (response.status == true) {
         //               $.removeCookie('IsLogin', { path: '/' }); // works!
         //               $.removeCookie('proId', { path: '/' }); // works!
         //               window.location = "/"+$("#lang").val()+"/login";
         //           }
         //           else {
                       
         //           }
         //       },
         //       failure: function (response) {
         //           AlertMessage(response.responseText);
         //       },
         //       error: function (response) {
         //           AlertMessage(response.responseText);
         //       }
         //});          

    }
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>