﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
}
<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content account-timetable-row">
        <!-- Start Search table-->
        @Umbraco.RenderMacro("TrainingCalendar", new { courseId = 0, isHeadingShow = 1, coursePage = "tc" })
    </div>
                            </div>


