﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<input type="hidden" id="preCountry" value="@this.Model.Country" />
<input type="hidden" id="preGender" value="@this.Model.Gender" />
<input type="hidden" id="prePreferredLanguage" value="@this.Model.PreferredLanguage" />
    <div class="right-side col-lg-9 col-md-10 col-12">
        <div class="body-content row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h1>@pageContent.GetPropertyValue("title")</h1>
                        </div>
                    </div>                   
                    <div class="col-12">
                        @using (Html.BeginUmbracoForm("UpdateUserProfile", "Dashboard", System.Web.Mvc.FormMethod.Post, new { id = "formRegister", enctype = "multipart/form-data", @class = "register-section" }))
                        {
                            <input type="hidden" id="lang" name="lang" value="@lang" />
                            <input type="hidden" id="ProfileId" name="ProfileId" value="@this.Model.ProfileId.ToString()" />
                            <div class="form-content">
                                <div class="form-row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="FirstName" id="FirstName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("First Name (English)")" value="@this.Model.FirstName">
                                            <span class="validationForm" id="errFirstName"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="FirstName_ar" id="FirstName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name (Arabic)")" value="@this.Model.FirstName_ar">
                                            <span class="validationForm" id="errFirstName_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="MiddleName" id="MiddleName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Middle Name (English)")" value="@this.Model.MiddleName">

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="MiddleName_ar" id="MiddleName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Middle Name (Arabic)")" value="@this.Model.MiddleName_ar">

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="LastName" id="LastName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Last Name (English)")" value="@this.Model.LastName">
                                            <span class="validationForm" id="errLastName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="LastName_ar" id="LastName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name (Arabic)")" value="@this.Model.LastName_ar">
                                            <span class="validationForm" id="errLastName_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <input type="text" name="NationalIDNumber" id="NationalIDNumber" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("National ID Number")" value="@this.Model.NationalIDNumber">
                                            <span class="validationForm" id="errNationalIDNumber"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <div class="custom-select-field">
                                                <select name="Gender" id="Gender" class="form-control">
                                                    <option value="" disabled selected>@Umbraco.GetDictionaryValue("Gender")</option>
                                                    <option value="Male">@Umbraco.GetDictionaryValue("Male")</option>
                                                    <option value="Female">@Umbraco.GetDictionaryValue("Female")</option>
                                                </select>
                                                <span class="validationForm" id="errGender"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group calendar-icon">
                                            <input type="text" data-toggle="datepicker" name="DateOfBirth" id="DateOfBirth" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Date of Birth")" value="@this.Model.DateOfBirth">
                                            <span class="validationForm" id="errDateOfBirth"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" id="divJobTitle">
                                        <div class="form-group">
                                            <input type="text" name="JobTitle" id="JobTitle" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Job Title (English)")" value="@this.Model.JobTitle">
                                            <span class="validationForm" id="errJobTitle"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" id="divJobTitle_ar">
                                        <div class="form-group">
                                            <input type="text" name="JobTitle_ar" id="JobTitle_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title (Arabic)")" value="@this.Model.JobTitle_ar">
                                            <span class="validationForm" id="errJobTitle_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" id="divOrganization">
                                        <div class="form-group">
                                            <input type="text" name="Organization" id="Organization" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Organization (English)")" value="@this.Model.Organization">
                                            <span class="validationForm" id="errOrganization"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" id="divOrganization_ar">
                                        <div class="form-group">
                                            <input type="text" name="Organization_ar" id="Organization_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Organization (Arabic)")" value="@this.Model.Organization_ar">
                                            <span class="validationForm" id="errOrganization_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <div class="custom-select-field">
                                                <select name="Country" id="Country" class="form-control">
                                                </select>
                                                <span class="validationForm" id="errCountry"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="City" id="City" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("City (English)")" value="@this.Model.City">
                                            <span class="validationForm" id="errCity"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <input type="text" name="City_ar" id="City_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("City (Arabic)")" value="@this.Model.City_ar">
                                            <span class="validationForm" id="errCity_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <input type="number" name="Zip_Postal_Code" id="Zip_Postal_Code" class="form-control" placeholder="@Umbraco.GetDictionaryValue("ZIP / Postal Code")" value="@this.Model.Zip_Postal_Code">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <input type="number" name="MobileNumber" id="MobileNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Mobile No")" value="@this.Model.MobileNumber">
                                            <span class="validationForm" id="errMobileNumber"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <input type="number" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Phone No")" value="@this.Model.PhoneNumber">
                                            <span class="validationForm" id="errPhoneNumber"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <input type="number" name="FaxNumber" id="FaxNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Fax No")" value="@this.Model.FaxNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <textarea name="Experience" id="Experience" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Experience")">@this.Model.Experience</textarea>
                                            <span class="validationForm" id="errExperience"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <textarea name="Experience_ar" id="Experience_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Experience (Arabic)")">@this.Model.Experience_ar</textarea>
                                            <span class="validationForm" id="errExperience_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <textarea name="Qualification" id="Qualification" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Qualifications")">@this.Model.Qualification</textarea>
                                            <span class="validationForm" id="errQualification"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <textarea name="Qualification_ar" id="Qualification_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Qualifications (Arabic)")">@this.Model.Qualification_ar</textarea>
                                            <span class="validationForm" id="errQualification_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <textarea name="Bio" id="Bio" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Bio")">@this.Model.Bio</textarea>
                                            <span class="validationForm" id="errBio"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <textarea name="Bio_ar" id="Bio_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Bio (Arabic)")">@this.Model.Bio_ar</textarea>
                                            <span class="validationForm" id="errBio_ar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <div class="custom-select-field">
                                                <select name="PreferredLanguage" id="PreferredLanguage" class="form-control">
                                                    <option value="" disabled selected>@Umbraco.GetDictionaryValue("Preferred Language")</option>
                                                    <option value="en">@Umbraco.GetDictionaryValue("English")</option>
                                                    <option value="ar">@Umbraco.GetDictionaryValue("Arabic")</option>
                                                </select>
                                                <span class="validationForm" id="errPreferredLanguage"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="avatar-upload">
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url(@this.Model.ProfilePhoto);">
                                        </div>
                                        <span class="validationForm" id="errimageUpload"></span>
                                    </div>
                                    <div class="right-side">
                                        <h4>@Umbraco.GetDictionaryValue("Upload Personal Photo")</h4>
                                        <p>@Umbraco.GetDictionaryValue("Supported Format")</p>
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" name="imageUpload" accept=".png, .jpg, .jpeg" />
                                            <label for="imageUpload">@Umbraco.GetDictionaryValue("Browse Photo")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-action">
                                    <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
               
    </div>

    <script>
            $(document).ready(function () {

                var jsonCountry = $.ajax({
                    type: 'POST',
                    url: "/Umbraco/Surface/FormProcess/GetCountry",
                    dataType: "application/json; charset=utf-8",
                    context: document.body,
                    global: false,
                    async: false,
                    success: function (data) {
                        return data;
                    }
                }).responseText;

                var strCountry = '<option value="">@Umbraco.GetDictionaryValue("Country")</option>';
                var jsonObject = $.parseJSON(jsonCountry);
                $.each(jsonObject, function (i, obj) {
                        strCountry = strCountry + '<option value="' + obj.CountryCode + '">' + obj.CountryName + '</option>';
                });

                $("#Country").html(strCountry);

                $("#Country").val($("#preCountry").val()).change();
                $("#Gender").val($("#preGender").val()).change();
                $("#PreferredLanguage").val($("#prePreferredLanguage").val()).change();

            function CheckValidation() {
                $(".validationForm").hide();
                var hasError = false;
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

                 if ($("#FirstName").val() == '') {
                    $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                    $("#FirstName").focus();
                    hasError = true;
                }

                if ($("#FirstName_ar").val() == '') {
                    $("#errFirstName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                    $("#FirstName_ar").focus();
                    hasError = true;
                }

                if ($("#LastName").val() == '') {
                    $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                    $("#LastName").focus();
                    hasError = true;
                }

                if ($("#LastName_ar").val() == '') {
                    $("#errLastName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                    $("#LastName_ar").focus();
                    hasError = true;
                }

                if ($("#NationalIDNumber").val() == '') {
                    $("#errNationalIDNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_NationalID")").show();
                    $("#NationalIDNumber").focus();
                    hasError = true;
                }

                if ($("#Gender option:selected").val() == '') {
                    $("#errGender").html("@Umbraco.GetDictionaryValue("Validation_Error_Gender")").show();
                    $("#Gender").focus();
                    hasError = true;
                }
                if ($("#DateOfBirth").val() == '') {
                    $("#errDateOfBirth").html("@Umbraco.GetDictionaryValue("Validation_Error_DateOfBirth")").show();
                    $("#DateOfBirth").focus();
                    hasError = true;
                }

                if ($("#JobTitle").val() == '') {
                    $("#errJobTitle").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                    $("#JobTitle").focus();
                    hasError = true;
                }

                if ($("#Organization").val() == '') {
                    $("#errOrganization").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                    $("#Organization").focus();
                    hasError = true;
                }
                if ($("#JobTitle_ar").val() == '') {
                    $("#errJobTitle_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                    $("#JobTitle_ar").focus();
                    hasError = true;
                }

                if ($("#Organization_ar").val() == '') {
                    $("#errOrganization_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                    $("#Organization_ar").focus();
                    hasError = true;
                }

                 if ($("#Country option:selected").val() == '') {
                    $("#errCountry").html("@Umbraco.GetDictionaryValue("Validation_Error_Country")").show();
                    $("#Country").focus();
                    hasError = true;
                }

                if ($("#City").val() == '') {
                    $("#errCity").html("@Umbraco.GetDictionaryValue("Validation_Error_City")").show();
                    $("#City").focus();
                    hasError = true;
                }

                if ($("#City_ar").val() == '') {
                    $("#errCity_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_City")").show();
                    $("#City_ar").focus();
                    hasError = true;
                }

                if ($("#MobileNumber").val() == '') {
                    $("#errMobileNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_Mobile")").show();
                    $("#MobileNumber").focus();
                    hasError = true;
                }

                if ($("#Experience").val() == '') {
                    $("#errExperience").html("@Umbraco.GetDictionaryValue("Validation_Error_Experience")").show();
                    $("#Experience").focus();
                    hasError = true;
                }

                if ($("#Experience_ar").val() == '') {
                    $("#errExperience_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Experience")").show();
                    $("#Experience_ar").focus();
                    hasError = true;
                }

                if ($("#Qualification").val() == '') {
                    $("#errQualification").html("@Umbraco.GetDictionaryValue("Validation_Error_Qualification")").show();
                    $("#Qualification").focus();
                    hasError = true;
                }

                if ($("#Qualification_ar").val() == '') {
                    $("#errQualification_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Qualification")").show();
                    $("#Qualification_ar").focus();
                    hasError = true;
                }

                if ($("#Bio").val() == '') {
                    $("#errBio").html("@Umbraco.GetDictionaryValue("Validation_Error_Bio")").show();
                    $("#Bio").focus();
                    hasError = true;
                }

                 if ($("#Bio_ar").val() == '') {
                    $("#errBio_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Bio")").show();
                    $("#Bio_ar").focus();
                    hasError = true;
                }

                if ($("#PreferredLanguage option:selected").val() == '') {
                    $("#errPreferredLanguage").html("@Umbraco.GetDictionaryValue("Validation_Error_PreferredLanguage")").show();
                    $("#PreferredLanguage").focus();
                    hasError = true;
                }

                return hasError;
            }

            $("#btnSubmit").on("click", function () {
                if (CheckValidation() == false) {
                    $("#formRegister").submit();
                }
            });

        });

    </script>
<script>
    // Next and prev tabs
    $('.btnNext').click(function () {
        $('.nav-pills .active').parent().next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-pills .active').parent().prev('li').find('a').trigger('click');
    });

    // Upload image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function () {
        readURL(this);
    });

    // Upload file
    $(document).ready(function () {
        $(document).on('change', '.custom-file-input', function (event) {
            var files = event.target.files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
        // Clone file
        $(".add-more").on('click', function () {
            console.log("test")
            var $row = $('.custom-file:last-child').clone();
            $($row).children('.custom-file-label').html('Add file');
            $('.upload-file').append($row);
        });
    });
    $(document).on('click', '.remove-parent', function () {
        $(this).parent().parent().remove();
    })
</script>