﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.JobInternshipViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<input type="hidden" id="lang" value="@lang" />
<input type="hidden" id="preTenure" value="@this.Model.Tenure" />
<input type="hidden" id="hdnPostType" value="@this.Model.PostType" />
<input type="hidden" id="hdnPostId" value="@this.Model.PostId" />

<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class="col-10">
                    <div class="title">
                        <h1>@pageContent.GetPropertyValue("title")</h1>
                        @Html.Raw(@pageContent.GetPropertyValue("details"))
                    </div>
                </div>
                <div class="col-2 text-right">
                    @if (this.Model.PostType == "Job")
                    {
                        <a href="/@lang/my-account/post-a-job/">@Umbraco.GetDictionaryValue("Go Back")</a>
                    }
                    else
                    {
                        <a href="/@lang/my-account/post-an-internship/">@Umbraco.GetDictionaryValue("Go Back")</a>
                    }


                </div>
                <div class="col-12">
                    <form action="">
                        <div class="form-content">
                            <div class="form-group">
                                <div class="upload-file">
                                    <div class="custom-file">
                                        <input class="custom-file-input" type="file" id="BannerImage" name="BannerImage">                                        
                                        @if (this.Model.BannerImage != "")
                                        {
                                            <label class="custom-file-label selected">@this.Model.BannerImage</label>
                                        }
                                        else
                                        {
                                            <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Add Banner Image (Optional)")</label>
                                        }
                                        <div class="row-action text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="JobTitle" id="JobTitle" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title")" value="@this.Model.JobTitle">
                                <span class="validationForm" id="errJobTitle"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Company" id="Company" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Company")" value="@this.Model.Company">
                                <span class="validationForm" id="errCompany"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Location" id="Location" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Location")" value="@this.Model.Location">
                                <span class="validationForm" id="errLocation"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-select-field">
                                    <select name="Tenure" id="Tenure" class="form-control">
                                        <option value="" disabled selected>@Umbraco.GetDictionaryValue("Tenure")</option>
                                        <option value="Full Time">@Umbraco.GetDictionaryValue("Full Time")</option>
                                        <option value="Part Time">@Umbraco.GetDictionaryValue("Part Time")</option>
                                    </select>
                                    <span class="validationForm" id="errTenure"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="JobDescription" id="JobDescription" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Description")">@this.Model.JobDescription</textarea>
                                <span class="validationForm" id="errJobDescription"></span>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <textarea name="JobResponsibilities" id="JobResponsibilities" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Responsibilities")">@this.Model.JobResponsibilities</textarea>
                                        <span class="validationForm" id="errJobResponsibilities"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 upload-bg">
                                    <div class="form-group">
                                        <div class="upload-file">
                                            <div class="custom-file">
                                                <input class="custom-file-input" type="file" id="BackgroundImage" name="BackgroundImage">
                                                @if (this.Model.BackgroundImage != "")
                                                {
                                                    <label class="custom-file-label selected">@this.Model.BackgroundImage</label>
                                                }
                                                else
                                                {
                                                    <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Add Background Image (Optional)")</label>
                                                }
                                                <div class="row-action text-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>
<script>
    $(document).ready(function () {

        $("#Tenure").val($("#preTenure").val()).change();

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                var BannerImage = document.getElementById("BannerImage").files[0];
                var BackgroundImage = document.getElementById("BackgroundImage").files[0];
                formData.append("BannerImage", BannerImage);
                formData.append("BackgroundImage", BackgroundImage);
                formData.append("JobTitle", $("#JobTitle").val());
                formData.append("Company", $("#Company").val());
                formData.append("Location", $("#Location").val());
                formData.append("Tenure", $("#Tenure option:selected").val());
                formData.append("JobDescription", $("#JobDescription").val());
                formData.append("JobResponsibilities", $("#JobResponsibilities").val());
                formData.append("PostType", $("#hdnPostType").val());
                formData.append("PostId", $("#hdnPostId").val());
                formData.append("lang", $("#lang").val());

                $.ajax({
                    url: "/Umbraco/Surface/Dashboard/UpdateJobInternship",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                           AlertMessage("@Umbraco.GetDictionaryValue("Post_Added_Success")");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;

            if ($("#JobTitle").val() == '') {
                $("#errJobTitle").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Job_Title")").show();
                $("#JobTitle").focus();
                hasError = true;
            }

            if ($("#Company").val() == '') {
                $("#errCompany").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Company")").show();
                $("#Company").focus();
                hasError = true;
            }

            if ($("#Location").val() == '') {
                $("#errLocation").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Location")").show();
                $("#Location").focus();
                hasError = true;
            }

            if ($("#Tenure option:selected").val() == '') {
                $("#errTenure").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Tenure")").show();
                $("#Tenure").focus();
                hasError = true;
            }
            if ($("#JobDescription").val() == '') {
                $("#errJobDescription").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Job_Description")").show();
                $("#JobDescription").focus();
                hasError = true;
            }
            if ($("#JobResponsibilities").val() == '') {
                $("#errJobResponsibilities").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Job_Responsibility")").show();
                $("#JobResponsibilities").focus();
                hasError = true;
            }

            return hasError;
        }
    });

</script>
<script>
    // Upload file
    $(document).ready(function () {
        $('.custom-file-input').on('change', function (event) {
            var files = event.target.files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
    });
</script>
