﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row exclusive-pro">
                <div class="col-md-10 col-12">
                    <div class="user-img">
                        <img src="@this.Model.ProfilePhoto" class="img-fluid" alt="@this.Model.FirstName">
                    </div>
                    <div class="user-info">
                        @if (this.Model.MiddleName != "")
                        {
                            <h1>@Html.Raw(this.Model.FirstName + ' ' + this.Model.MiddleName + ' ' + this.Model.LastName)</h1>
                        }
                        else
                        {
                            <h1>@Html.Raw(this.Model.FirstName + ' ' + this.Model.LastName)</h1>
                        }
                        @if (!string.IsNullOrEmpty(this.Model.JobTitle))
                        {
                            <p>@Html.Raw(this.Model.JobTitle + ','+ this.Model.Organization)</p>
                        }
                    </div>
                </div>
                <div class="col-md-2 col-12 text-right">
                    <a href="/@lang/my-account/member-directory/">@Umbraco.GetDictionaryValue("Go Back")</a>
                </div>
            </div>

            <div class="row list-info">
                <ul class="list-unstyled col-12">
                    <li>
                        <span class="left-side">@Umbraco.GetDictionaryValue("Experience")</span>
                        <span class="right-side">@Html.Raw(this.Model.Experience)</span>
                    </li>
                    <li>
                        <span class="left-side">@Umbraco.GetDictionaryValue("Qualifications")</span>
                        <span class="right-side">
                            @Html.Raw(this.Model.Qualification)
                        </span>
                    </li>
                    <li>
                        <span class="left-side">@Umbraco.GetDictionaryValue("Bio")</span>
                        <span class="right-side">
                            @Html.Raw(this.Model.Bio)
                        </span>
                    </li>
                </ul>
                <div class="col-12 text-right contact-btn">
                    <button type="button" class="btn btn-light" id="btnContact">@Umbraco.GetDictionaryValue("Contact")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        @Umbraco.RenderMacro("ContactMember", new { ContactType = "ContactMember", PageId = this.Model.ProfileId})
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnContact").on("click", function () {
            $("#contact").modal("show");
        });
        
    });
</script>