﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.UserProfileDashboardModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var purchaseItem = "";

}

    <div class="right-side col-lg-9 col-md-10 col-12">
        <div class="body-content row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="title">
                            <h1>@Umbraco.GetDictionaryValue("User Profile")</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 contact-sec">
                        @if (!string.IsNullOrEmpty(this.Model.RegisterInfo.IIAGlobalNumber))
                        {
                            <h2 class="phone">@Umbraco.GetDictionaryValue("IIA Global Contact No")</h2>
                            <span class="phone-num">@this.Model.RegisterInfo.IIAGlobalNumber</span>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="avatar-upload">
                            @*<div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>*@
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(@this.Model.RegisterInfo.ProfilePhoto);">
                                </div>
                            </div>
                        </div>
                        <div class="user-name">
                            @if (this.Model.RegisterInfo.MiddleName != "")
                            {
                                @Html.Raw(this.Model.RegisterInfo.FirstName + ' ' + this.Model.RegisterInfo.MiddleName + ' ' + this.Model.RegisterInfo.LastName)
                            }
                            else
                            {
                                @Html.Raw(this.Model.RegisterInfo.FirstName + ' ' + this.Model.RegisterInfo.LastName)
                            }
                            @if (this.Model.RegisterInfo.JobTitle != "")
                            {
                                <span>@this.Model.RegisterInfo.JobTitle, @this.Model.RegisterInfo.Organization</span>
                            }

                        </div>
                    </div>
                </div>
                <div class="row list-info">
                    <ul class="list-unstyled col-12">
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Address")</span>
                            <span class="right-side">@this.Model.RegisterInfo.City, @this.Model.RegisterInfo.Country</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Mobile No")</span>
                            <span class="right-side">@this.Model.RegisterInfo.MobileNumber</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Password")</span>
                            <span class="right-side"><a href="javascript:;" id="btnChangePassword">@Umbraco.GetDictionaryValue("Change Password")</a></span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Experience")</span>
                            <span class="right-side">@Html.Raw(this.Model.RegisterInfo.Experience)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Qualifications")</span>
                            <span class="right-side">@Html.Raw(this.Model.RegisterInfo.Qualification)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Bio")</span>
                            <span class="right-side">@Html.Raw(this.Model.RegisterInfo.Bio)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Completed Courses")</span>
                            <span class="right-side">
                                @if (this.Model.PurchaseList.Count > 0)
                                {
                                    foreach (var item in this.Model.PurchaseList)
                                    {
                                        if (item.ProductType == "C")
                                        {
                                            purchaseItem += item.CourseCmsName + ", " + item.LevelCmsName + "<br/>";
                                        }
                                    }
                                    @Html.Raw(purchaseItem)
                                }
                            </span>
                        </li>
                    </ul>
                </div>
                @if (this.Model.RegisterInfo.MembershipType == "Corporate" && this.Model.RegisterInfo.ParentProfileId == 0)
                {


                    Html.RenderAction("EmployeeEnrolledSearch", "Dashboard");

                }
            </div>
        </div>
        @if (this.Model.RegisterInfo.ProfileType == "NonMember")
        {
            <div class="body-content row apply-sec">
                <div class="col-md-6 col-12">
                    <h2 class="title">@Umbraco.GetDictionaryValue("Become a member")</h2>
                </div>
                <div class="col-md-6 col-12 action-apply">
                    <a href="/@lang/registration/member-register/" class="btn btn-light">@Umbraco.GetDictionaryValue("Apply")</a>
                </div>
            </div>
        }
        @if (this.Model.RegisterInfo.ProfileType == "Member" && this.Model.RegisterInfo.MembershipEndDate>=DateTime.Now)
            {
                if (this.Model.RegisterInfo.MembershipType == "Individuals" || this.Model.RegisterInfo.MembershipType == "Professional")
            {
                @Html.Partial("Dashboard/ApplyMentoring")
            }

        }
    </div>

<div class="modal fade custom-modal" id="ChangePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        @Umbraco.RenderMacro("ChangePassword", new { ProfileId = this.Model.RegisterInfo.ProfileId })
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnChangePassword").on("click", function () {
            $("#ChangePassword").modal("show");
        });       
    });    
</script>
  