﻿<div data-file-upload="options" ng-controller="Dashboard.ExportReportsController">
    <h3 style="color: maroon; padding-left: 41px;">Choose Report Type and Date</h3>
    <!--<p>Utility for exporting an Excel file containing following reports:</p>-->
    <p style="padding-left: 43px;">
        <select id="ReportType" name="ReportType" ng-model="reportType" ng-change="showhideCourseCode()">
            <option value="">Select Report Type</option>
            <option value="Member">Member</option>
            <option value="NonMember">Non Member</option>
            <option value="MemberPayment">Member Registration Payment</option>
            <option value="InvoicePayment">Sales Order Payment</option>
            <option value="ContactUs">Contact Us</option>
            <option value="ContactAdmin">Contact Admin</option>
            <option value="ContactMember">Contact Member</option>
            <option value="RequestCallBack">Request Call Back</option>
            <option value="AboutInternalAuditing">About Internal Auditing</option>
            <option value="EventRegistration">Event Registration</option>
            <option value="CareerApply">Career Apply</option>
            <option value="CorporateJobPost">Corporate Job Post</option>
            <option value="CorporateInternshipPost">Corporate Internship Post</option>
            <option value="NewsletterSubscription">Newsletter Subscription</option>
            <option value="HarvardCourse">Harvard Course Payment</option>
            <option value="HarvardCourseInterviewSchedule">Harvard Course Interview Schedule</option>
            <option value="HarvardCourseAllApplicant">Harvard Course All Applicant</option>
        </select>
    </p>
    <!--<p style="padding-left: 43px;">
        <select id="CourseCode" name="CourseCode" ng-model="CourseCode">
            <option value="">Select Course Code</option>
            <option ng-repeat="data in ListCode" value="{{data.Value}}">{{data.Text}}</option>
        </select>
    </p>-->
    <p>
        From:
        <select id="fromDay">
            <option value="">Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select id="fromMonth">
            <option value="">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="fromYear">
            <option value="">Year</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
    </p>
    <p style="padding-left: 18px;">
        To:
        <select id="toDay">
            <option value="">Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select id="toMonth">
            <option value="">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="toYear">
            <option value="">Year</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
    </p>
    <p style="padding-left: 43px;"><button class="btn btn-primary" ng-click="clickMe()">Export</button></p>
</div>
