﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<!-- <script src="/AdminUI/js/developer.js"></script> -->
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/AdminUI/js/jquery-validate/bootstrap.validate.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<style>
    .select2-container {
    width: 26rem !important;
}

    .td-padding {
        padding: 20px;
    }
    .field-validation-error {
        color: red !important;
    }
    .profile-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .ValidationSummary {
        display: flex;
        justify-content: start;
        align-items: center;
        display: none;
        border: 2px solid red;
        margin-bottom: 18px;
        border-radius: 8px;
        width: 60rem;
    }

    .d-flex {
        display: flex;
    }

    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-b-10 {
        padding-bottom: 10px;
    }
</style>

<div>
    <h3 style="color: maroon;" id="VotingResultsTitlePage">Voting Results</h3>
    <div id="ValidationSummary" class="ValidationSummary" style="display:none;">
        <span style="color:red; font-size: large; margin: 2px;" id="electionErrorMessage">
          * Please Select Election 
        </span>
     </div>
    <table id="ConfigTb">
        <tr>
            <td class="td-padding">
                <p>
                    <select id="Election" name="Election"></select>
                    <span class="validationForm" id="errElection"></span>
                </p>
            </td>
        </tr>
    </table>

    <br /><br/>
 </div>

<div class="show-requests">
    <h3 style="color: maroon;margin-top:20px;" ">Voting Results List</h3>
    <table style="width:100%" id="tblRequestsList" class="table table-contact footable default footable-loaded">
    </table>
</div> 
 
 <div class="request-details" id="RequestInfo">
    <h3 style="color: maroon;margin-top:20px;" ">Votters List</h3>

     <table style="width:100%" id="tblMemberDetailsList" class="table table-contact footable default footable-loaded">
    </table>
     
    <div class="form-action d-flex d-flex-center">
        <button type="button" id="btnDetailsBack" name="btnDetailsBack" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Back</button>
    </div>
</div>

 
 
<script>
    GetElectionList();
    $('.show-requests').hide();
    $('.request-details').hide();
    $("#tblMemberDetailsList").html("");
    $("#Election").select2();

    $("#Election").change(function () {
        ResetPage();
        GetMemberList();
    });

    $("#btnDetailsBack").on("click" , function(){
        ResetPage();
    });
    
    function GetElectionList() {
        $("#Election").html("");
        $.ajax({
            url: '/Umbraco/Surface/Votting/GetElectionListForResults',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#Election").html(tbHtml);
                    $('.show-requests').show();
                }
                else 
                {
                    alert(response.error);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetMemberList() {
        $("#Requests").html("");
        $("#tblMemberDetailsList").html("");
        $("#tblRequestsList").html("Loading, Please wait...");
        var electionId = $("#Election option:selected").val();
        if (electionId == 0) 
        {
            $("#tblRequestsList").html("");
            $("#tblMemberDetailsList").html("");
            return;
        }
        var formData = new FormData();
        formData.append("electionId", electionId);
        $.ajax({
            url: "/Umbraco/Surface/Votting/GetVottingDetailsByElection",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {},
            success: function (response) {
                if (response.status == true) {
                    if (response.MemberInfo != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>First Name</th>" +
                            "<th>Middle Name</th>" +
                            "<th>Last Name</th>" +
                            "<th>Email</th>" +
                            "<th>Membership</th>" +
                            "<th>MobileNumber</th>" +
                            "<th>Country</th>" +
                            "<th>City</th>" +
                            "<th>Membership Start Date</th>" +
                            "<th>Membership End Date</th>" +
                            "<th>Is Active</th>" +
                            "<th>Votting Count</th>" +
                            "<th>Voting Details</th>" +
                            "</tr></thead>";

                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            var resulltTd = '';
                            var trStyle = '';
                            if(MemberInfo.IsWinner)
                            {
                                resulltTd = "<td> Winner </td>" ;
                                trStyle =  "style='background-color:green;'";
                            }
                            else 
                            {
                                resulltTd = "<td> Failed </td>" ;
                                trStyle =  "style='background-color:red;'";
                            }

                            tbHtml += "<tr " + trStyle + ">" +
                                "<td>" + MemberInfo.FirstName + "</td>" +
                                "<td>" + MemberInfo.MiddleName + "</td>" +
                                "<td>" + MemberInfo.LastName + "</td>" +
                                "<td>" + MemberInfo.EmailAddress + "</td>" +
                                "<td>" + MemberInfo.MembershipType + "</td>" +
                                "<td>" + MemberInfo.MobileNumber + "</td>" +
                                "<td>" + MemberInfo.Country + "</td>" +
                                "<td>" + MemberInfo.City + "</td>" +
                                "<td>" + MemberInfo.MembershipStartDate + "</td>" +
                                "<td>" + MemberInfo.MembershipEndDate + "</td>" +
                                "<td>" + MemberInfo.IsActive + "</td>" +
                                "<td>" + MemberInfo.VottingCount + "</td>";
                               if(MemberInfo.VottingCount == 0)
                               {
                                 tbHtml += " <td><a href='javascript:;'>No Votes</a></td>";
                               }
                               else {
                                tbHtml += " <td><a href='javascript:;' onClick='getDetails(\"" + MemberInfo.CandidateId + "\"  , \"" + MemberInfo.ElectionId + "\")'>Show Details</a></td>";
                               }
                            "</tr>";
                        });

                        $("#tblRequestsList").html(tbHtml);
                    }
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {
            }
        });
    }       

    function getDetails(candidateId , electionId) {
        $("#tblMemberDetailsList").html('');
        $.ajax({
            url: '/Umbraco/Surface/Votting/GetCandidateVottingInfo',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "' , candidateId:'" + candidateId + "' }",
            success: function (response) {
                if (response.status == true) {  
                    displayRequest(response);
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function displayRequest(response) {
        $("#ConfigTb").hide();
        if (response.MemberInfo != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>Member Name</th>" +
                            "<th>Voting Date </th>" +
                            "</tr></thead>";

                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            tbHtml += "<tr>" +
                                "<td>" + MemberInfo.MemberName + "</td>" +
                                "<td>" + MemberInfo.VottingDate + "</td>" +
                            "</tr>";
                        });
        }
        $("#tblMemberDetailsList").html(tbHtml);
        $('.show-requests').hide();
        $('.request-details').show();
    }

    function ResetPage(){
        $("#ConfigTb").show();
        $('.show-requests').show();
        $('.request-details').hide();
    }

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>

