﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>

<div>
    <h3 style="color: maroon; padding-left: 41px;">Harvard Course</h3>
    <div class="form-content">
        <div class="custom-radios" style="width:100%">
            <div class="col-md-6">
                <div>
                    <input type="radio" id="ResultUpdate" name="ExternalCourse" value="ResultUpdate" checked>
                    <label for="ResultUpdate">
                        <span>
                            Spoken English Pass/Fail Update
                        </span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="InterviewUpdate" name="ExternalCourse" value="InterviewUpdate">
                    <label for="InterviewUpdate">
                        <span>
                            Interview Pass/Fail Update
                        </span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="GeneratePDF" name="ExternalCourse" value="GeneratePDF">
                    <label for="GeneratePDF">
                        <span>
                           Generate PDF
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <table>
            <tr>
                <td>
                    <p style="padding-left: 27px;">
                        <select id="CourseCode" name="CourseCode" class="form-control">
                        </select>
                        <span class="validationForm" id="errCourseCode"></span>
                    </p>
                </td>
                <td>
                    <p style="padding-left: 43px;">
                        <select id="Member" name="Member" class="form-control">
                        </select>
                        <span class="validationForm" id="errMember"></span>
                    </p>
                </td>
            </tr>
        </table>
       
        <div class="form-row" id="divForm" style="padding-left: 27px;">
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" id="FirstName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" id="MiddleName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" id="LastName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" id="EmailAddress" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text" id="MobileNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>IIA Global Number</label>
                    <input type="text" id="IIAGlobalNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>National ID Number</label>
                    <input type="text" id="NationalIDNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Experience</label>
                    <input type="text" id="Experience" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>JobTitle</label>
                    <input type="text" id="JobTitle" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Organization</label>
                    <input type="text" id="Organization" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Education</label>
                    <input type="text" id="Education" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Education Certificate</label>
                    <a href="" target="_blank" id="EducationCertificate" name="EducationCertificate" class="form-control" style="color:blue;"></a>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>CIA Holder</label>
                    <input type="text" id="CIAHolder" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>CIA Holder Certificate</label>
                    <a href="" target="_blank" id="CIAHolderCertificate" name="CIAHolderCertificate" class="form-control" style="color:blue;"></a>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>English Proficiency</label>
                    <input type="text" id="EnglishProficiency" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Hold English Proficiency</label>
                    <input type="text" id="HoldEnglishProficiency" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>English Proficiency Certificate</label>
                    <a href="" target="_blank" id="EnglishProficiencyCertificate" name="EnglishProficiencyCertificate" class="form-control" style="color:blue;"></a>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Other Professional Certificates</label>
                    <div id="OtherProfessionalCertificates"></div>
                </div>
            </div>
            <div class="col-md-12 col-12" id="divStepInfo">
                <div class="form-group">
                    <h4>Step Information</h4>
                </div>
            </div>
            
            <div class="col-md-6 col-12" id="divlinkPaymentReceipt">
                <div class="form-group">
                    <label>Previously Owned English Proficiency Results</label>
                    <a href="" target="_blank" id="linkPaymentReceipt" name="linkPaymentReceipt" class="form-control" style="color:blue;"></a>
                </div>
            </div>
            <div class="col-md-6 col-12" id="divlinkResult">                
                <div class="form-group">
                    <label>New English Proficiency Results</label>
                    <a href="" target="_blank" id="linkResult" name="linkResult" class="form-control" style="color:blue;"></a>
                </div>
            </div>
            <div class="col-md-6 col-12" id="divEnglishSpokenResultScore">
                <div class="form-group">
                    <input type="text" id="EnglishSpokenResultScore" name="EnglishSpokenResultScore" placeholder="Enter Result Score" class="form-control" />
                    <span class="validationForm" id="errEnglishSpokenResultScore"></span>
                </div>
            </div>
            <div class="col-md-6 col-12" id="divIsEnglishSpokenPass">
                <div class="form-group">
                    <select id="IsEnglishSpokenPass" name="IsEnglishSpokenPass" class="form-control">
                        <option value="">Select English Spoken Pass/Fail</option>
                        <option value="Y">Pass</option>
                        <option value="N">Fail</option>
                    </select>
                    <span class="validationForm" id="errIsEnglishSpokenPass"></span>
                </div>
            </div>
            <div class="col-md-6 col-12" id="divInterviewDate">
                <div class="form-group">
                    <label>Interview Date / Time</label>
                    <input type="text" id="InterviewDate" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-6 col-12" id="divIsInterviewPass">
                <div class="form-group">
                    <select id="IsInterviewPass" name="IsInterviewPass" class="form-control">
                        <option value="">Select Interview Pass/Fail</option>
                        <option value="Y">Pass</option>
                        <option value="N">Fail</option>
                    </select>
                    <span class="validationForm" id="errIsInterviewPass"></span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <button type="button" style="display:inline;" class="btn btn-light" id="btnResultUpdate" name="btnResultUpdate">Update Spoken Pass/Fail</button>
                    <button type="button" class="btn btn-light" id="btnInterviewUpdate" style="display:inline;" name="btnInterviewUpdate">Update Interview Pass/Fail</button>
                    <button type="button" class="btn btn-light" id="btnDownloadPDF" style="display:inline;" name="btnDownloadPDF">Download PDF</button>
                </div>
            </div>

        </div>        
    </div>
</div>
<script> 
    $(document).ready(function () {
        GetCourseCode("harvard");
        GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
        DisplayVisibility($("input[name='ExternalCourse']:checked").val());

        $("#ResultUpdate").click(function () {            
            GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
            DisplayVisibility($("input[name='ExternalCourse']:checked").val());
            ClearField();
        });
        $("#InterviewUpdate").click(function () {
            GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
            DisplayVisibility($("input[name='ExternalCourse']:checked").val());
            ClearField();
        });
        $("#GeneratePDF").click(function () {
            GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
            DisplayVisibility($("input[name='ExternalCourse']:checked").val());
            ClearField();
        });

        $("#CourseCode").change(function () {
            GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
            DisplayVisibility($("input[name='ExternalCourse']:checked").val());
        });
        $("#Member").change(function () {     
            ClearField();
            GetRegistrationInfo($("#CourseCode option:selected").val(), $("#Member option:selected").val());
        });

        $("#btnResultUpdate").click(function () {
            SaveSpokenResultInfo();
        });

        $("#btnInterviewUpdate").click(function () {
            SaveInterviewInfo();
        });

        $("#btnDownloadPDF").click(function () {
            GeneratePDF();
        });

        function GetCourseCode(prefix) {
            $.ajax({
                url: '/Umbraco/Surface/AdminExternalCourse/GetCourseCode',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{prefix:'" + prefix + "'}",
                success: function (response) {
                    var tbHtml = '<option value="">Select Course Code</option>';
                    if (response.status == true) {
                        $.each(response.CourseInfo, function (i, CourseInfo) {
                            tbHtml = tbHtml + '<option value="' + CourseInfo.Value + '">' + CourseInfo.Text + '</option>';
                        });

                        $("#CourseCode").html(tbHtml);
                    }
                    else {
                        $("#CourseCode").html(tbHtml);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function GetMemberList(CourseCode, MemberFor) {
            $.ajax({
                url: '/Umbraco/Surface/AdminExternalCourse/GetMemberList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{CourseCode:'" + CourseCode + "', MemberFor:'" + MemberFor + "'}",
                success: function (response) {
                    var tbHtml = '<option value="">Select Member</option>';
                    if (response.status == true) {
                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            tbHtml = tbHtml + '<option value="' + MemberInfo.Value + '">' + MemberInfo.Text + ')</option>';
                        });

                        $("#Member").html(tbHtml);
                    }
                    else {
                        $("#Member").html(tbHtml);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function GetRegistrationInfo(CourseCode, ProfileId) {           

            if (CourseCode != '' && ProfileId != '') {
                $.ajax({
                    url: '/Umbraco/Surface/AdminExternalCourse/GetRegistrationInfo',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{CourseCode:'" + CourseCode + "', ProfileId:'" + ProfileId + "'}",
                    success: function (response) {
                        if (response.status == true) {
                            if (response.regInfo.EnglishSpokenPaymentReceipt != '') {
                                $('#linkPaymentReceipt').attr("href", "/Media/ApplicantFile/" + response.regInfo.EnglishSpokenPaymentReceipt);
                                $('#linkPaymentReceipt').html("View here");
                            }
                            else {
                                $('#linkPaymentReceipt').html("");
                            }

                            if (response.regInfo.EnglishSpokenResult != '') {
                                $('#linkResult').attr("href", "/Media/ApplicantFile/" + response.regInfo.EnglishSpokenResult);
                                $('#linkResult').html("View here");
                            }
                            else {
                                $('#linkResult').html("");
                            }
                           
                            $("#InterviewDate").val(response.regInfo.InterviewDate + " "+ response.regInfo.InterviewTime);

                            $("#FirstName").val(response.regInfo.FirstName);
                            $("#MiddleName").val(response.regInfo.MiddleName);
                            $("#LastName").val(response.regInfo.LastName);
                            $("#EmailAddress").val(response.regInfo.EmailAddress);
                            $("#MobileNumber").val(response.regInfo.MobileNumber);
                            $("#IIAGlobalNumber").val(response.regInfo.IIAGlobalNumber);
                            $("#NationalIDNumber").val(response.regInfo.NationalIDNumber);
                            $("#Experience").val(response.regInfo.Experience);
                            $("#JobTitle").val(response.regInfo.JobTitle);
                            $("#Organization").val(response.regInfo.Organization);

                            $("#Education").val(response.regInfo.Education);
                            $('#EducationCertificate').attr("href", "/Media/ApplicantFile/" + response.regInfo.EducationCertificate);
                            $('#EducationCertificate').html("View here");
                            $("#CIAHolder").val(response.regInfo.CIAHolder);
                            if (response.regInfo.CIAHolderCertificate != '') {
                                $('#CIAHolderCertificate').attr("href", "/Media/ApplicantFile/" + response.regInfo.CIAHolderCertificate);
                                $('#CIAHolderCertificate').html("View here");
                            }
                            $("#EnglishProficiency").val(response.regInfo.EnglishProficiency);
                            $("#HoldEnglishProficiency").val(response.regInfo.HoldEnglishProficiency);
                            if (response.regInfo.EnglishProficiencyCertificate != '') {
                                $('#EnglishProficiencyCertificate').attr("href", "/Media/ApplicantFile/" + response.regInfo.EnglishProficiencyCertificate);
                                $('#EnglishProficiencyCertificate').html("View here");
                            }
                            if (response.regInfo.OtherProfessionalCertificates != '') {
                                var certificates = response.regInfo.OtherProfessionalCertificates.split(",");
                                var link = "";
                                $.each(certificates, function (i, p) {
                                    link = link + '<a target="_blank" href="/Media/ApplicantFile/' + p + '">View here</a> / ';                                    
                                });

                                if (link != "") {
                                    link = link.substring(0, link.length - 2);
                                }

                                $("#OtherProfessionalCertificates").append(link);
                            }
                        }
                        else {

                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        }

        function DisplayVisibility(option) {
            if (option == "ResultUpdate") {
                $('#divStepInfo').css('display', 'block');
                $('#divlinkPaymentReceipt').css('display', 'block');
                $('#divlinkResult').css('display', 'block');
                $('#divEnglishSpokenResultScore').css('display', 'block');
                $('#divIsEnglishSpokenPass').css('display', 'block');
                $('#btnResultUpdate').css('display', 'block');
                $('#divInterviewDate').css('display', 'none');
                $('#divIsInterviewPass').css('display', 'none');
                $('#btnInterviewUpdate').css('display', 'none');
                $('#btnDownloadPDF').css('display', 'none');
            }
            else if (option == "InterviewUpdate") {
                $('#divStepInfo').css('display', 'block');
                $('#divlinkPaymentReceipt').css('display', 'none');
                $('#divlinkResult').css('display', 'none');
                $('#divEnglishSpokenResultScore').css('display', 'none');
                $('#divIsEnglishSpokenPass').css('display', 'none');
                $('#btnResultUpdate').css('display', 'none');
                $('#divInterviewDate').css('display', 'block');
                $('#divIsInterviewPass').css('display', 'block');
                $('#btnInterviewUpdate').css('display', 'block');
                $('#btnDownloadPDF').css('display', 'none');
            }
            else if (option == "GeneratePDF") {
                $('#divStepInfo').css('display', 'none');
                $('#divlinkPaymentReceipt').css('display', 'none');
                $('#divlinkResult').css('display', 'none');
                $('#divEnglishSpokenResultScore').css('display', 'none');
                $('#divIsEnglishSpokenPass').css('display', 'none');
                $('#btnResultUpdate').css('display', 'none');
                $('#divInterviewDate').css('display', 'none');
                $('#divIsInterviewPass').css('display', 'none');
                $('#btnInterviewUpdate').css('display', 'none');
                $('#btnDownloadPDF').css('display', 'block');
            }
        }

        function SaveSpokenResultInfo() {
            if (SpokenResultValidation() == false) {
                var formData = new FormData();
                formData.append("EnglishSpokenResultScore", $("#EnglishSpokenResultScore").val());
                formData.append("IsEnglishSpokenPass", $("#IsEnglishSpokenPass option:selected").val());
                formData.append("CourseCode", $("#CourseCode option:selected").val());   
                formData.append("ProfileId", $("#Member option:selected").val());   
                $.ajax({
                    url: "/Umbraco/Surface/AdminExternalCourse/SaveSpokenResultInfo",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {   
                            ClearField();
                            GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
                            AlertMessage("Information has been updated and email has been sent to selected member");
                        }
                        else {                           
                            alert(response.message);
                        }
                    },
                    error: function (request, error) {                        
                    }
                });

               
            }
        }

        function SaveInterviewInfo() {
            if (InterviewValidation() == false) {
                var formData = new FormData();                
                formData.append("IsInterviewPass", $("#IsInterviewPass option:selected").val());
                formData.append("CourseCode", $("#CourseCode option:selected").val());
                formData.append("ProfileId", $("#Member option:selected").val());  
                $.ajax({
                    url: "/Umbraco/Surface/AdminExternalCourse/SaveInterviewInfo",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            ClearField();
                            GetMemberList($("#CourseCode option:selected").val(), $("input[name='ExternalCourse']:checked").val());
                            AlertMessage("Information has been updated and email has been sent to selected member");
                        }
                        else {
                            alert(response.message);
                        }
                    },
                    error: function (request, error) {
                    }
                });
            }
        }

        function GeneratePDF() {
            if (PDFValidation() == false) {
                window.location = "/Umbraco/Surface/AdminExternalCourse/GeneratePDF?courseCode=" + $("#CourseCode option:selected").val() + "&proId=" + $("#Member option:selected").val();
                //var formData = new FormData();               
                //formData.append("courseCode", $("#CourseCode option:selected").val());
                //formData.append("proId", $("#Member option:selected").val());
                //$.ajax({
                //    url: "/Umbraco/Surface/AdminExternalCourse/GeneratePDF",
                //    type: 'POST',
                //    cache: false,
                //    contentType: false,
                //    processData: false,
                //    data: formData,
                //    beforeSend: function () {
                       
                //    },
                //    //success: function (response) {
                //    //    //alert("success");
                //    //    ////Convert Base64 string to Byte Array.
                //    //    //var bytes = Base64ToBytes(r.d);
                //    //    //var fileName = "test.pdf";
                //    //    ////Convert Byte Array to BLOB.
                //    //    //var blob = new Blob([bytes], { type: "application/octetstream" });
                //    //    //alert(blob);
                //    //    ////Check the Browser type and download the File.
                //    //    //var isIE = false || !!document.documentMode;
                //    //    //if (isIE) {
                //    //    //    window.navigator.msSaveBlob(blob, fileName);
                //    //    //} else {
                //    //    //    var link = document.createElement('a');
                //    //    //    link.href = window.URL.createObjectURL(blob);
                //    //    //    link.download = "test.pdf";
                //    //    //    link.click();
                //    //    //}
                //    //},
                //    success: function (response) {
                //        alert(response);
                //        //var headers = response.getAllResponseHeaders();
                //        var blob = new Blob([response.data], { type: "application/octetstream" })
                //        var link = document.createElement('a');
                //        link.href = window.URL.createObjectURL(blob);
                //        link.download = "test.pdf";
                //        link.click();
                //    },
                //    error: function (request, error) {
                //        alert(error);
                //    }
                //});
            }
        }

        function ClearField() {
            $('#linkPaymentReceipt').attr("href", "javascript:;");
            $('#linkResult').attr("href", "javascript:;");
            $("#EnglishSpokenResultScore").val("");
            $("#IsEnglishSpokenPass").val("");
            $("#InterviewDate").val("");
            $("#IsInterviewPass").val("");
            $('#linkPaymentReceipt').html("");
            $('#linkResult').html("");

            $("#FirstName").val("");
            $("#MiddleName").val("");
            $("#LastName").val("");
            $("#EmailAddress").val("");
            $("#MobileNumber").val("");
            $("#IIAGlobalNumber").val("");
            $("#NationalIDNumber").val("");
            $("#Experience").val("");
            $("#JobTitle").val("");
            $("#Organization").val("");

            $("#Education").val("");
            $('#EducationCertificate').html("");
            $("#CIAHolder").val("");
            $('#CIAHolderCertificate').html("");
            $("#EnglishProficiency").val("");
            $("#HoldEnglishProficiency").val("");
            $('#EnglishProficiencyCertificate').html("");
            $("#OtherProfessionalCertificates").html("");
        }

        function AlertMessage(message) {
            if (message != null && message != "") {
                swal({
                    title: "",
                    text: message,
                    type: "error",
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok'
                },
                    function (isConfirm) {
                        if (isConfirm) {

                        }
                    });
            }
        }

        function SpokenResultValidation() {
            $(".validationForm").hide();
            var hasError = false;           
            if ($("#Member option:selected").val() == '') {
                $("#errMember").html("Please select member").show();
                $("#Member").focus();
                hasError = true;
            }           
            if ($("#EnglishSpokenResultScore").val() == '') {
                $("#errEnglishSpokenResultScore").html("Please enter result score").show();
                $("#EnglishSpokenResultScore").focus();
                hasError = true;
            }
            if ($("#IsEnglishSpokenPass option:selected").val() == '') {
                $("#errIsEnglishSpokenPass").html("Please select spoken pass/fail status").show();
                $("#IsEnglishSpokenPass").focus();
                hasError = true;
            } 
            return hasError;
        }

        function InterviewValidation() {
            $(".validationForm").hide();
            var hasError = false;
            if ($("#Member option:selected").val() == '') {
                $("#errMember").html("Please select member").show();
                $("#Member").focus();
                hasError = true;
            }           
            if ($("#IsInterviewPass option:selected").val() == '') {
                $("#errIsInterviewPass").html("Please select interview pass/fail status").show();
                $("#IsInterviewPass").focus();
                hasError = true;
            }
            return hasError;
        }

        function PDFValidation() {
            $(".validationForm").hide();
            var hasError = false;
            if ($("#Member option:selected").val() == '') {
                $("#errMember").html("Please select member").show();
                $("#Member").focus();
                hasError = true;
            }            
            return hasError;
        }

        function Base64ToBytes(base64) {
            var s = window.atob(base64);
            var bytes = new Uint8Array(s.length);
            for (var i = 0; i < s.length; i++) {
                bytes[i] = s.charCodeAt(i);
            }
            return bytes;
        }

    });
</script>

<script>
    $(document).ready(function () {
        $("#Member").select2();   
    });
</script>

