﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<div>
    <h3 style="color: maroon; padding-left: 41px;">Non Member Active/Inactive</h3>
    <table>
        <tr>
            <td>
                <p style="padding-left: 43px;">
                    <select id="Status" name="Status">
                        <option value="">Select Status</option>
                        <option value="true">Active</option>
                        <option value="false" selected="selected">Inactive</option>
                    </select>
                </p>

            </td>
            <td>
                <p style="padding-left: 43px;">
                    <select id="Member" name="Member">
                    </select>
                    <span class="validationForm" id="errMember"></span>
                </p>
            </td>
        </tr>
    </table>
    <br /><br />
          <div class="form-row">
              <div class="col-md-4 col-12">
                  <div class="form-group">
                      <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="First Name" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-4 col-12">
                  <div class="form-group">
                      <input type="text" name="MiddleName" id="MiddleName" class="form-control" placeholder="Middle Name" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-4 col-12">
                  <div class="form-group">
                      <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Last Name" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-12 col-12">
                  <div class="form-group">
                      <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="Email Address" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-6 col-12">
                  <div class="form-group">
                      <input type="text" name="MembershipType" id="MembershipType" class="form-control" placeholder="Member Type" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-6 col-12">
                  <div class="form-group">
                      <input type="text" name="Country" id="Country" class="form-control" placeholder="Country" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-6 col-12" style="display:none;">
                  <div class="form-group">
                      <input type="text" name="IIAKSANumber" id="IIAKSANumber" class="form-control" placeholder="IIA KSA Number" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-6 col-12">
                  <div class="form-group">
                      <input type="text" name="MobileNumber" id="MobileNumber" class="form-control" placeholder="Mobile Number" readonly="readonly">
                  </div>
              </div>
              <div class="col-md-6 col-12">
                  <div class="form-group">
                      <button type="button" class="btn btn-light" id="btnActive" style="display:inline;" name="btnActive">Make Active</button>
                      <button type="button" class="btn btn-light" id="btnInActive" name="btnInActive" style="display:none;">Make Inactive</button>
                      <button type="button" class="btn btn-light" id="btnDelete" name="btnDelete">Delete</button>
                  </div>
              </div>
          </div>

    <!--<p style="padding-left: 43px;"><button class="btn btn-primary" ng-click="clickMe()">Export</button></p>-->
</div>
<script>
    $("#Member").select2();
    GetMemberList($("#Status option:selected").val());
    $("#Status").change(function () {
        ClearField();
        GetMemberList($("#Status option:selected").val());
        if ($("#Status option:selected").val() == "true") {
            $("#btnActive").css("display", "none");
            $("#btnInActive").css("display", "inline");
        }
        else {
            $("#btnActive").css("display", "inline");
            $("#btnInActive").css("display", "none");
        }
    });
    $("#Member").change(function () {
        GetMemberInfo($("#Member option:selected").val());
    });
    $("#btnActive").on("click", function () {
        if (CheckValidation() == false) {
            ActiveInactive($("#Member option:selected").val(), "true");
        }
    });
    $("#btnInActive").on("click", function () {
        if (CheckValidation() == false) {
            ActiveInactive($("#Member option:selected").val(), "false");
        }
    });

    $("#btnDelete").on("click", function () {
        if (CheckValidation() == false) {
            var result = confirm("Are you sure you want to delete this non member?");
            if (result) {
                $.ajax({
                    url: '/Umbraco/Surface/Admin/DeleteNonMemberById',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{profileId:'" + $("#Member option:selected").val() + "'}",
                    success: function (response) {
                        if (response.status == true) {
                            GetMemberList($("#Status option:selected").val());
                            ClearField();
                            AlertMessage("Non Member has been deleted successfully!");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        } 
    });

    function GetMemberList(status) {
        $("#Member").html('<option value="">Loading, please wait</option>');
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetNonMemberList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{status:'" + status + "'}",
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="">Select Member</option>';
                    $.each(response.MemberInfo, function (i, MemberInfo) {
                        tbHtml = tbHtml + '<option value="' + MemberInfo.ProfileId + '">' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + ' (' + MemberInfo.EmailAddress + ')</option>';
                    });

                    $("#Member").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function GetMemberInfo(profileId) {
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetMemberByID',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{profileId:'" + profileId + "'}",
            success: function (response) {
                if (response.status == true) {
                    $("#MembershipType").val(response.MemberInfo.MembershipType);
                    $("#Country").val(response.MemberInfo.City + ', ' + response.MemberInfo.Country);
                    $("#IIAKSANumber").val(response.MemberInfo.IIAKSANumber);
                    $("#MobileNumber").val(response.MemberInfo.MobileNumber);
                    $("#FirstName").val(response.MemberInfo.FirstName);
                    $("#MiddleName").val(response.MemberInfo.MiddleName);
                    $("#LastName").val(response.MemberInfo.LastName);
                    $("#EmailAddress").val(response.MemberInfo.EmailAddress);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function CheckValidation() {
        $(".validationForm").hide();
        var hasError = false;
        if ($("#Member option:selected").val() == '') {
            $("#errMember").html("Please select member").show();
            $("#Member").focus();
            hasError = true;
        }        

        return hasError;
    }
    function ActiveInactive(profileId, status) {
        $.ajax({
            url: '/Umbraco/Surface/Admin/ActiveInactiveNonMember',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{profileId:'" + profileId + "', status:'" + status + "'}",
            success: function (response) {
                if (response.status == true) {
                    if (status == "true") {
                        AlertMessage("Selected member has been activated successfully and email has been sent to member!");
                    }
                    else {
                        AlertMessage("Selected member has been inactive successfully!");
                    }
                    GetMemberList($("#Status option:selected").val());

                    ClearField();
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    function ClearField() {
        $("#MembershipType").val("");
        $("#Country").val("");
        $("#IIAKSANumber").val("");
        $("#MobileNumber").val("");
        $("#FirstName").val("");
        $("#MiddleName").val("");
        $("#LastName").val("");
        $("#EmailAddress").val("");
    }

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>
