﻿@using CMS.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    int ProfileId = int.Parse(Model.MacroParameters["ProfileId"].ToString());

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
<input type="hidden" id="hdnProfileId" value="@ProfileId" />
<div class="modal-content">
    <div class="modal-body form-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="container-fluid">
            <div class="row">               
                <div class="col-12">
                    <div class="form-content">
                        <h2>@Umbraco.GetDictionaryValue("Change Password")</h2>
                        <p></p>
                        <div class="form-group">
                            <input type="password" name="OldPassword" id="OldPassword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Old Password")">
                            <span class="validationForm" id="errOldPassword"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("New Password")">
                            <span class="validationForm" id="errNewPassword"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Confirm New Password")">
                            <span class="validationForm" id="errConfirmPassword"></span>
                        </div>                       
                        <div class="form-action">
                            <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("oldPassword", $("#OldPassword").val());
                formData.append("newPassword", $("#NewPassword").val());
                $.ajax({
                    url: "/Umbraco/Surface/Dashboard/ChangePassword",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Password_Update_Success")');
                            $("#NewPassword").val("");
                            $("#OldPassword").val("");
                            $("#ConfirmPassword").val("");
                        }
                        else {
                            AlertMessage('@Umbraco.GetDictionaryValue("OLD_Password_Wrong")');
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        $("#NewPassword").on("change keyup", function () {
            if ($('#NewPassword').val() != "") {
                var passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-_$@@!%*?&])[A-Za-z\d-_$@@!%*?&]{8,}/;
                if (!passReg.test($('#NewPassword').val())) {
                    $("#errNewPassword").html("The password must contain the following: At least 8 characters, at least 1 upper case, 1 lower case, 1 number, and 1 special character. Special char only accepts -_$@@!%*?&").show();
                    $("#NewPassword").focus();
                }
                else {
                    $('#errNewPassword').html("").hide();
                }
            }
        });


        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-_$@@!%*?&])[A-Za-z\d-_$@@!%*?&]{8,}/;

            if ($("#OldPassword").val() == '') {
                $("#errOldPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Old_Password")").show();
                $("#OldPassword").focus();
                hasError = true;
            }

            if ($("#NewPassword").val() == '') {
                $("#errNewPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_New_Password")").show();
                $("#NewPassword").focus();
                hasError = true;
            }
            else if (!passReg.test($("#NewPassword").val())) {
                $("#errNewPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_Requirement")").show();
                $("#NewPassword").focus();
                hasError = true;
            }

            if ($("#ConfirmPassword").val() != $("#NewPassword").val()) {
                $("#errConfirmPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_NotMatch")").show();
                $("#ConfirmPassword").focus();
                hasError = true;
            }

            return hasError;
        }
    });


</script>