﻿@using CMS.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string parmContactType = Model.MacroParameters["ContactType"].ToString();
    int parmPageId = int.Parse(Model.MacroParameters["PageId"].ToString());

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
<input type="hidden" id="hdnDPageId" value="@parmPageId" />
<input type="hidden" id="hdnDContactType" value="@parmContactType" />
<input type="hidden" id="lang" value="@lang" />
<div class="modal-content">
    <div class="modal-body form-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 text-center left-bg">
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="form-content">
                        <h2>@Umbraco.GetDictionaryValue("Download Brochure")</h2>
                        <p></p>
                        <div class="form-group">
                            <input type="text" name="DFirstName" id="DFirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                            <span class="validationForm" id="errDFirstName"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="DLastName" id="DLastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                            <span class="validationForm" id="errDLastName"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="DEmailAddress" id="DEmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                            <span class="validationForm" id="errDEmailAddress"></span>
                        </div>

                        <div class="form-group">
                            <input type="number" name="DContactNo" id="DContactNo" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Contact No")">
                            <span class="validationForm" id="errDContactNo"></span>
                        </div>

                        <div class="form-group">
                            <textarea name="DMessage" id="DMessage" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Enter your message here")"></textarea>
                            <span class="validationForm" id="errDMessage"></span>
                        </div>
                        <div id="DgCaptcha">
                        </div>
                        <span class="validationForm" id="errDCaptcha"></span>
                        <div class="form-action">
                            <button type="button" id="btnDSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnDSubmit").on("click", function () {
            if (DCheckValidation() == false) {
                var formData = new FormData();
                formData.append("FirstName", $("#DFirstName").val());
                formData.append("LastName", $("#DLastName").val());
                formData.append("EmailAddress", $("#DEmailAddress").val());
                formData.append("ContactNo", $("#DContactNo").val());
                formData.append("Message", $("#DMessage").val());
                formData.append("ContactType", $("#hdnDContactType").val());
                formData.append("PageId", $("#hdnDPageId").val());
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/Contact/DownloadBrochure",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Download_Brochure")');
                            $("#DFirstName").val("");
                            $("#DLastName").val("");
                            $("#DEmailAddress").val("");
                            $("#DContactNo").val("");
                            $("#DMessage").val("");
                        }
                        else {
                            AlertMessage("Error in submission, please try again!");
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });
        function DCheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

           if ($("#DFirstName").val() == '') {
               $("#errDFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
               $("#DFirstName").focus();
                hasError = true;
            }

            if ($("#DLastName").val() == '') {
                $("#errDLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#DLastName").focus();
                hasError = true;
            }

            if ($("#DEmailAddress").val() == '') {
                $("#errDEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#DEmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#DEmailAddress").val())) {
                $('#errDEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#DEmailAddress").focus();
                hasError = true;
            }

            if ($("#DContactNo").val() == '') {
                $("#errDContactNo").html("@Umbraco.GetDictionaryValue("Validation_Error_ContactNo")").show();
                $("#DContactNo").focus();
                hasError = true;
            }

            if ($("#DMessage").val() == '') {
                $("#errDMessage").html("@Umbraco.GetDictionaryValue("Validation_Error_Message")").show();
                $("#DMessage").focus();
                hasError = true;
            }

            var DgoogleResponse = grecaptcha.getResponse(1);
            if (DgoogleResponse.length === 0) {
                $("#errDCaptcha").html("@Umbraco.GetDictionaryValue("Validation_Error_Captcha")").show();
                hasError = true;
            }

            return hasError;
        }
    });


</script>

