﻿@using CMS.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    int ProfileId = int.Parse(Model.MacroParameters["ProfileId"].ToString());
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
    <div class="modal fade custom-modal" id="graduateBio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <h1>@ProfileId.ToString()</h1>
        <div class="modal-dialog  modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-12 text-center">
                                <img src="/ui/media/images/media-center/Rectangle Copy 7.png" class="img-fluid" alt="user">
                                <a href="#" class="btn btn-light">Contact Candidate</a>
                            </div>
                            <div class="col-lg-8 col-12">
                                <h2>Full Name</h2>
                                <h3>Digital Marketing Coordinator at Company Name</h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <h3>Location</h3>
                                        <div class="right-side">
                                            Riyadh, Kingdom of Saudi Arabia
                                        </div>
                                    </li>
                                    <li>
                                        <h3>Qualifications</h3>
                                        <div class="right-side">
                                            Bachelor's Degree
                                        </div>
                                    </li>
                                    <li>
                                        <h3>Completed Courses</h3>
                                        <div class="right-side">
                                            <p>The Certified Government Auditing</p>
                                            <p> Certified Professional Environmental Auditor </p>
                                        </div>
                                    </li>
                                    <li>
                                        <h3>Professional Bio</h3>
                                        <div class="right-side">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>