﻿@using CMS.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string PostType = Model.MacroParameters["PostType"].ToString();

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<style>
    .sweet-alert button.cancel {
        background-color: #C1C1C1 !important;
        display: inline !important;
    }
</style>

<input type="hidden" id="hdnPostType" value="@PostType" />
<input type="hidden" id="lang" value="@lang" />

<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h1>@pageContent.GetPropertyValue("title")</h1>
                        @Html.Raw(@pageContent.GetPropertyValue("details"))
                    </div>
                </div>
                <div class="col-12">
                    <form action="">
                        <div class="form-content">
                            <div class="form-group">
                                <div class="upload-file">
                                    <div class="custom-file">
                                        <input class="custom-file-input" type="file" id="BannerImage" name="BannerImage">
                                        <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Add Banner Image (Optional)")</label>
                                        <div class="row-action text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="JobTitle" id="JobTitle" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title")">
                                <span class="validationForm" id="errJobTitle"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Company" id="Company" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Company")">
                                <span class="validationForm" id="errCompany"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Location" id="Location" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Location")">
                                <span class="validationForm" id="errLocation"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-select-field">
                                    <select name="Tenure" id="Tenure" class="form-control">
                                        <option value="" disabled selected>@Umbraco.GetDictionaryValue("Tenure")</option>
                                        <option value="Full Time">@Umbraco.GetDictionaryValue("Full Time")</option>
                                        <option value="Part Time">@Umbraco.GetDictionaryValue("Part Time")</option>
                                    </select>
                                    <span class="validationForm" id="errTenure"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="JobDescription" id="JobDescription" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Description")"></textarea>
                                <span class="validationForm" id="errJobDescription"></span>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <textarea name="JobResponsibilities" id="JobResponsibilities" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Responsibilities")"></textarea>
                                        <span class="validationForm" id="errJobResponsibilities"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 upload-bg">
                                    <div class="form-group">
                                        <div class="upload-file">
                                            <div class="custom-file">
                                                <input class="custom-file-input" type="file" id="BackgroundImage" name="BackgroundImage">
                                                <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Add Background Image (Optional)")</label>
                                                <div class="row-action text-right">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Post")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="body-content row current-jop">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>@Umbraco.GetDictionaryValue("Current Job Listing")</h2>
                    </div>
                </div>
            </div>

            <div class="row list-info">
                <ul class="list-unstyled col-12" id="listPost">
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                var BannerImage = document.getElementById("BannerImage").files[0];
                var BackgroundImage = document.getElementById("BackgroundImage").files[0];
                formData.append("BannerImage", BannerImage);
                formData.append("BackgroundImage", BackgroundImage);
                formData.append("JobTitle", $("#JobTitle").val());
                formData.append("Company", $("#Company").val());
                formData.append("Location", $("#Location").val());
                formData.append("Tenure", $("#Tenure option:selected").val());
                formData.append("JobDescription", $("#JobDescription").val());
                formData.append("JobResponsibilities", $("#JobResponsibilities").val());
                formData.append("PostType", $("#hdnPostType").val());
                formData.append("lang", $("#lang").val());

                $.ajax({
                    url: "/Umbraco/Surface/Dashboard/PostJobInternship",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Post_Added_Success")');
                            GetJobInternship($("#hdnPostType").val());
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;

            if ($("#JobTitle").val() == '') {
                $("#errJobTitle").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Job_Title")").show();
                $("#JobTitle").focus();
                hasError = true;
            }

            if ($("#Company").val() == '') {
                $("#errCompany").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Company")").show();
                $("#Company").focus();
                hasError = true;
            }

            if ($("#Location").val() == '') {
                $("#errLocation").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Location")").show();
                $("#Location").focus();
                hasError = true;
            }

            if ($("#Tenure option:selected").val() == '') {
                $("#errTenure").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Tenure")").show();
                $("#Tenure").focus();
                hasError = true;
            }
            if ($("#JobDescription").val() == '') {
                $("#errJobDescription").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Job_Description")").show();
                $("#JobDescription").focus();
                hasError = true;
            }
            if ($("#JobResponsibilities").val() == '') {
                $("#errJobResponsibilities").html("@Umbraco.GetDictionaryValue("Validation_Error_Post_Job_Responsibility")").show();
                $("#JobResponsibilities").focus();
                hasError = true;
            }

            return hasError;
        }
    });

    GetJobInternship($("#hdnPostType").val());

    function GetJobInternship(PostType) {
        $("#listPost").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/GetJobInternship',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{PostType:'" + PostType + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        $.each(response.availablePost, function (i, postItem) {

                            tbHtml+='<li>' +
                                '<span class="left-side">@Umbraco.GetDictionaryValue("Date Posted") : ' + postItem.strDatePosted+'</span>' +
                                '<span class="right-side">  ' +
                                '' + postItem.JobTitle +''+
                                '<a href="/@lang/my-account/edit-post/?postId=' + postItem.PostId + '">@Umbraco.GetDictionaryValue("Edit")</a> <a href="javascript:;" onClick="Remove(' + postItem.PostId  +')">@Umbraco.GetDictionaryValue("Remove")</a>' +
                                '</span>' +
                                '</li>';

                        });

                        $("#listPost").html(tbHtml);
                    }
                    else {

                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    function Remove(postId) {
        var message = "@Umbraco.GetDictionaryValue("Do_you_want_to_Remove_Post")";
        ConfirmMRemove(message, postId);
    }

    function ConfirmMRemove(message, postId) {
        if (message != null && message != "") {
            swal({
                title: "@Umbraco.GetDictionaryValue("Are_you_sure?")",
                text: message,
                icon: "warning",
                confirmButtonColor: '#00a4be',
                cancelButtonColor: '#C1C1C1',
                cancelButtonText: '@Umbraco.GetDictionaryValue("No")',
                confirmButtonText: '@Umbraco.GetDictionaryValue("Yes")',
            },
                function (isConfirm) {
                    if (isConfirm) {
                        RemovePost(postId);
                    }
                    else {

                    }
                });
        }
    }

    function RemovePost(postId) {
        $.ajax({
            url: '/Umbraco/Surface/Dashboard/RemovePost',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{postId:'" + postId + "', lang:'" + $("#lang").val() + "'}",
            success: function (response) {
                if (response.status == true) {
                    AlertMessage("@Umbraco.GetDictionaryValue("Post_Remove_Success")");
                    GetJobInternship($("#hdnPostType").val());
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                AlertMessage(response.responseText);
            },
            error: function (response) {
                AlertMessage(response.responseText);
            }
        });
    }

</script>
<script>
    // Upload file
    $(document).ready(function () {
        $('.custom-file-input').on('change', function (event) {
            var files = event.target.files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
    });
</script>
