﻿@using CMS.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    int courseId = int.Parse(Model.MacroParameters["courseId"].ToString());
    int isHeadingShow = int.Parse(Model.MacroParameters["isHeadingShow"].ToString());
    string coursePage = Model.MacroParameters["coursePage"].ToString();

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var TrainingId = lang == "en" ? "1924" : "2555";
    var pageContent = Umbraco.TypedContent(TrainingId);

}

<input type="hidden" id="lang" value="@lang" />
<input type="hidden" id="hdnCourseId" value="@courseId" />
<input type="hidden" id="hdnCoursePage" value="@coursePage" />
<!-- Start Search table-->
<section class="search-table" data-aos="fade-in" data-aos-offset="" data-aos-duration="1500" data-aos-delay="300" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
    <div class="container">
        @if (isHeadingShow == 1)
        {
        <h2 class="header-title">@pageContent.GetPropertyValue("title")</h2>
        }
        <p class="paragraph-title">@Html.Raw(@pageContent.GetPropertyValue("description"))</p>
    </div>
    <div class="container-fluid padd-0" >
        <div class="table-title">@Umbraco.GetDictionaryValue("Search_for_Available_Trainings")</div>
        <div class="row margin-0">
            <div class="col-lg-3 col-md-4 col-12 left-side">
                <h3>@Umbraco.GetDictionaryValue("Filter by")</h3>
                <form action="">
                    <ul class="list-unstyled parent-list">
                        <li class="list-field">
                            <a data-toggle="collapse" class="collapsed link-header" href="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseCategory">
                                @Umbraco.GetDictionaryValue("Category")
                            </a>
                            <div class="collapse" id="collapseCategory">
                                <div class="card card-body">
                                   
                                        <select id="CourseCategory">
                                            <option value="">@Umbraco.GetDictionaryValue("Select_Category")</option>
                                        </select>                                  
                                   
                                </div>
                            </div>
                        </li>


                        <li class="list-field">
                            <a data-toggle="collapse" class="collapsed link-header" href="#collapseCourse" role="button" aria-expanded="false" aria-controls="collapseCourse">
                               @Umbraco.GetDictionaryValue("Main Course")
                            </a>
                            <div class="collapse" id="collapseCourse">
                                <div class="card card-body">
                                   
                                        <select id="Course">
                                            <option value="">@Umbraco.GetDictionaryValue("Select_Course")</option>
                                        </select>
                                   
                                </div>
                            </div>
                        </li>

                        <li class="list-field">
                            <a data-toggle="collapse" class="collapsed link-header" href="#collapseLevel" role="button" aria-expanded="false" aria-controls="collapseLevel">
                                @Umbraco.GetDictionaryValue("Level")
                            </a>
                            <div class="collapse" id="collapseLevel">
                                <div class="card card-body" id="divLevel">
                                   
                                </div>
                            </div>
                        </li>

                        <li class="list-field">
                            <a data-toggle="collapse" class="collapsed link-header" href="#collapseMethod" role="button" aria-expanded="false" aria-controls="collapseMethod">
                                @Umbraco.GetDictionaryValue("Study Methods")
                            </a>
                            <div class="collapse" id="collapseMethod">
                                <div class="card card-body">
                                    <select id="StudyMethods">
                                        <option value="">@Umbraco.GetDictionaryValue("Select_Study_Methods")</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="list-field">
                            <a data-toggle="collapse" class="collapsed link-header" href="#collapsedates" role="button" aria-expanded="false" aria-controls="collapsedates">
                                @Umbraco.GetDictionaryValue("Training Dates (Month)")
                            </a>
                            <div class="collapse" id="collapsedates">
                                <div class="card card-body">                                   
                                        <select id="Month">
                                            <option value="">@Umbraco.GetDictionaryValue("Select_Training_Dates")</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>                                   
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="rest-btn" id="btnReset">
                        @Umbraco.GetDictionaryValue("Reset Filter")
                    </button>
                    <div class="filter-trainings">
                        <button type="button" class="btn-filter btn btn-light" id="btnFilter">
                            @Umbraco.GetDictionaryValue("Apply Filter")
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-9 col-md-8 col-12 right-side">
                <div class="table-responsive">
                    <table class="table" id="tbCalendar">
                        @*<thead>
                            <tr>
                                <th scope="col">Main Course</th>
                                <th scope="col">Level</th>

                                <th scope="col">Dates</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Study Method</th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                            </tr>
                            <tr class="sub-th">
                                <th scope="col"></th>

                                <th scope="col"></th>

                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Duration</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>*@
                        @*<tbody>
                            <tr class="tr-line"><td colspan="8"></td></tr>
                            <tr class="tr-padd"><td colspan="8"></td></tr>
                            <tr>
                                <td class="td-light text-color">CIA Program</td>
                                <td class="td-light">Level 1</td>
                            0
                                <td class="td-bg">April 2021</td>
                                <td class="td-bg">May 2021</td>
                                <td class="td-bg">6</td>
                                <td class="td-bg">Live Online</td>
                                <td class="td-bg">$100</td>
                                <td class="td-bg"><button class="btn btn-default"><span>Add to Cart</span> <i class="far fa-plus"></i></button></td>
                            </tr>
                            <tr>
                                <td class="td-light text-color"></td>
                                <td class="td-light"></td>

                                <td class="td-bg">April 2021</td>
                                <td class="td-bg">May 2021</td>
                                <td class="td-bg">7 days</td>
                                <td class="td-bg">Classroom</td>
                                <td class="td-bg">$100</td>
                                <td class="td-bg"><button class="btn btn-default"><span>Add to Cart</span> <i class="far fa-plus"></i></button></td>
                            </tr>
                            <tr>
                                <td class="td-light text-color"></td>
                                <td class="td-light"></td>

                                <td class="td-bg">April 2021</td>
                                <td class="td-bg">May 2021</td>
                                <td class="td-bg">7 days</td>
                                <td class="td-bg">On-Site Training</td>
                                <td class="td-bg">$100</td>
                                <td class="td-bg"><button class="btn btn-default"><span>Add to Cart</span> <i class="far fa-plus"></i></button></td>
                            </tr>
                        </tbody>*@
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Exam scoring -->
<script>

    GetCourseCategory($("#lang").val());
    $("#CourseCategory").change(function () {
        if ($("#CourseCategory option:selected").val() != "") {
            GetCourse($("#lang").val(), $("#CourseCategory option:selected").val());
        }
        else {
            $("#Course").html('<option value="">@Umbraco.GetDictionaryValue("Select_Course")</option>');
            $("#divLevel").html("");
        }
    });
    $("#Course").change(function () {
        if ($("#Course option:selected").val() != "") {
            GetLevel($("#lang").val(), $("#Course option:selected").val());
        }
        else {
            $("#divLevel").html("");
        }
    });
    StudyMethods($("#lang").val());


    function GetCourseCategory(lang) {
        $("#CourseCategory").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Calendar/GetCourseCategory',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "'}",
                success: function (response) {
                    $("#CourseCategory").append('<option value="">@Umbraco.GetDictionaryValue("Select_Category")</option>');
                    $.each(response.CourseCategory, function (i, p) {
                        $("#CourseCategory").append('<option value="' + p.Value + '">' + p.Text + '</option>');
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    }

    function GetCourse(lang, courseCategoryId) {
        $("#Course").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Calendar/GetCourse',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "', courseCategoryId:" + courseCategoryId + "}",
                success: function (response) {
                    $("#Course").append('<option value="">@Umbraco.GetDictionaryValue("Select_Course")</option>');
                    $.each(response.Courses, function (i, p) {
                        $("#Course").append('<option value="' + p.Value + '">' + p.Text + '</option>');
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    }

    function GetLevel(lang, courseId) {
        $("#divLevel").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Calendar/GetLevel',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "', courseId:" + courseId + "}",
                success: function (response) {
                    $.each(response.Level, function (i, p) {
                        $("#divLevel").append("<div class='form-group'><input id='level-" + i + "' type='checkbox' name='level' class='checkbox-template' value='" + p.Value +"'><label for='level-" + i + "'> "+p.Text+"</label></div>")
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    }

    function StudyMethods(lang) {
        $("#StudyMethods").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Calendar/StudyMethods',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "'}",
                success: function (response) {
                    $("#StudyMethods").append('<option value="">@Umbraco.GetDictionaryValue("Select_Study_Methods")</option>');
                    $.each(response.StudyMethods, function (i, p) {
                        $("#StudyMethods").append('<option value="' + p.Value + '">' + p.Text + '</option>');
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    }

    if ($("#hdnCourseId").val() != 0) {
        GetCalendarList($("#lang").val(), "", $("#hdnCourseId").val(), "", "", "", $("#hdnCoursePage").val());
    }
    else {
        GetCalendarList($("#lang").val(), "", "", "", "", "", $("#hdnCoursePage").val());
    }

    function GetCalendarList(lang, courseCategoryId, courseId, levelId, studyMethodId, month, coursePage) {
        $("#tbCalendar").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Calendar/GetCalendarList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "', courseCategoryId:'" + courseCategoryId + "', courseId:'" + courseId + "', levelId:'" + levelId + "', studyMethodId:'" + studyMethodId + "', month:'" + month + "', coursePage:'" + coursePage + "'}",
                success: function (response) {
                    var tbHtml = "";
                    tbHtml+="<thead>";
                    tbHtml+="<tr>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Main Course")</th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Level")</th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Dates")</th>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Study Method")</th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Price")</th>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="</tr>";
                    tbHtml+="<tr class='sub-th'>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="<th scop='col'></th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Start")</th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("End")</th>";
                    tbHtml+="<th scope='col'>@Umbraco.GetDictionaryValue("Duration")</th>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="<th scope='col'></th>";
                    tbHtml+="</tr>";
                    tbHtml+="</thead>";

                    $.each(response.AvailableDates.trainingCalendarCourses, function (i, courseData) {
                        tbHtml +="<tbody>";
                        tbHtml +="<tr class='tr-line'><td colspan='8'></td></tr>";
                        tbHtml +="<tr class='tr-padd'><td colspan='8'></td></tr>";
                        var CourseName = courseData.MainCourse;
                        var Level = courseData.Level;

                        $.each(courseData.trainingCalendarDates, function (j, dateData) {
                            tbHtml +="<tr>";
                            if (j == 0) {
                                tbHtml += "<td class='td-light text-color'>" + CourseName + "</td>";
                                tbHtml += "<td class='td-light'>" + Level + "</td>";
                            }
                            else {
                                tbHtml += "<td class='td-light text-color'></td>";
                                tbHtml += "<td class='td-light'></td>";
                            }

                            tbHtml +="<td class='td-bg'>" + dateData.StartDate+"</td>";
                            tbHtml +="<td class='td-bg'>" + dateData.EndDate +"</td>";
                            tbHtml +="<td class='td-bg'>" + dateData.Duration +" @Umbraco.GetDictionaryValue("Days")</td>";
                            tbHtml +="<td class='td-bg'>" + dateData.StudyMethods +"</td>";
                            tbHtml +="<td class='td-bg'>SAR " + dateData.Price +"</td>";

                            tbHtml += "<td class='td-bg'><a class='btn btn-default' href='javascript:;' onClick='AddToCart(\"" +
                                courseData.cmsMainCourseName + "\",\"" +
                                courseData.cmsMainCourseId + "\",\"" +
                                courseData.cmsLevelName + "\",\"" +
                                courseData.cmsLevelId + "\",\"" +
                                dateData.StartDate + "\",\"" +
                                dateData.EndDate + "\",\"" +
                                dateData.Price  + "\",\"" +
                                dateData.Duration + "\",\"" +
                                dateData.cmsStudyMethodName + "\",\"" +
                                dateData.cmsStudyMethodsId + "\")'><span>@Umbraco.GetDictionaryValue("Add To Cart")</span> <i class='far fa-plus'></i></a></td>";
                            tbHtml +="</tr>";
                        });


                        tbHtml +="</tbody>";
                    });

                    $("#tbCalendar").html(tbHtml);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    }

    $("#btnFilter").on("click", function () {
        var lang = $("#lang").val();
        var courseCategoryId = $("#CourseCategory option:selected").val();
        var courseId = $("#Course option:selected").val();
        var levelId = "";
        var studyMethodId = $("#StudyMethods option:selected").val();
        var month = $("#Month option:selected").val();

        var array = [];
        $("input:checkbox[name=level]:checked").each(function () {
            array.push($(this).val());
        });
        if (array.length > 0) {
            levelId = array.toString();
        }

        GetCalendarList(lang, courseCategoryId, courseId, levelId, studyMethodId, month, "tc")
    });

    $("#btnReset").on("click", function () {
        ResetControll();
        var lang = $("#lang").val();
        var courseCategoryId = "";
        var courseId ="";
        var levelId = "";
        var studyMethodId = "";
        var month = "";
        GetCalendarList(lang, courseCategoryId, courseId, levelId, studyMethodId, month, "tc")
    });

    function AddToCart(cmsMainCourseName, cmsMainCourseId, cmsLevelName, cmsLevelId, StartDate, EndDate, Price, Duration, cmsStudyMethodName, cmsStudyMethodsId) {
        $(document).ready(function () {
            var formData = new FormData();
            formData.append("CourseCmsId", cmsMainCourseId);
            formData.append("CourseCmsName", cmsMainCourseName);
            formData.append("LevelCmsId", cmsLevelId);
            formData.append("LevelCmsName", cmsLevelName);
            formData.append("StudyMethodCmsId", cmsStudyMethodsId);
            formData.append("StudyMethodCmsName", cmsStudyMethodName);
            formData.append("StartDate", StartDate);
            formData.append("EndDate", EndDate);
            formData.append("Price", Price);
            formData.append("Duration", Duration);
            formData.append("Quantity", "1");
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/Cart/AddToCart",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    // $("#loginloader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                },
                success: function (response) {
                    if (response.status == true) {
                        AlertMessage('@Umbraco.GetDictionaryValue("Cart_Added_Success")');
                    }
                    else {
                        AlertMessage('@Umbraco.GetDictionaryValue("Cart_Added_Failed")');
                    }

                    $('.load').remove();
                },
                error: function (request, error) {
                    AlertMessage(" Can't do because: " + error);
                    $('.load').remove();
                }
            });
        });
    }

    function ResetControll() {
        $("#CourseCategory").val("");
        $("#Course").html('<option value="">@Umbraco.GetDictionaryValue("Main Course")</option>');
        $("#divLevel").html("");
        $("#StudyMethods").val("");
        $("#Month").val("");
    }
</script>