﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<!-- <script src="/AdminUI/js/developer.js"></script> -->
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/AdminUI/js/jquery-validate/bootstrap.validate.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>






<style>
    .select2-container {
    width: 26rem !important;
}

    .td-padding {
        padding: 20px;
    }
    .field-validation-error {
        color: red !important;
    }

    .ValidationSummary {
        display: flex;
        justify-content: start;
        align-items: center;
        display: none;
        border: 2px solid red;
        margin-bottom: 18px;
        border-radius: 8px;
        width: 60rem;
    }

    .d-flex {
        display: flex;
    }

    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-b-10 {
        padding-bottom: 10px;
    }
</style>

<div>
    <h3 style="color: maroon;" id="ElectionCommitteeTitlePage">Election Committee</h3>
    <div id="ValidationSummary" class="ValidationSummary" style="display:none;">
        <span style="color:red; font-size: large; margin: 2px;" id="electionErrorMessage">
          * Please Select Election 
        </span>
        <span style="color:red; font-size: large; margin: 2px; display:block;" id="memberErrorMessage">
            * Please Select One User At Least 
          </span>
     </div>
    <table>
        <tr>
            <td class="td-padding">
                <p>
                    <select id="Election" name="Election"></select>
                    <span class="validationForm" id="errElection"></span>
                </p>
            </td>

            <td class="td-padding d-flex-center">
                <label for="Member" style="font-size: 18px;margin-right: 10px;"> New Users To Assign</label>
                <p>
                    <select id="Member" name="Member"></select>
                    <span class="validationForm" id="errMember"></span>
                </p>
            </td>

            <td class="td-padding">
                <button type="button" class="btn btn-light" id="btnSave" style="display:inline;" name="btnSave">Assign</button>
            </td>
        </tr>
    </table>
    <br /><br/>
 </div>

 <h3 style="color: maroon;margin-top:20px;"">Users List</h3>
 <table style="width:100%" id="tblMemberList" class="table table-contact footable default footable-loaded">
 </table>


<script>
    GetElectionList();
    GetMemberList();

    $("#Election").change(function () {
        // var electionValue = $("#Election option:selected").val();
        GetAssignedMemberToElectionList();
    });

    function GetElectionList() {
        $("#Election").html("");
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#Election").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetMemberList(){
        $("#Member").html("");
        $.ajax({
            url: '/Umbraco/Surface/ElectionCommittee/GetAllActiveMembers',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '';
                    $.each(response.MembersInfo, function (i, MembersInfo) {
                        tbHtml = tbHtml + '<option value="' + MembersInfo.MemberId + '">' + MembersInfo.MemberName + '</option>';
                    });
                    $("#Member").html(tbHtml);
                    $("#Member").select2({
                        multiple : true
                     });
                    }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetAssignedMemberToElectionList() {
        $("#tblMemberList").html("Loading, Please wait...");
        var electionId = $("#Election option:selected").val(); 
        if(electionId == 0)
        {
            return;
        }
        $.ajax({
            url: "/Umbraco/Surface/ElectionCommittee/GetAssignedMembersToElection",
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",

            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    if (response.MemberInfo != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>User Name</th>" +
                            "<th>Email</th>" +
                            "<th>Action</th>" +
                            "</tr></thead>";

                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            tbHtml += "<tr>" +
                                "<td>" + MemberInfo.UserName + "</td>" +
                                "<td>" + MemberInfo.Email + "</td>" +
                                "<td> <a href='javascript:;' onClick='deleteElectionCommitteeMember(\"" +MemberInfo.AdminId + "\" , \"" + electionId + "\")'>Delete</a></td>";
                            "</tr>";
                        });

                        $("#tblMemberList").html(tbHtml);
                    }
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {

            }
        });
    }  


    function deleteElectionCommitteeMember(ProfileId , ElectionId) {
        var result = confirm("Are you sure you want to remove this assigned memeber?");
        if (result) {            
            $.ajax({
                url: '/Umbraco/Surface/ElectionCommittee/RemoveMemberAssignedToElection',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{memberId:'" + ProfileId + "' , electionId:'" + ElectionId + "'}",
                success: function (response) {
                    if (response.status == true) {  
                        GetMemberList();
                        AlertMessage("This assigned user has been deleted successfully from selected election!");
                        GetAssignedMemberToElectionList();
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        }   


    $("#btnSave").on("click", function () {
        var electionId = $("#Election option:selected").val();
        var memberIds = $("#Member").val();
        var isValid = true;
        var validationMessage = '';
        if(electionId == 0)
        {
            isValid = false;
            $("#electionErrorMessage").show();
        }
        else {
            $("#electionErrorMessage").hide();   
        }
        if(memberIds == null)
        {
            isValid = false;
            $("#memberErrorMessage").show();
        }
        else if(memberIds.length == 0)
        {
            isValid = false;
            $("#memberErrorMessage").show();
        }
        else {
            $("#memberErrorMessage").hide();
        }

        if(!isValid)
        { 
           $("#ValidationSummary").show();
           return;
        }
        else 
        {
            $("#ValidationSummary").hide();
            $("#memberErrorMessage").hide();
            $("#electionErrorMessage").hide();
        }

        var formData = new FormData();    
        formData.append("ElectionId", electionId);
        formData.append("MemberIds", memberIds.toString());
        $.ajax({
            url: "/Umbraco/Surface/ElectionCommittee/AssignElectionToMembers",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    AlertMessage("Selected users has been assigned successfully to the selected election");
                    GetMemberList();
                    GetAssignedMemberToElectionList();
                }
                else {
                        AlertMessage(response.message);
                }
            },
            error: function (request, error) {
                AlertMessage("Error in submission, please try again!");
            }
        });

    });


    

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }

    
</script>


<script>
    $("#Member").select2({
        multiple : true
    })
    $("#Election").select2();
</script>
