﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
<input type="hidden" id="hdnGender" value="@this.Model.Gender" />
<input type="hidden" id="hdnCountry" value="@this.Model.Country" />
<input type="hidden" id="hdnPreferredLanguage" value="@this.Model.PreferredLanguage" />
<input type="hidden" id="hdnProfileType" value="@this.Model.ProfileType" />

<section class="register-section">
    <div class="container-fluid padd-0">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-one-tab" data-toggle="pill" role="tab" aria-controls="pills-one" aria-selected="true">
                    <span>@Umbraco.GetDictionaryValue("Step 1")</span>
                    <h3>@Umbraco.GetDictionaryValue("Membership Type")</h3>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link " id="pills-two-tab" data-toggle="pill" role="tab" aria-controls="pills-two" aria-selected="false">
                    <span>@Umbraco.GetDictionaryValue("Step 2")</span>
                    <h3>@Umbraco.GetDictionaryValue("User Information")</h3>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-three-tab" data-toggle="pill" role="tab" aria-controls="pills-three" aria-selected="false">
                    <span>@Umbraco.GetDictionaryValue("Step 3")</span>
                    <h3>@Umbraco.GetDictionaryValue("Access Information")</h3>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-three-tab" data-toggle="pill" role="tab" aria-controls="pills-three" aria-selected="false">
                    <span>@Umbraco.GetDictionaryValue("Step 4")</span>
                    <h3>@Umbraco.GetDictionaryValue("Document Upload")</h3>
                </a>
            </li>
        </ul>
        <div class="register-body">
            @using (Html.BeginUmbracoForm("MemberRegistration", "FormProcess", System.Web.Mvc.FormMethod.Post, new { id = "formRegister", enctype = "multipart/form-data", @class = "" }))
            {
                <input type="hidden" value="@lang" name="lang" id="lang" />
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
                        <div class="title">
                            <h1>@pageContent.GetPropertyValue("title")</h1>
                            @Html.Raw(pageContent.GetPropertyValue("description"))
                        </div>

                        <div class="form-content">
                            <div class="row tab-title">
                                <div class="col-md-6">
                                    <h2>1. @Umbraco.GetDictionaryValue("Select Membership Type")</h2>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="/@lang/login">@Umbraco.GetDictionaryValue("Already Register?")</a>
                                </div>
                            </div>
                            <div class="custom-radios" style="width:100%">
                                <div class="col-md-6">
                                    <div>
                                        <input type="radio" id="Students" name="MembershipType" value="Students" checked>
                                        <label for="Students">
                                            <span>
                                                @Umbraco.GetDictionaryValue("Students")
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="Individuals" name="MembershipType" value="Individuals">
                                        <label for="Individuals">
                                            <span>
                                                @Umbraco.GetDictionaryValue("Individuals")
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="Corporate" name="MembershipType" value="Corporate">
                                        <label for="Corporate">
                                            <span>
                                                @Umbraco.GetDictionaryValue("Corporate")
                                            </span>
                                        </label>
                                    </div>
                                    <span class="validationForm" id="errMembershipType"></span>
                                </div>
                                <div class="col-md-6" style="display:none;" id="divMembershipBadge">
                                    <div>
                                        <input type="radio" id="Gold" name="MembershipBadge" value="Gold" checked>
                                        <label for="Gold">
                                            <span>
                                                @Umbraco.GetDictionaryValue("Gold")
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="Silver" name="MembershipBadge" value="Silver">
                                        <label for="Silver">
                                            <span>
                                                @Umbraco.GetDictionaryValue("Silver")
                                            </span>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" id="Bronze" name="MembershipBadge" value="Bronze">
                                        <label for="Bronze">
                                            <span>
                                                @Umbraco.GetDictionaryValue("Bronze")
                                            </span>
                                        </label>
                                    </div>
                                    <span class="validationForm" id="errMembershipBadge"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-content">
                            <div class="row tab-title">
                                <div class="col-12">
                                    <h2>2. @Umbraco.GetDictionaryValue("User Information")</h2>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="FirstName" id="FirstName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("First Name (English)")" value="@this.Model.FirstName">
                                        <span class="validationForm" id="errFirstName"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="FirstName_ar" id="FirstName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name (Arabic)")" value="@this.Model.FirstName_ar">
                                        <span class="validationForm" id="errFirstName_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="MiddleName" id="MiddleName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Middle Name (English)")" value="@this.Model.MiddleName">

                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="MiddleName_ar" id="MiddleName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Middle Name (Arabic)")" value="@this.Model.MiddleName_ar">

                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="LastName" id="LastName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Last Name (English)")" value="@this.Model.LastName">
                                        <span class="validationForm" id="errLastName"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="LastName_ar" id="LastName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name (Arabic)")" value="@this.Model.LastName_ar">
                                        <span class="validationForm" id="errLastName_ar"></span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <input type="text" name="NationalIDNumber" id="NationalIDNumber" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("National ID Number")" value="@this.Model.NationalIDNumber">
                                        <span class="validationForm" id="errNationalIDNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="custom-select-field">
                                            <select name="Gender" id="Gender" class="form-control">
                                                <option value="" disabled selected>@Umbraco.GetDictionaryValue("Gender")</option>
                                                <option value="Male">@Umbraco.GetDictionaryValue("Male")</option>
                                                <option value="Female">@Umbraco.GetDictionaryValue("Female")</option>
                                            </select>
                                            <span class="validationForm" id="errGender"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group calendar-icon">
                                        <input type="text" data-toggle="datepicker" name="DateOfBirth" id="DateOfBirth" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Date of Birth")" value="@this.Model.DateOfBirth">
                                        <span class="validationForm" id="errDateOfBirth"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12" id="divJobTitle" style="display:none;">
                                    <div class="form-group">
                                        <input type="text" name="JobTitle" id="JobTitle" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Job Title (English)")" value="@this.Model.JobTitle">
                                        <span class="validationForm" id="errJobTitle"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12" id="divJobTitle_ar" style="display:none;">
                                    <div class="form-group">
                                        <input type="text" name="JobTitle_ar" id="JobTitle_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title (Arabic)")" value="@this.Model.JobTitle_ar">
                                        <span class="validationForm" id="errJobTitle_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12" id="divOrganization" style="display:none;">
                                    <div class="form-group">
                                        <input type="text" name="Organization" id="Organization" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Organization (English)")" value="@this.Model.Organization">
                                        <span class="validationForm" id="errOrganization"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12" id="divOrganization_ar" style="display:none;">
                                    <div class="form-group">
                                        <input type="text" name="Organization_ar" id="Organization_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Organization (Arabic)")" value="@this.Model.Organization_ar">
                                        <span class="validationForm" id="errOrganization_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <div class="custom-select-field">
                                            <select name="Country" id="Country" class="form-control">
                                            </select>
                                            <span class="validationForm" id="errCountry"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="City" id="City" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("City (English)")" value="@this.Model.City">
                                        <span class="validationForm" id="errCity"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="City_ar" id="City_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("City (Arabic)")" value="@this.Model.City_ar">
                                        <span class="validationForm" id="errCity_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <input type="number" name="Zip_Postal_Code" id="Zip_Postal_Code" class="form-control" placeholder="@Umbraco.GetDictionaryValue("ZIP / Postal Code")" value="@this.Model.Zip_Postal_Code">
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <input type="number" name="MobileNumber" id="MobileNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Mobile No")" value="@this.Model.MobileNumber">
                                        <span class="validationForm" id="errMobileNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <input type="number" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Phone No")" value="@this.Model.PhoneNumber">
                                        <span class="validationForm" id="errPhoneNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <input type="number" name="FaxNumber" id="FaxNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Fax No")" value="@this.Model.FaxNumber">
                                    </div>
                                </div>
                                <div class="col-md-12 col-12" id="divGraduationDate">
                                    <div class="form-group calendar-icon">
                                        <input type="text" data-toggle="datepicker" name="GraduationDate" id="GraduationDate" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Graduation_Date")" value="@this.Model.GraduationDate">
                                        <span class="validationForm" id="errGraduationDate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="avatar-upload">
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url('@this.Model.ProfilePhoto');">
                                    </div>
                                    <span class="validationForm" id="errimageUpload"></span>
                                </div>
                                <div class="right-side">
                                    <h4>@Umbraco.GetDictionaryValue("Upload Personal Photo")</h4>
                                    <p>@Umbraco.GetDictionaryValue("Supported Format")</p>
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" name="imageUpload" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload">@Umbraco.GetDictionaryValue("Browse Photo")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-content">
                            <div class="row tab-title">
                                <div class="col-12">
                                    <h2>3. @Umbraco.GetDictionaryValue("Access Information")</h2>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        @if (!string.IsNullOrEmpty(this.Model.EmailAddress))
                                        {
                                            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")" value="@this.Model.EmailAddress" readonly="readonly">
                                        }
                                        else
                                        {
                                            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                        }

                                        <span class="validationForm" id="errEmailAddress"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <input type="password" name="Password" id="Password" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Password")">
                                        <span class="validationForm" id="errPassword"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Confirm Password")">
                                        <span class="validationForm" id="errConfirmPassword"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <div class="custom-select-field">
                                            <select name="PreferredLanguage" id="PreferredLanguage" class="form-control">
                                                <option value="" disabled selected>@Umbraco.GetDictionaryValue("Preferred Language")</option>
                                                <option value="en">@Umbraco.GetDictionaryValue("English")</option>
                                                <option value="ar">@Umbraco.GetDictionaryValue("Arabic")</option>
                                            </select>
                                            <span class="validationForm" id="errPreferredLanguage"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-content" id="divAdditionalDocument">
                            <div class="row tab-title">
                                <div class="col-lg-4 col-12">
                                    <h2>4. @Umbraco.GetDictionaryValue("Document Upload")</h2>
                                </div>
                                <div class="col-lg-8 col-12">
                                    <p>@Umbraco.GetDictionaryValue("Supported Format Doc")</p>
                                </div>
                            </div>
                            <div class="upload-file">
                                <div class="custom-file">
                                    <input class="custom-file-input" type="file" name="additionalDocument" accept=".jpg, .jpeg, .pdf, .doc, .docx" />
                                    <label class="custom-file-label">@Umbraco.GetDictionaryValue("Add file")</label>
                                    <div class="row-action text-right">
                                        <button type="button" class="remove-parent">
                                            <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="add-more">
                                <i class="fa fa-plus" aria-hidden="true"></i> @Umbraco.GetDictionaryValue("Add more document")
                            </button>
                            <span class="validationForm" id="erradditionalDocument"></span>
                        </div>
                        <div class="row btn-action">
                            <div class="col-12 text-right">
                                <button type="button" class="btn btn-light" id="btnSubmit" name="btnSubmit">@Umbraco.GetDictionaryValue("Submit")</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<script>
            $(document).ready(function () {

                var jsonCountry = $.ajax({
                    type: 'POST',
                    url: "/Umbraco/Surface/FormProcess/GetCountry",
                    dataType: "application/json; charset=utf-8",
                    context: document.body,
                    global: false,
                    async: false,
                    success: function (data) {
                        return data;
                    }
                }).responseText;

                var strCountry = '<option value="">@Umbraco.GetDictionaryValue("Country")</option>';
                var jsonObject = $.parseJSON(jsonCountry);
                $.each(jsonObject, function (i, obj) {
                    strCountry = strCountry + '<option value="' + obj.CountryCode + '">' + obj.CountryName + '</option>';

                });

            $("#Country").html(strCountry);

                $("#Country").val($("#hdnCountry").val()).change();
                $("#Gender").val($("#hdnGender").val()).change();
                $("#PreferredLanguage").val($("#hdnPreferredLanguage").val()).change();

            function CheckValidation() {
                $(".validationForm").hide();
                var hasError = false;
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                var passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-_$@@!%*?&])[A-Za-z\d-_$@@!%*?&]{8,}/;
                //if (typeof $("input[name='MembershipType']:checked").val() === "undefined") {
                //    $("#errMembershipType").html("Please select membership type").show();
                //    $("#MembershipType").focus();
                //    hasError = true;
                //}
                //else
                //{
                //    if (typeof $("input[name='MembershipType']:checked").val() === "Corporate") {
                //        if (typeof $("input[name='MembershipBadge']:checked").val() === "undefined") {
                //            $("#errMembershipBadge").html("Please select membership badge").show();
                //            $("#errMembershipBadge").focus();
                //            hasError = true;
                //        }
                //    }
                //}

                if ($("#FirstName").val() == '') {
                    $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                    $("#FirstName").focus();
                    hasError = true;
                }

                if ($("#FirstName_ar").val() == '') {
                    $("#errFirstName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                    $("#FirstName_ar").focus();
                    hasError = true;
                }

                if ($("#LastName").val() == '') {
                    $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                    $("#LastName").focus();
                    hasError = true;
                }

                if ($("#LastName_ar").val() == '') {
                    $("#errLastName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                    $("#LastName_ar").focus();
                    hasError = true;
                }

                if ($("#NationalIDNumber").val() == '') {
                    $("#errNationalIDNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_NationalID")").show();
                    $("#NationalIDNumber").focus();
                    hasError = true;
                }

                if ($("#Gender option:selected").val() == '') {
                    $("#errGender").html("@Umbraco.GetDictionaryValue("Validation_Error_Gender")").show();
                    $("#Gender").focus();
                    hasError = true;
                }
                if ($("#DateOfBirth").val() == '') {
                    $("#errDateOfBirth").html("@Umbraco.GetDictionaryValue("Validation_Error_DateOfBirth")").show();
                    $("#DateOfBirth").focus();
                    hasError = true;
                }

                if ($("#Individuals").is(":checked") || $("#Corporate").is(":checked")) {
                   if ($("#JobTitle").val() == '') {
                        $("#errJobTitle").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                        $("#JobTitle").focus();
                        hasError = true;
                    }

                    if ($("#Organization").val() == '') {
                        $("#errOrganization").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                        $("#Organization").focus();
                        hasError = true;
                    }
                    if ($("#JobTitle_ar").val() == '') {
                        $("#errJobTitle_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                        $("#JobTitle_ar").focus();
                        hasError = true;
                    }

                    if ($("#Organization_ar").val() == '') {
                        $("#errOrganization_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                        $("#Organization_ar").focus();
                        hasError = true;
                    }
                }


                if ($("#Country option:selected").val() == '') {
                    $("#errCountry").html("@Umbraco.GetDictionaryValue("Validation_Error_Country")").show();
                    $("#Country").focus();
                    hasError = true;
                }

                if ($("#City").val() == '') {
                    $("#errCity").html("@Umbraco.GetDictionaryValue("Validation_Error_City")").show();
                    $("#City").focus();
                    hasError = true;
                }

                if ($("#City_ar").val() == '') {
                    $("#errCity_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_City")").show();
                    $("#City_ar").focus();
                    hasError = true;
                }

                if ($("#MobileNumber").val() == '') {
                    $("#errMobileNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_Mobile")").show();
                    $("#MobileNumber").focus();
                    hasError = true;
                }

                if ($("#hdnProfileType").val() != "NonMember") {
                    if ($("#imageUpload").val() == '') {
                        $("#errimageUpload").html("@Umbraco.GetDictionaryValue("Validation_Error_Profile_Picture")").show();
                        $("#imageUpload").focus();
                        hasError = true;
                    }
                }

                if ($("#EmailAddress").val() == '') {
                    $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                    $("#EmailAddress").focus();
                    hasError = true;
                }
                else if (!emailReg.test($("#EmailAddress").val())) {
                    $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                    $("#EmailAddress").focus();
                    hasError = true;
                }
                if ($("#Password").val() == '') {
                    $("#errPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password")").show();
                    $("#Password").focus();
                    hasError = true;
                }
                else if (!passReg.test($("#Password").val())) {
                    $("#errPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_Requirement")").show();
                    $("#Password").focus();
                    hasError = true;
                }
                if ($("#ConfirmPassword").val() != $("#Password").val()) {
                    $("#errConfirmPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_NotMatch")").show();
                    $("#ConfirmPassword").focus();
                    hasError = true;
                }

                if ($("#PreferredLanguage option:selected").val() == '') {
                    $("#errPreferredLanguage").html("@Umbraco.GetDictionaryValue("Validation_Error_PreferredLanguage")").show();
                    $("#PreferredLanguage").focus();
                    hasError = true;
                }

                if ($("input[name='MembershipType']:checked").val() == "Students") {

                    if ($("#GraduationDate").val() == '') {
                        $("#errGraduationDate").html("@Umbraco.GetDictionaryValue("Validation_Error_GraduationDate")").show();
                        $("#GraduationDate").focus();
                        hasError = true;
                    }

                    if ($("#GraduationDate").val() != '') {
                        var today = new Date();
                        var mydate = new Date($("#GraduationDate").val());
                        if (mydate <= today) {
                            $("#errGraduationDate").html("@Umbraco.GetDictionaryValue("Validation_Error_Already_Graduation")").show();
                            $("#GraduationDate").focus();
                            hasError = true;
                        }
                    }

                    var count = 0;
                    var fileError = false;
                    var control = $("#formRegister").find('input');
                    for (var i = 0; i < control.length; i++) {
                        if ($(control[i]).attr('type') == "file") {
                            if ($(control[i]).attr('name') == "additionalDocument") {
                                if ($(control[i]).val() == null || $(control[i]).val() == '') {
                                    fileError = true;
                                }
                                else {
                                    if (count == 1) {
                                        if ($(control[i]).val() != $(control[i - 1]).val()) {
                                            count = count + 1;
                                        }
                                    }
                                    else {
                                        count = count + 1;
                                    }
                                }
                            }
                        }
                    }

                    if (count < 2) {
                        hasError = true;
                        $("#erradditionalDocument").html("@Umbraco.GetDictionaryValue("Validation_Error_Student_Card")").show();
                    }
                }

                return hasError;
            }

                $("#Students").click(function () {
                    $('#divJobTitle').css('display', 'none');
                    $('#divOrganization').css('display', 'none');
                    $('#divJobTitle_ar').css('display', 'none');
                    $('#divOrganization_ar').css('display', 'none');
                    $('#divMembershipBadge').css('display', 'none');
                    $('#divGraduationDate').css('display', 'block');
                });
                $("#Individuals").click(function () {
                    $('#divJobTitle').css('display', 'block');
                    $('#divOrganization').css('display', 'block');
                    $('#divJobTitle_ar').css('display', 'block');
                    $('#divOrganization_ar').css('display', 'block');
                    $('#divMembershipBadge').css('display', 'none');
                    $('#divGraduationDate').css('display', 'none');
                });
                $("#Corporate").click(function () {
                    $('#divJobTitle').css('display', 'block');
                    $('#divOrganization').css('display', 'block');
                    $('#divJobTitle_ar').css('display', 'block');
                    $('#divOrganization_ar').css('display', 'block');
                    $('#divMembershipBadge').css('display', 'flex');
                    $('#divGraduationDate').css('display', 'none');
                });



                $("#EmailAddress").on("change keyup", function () {
                    if ($('#EmailAddress').val() != "") {
                        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                        if (!emailReg.test($("#EmailAddress").val())) {
                            $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                            $("#EmailAddress").focus();
                            hasError = true;
                        }
                        else {
                            $('#errEmailAddress').html("").hide();
                            CheckExists($("#EmailAddress").val())
                        }
                    }
                });


                 $("#Password").on("change keyup", function () {
                    if ($('#Password').val() != "") {
                        var passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-_$@@!%*?&])[A-Za-z\d-_$@@!%*?&]{8,}/;
                        if (!passReg.test($('#Password').val())) {
                            $("#errPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_Requirement")").show();
                            $("#Password").focus();
                        }
                        else {
                            $('#errPassword').html("").hide();
                        }
                    }
                });

                $("#ConfirmPassword").on("change keyup", function () {
                    if ($('#ConfirmPassword').val() != "") {
                        if ($("#ConfirmPassword").val() != $("#Password").val()) {
                            $("#errConfirmPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_NotMatch")").show();
                            $("#ConfirmPassword").focus();
                            hasError = true;
                        }
                        else {
                            $('#errConfirmPassword').html("").hide();
                        }
                    }
                });

                function CheckExists(email) {
                    if ($("#hdnProfileType").val() != "NonMember") {
                        var formData = new FormData();
                        formData.append("email", email);
                        $.ajax({
                            url: "/Umbraco/Surface/FormProcess/CheckExists",
                            type: 'POST',
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: formData,
                            beforeSend: function () {
                                $("#loader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                            },
                            success: function (response) {
                                if (response.status == true) {
                                    $("#errEmailAddress").html("").hide();
                                    $("#EmailAddress").val("");
                                    $("#EmailAddress").focus();
                                    AlertMessage('@Umbraco.GetDictionaryValue("Email_Already_Exists")');
                                }
                                else {
                                    $("#errEmailAddress").html("").hide();
                                }
                                $('.load').remove();
                            },
                            error: function (request, error) {
                                $('.load').remove();
                            }
                        });
                    }
                }

            $("#btnSubmit").on("click", function () {
                if (CheckValidation() == false) {
                    $("#formRegister").submit();
                }
            });


        });



</script>
<script>
   
</script>
<script>
    // Next and prev tabs
    $('.btnNext').click(function () {
        $('.nav-pills .active').parent().next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-pills .active').parent().prev('li').find('a').trigger('click');
    });

    // Upload image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function () {
        readURL(this);
    });

    // Upload file
    $(document).ready(function () {
        $(document).on('change', '.custom-file-input', function (event) {
            var files = event.target.files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
        // Clone file
        $(".add-more").on('click', function () {
            console.log("test")
            var $row = $('.custom-file:last-child').clone();
            $($row).children('.custom-file-label').html('Add file');
            $('.upload-file').append($row);
        });
    });
    $(document).on('click', '.remove-parent', function () {
        $(this).parent().parent().remove();
    })
</script>