﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationCheckoutViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
@using (Html.BeginUmbracoForm("MembershipUpgradeCheckout", "FormProcess", System.Web.Mvc.FormMethod.Post, new { id = "formRegister", enctype = "multipart/form-data", @class = "" }))
{
    <input type="hidden" value="@lang" name="lang" id="lang" />
    <section class="cart">
        <div class="content-body">
            <div class="container-fluid padd-0">
                <div class="row">
                    <div class="cart-head">
                        <h1>@pageContent.GetPropertyValue("title")</h1>
                        @Html.Raw(pageContent.GetPropertyValue("description"))
                    </div>
                </div>
                <div class="product-row row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-12">
                                @if (!string.IsNullOrEmpty(this.Model.MembershipBadge))
                                {
                                    <h3>@Html.Raw(this.Model.MembershipType + ", " + this.Model.MembershipBadge)</h3>
                                }
                                else
                                {
                                    <h3>@this.Model.MembershipType</h3>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-11">
                                <span class="price">SAR @string.Format("{0:n2}", this.Model.SubTotal)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12"><hr></div>
                </div>
                <!-- Start Total Section -->
                <div class="custom-radios" style="width:100%">
                    <h3>@Umbraco.GetDictionaryValue("Select Payment Method")</h3>
                    <div class="col-md-6">
                        <div>
                            <input type="radio" id="VISA" name="PaymentMethod" value="VISA" checked>
                            <label for="VISA">
                                <span>
                                    @Umbraco.GetDictionaryValue("VISA")
                                </span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="MASTER" name="PaymentMethod" value="MASTER">
                            <label for="MASTER">
                                <span>
                                    @Umbraco.GetDictionaryValue("MASTER")
                                </span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="MADA" name="PaymentMethod" value="MADA">
                            <label for="MADA">
                                <span>
                                    @Umbraco.GetDictionaryValue("MADA")
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row row-total">
                    <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                        <ul class="list-unstyled">
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Sub Total")</span>
                                <span class="right-side" id="spanSubTotal">SAR @string.Format("{0:n2}", this.Model.SubTotal)</span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Discount")</span>
                                <span class="right-side" id="spanDiscount">SAR @string.Format("{0:n2}", this.Model.Discount)</span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("VAT")</span>
                                <span class="right-side" id="spanVAT">SAR @string.Format("{0:n2}", this.Model.VAT)</span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Grand Total")</span>
                                <span class="right-side large-num" id="spanGrandTotal">SAR @string.Format("{0:n2}", this.Model.GrandTotal)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        @*<input type="text" name="PromoCode" id="PromoCode" class="form-control" style="width:70%;display:inline;" placeholder="@Umbraco.GetDictionaryValue("Enter_Promo_Code")" />
                        <button type="button" class="btn btn-light" id="btnApply">@Umbraco.GetDictionaryValue("Apply")</button>*@
                    </div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-light" style="float:right;" id="btnSubmit">@Umbraco.GetDictionaryValue("Proceed to Checkout")</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    $(document).ready(function () {

        $("#btnSubmit").on("click", function () {

                $("#formRegister").submit();

        });

         $("#btnApply").on("click", function () {
            var promoCode = $("#PromoCode").val();
            if (promoCode != "") {
                $.ajax({
                    url: '/Umbraco/Surface/FormProcess/RenewalRegistrationValidatePromoCode',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{lang:'" + $("#lang").val() + "', promoCode:'" + promoCode + "'}",
                    success: function (response) {
                        if (response.status == true) {
                            GetPriceItem($("#lang").val());
                        }
                        else {
                            GetPriceItem($("#lang").val());
                            if (response.message == "Invalid_Promo_Code") {
                                AlertMessage('@Umbraco.GetDictionaryValue("Invalid_Promo_Code")');
                            }
                            else if (response.message == "Maximum_Use_Promo_Code") {
                                AlertMessage('@Umbraco.GetDictionaryValue("Maximum_Use_Promo_Code")');
                            }
                        }

                    },
                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
            }
        });

        function GetPriceItem(lang) {

            var promoCode = $("#PromoCode").val();

            $.ajax({
                url: '/Umbraco/Surface/FormProcess/GetRenewalRegistrationCheckoutPriceItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "', promoCode:'" + promoCode + "'}",
                success: function (response) {
                    if (response.status == true) {
                        $("#spanSubTotal").html("SAR " + numberWithCommas(response.CartItem.SubTotal));
                        $("#spanVAT").html("SAR " + numberWithCommas(response.CartItem.VAT));
                        $("#spanDiscount").html("SAR " + numberWithCommas(response.CartItem.Discount));
                        $("#spanGrandTotal").html("SAR " + numberWithCommas(response.CartItem.GrandTotal));
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        }

    });
</script>
