﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.RegistrationCheckoutViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

    <section class="cart">
        <div class="content-body">
            <div class="container-fluid padd-0">
                <div class="row">
                    <div class="cart-head">
                        <h1>@pageContent.GetPropertyValue("title")</h1>
                        @Html.Raw(pageContent.GetPropertyValue("description"))
                        <h3>@Umbraco.GetDictionaryValue("Your Invoice Number"): @this.Model.InvoiceNumber</h3>
                    </div>
                </div>
                <div class="product-row row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-12">
                                @if (!string.IsNullOrEmpty(this.Model.MembershipBadge))
                                {
                                    <h3>@Html.Raw(this.Model.MembershipType + ", " + this.Model.MembershipBadge)</h3>
                                }
                                else
                                {
                                    <h3>@this.Model.MembershipType</h3>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-11">
                                <span class="price">SAR @string.Format("{0:n2}", this.Model.SubTotal)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12"><hr></div>
                </div>
                <!-- Start Total Section -->                
                <div class="row row-total">
                    <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                        <ul class="list-unstyled">
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Sub Total")</span>
                                <span class="right-side">SAR @string.Format("{0:n2}", this.Model.SubTotal)</span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Discount")</span>
                                <span class="right-side">SAR @string.Format("{0:n2}", this.Model.Discount)</span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("VAT")</span>
                                <span class="right-side">SAR @string.Format("{0:n2}", this.Model.VAT)</span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Grand Total")</span>
                                <span class="right-side large-num">SAR @string.Format("{0:n2}", this.Model.GrandTotal)</span>
                            </li>
                            @*<li>
            <span class="left-side">@Umbraco.GetDictionaryValue("Transaction amount")</span>
            <span class="right-side large-num">@this.Model.TransactionCurrency @string.Format("{0:0.00}", this.Model.TransactionAmount)</span>
        </li>*@
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
    </section>



