﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.ShippingBillingViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<!-- Start product -->
<section class="shipping">
    <div class="content-body">
        <div class="container-fluid padd-0">
            @using (Html.BeginUmbracoForm("ShippingBilling", "FormProcess", System.Web.Mvc.FormMethod.Post, new { id = "formShippingBilling", enctype = "multipart/form-data", @class = "" }))
            {
                <input type="hidden" value="@lang" name="lang" id="lang" />
                <div class="row header-content shipping-address">
                    <div class="col-md-6 col-12">
                        <h2>@Umbraco.GetDictionaryValue("Shipping Address")</h2>
                    </div>
                    <div class="col-md-6 col-12 shipping-type">
                        <div class="form-group">
                            <input id="SHome" type="radio" name="ShippingType" class="checkbox-template" value="Home">
                            <label for="SHome">@Umbraco.GetDictionaryValue("Home")</label>
                        </div>
                        <div class="form-group">
                            <input id="SWork" name="ShippingType" type="radio" class="checkbox-template" value="Work" checked>
                            <label for="SWork">@Umbraco.GetDictionaryValue("Work")</label>
                        </div>
                    </div>
                </div>

                <div class="row form-content-row">
                    <div class="form-content col-12">
                        <h4>@Umbraco.GetDictionaryValue("Enter Your Shipping Address")</h4>
                        <div class="form-row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="SFirstName" id="SFirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                    <span class="validationForm" id="errSFirstName"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="SMiddleName" id="SMiddleName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Middle Name")">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="SLastName" id="SLastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                    <span class="validationForm" id="errSLastName"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="SEmailAddress" id="SEmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                    <span class="validationForm" id="errSEmailAddress"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="number" name="SMobileNumber" id="SMobileNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Mobile No")">
                                    <span class="validationForm" id="errSMobileNumber"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="number" name="SPhoneNumber" id="SPhoneNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Phone No")">
                                    <span class="validationForm" id="errSPhoneNumber"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <div class="custom-select-field">
                                        <select name="SCountry" id="SCountry" class="form-control">
                                            <option value="">@Umbraco.GetDictionaryValue("Country")</option>
                                            <option value="SA">Saudi Arabia</option>
                                        </select>
                                        <span class="validationForm" id="errSCountry"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <div class="custom-select-field">
                                        <select name="SCity" id="SCity" class="form-control">
                                        </select>
                                        <span class="validationForm" id="errSCity"></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="form-group">
                                    <input type="text" name="SArea" id="SArea" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Area")">
                                    <span class="validationForm" id="errSArea"></span>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="form-group">
                                    <input type="text" name="SAddress1" id="SAddress1" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Address 1")">
                                    <span class="validationForm" id="errSAddress1"></span>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="form-group">
                                    <input type="text" name="SAddress2" id="SAddress2" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Address 2")">
                                    <span class="validationForm" id="errSAddress2"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="SAddress3" id="SAddress3" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Address 3")">
                                    <span class="validationForm" id="errSAddress3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row header-content">
                    <div class="col-12">
                        <div class="form-group">
                            <input id="IsSame" type="checkbox" name="IsSame" class="checkbox-template">
                            <label for="IsSame">@Umbraco.GetDictionaryValue("Shipping address and billing address are the same")</label>
                        </div>
                    </div>
                </div>

                <div class="row header-content">
                    <div class="col-md-6 col-12">
                        <h2>@Umbraco.GetDictionaryValue("Billing Address")</h2>
                    </div>
                    <div class="col-md-6 col-12 shipping-type">
                        <div class="form-group">
                            <input id="BHome" type="radio" name="BillingType" class="checkbox-template" value="Home">
                            <label for="BHome">@Umbraco.GetDictionaryValue("Home")</label>
                        </div>
                        <div class="form-group">
                            <input id="BWork" name="BillingType" type="radio" class="checkbox-template" value="Work" checked>
                            <label for="BWork">@Umbraco.GetDictionaryValue("Work")</label>
                        </div>
                    </div>
                </div>
                <div class="row form-content-row">
                    <div class="form-content col-12">
                        <h4>@Umbraco.GetDictionaryValue("Enter Your Billing Address")</h4>
                        <div class="form-row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="BFirstName" id="BFirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                    <span class="validationForm" id="errBFirstName"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="BMiddleName" id="BMiddleName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Middle Name")">
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="BLastName" id="BLastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                    <span class="validationForm" id="errBLastName"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="text" name="BEmailAddress" id="BEmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                    <span class="validationForm" id="errBEmailAddress"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="number" name="BMobileNumber" id="BMobileNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Mobile No")">
                                    <span class="validationForm" id="errBMobileNumber"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <input type="number" name="BPhoneNumber" id="BPhoneNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Phone No")">
                                    <span class="validationForm" id="errBPhoneNumber"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <div class="custom-select-field">
                                        <select name="BCountry" id="BCountry" class="form-control">
                                        </select>
                                        <span class="validationForm" id="errBCountry"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <input type="text" name="BCity" id="BCity" class="form-control" placeholder="@Umbraco.GetDictionaryValue("City")">
                                    <span class="validationForm" id="errBCity"></span>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="form-group">
                                    <input type="text" name="BArea" id="BArea" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Area")">
                                    <span class="validationForm" id="errBArea"></span>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="form-group">
                                    <input type="text" name="BAddress1" id="BAddress1" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Address 1")">
                                    <span class="validationForm" id="errBAddress1"></span>
                                </div>
                            </div>
                            <div class=" col-12">
                                <div class="form-group">
                                    <input type="text" name="BAddress2" id="BAddress2" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Address 2")">
                                    <span class="validationForm" id="errBAddress2"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" name="BAddress3" id="BAddress3" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Address 3")">
                                    <span class="validationForm" id="errBAddress3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-right">
                    <button type="button" class="btn btn-light" id="btnContinue">@Umbraco.GetDictionaryValue("Continue Payment")</button>
                </div>
            }
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        var jsonCountry = $.ajax({
            type: 'POST',
            url: "/Umbraco/Surface/FormProcess/GetCountry",
            dataType: "application/json; charset=utf-8",
            context: document.body,
            global: false,
            async: false,
            success: function (data) {
                return data;
            }
        }).responseText;

        var strCountry = '<option value="">@Umbraco.GetDictionaryValue("Country")</option>';
        var jsonObject = $.parseJSON(jsonCountry);
        $.each(jsonObject, function (i, obj) {
            strCountry = strCountry + '<option value="' + obj.CountryCode + '">' + obj.CountryName + '</option>';

        });

        $("#BCountry").html(strCountry);
        //$("#SCountry").html(strCountry);

        var jsonCity = $.ajax({
            type: 'POST',
            url: '/Umbraco/Surface/Cart/GetCity',
            dataType: "application/json; charset=utf-8",
            context: document.body,
            global: false,
            async: false,
            success: function (data) {
                return data;
            }
        }).responseText;

        var strCity = '<option value="">@Umbraco.GetDictionaryValue("City")</option>';
        var jsonCityObject = $.parseJSON(jsonCity);
        $.each(jsonCityObject, function (i, obj) {
            strCity = strCity + '<option value="' + obj.CityName + '">' + obj.CityName + '</option>';
        });

        $("#SCity").html(strCity);

        $("#btnContinue").on("click", function () {
            if (CheckValidation() == false) {
                $("#formShippingBilling").submit();
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#SFirstName").val() == '') {
                $("#errSFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#SFirstName").focus();
                hasError = true;
            }

            if ($("#SLastName").val() == '') {
                $("#errSLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#SLastName").focus();
                hasError = true;
            }

            if ($("#SEmailAddress").val() == '') {
                $("#errSEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#SEmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#SEmailAddress").val())) {
                $('#errSEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#SEmailAddress").focus();
                hasError = true;
            }

            if ($("#SMobileNumber").val() == '') {
                $("#errSMobileNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_Mobile")").show();
                $("#SMobileNumber").focus();
                hasError = true;
            }

            if ($("#SCountry option:selected").val() == '') {
                $("#errSCountry").html("@Umbraco.GetDictionaryValue("Validation_Error_Country")").show();
                $("#SCountry").focus();
                hasError = true;
            }

            if ($("#SCity option:selected").val() == '') {
                $("#errSCity").html("@Umbraco.GetDictionaryValue("Validation_Error_City")").show();
                $("#SCity").focus();
                hasError = true;
            }

            if ($("#SArea").val() == '') {
                $("#errSArea").html("@Umbraco.GetDictionaryValue("Validation_Error_Area")").show();
                $("#SArea").focus();
                hasError = true;
            }

            if ($("#SAddress1").val() == '') {
                $("#errSAddress1").html("@Umbraco.GetDictionaryValue("Validation_Error_Address1")").show();
                $("#SAddress1").focus();
                hasError = true;
            }

            if ($("#BFirstName").val() == '') {
                $("#errBFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#BFirstName").focus();
                hasError = true;
            }

            if ($("#BLastName").val() == '') {
                $("#errBLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#BLastName").focus();
                hasError = true;
            }

            if ($("#BEmailAddress").val() == '') {
                $("#errBEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#BEmailAddress").focus();
                hasError = true;
            }

            else if (!emailReg.test($("#BEmailAddress").val())) {
                $('#errBEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#BEmailAddress").focus();
                hasError = true;
            }

            if ($("#BMobileNumber").val() == '') {
                $("#errBMobileNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_Mobile")").show();
                $("#BMobileNumber").focus();
                hasError = true;
            }

            if ($("#BCountry option:selected").val() == '') {
                $("#errBCountry").html("@Umbraco.GetDictionaryValue("Validation_Error_Country")").show();
                $("#BCountry").focus();
                hasError = true;
            }

            if ($("#BCity").val() == '') {
                $("#errBCity").html("@Umbraco.GetDictionaryValue("Validation_Error_City")").show();
                $("#BCity").focus();
                hasError = true;
            }

            if ($("#BArea").val() == '') {
                $("#errBArea").html("@Umbraco.GetDictionaryValue("Validation_Error_Area")").show();
                $("#BArea").focus();
                hasError = true;
            }

            if ($("#BAddress1").val() == '') {
                $("#errBAddress1").html("@Umbraco.GetDictionaryValue("Validation_Error_Address1")").show();
                $("#BAddress1").focus();
                hasError = true;
            }

            return hasError;
        }

        $("#IsSame").click(function () {
            $("#BFirstName").val($("#SFirstName").val());
            $("#BMiddleName").val($("#SMiddleName").val());
            $("#BLastName").val($("#SLastName").val());
            $("#BEmailAddress").val($("#SEmailAddress").val());
            $("#BMobileNumber").val($("#SMobileNumber").val());
            $("#BPhoneNumber").val($("#SPhoneNumber").val());
            $("#BCountry").val($("#SCountry option:selected").val()).change();
            $("#BCity").val($("#SCity option:selected").val());
            $("#BArea").val($("#SArea").val());
            $("#BAddress1").val($("#SAddress1").val());
            $("#BAddress2").val($("#SAddress2").val());
            $("#BAddress3").val($("#SAddress3").val());
            if ($("#SHome").is(":checked")) {
                $("#BHome").prop("checked", true);
            }
            else if ($("#SWork").is(":checked")) {
                $("#BWork").prop("checked", true);
            }
        });

    });

    GetShippingBilling($("#lang").val());

    function GetShippingBilling(lang) {
        $("#divCartItem").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/FormProcess/GetShippingBilling',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "'}",
                success: function (response) {
                    if (response.status == true) {

                        $("#SFirstName").val(response.ShippingBilling.SFirstName);
                        $("#SMiddleName").val(response.ShippingBilling.SMiddleName);
                        $("#SLastName").val(response.ShippingBilling.SLastName);
                        $("#SEmailAddress").val(response.ShippingBilling.SEmailAddress);
                        $("#SMobileNumber").val(response.ShippingBilling.SMobileNumber);
                        $("#SPhoneNumber").val(response.ShippingBilling.SPhoneNumber);
                        $("#SCountry").val(response.ShippingBilling.SCountry).change();
                        $("#SCity").val(response.ShippingBilling.SCity).change();
                        $("#SArea").val(response.ShippingBilling.SArea);
                        $("#SAddress1").val(response.ShippingBilling.SAddress1);
                        $("#SAddress2").val(response.ShippingBilling.SAddress2);
                        $("#SAddress3").val(response.ShippingBilling.SAddress3);
                        if (response.ShippingBilling.ShippingType == "Work") {
                            $("#SWork").prop("checked", true);
                        }
                        else {
                            $("#SHome").prop("checked", true);
                        }


                        $("#BFirstName").val(response.ShippingBilling.BFirstName);
                        $("#BMiddleName").val(response.ShippingBilling.BMiddleName);
                        $("#BLastName").val(response.ShippingBilling.BLastName);
                        $("#BEmailAddress").val(response.ShippingBilling.BEmailAddress);
                        $("#BMobileNumber").val(response.ShippingBilling.BMobileNumber);
                        $("#BPhoneNumber").val(response.ShippingBilling.BPhoneNumber);
                        $("#BCountry").val(response.ShippingBilling.BCountry).change();
                        $("#BCity").val(response.ShippingBilling.BCity);
                        $("#BArea").val(response.ShippingBilling.BArea);
                        $("#BAddress1").val(response.ShippingBilling.BAddress1);
                        $("#BAddress2").val(response.ShippingBilling.BAddress2);
                        $("#BAddress3").val(response.ShippingBilling.BAddress3);
                        if (response.ShippingBilling.BillingType == "Work") {
                            $("#BWork").prop("checked", true);
                        }
                        else {
                            $("#BHome").prop("checked", true);
                        }


                    }
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        });
    }


    @*function GetCity(CountryCode, NameStartsWith) {
        $("#SCity").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/GetCity',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{CountryCode:'" + CountryCode + "', NameStartsWith:'" + NameStartsWith + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        tbHtml = '<option value="">@Umbraco.GetDictionaryValue("City")</option>';
                        $.each(response.cityList, function (i, cityList) {
                            tbHtml += '<option value="' + cityList.CityName + '">' + cityList.CityName + '</option>';
                        });

                        $("#SCity").html(tbHtml);
                    }
                    else {

                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }*@
</script>
