﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.ExternalCoursePaymentModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<section class="cart">
    <div class="content-body">
        <div class="container-fluid padd-0">
            <div class="row">
                <div class="cart-head">
                    <h1>@pageContent.GetPropertyValue("title")</h1>
                    @Html.Raw(pageContent.GetPropertyValue("description"))
                    @Html.Raw(this.Model.SeatConfirmMessage)
                    <h3>@Umbraco.GetDictionaryValue("Your Invoice Number"): @this.Model.InvoiceNumber</h3>
                </div>
            </div>
            <div class="product-row row">
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-12">
                            <h3>@Html.Raw(this.Model.CourseName)</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-11">
                            <span class="price">SAR @string.Format("{0:n2}", this.Model.SubTotal)</span>
                        </div>
                    </div>
                </div>
                <div class="col-12"><hr></div>
            </div>
            <!-- Start Total Section -->
            <div class="row row-total">
                <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Sub Total")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.SubTotal)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Discount")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.Discount)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("VAT")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.VAT)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Grand Total")</span>
                            <span class="right-side large-num">SAR @string.Format("{0:n2}", this.Model.GrandTotal)</span>
                        </li>
                    </ul>
                </div>
            </div>
            @if (string.IsNullOrEmpty(this.Model.SeatConfirmMessage))
            {
            <div class="row">
                <div class="col-md-4">
                    <a class="button button--squared" href="/@lang/my-account/harvard-course-registration/"><span>@Umbraco.GetDictionaryValue("Proceed to the next step")</span></a>
                </div>
            </div>
            }
          </div>
     </div>
</section>



