﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.PaymentGateayStep1Model>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}
<input type="hidden" value="@lang" name="lang" id="lang" />
<section class="register-section">
    <div class="container-fluid padd-0">
        <div class="register-body">
            <h3 style="text-align:center;">@Umbraco.GetDictionaryValue("Your transaction amount"): @this.Model.TransactionAmount</h3>
            <script src="@this.Model.PaymentUrl"></script>
            <script type="text/javascript">
                var wpwlOptions = {
                    paymentTarget: "_top",
                }
            </script>

            <div style="direction: ltr !important; text-align: left !important;">
                <form action="@this.Model.RedirectUrl" class="paymentWidgets" data-brands="@this.Model.PaymentMethod"></form>
            </div>

        </div>
    </div>
</section>




