﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

    var Home = pageContent.Parent.Parent;

    var ExternalCourse = Home.Children.Where(x => x.DocumentTypeAlias == "aboutCourseItems1").FirstOrDefault();

}

<input type="hidden" id="lang" value="@lang" />
<input type="hidden" id="hdnCourseCmsId" value="@ExternalCourse.Id" />
<input type="hidden" id="hdnRegId" name="hdnRegId" value=""/>
<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h1 class="">@pageContent.GetPropertyValue("title")</h1>
                        @Html.Raw(pageContent.GetPropertyValue("details"))
                    </div>
                </div>                
            </div>

            <div class="row list-info steps-content">
                <div class="col-12 steps-info" style="margin-bottom:8px;" id="divMessage">
                    <div class="card bg-light mb-3" style="background-color: white !important;color: #00AEEF;height: 51px;">
                        <div class="card-body" style="text-align:center;">
                            <h5 class="card-title" id="DisplayMessage"></h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 steps-info" style="display: none;" id="divStartProcess">
                    <div class="card bg-light mb-3">
                        <div class="card-header">@Umbraco.GetDictionaryValue("Step 1")</div>
                        <div class="card-body">
                            <h5 class="card-title">@ExternalCourse.GetPropertyValue("step1Title")</h5>
                            <p class="card-text">
                                @ExternalCourse.GetPropertyValue("step1Text")
                            </p>
                        </div>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header">@Umbraco.GetDictionaryValue("Step 2")</div>
                        <div class="card-body">
                            <h5 class="card-title">@ExternalCourse.GetPropertyValue("step2Title")</h5>
                            <p class="card-text">
                                @ExternalCourse.GetPropertyValue("step2Text")
                            </p>
                        </div>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header">@Umbraco.GetDictionaryValue("Step 3")</div>
                        <div class="card-body">
                            <h5 class="card-title">@ExternalCourse.GetPropertyValue("step3Title")</h5>
                            <p class="card-text">
                                @ExternalCourse.GetPropertyValue("step3Text")
                            </p>
                        </div>
                    </div>

                    <div class="card bg-light mb-3">
                        <div class="card-header">@Umbraco.GetDictionaryValue("Step 4")</div>
                        <div class="card-body">
                            <h5 class="card-title">@ExternalCourse.GetPropertyValue("step4Title")</h5>
                            <p class="card-text">
                                @ExternalCourse.GetPropertyValue("step4Text")
                            </p>
                        </div>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header">@Umbraco.GetDictionaryValue("Step 5")</div>
                        <div class="card-body">
                            <h5 class="card-title">@ExternalCourse.GetPropertyValue("step5Title")</h5>
                            <p class="card-text">
                                @ExternalCourse.GetPropertyValue("step5Text")
                            </p>
                        </div>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header">@Umbraco.GetDictionaryValue("Step 6")</div>
                        <div class="card-body">
                            <h5 class="card-title">@ExternalCourse.GetPropertyValue("step6Title")</h5>
                            <p class="card-text">
                                @ExternalCourse.GetPropertyValue("step6Text")
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="btnStartProcess" class="btn btn-light">@Umbraco.GetDictionaryValue("Start_the_process")</button>
                    </div>
                </div>
                <div class="col-12 steps-wizard" style="display: none;" id="divStepWizard">
                    <section class="signup-step-container">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs row" role="tablist">
                                    <li role="presentation" class="active col" id="tab_step1">
                                        <a data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">1 </span> <i>@Umbraco.GetDictionaryValue("Step 1")</i></a>
                                    </li>
                                    <li role="presentation" class="disabled col" id="tab_step2">
                                        <a data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">2</span> <i>@Umbraco.GetDictionaryValue("Step 2")</i></a>
                                    </li>
                                    <li role="presentation" class="disabled col" id="tab_step3">
                                        <a data-toggle="tab" aria-controls="step3" role="tab"><span class="round-tab">3</span> <i>@Umbraco.GetDictionaryValue("Step 3")</i></a>
                                    </li>
                                    <li role="presentation" class="disabled col" id="tab_step4">
                                        <a data-toggle="tab" aria-controls="step4" role="tab"><span class="round-tab">4</span> <i>@Umbraco.GetDictionaryValue("Step 4")</i></a>
                                    </li>

                                    <li role="presentation" class="disabled col" id="tab_step5">
                                        <a data-toggle="tab" aria-controls="step5" role="tab" aria-expanded="true"><span class="round-tab">5 </span> <i>@Umbraco.GetDictionaryValue("Step 5")</i></a>
                                    </li>
                                    <li role="presentation" class="disabled col" id="tab_step6">
                                        <a data-toggle="tab" aria-controls="step6" role="tab" aria-expanded="false"><span class="round-tab">6</span> <i>@Umbraco.GetDictionaryValue("Step 6")</i></a>
                                    </li>
                                </ul>
                            </div>

                            <form role="form" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <!-- Start Step1 -->
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <h4 class="text-center">@Umbraco.GetDictionaryValue("Step 1")</h4>
                                        <h5>@ExternalCourse.GetPropertyValue("stepOneTitle")</h5>
                                        <p>
                                            @ExternalCourse.GetPropertyValue("stepOneText")
                                        </p>
                                        <a href="@ExternalCourse.GetPropertyValue("stepOnePaymentLink")" target="_blank" class="btn btn-light">@Umbraco.GetDictionaryValue("Make_Payment")</a>
                                        <div class="list-inline pull-right">
                                            <button type="button" id="btnPaidAlready" class="btn btn-light">@Umbraco.GetDictionaryValue("I_have_paid_already")</button>
                                        </div>
                                    </div>
                                    <!-- Start Step2 -->
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h4 class="text-center">@Umbraco.GetDictionaryValue("Step 2")</h4>
                                        <h5>@ExternalCourse.GetPropertyValue("stepTwoTitle")</h5>
                                        <p>
                                            @ExternalCourse.GetPropertyValue("stepTwoText")
                                        </p>

                                        <div class="form-content">
                                            <div class="form-group">
                                                <div class="upload-file">
                                                    <div class="custom-file">
                                                        <input class="custom-file-input" type="file" id="fuPaymentReceipt" name="fuPaymentReceipt">
                                                        <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Upload_Payment_Receipt")</label>
                                                        <span class="validationForm" id="errPaymentReceipt"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="upload-file">
                                                    <div class="custom-file">
                                                        <input class="custom-file-input" type="file" id="fuResult" name="fuResult">
                                                        <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Upload_Results")</label>
                                                        <span class="validationForm" id="errResult"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-inline pull-right">
                                            <button type="button" id="btnUpload" class="btn btn-light">@Umbraco.GetDictionaryValue("Continue")</button>
                                        </div>
                                    </div>
                                    <!-- Start Step3 -->
                                    <div class="tab-pane " role="tabpanel" id="step3">
                                        <h4 class="text-center">@Umbraco.GetDictionaryValue("Step 3")</h4>
                                        <h5>@ExternalCourse.GetPropertyValue("stepThreeTitle")</h5>
                                        <p>
                                            @ExternalCourse.GetPropertyValue("stepThreeText")
                                        </p>
                                        <h3 class="text-center">@Umbraco.GetDictionaryValue("Your_Result_is")  <span id="spanResultScore">xxx</span></h3>
                                        <div class="message-box-tab text-center" id="divSpokenPassMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("englishSpokenPassMessage")
                                        </div>
                                        <div class="message-box-tab text-center" id="divSpokenFailMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("englishSpokenFailMessage")
                                        </div>
                                        <div class="message-box-tab text-center" id="divSpokenUnderReviewMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("englishSpokenResultUnderReview")
                                        </div>
                                        <div class="list-inline pull-right" id="divUploadNext" style="display:none;">
                                            <button type="button" id="btnUploadNext" class="btn btn-light">@Umbraco.GetDictionaryValue("Continue")</button>
                                        </div>
                                    </div>
                                    <!-- Start Step4 -->
                                    <div class="tab-pane " role="tabpanel" id="step4">
                                        <h4 class="text-center">@Umbraco.GetDictionaryValue("Step 4")</h4>
                                        <h5>@ExternalCourse.GetPropertyValue("stepFourTitle")</h5>
                                        <p>
                                            @ExternalCourse.GetPropertyValue("stepFourText")
                                        </p>
                                        <div class="date-slider">
                                            <div class="owl-carousel owl-theme" id="divDateSlot">
                                               
                                            </div>
                                        </div>
                                        <div class="date-content">
                                            <div class="row" id="divTimeSlot">
                                               
                                            </div>
                                            <div class="row row-action">
                                                <div class="col-6 ">
                                                    @*<button type="button" class="btn btn-light ">Clear All</button>*@
                                                    <span class="validationForm" id="errInterviewDate"></span>
                                                </div>
                                                <div class="col-6  text-right">
                                                    <button type="button" id="btnInterviewDate" class="btn btn-light">@Umbraco.GetDictionaryValue("Confirm")</button>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <!-- Start Step5 -->
                                    <div class="tab-pane " role="tabpanel" id="step5">
                                        <h4 class="text-center">@Umbraco.GetDictionaryValue("Step 5")</h4>
                                        <h5>@ExternalCourse.GetPropertyValue("stepFiveTitle")</h5>
                                        <p>
                                            @ExternalCourse.GetPropertyValue("stepFiveText")
                                        </p>
                                        <div class="message-box-tab text-center" id="divInterviewPassMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("interviewPassMessage")
                                        </div>
                                        <div class="message-box-tab text-center" id="divInterviewFailMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("interviewFailMessage")
                                        </div>
                                        <div class="message-box-tab text-center" id="divInterviewUnderReviewMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("interviewResultUnderReview")
                                        </div>
                                        <div class="list-inline pull-right" id="divInterviewDateNext" style="display:none;">
                                            <button type="button" id="btnInterviewDateNext" class="btn btn-light">@Umbraco.GetDictionaryValue("Continue")</button>
                                        </div>
                                    </div>
                                    <!-- Start Step6 -->
                                    <div class="tab-pane " role="tabpanel" id="step6">
                                        <h4 class="text-center">@Umbraco.GetDictionaryValue("Step 6")</h4>
                                        <div id="divStep6Text" style="        display: none;
">
                                            <h5>@ExternalCourse.GetPropertyValue("stepSixTitle")</h5>
                                            <p>
                                                @ExternalCourse.GetPropertyValue("stepSixText")
                                            </p>
                                        </div>
                                        <div class="message-box-tab text-center" id="divSeatFullOccupiedMessage" style="display:none;">
                                            @ExternalCourse.GetPropertyValue("seatFullOccupiedMessage")
                                        </div>
                                        <div class="message-box-tab text-center" id="divSeatConfirmedMessagee" style="        display: none;
">
                                            @ExternalCourse.GetPropertyValue("seatConfirmedMessage")
                                        </div>
                                        <div class="list-inline pull-right" id="divPayforCourse" style="display:none;">
                                            <button type="button" id="btnPayforCourse" class="btn btn-light">@Umbraco.GetDictionaryValue("Pay_for_Course")</button>
                                        </div>
                                    </div>
                                    <!-- Start Step7 -->
                                    <div class="clearfix"></div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
                <div class="col-12" style="display: none;" id="divMemberInfo">

                    <div class="register-section">
                        <div class="form-content">
                            <div class="row tab-title">
                                <div class="col-12">
                                    <h2>@Umbraco.GetDictionaryValue("User Information")</h2>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="FirstName" id="FirstName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("First Name (English)")">
                                        <span class="validationForm" id="errFirstName"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="FirstName_ar" id="FirstName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name (Arabic)")">
                                        <span class="validationForm" id="errFirstName_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="MiddleName" id="MiddleName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Middle Name (English)")">

                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="MiddleName_ar" id="MiddleName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Middle Name (Arabic)")">

                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="LastName" id="LastName" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Last Name (English)")">
                                        <span class="validationForm" id="errLastName"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="LastName_ar" id="LastName_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name (Arabic)")">
                                        <span class="validationForm" id="errLastName_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")" readonly="readonly">
                                        <span class="validationForm" id="errEmailAddress"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="IIAGlobalNumber" id="IIAGlobalNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("IIA Global Contact No")" readonly="readonly">
                                        <span class="validationForm" id="errIIAGlobalNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="NationalIDNumber" id="NationalIDNumber" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("National ID Number")">
                                        <span class="validationForm" id="errNationalIDNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="number" name="MobileNumber" id="MobileNumber" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Mobile No")">
                                        <span class="validationForm" id="errMobileNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="JobTitle" id="JobTitle" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Job Title (English)")">
                                        <span class="validationForm" id="errJobTitle"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="JobTitle_ar" id="JobTitle_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title (Arabic)")">
                                        <span class="validationForm" id="errJobTitle_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="Organization" id="Organization" class="form-control clsAlphaNoOnly" placeholder="@Umbraco.GetDictionaryValue("Organization (English)")">
                                        <span class="validationForm" id="errOrganization"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" name="Organization_ar" id="Organization_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Organization (Arabic)")">
                                        <span class="validationForm" id="errOrganization_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <textarea name="Experience" id="Experience" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Experience")"></textarea>
                                        <span class="validationForm" id="errExperience"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <textarea name="Experience_ar" id="Experience_ar" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Experience (Arabic)")"></textarea>
                                        <span class="validationForm" id="errExperience_ar"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <select name="Education" id="Education" class="form-control">
                                            <option value="" disabled selected>@Umbraco.GetDictionaryValue("Education")</option>
                                            <option value="Bachelor">@Umbraco.GetDictionaryValue("Bachelor")</option>
                                            <option value="Master">@Umbraco.GetDictionaryValue("Education_Master")</option>
                                            <option value="PhD">@Umbraco.GetDictionaryValue("PhD")</option>
                                        </select>
                                        <span class="validationForm" id="errEducation"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="upload-file">
                                        <div class="custom-file">
                                            <input class="custom-file-input" type="file" id="fuEducationCertificate" name="fuEducationCertificate" accept=".jpg, .jpeg, .pdf, .doc, .docx" />
                                            <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Upload_Education_Certificate")</label>
                                            <span class="validationForm" id="errEducationCertificate"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <select name="CIAHolder" id="CIAHolder" class="form-control">
                                            <option value="" disabled selected>@Umbraco.GetDictionaryValue("CIA_holder")</option>
                                            <option value="Yes">@Umbraco.GetDictionaryValue("Yes")</option>
                                            <option value="No">@Umbraco.GetDictionaryValue("No")</option>
                                        </select>
                                        <span class="validationForm" id="errCIAHolder"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="upload-file">
                                        <div class="custom-file">
                                            <input class="custom-file-input" type="file" id="fuCIAHolderCertificate" name="fuCIAHolderCertificate" accept=".jpg, .jpeg, .pdf, .doc, .docx" />
                                            <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Upload_CIA_Holder_Certificate")</label>
                                            <span class="validationForm" id="errCIAHolderCertificate"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <select name="EnglishProficiency" id="EnglishProficiency" class="form-control">
                                            <option value="" disabled selected>@Umbraco.GetDictionaryValue("English_Proficiency")</option>
                                            <option value="Beginner">@Umbraco.GetDictionaryValue("Beginner")</option>
                                            <option value="Intermediate">@Umbraco.GetDictionaryValue("Intermediate")</option>
                                            <option value="Advanced">@Umbraco.GetDictionaryValue("Advanced")</option>
                                            <option value="Proficient">@Umbraco.GetDictionaryValue("Proficient")</option>
                                        </select>
                                        <span class="validationForm" id="errEnglishProficiency"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <select name="HoldEnglishProficiency" id="HoldEnglishProficiency" class="form-control">
                                            <option value="" disabled selected>@Umbraco.GetDictionaryValue("Hold_English_Proficiency_Test_Result")</option>
                                            <option value="Yes">@Umbraco.GetDictionaryValue("Yes")</option>
                                            <option value="No">@Umbraco.GetDictionaryValue("No")</option>
                                        </select>
                                        <span class="validationForm" id="errHoldEnglishProficiency"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="upload-file">
                                        <div class="custom-file">
                                            <input class="custom-file-input" type="file" id="fuEnglishProficiencyCertificate" name="fuEnglishProficiencyCertificate" accept=".jpg, .jpeg, .pdf, .doc, .docx" />
                                            <label class="custom-file-label selected">@Umbraco.GetDictionaryValue("Upload_English_Proficiency_Certificate")</label>
                                            <span class="validationForm" id="errEnglishProficiencyCertificate"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="avatar-upload">
                                <div class="avatar-preview">
                                    <div id="imagePreview">
                                    </div>
                                    <span class="validationForm" id="errimageUpload"></span>
                                </div>
                                <div class="right-side">
                                    <h4>@Umbraco.GetDictionaryValue("Upload Personal Photo")</h4>
                                    <p>@Umbraco.GetDictionaryValue("Supported Format")</p>
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" name="imageUpload" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload">@Umbraco.GetDictionaryValue("Browse Photo")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-content" id="add-more-document">
                            <div class="row tab-title">
                                <div class="col-lg-4 col-12">
                                    <h2>@Umbraco.GetDictionaryValue("Other_Pofessional_Certificates")</h2>
                                </div>
                                <div class="col-lg-8 col-12">

                                </div>
                            </div>
                            <div class="upload-file">
                                <div class="custom-file">
                                    <input class="custom-file-input OtherProfessionalCertificates" type="file" name="OtherProfessionalCertificates" accept=".jpg, .jpeg, .pdf, .doc, .docx" />
                                    <label class="custom-file-label">@Umbraco.GetDictionaryValue("Add file")</label>
                                    <div class="row-action text-right">
                                        <button type="button" class="remove-parent">
                                            <i class="fal fa-minus-octagon"></i> @Umbraco.GetDictionaryValue("Delete")
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="add-more">
                                <i class="fa fa-plus" aria-hidden="true"></i> @Umbraco.GetDictionaryValue("Add more document")
                            </button>
                            <span class="validationForm" id="errOtherProfessionalCertificates"></span>
                        </div>
                        <div class="row btn-action">
                            <div class="col-12 text-right">
                                <button type="button" class="btn btn-light" id="btnSubmit" name="btnSubmit">@Umbraco.GetDictionaryValue("Submit")</button>
                            </div>
                        </div>
                    </div>

                </div>
                @*<div class="col-12 steps-wizard" style="display: none;" id="divApplicationFee">
                    <section class="signup-step-container">
                        <div class="wizard"> 
                            <form role="form" class="login-box">
                                <div class="tab-content" id="main_form">
                                     Start Step1 
                                    <div class="tab-pane active" role="tabpanel">                                      
                                        <h5>@ExternalCourse.GetPropertyValue("applicationFeeTitle")</h5>
                                        <p>
                                            @ExternalCourse.GetPropertyValue("applicationFeeText")
                                        </p>
                                        <a class="btn btn-light" id="btnApplicationFee">@Umbraco.GetDictionaryValue("Make_Payment")</a>                                        
                                    </div>                                    
                                    <div class="clearfix"></div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>*@
            </div>
            </div>
    </div>
</div>

<script>
    // ------------step-wizard-------------
    $(document).ready(function () {
        //Wizard
        //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
           
        //    var target = $(e.target);

        //    if (target.parent().hasClass('disabled')) {
        //        return false;
        //    }
        //});

        //$(".next-step").click(function (e) {

        //    var active = $('.wizard .nav-tabs li.active');
        //    active.next().removeClass('disabled');
        //    nextTab(active);

        //});
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }


    //$('.nav-tabs').on('click', 'li', function () {
    //    $('.nav-tabs li.active').removeClass('active');
    //    $(this).addClass('active');
    //});

    //$('.steps-info .btn').on('click', function () {
    //    $(".steps-info").hide();
    //    $(".steps-wizard").show();
    //});

    $('#btnStartProcess').on('click', function () {       
        $("#divStartProcess").css("display", "none");
        $("#divStepWizard").css("display", "none"); 
        $("#divMemberInfo").css("display", "block");       
    });

    // Upload file
    

</script>
<script>
    $(document).ready(function () {
        $(document).on('change', '.custom-file-input', function (event) {
            var files = event.target.files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
        // Clone file
        $("#add-more-document .add-more").on('click', function ()
        {
            console.log("test");
            var $row = $('#add-more-document .custom-file:last-child').clone();
            $($row).children('#add-more-document .custom-file-label').html('Add file');
            $('#add-more-document .upload-file').append($row);
        });
    });

    $(document).on('click', '#add-more-document .remove-parent', function () {
        $(this).parent().parent().remove();
    })
</script>
<script>
    $(document).ready(function () {

        GetMemberAdditionInfo();

        GetRegistrationCountByCourse();

        GetAvailableDate();
        GetAvailableTime($("#hdnCourseCmsId").val(), $("#lang").val(), "");

        $("#btnApplicationFee").on("click", function () {
            var formData = new FormData();
            formData.append("CourseCmsId", $("#hdnCourseCmsId").val());
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/ProcessedApplicationFee",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                       window.location.href = "/" + $("#lang").val() +"/my-account/course-checkout/";
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                error: function (request, error) {
                    AlertMessage("Error in submission, please try again!");
                }
            });
        });

        $("#btnPaidAlready").on("click", function () {
            $("#step2").toggleClass("active");
            $("#tab_step2").toggleClass("active");
            $("#step1").removeClass("active");
            $("#tab_step1").removeClass("active");
        });

        $("#btnUpload").on("click", function () {
            if (CheckUploadValidation() == false) {
                $("#btnUpload").html("@Umbraco.GetDictionaryValue("Processing")")
                var formData = new FormData();
                formData.append("PaymentReceipt", document.getElementById("fuPaymentReceipt").files[0]);
                formData.append("Result", document.getElementById("fuResult").files[0]);
                formData.append("CourseCmsId", $("#hdnCourseCmsId").val());
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/ExternalCourse/UploadPaymentReceipt",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            $("#step3").toggleClass("active");
                            $("#tab_step3").toggleClass("active");
                            $("#step1").removeClass("active");
                            $("#tab_step1").removeClass("active");
                            $("#step2").removeClass("active");
                            $("#tab_step2").removeClass("active");
                            $("#divSpokenUnderReviewMessage").css("display", "block");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        $("#btnUploadNext").on("click", function () {
            $("#step4").toggleClass("active");
            $("#tab_step4").toggleClass("active");
            $("#step1").removeClass("active");
            $("#tab_step1").removeClass("active");
            $("#step2").removeClass("active");
            $("#tab_step2").removeClass("active");
            $("#step3").removeClass("active");
            $("#tab_step3").removeClass("active");
        });

        $("#btnInterviewDate").on("click", function () {
            if (CheckInterviewValidation() == false) {
                var formData = new FormData();
                formData.append("RegId", $("#hdnRegId").val());
                formData.append("InterviewDate", $('input[name="dateSlot"]:checked').val());
                formData.append("InterviewTime", $('input[name="timeSlot"]:checked').val());
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/ExternalCourse/UpdateInterviewDate",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            $("#step5").toggleClass("active");
                            $("#tab_step5").toggleClass("active");
                            $("#step1").removeClass("active");
                            $("#tab_step1").removeClass("active");
                            $("#step2").removeClass("active");
                            $("#tab_step2").removeClass("active");
                            $("#step3").removeClass("active");
                            $("#tab_step3").removeClass("active");
                            $("#step4").removeClass("active");
                            $("#tab_step4").removeClass("active");
                            $("#divInterviewUnderReviewMessage").css("display", "block");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        $("#btnInterviewDateNext").on("click", function () {
            $("#step6").toggleClass("active");
            $("#tab_step6").toggleClass("active");
            $("#step1").removeClass("active");
            $("#tab_step1").removeClass("active");
            $("#step2").removeClass("active");
            $("#tab_step2").removeClass("active");
            $("#step3").removeClass("active");
            $("#tab_step3").removeClass("active");
            $("#step4").removeClass("active");
            $("#tab_step4").removeClass("active");
            $("#step5").removeClass("active");
            $("#tab_step5").removeClass("active");
            $("#divStep6Text").css("display", "block");
            $("#divPayforCourse").css("display", "block");
        });

        $("#btnPayforCourse").on("click", function () {
            CheckRegistrationCountByCourse();
        });

        function CheckUploadValidation() {
            $(".validationForm").hide();
            var hasError = false;

            @*if (document.getElementById("fuPaymentReceipt").files[0] == null) {
                $("#errPaymentReceipt").html("@Umbraco.GetDictionaryValue("Validation_Error_English_Spoken_Payment_Receipt")").show();
                hasError = true;
            }*@

            if (document.getElementById("fuResult").files[0] == null) {
                $("#errResult").html("@Umbraco.GetDictionaryValue("Validation_Error_English_Spoken_Result")").show();
                hasError = true;
            }
            return hasError;
        }
        function CheckInterviewValidation() {
            $(".validationForm").hide();
            var hasError = false;

            if ($('input[name="dateSlot"]').is(":checked") && $('input[name="timeSlot"]').is(":checked")) {
                hasError = false;
            }
            else {
                $("#errInterviewDate").html("@Umbraco.GetDictionaryValue("Validation_Error_InterviewDate")").show();
                hasError = true;
            }

            return hasError;
        }

        function GetRegInfo() {
            var formData = new FormData();
            formData.append("CourseCmsId", $("#hdnCourseCmsId").val());
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetRegistrationInfo",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {

                        $("#divStepWizard").css("display", "block");
                        $("#divStartProcess").css("display", "none");
                        $("#divMemberInfo").css("display", "none");

                        $("#hdnRegId").val(response.regInfo.RegId);
                        setCookie("regId", response.regInfo.RegId, 1);


                        if (response.regInfo.EnglishSpokenResult != "") {
                            if (response.regInfo.IsEnglishSpokenPass != "") {
                                if (response.regInfo.IsEnglishSpokenPass == "Y") {
                                    $("#divSpokenPassMessage").css("display", "block");
                                    $("#spanResultScore").html(response.regInfo.EnglishSpokenResultScore);
                                    $("#divUploadNext").css("display", "block");
                                }
                                else {
                                    $("#divSpokenFailMessage").css("display", "block");
                                    $("#spanResultScore").html(response.regInfo.EnglishSpokenResultScore);
                                }
                            }
                            else {
                                $("#divSpokenUnderReviewMessage").css("display", "block");
                            }

                            $("#step3").toggleClass("active");
                            $("#tab_step3").toggleClass("active");
                            $("#step1").removeClass("active");
                            $("#tab_step1").removeClass("active");
                            $("#step2").removeClass("active");
                            $("#tab_step2").removeClass("active");
                        }
                        else {
                            $("#divStepWizard").css("display", "block");
                        }

                        if (response.regInfo.IsEnglishSpokenPass == "Y") {
                            if (response.regInfo.strInterviewDate != "") {
                                if (response.regInfo.IsInterviewPass != "") {
                                    if (response.regInfo.IsInterviewPass == "Y") {
                                        $("#divInterviewPassMessage").css("display", "block");
                                        $("#divInterviewDateNext").css("display", "block");
                                    }
                                    else {
                                        $("#divInterviewFailMessage").css("display", "block");
                                    }
                                }
                                else {
                                    $("#divInterviewUnderReviewMessage").css("display", "block");
                                }

                                $("#step5").toggleClass("active");
                                $("#tab_step5").toggleClass("active");
                                $("#step1").removeClass("active");
                                $("#tab_step1").removeClass("active");
                                $("#step2").removeClass("active");
                                $("#tab_step2").removeClass("active");
                                $("#step3").removeClass("active");
                                $("#tab_step3").removeClass("active");
                                $("#step4").removeClass("active");
                                $("#tab_step4").removeClass("active");
                            }
                            else {
                                $("#divInterviewUnderReviewMessage").css("display", "block");
                            }
                        }
                        if (response.regInfo.IsInterviewPass == "Y") {
                            if (response.regInfo.IsPaymentSuccess != "") {
                                if (response.regInfo.IsSeatConfirmed == "Y") {
                                    $("#divSeatConfirmedMessagee").css("display", "block");
                                    $("#divMessage").css("display", "none");
                                }
                                else {
                                    $("#divSeatFullOccupiedMessage").css("display", "block");
                                }
                                $("#step6").toggleClass("active");
                                $("#tab_step6").toggleClass("active");
                                $("#step1").removeClass("active");
                                $("#tab_step1").removeClass("active");
                                $("#step2").removeClass("active");
                                $("#tab_step2").removeClass("active");
                                $("#step3").removeClass("active");
                                $("#tab_step3").removeClass("active");
                                $("#step4").removeClass("active");
                                $("#tab_step4").removeClass("active");
                                $("#step5").removeClass("active");
                                $("#tab_step5").removeClass("active");
                            }
                            else {
                                $("#divStep6Text").css("display", "block");
                                $("#divPayforCourse").css("display", "block");
                            }
                        }

                    }
                    else {
                        $("#divStepWizard").css("display", "block");
                        $("#divStartProcess").css("display", "none");
                        $("#divMemberInfo").css("display", "none");
                    }
                },
                error: function (request, error) {
                    AlertMessage("Error in submission, please try again!");
                }
            });
        }

        function setCookie(name, value, days) {
            var d = new Date;
            d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
            document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
        }

        function CallNextTab() {
            var active = $('.wizard .nav-tabs li.active');
            active.next().removeClass('disabled');
            nextTab(active);
        }

        function GetRegistrationCountByCourse() {
            var formData = new FormData();
            formData.append("CourseCmsId", $("#hdnCourseCmsId").val());
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetRegistrationCountByCourse",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                      //  $("#DisplayMessage").html(""+response.count +" @Umbraco.GetDictionaryValue("Seat_Remaining_Message")");
                        $("#divMessage").css("display", "none");
                    }
                    else {
                        $("#DisplayMessage").html("@ExternalCourse.GetPropertyValue("seatFullOccupiedMessage")");
                        $('.btn-light').attr('disabled', 'disabled');
                        $("#btnStartProcess").css("display", "none");
                        $("#divMessage").css("display", "block");

                    }
                },
                error: function (request, error) {

                }
            });
        }

        function CheckRegistrationCountByCourse() {
            var formData = new FormData();
            formData.append("CourseCmsId", $("#hdnCourseCmsId").val());
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetRegistrationCountByCourse",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                        window.location.href = "/" + $("#lang").val() + "/my-account/course-checkout/";
                    }
                    else {
                        AlertMessage('@ExternalCourse.GetPropertyValue("seatFullOccupiedMessage")');
                    }
                },
                error: function (request, error) {

                }
            });
        }

        function GetMemberAdditionInfo() {
            var formData = new FormData();
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetMemberAdditionInfo",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                        GetRegInfo();
                    }
                    else {
                        $("#divStartProcess").css("display", "block");
                        $("#btnStartProcess").css("display", "inline-block");
                        $("#divStepWizard").css("display", "none");
                        $("#divMemberInfo").css("display", "none");
                        GetMemberExistingInfo();
                    }
                },
                error: function (request, error) {
                    AlertMessage("Error in submission, please try again!");
                }
            });
        }
        function GetMemberExistingInfo() {
            var formData = new FormData();
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetMemberExistingInfo",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                        $("#FirstName").val(response.memberInfo.FirstName);
                        $("#FirstName_ar").val(response.memberInfo.FirstName_ar);
                        $("#MiddleName").val(response.memberInfo.MiddleName);
                        $("#MiddleName_ar").val(response.memberInfo.MiddleName_ar);
                        $("#LastName").val(response.memberInfo.LastName);
                        $("#LastName_ar").val(response.memberInfo.LastName_ar);
                        $("#EmailAddress").val(response.memberInfo.EmailAddress);
                        $("#IIAGlobalNumber").val(response.memberInfo.IIAGlobalNumber);
                        $("#NationalIDNumber").val(response.memberInfo.NationalIDNumber);
                        $("#MobileNumber").val(response.memberInfo.MobileNumber);
                        $("#JobTitle").val(response.memberInfo.JobTitle);
                        $("#JobTitle_ar").val(response.memberInfo.JobTitle_ar);
                        $("#Organization").val(response.memberInfo.Organization);
                        $("#Organization_ar").val(response.memberInfo.Organization_ar);
                        $("#Experience").val(response.memberInfo.Experience);
                        $("#Experience_ar").val(response.memberInfo.Experience_ar);
                        $('#imagePreview').css('background-image', 'url(' + response.memberInfo.ProfilePhoto + ')');


                    }
                },
                error: function (request, error) {

                }
            });
        }

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                $("#btnSubmit").html("@Umbraco.GetDictionaryValue("Processing")")
                UpdateMemberInfo();
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;

            if ($("#FirstName").val() == '') {
                $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName").focus();
                hasError = true;
            }
            if ($("#FirstName_ar").val() == '') {
                $("#errFirstName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName_ar").focus();
                hasError = true;
            }
            if ($("#LastName").val() == '') {
                $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName").focus();
                hasError = true;
            }
            if ($("#LastName_ar").val() == '') {
                $("#errLastName_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName_ar").focus();
                hasError = true;
            }
            if ($("#NationalIDNumber").val() == '') {
                $("#errNationalIDNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_NationalID")").show();
                $("#NationalIDNumber").focus();
                hasError = true;
            }
            if ($("#MobileNumber").val() == '') {
                $("#errMobileNumber").html("@Umbraco.GetDictionaryValue("Validation_Error_Mobile")").show();
                $("#MobileNumber").focus();
                hasError = true;
            }

            if ($("#JobTitle").val() == '') {
                $("#errJobTitle").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                $("#JobTitle").focus();
                hasError = true;
            }
            if ($("#JobTitle_ar").val() == '') {
                $("#errJobTitle_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                $("#JobTitle_ar").focus();
                hasError = true;
            }
            if ($("#Organization").val() == '') {
                $("#errOrganization").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                $("#Organization").focus();
                hasError = true;
            }

            if ($("#Organization_ar").val() == '') {
                $("#errOrganization_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                $("#Organization_ar").focus();
                hasError = true;
            }

            if ($("#Experience").val() == '') {
                $("#errExperience").html("@Umbraco.GetDictionaryValue("Validation_Error_Experience")").show();
                $("#Experience").focus();
                hasError = true;
            }

            if ($("#Experience_ar").val() == '') {
                $("#errExperience_ar").html("@Umbraco.GetDictionaryValue("Validation_Error_Experience")").show();
                $("#Experience_ar").focus();
                hasError = true;
            }

            if ($("#Education option:selected").val() == '') {
                $("#errEducation").html("@Umbraco.GetDictionaryValue("Validation_Error_Education")").show();
                $("#Education").focus();
                hasError = true;
            }

            if ($("#fuEducationCertificate").val() == '') {
                $("#errEducationCertificate").html("@Umbraco.GetDictionaryValue("Validation_Error_Education_Certificate")").show();
                $("#fuEducationCertificate").focus();
                hasError = true;
            }

            if ($("#CIAHolder option:selected").val() == '') {
                $("#errCIAHolder").html("@Umbraco.GetDictionaryValue("Validation_Error_CIAHolder")").show();
                $("#CIAHolder").focus();
                hasError = true;
            }

            if ($("#CIAHolder option:selected").val() == 'Yes') {
                if ($("#fuCIAHolderCertificate").val() == '') {
                    $("#errCIAHolderCertificate").html("@Umbraco.GetDictionaryValue("Validation_Error_CIAHolder_Certificate")").show();
                    $("#fuCIAHolderCertificate").focus();
                    hasError = true;
                }
            }

            if ($("#EnglishProficiency option:selected").val() == '') {
                $("#errEnglishProficiency").html("@Umbraco.GetDictionaryValue("Validation_Error_English_Proficiency")").show();
                $("#EnglishProficiency").focus();
                hasError = true;
            }

            if ($("#HoldEnglishProficiency option:selected").val() == '') {
                $("#errHoldEnglishProficiency").html("@Umbraco.GetDictionaryValue("Validation_Error_HoldEnglishProficiency")").show();
                $("#HoldEnglishProficiency").focus();
                hasError = true;
            }

            if ($("#HoldEnglishProficiency option:selected").val() == 'Yes') {
                if ($("#fuEnglishProficiencyCertificate").val() == '') {
                    $("#errEnglishProficiencyCertificate").html("@Umbraco.GetDictionaryValue("Validation_Error_HoldEnglishProficiency_Certificate")").show();
                    $("#fuEnglishProficiencyCertificate").focus();
                    hasError = true;
                }
            }

            return hasError;
        }
        function UpdateMemberInfo() {
            var formData = new FormData();
            formData.append("lang", $("#lang").val());
            formData.append("FirstName", $("#FirstName").val());
            formData.append("FirstName_ar", $("#FirstName_ar").val());
            formData.append("MiddleName", $("#MiddleName").val());
            formData.append("MiddleName_ar", $("#MiddleName_ar").val());
            formData.append("LastName", $("#LastName").val());
            formData.append("LastName_ar", $("#LastName_ar").val());
            formData.append("NationalIDNumber", $("#NationalIDNumber").val());
            formData.append("MobileNumber", $("#MobileNumber").val());
            formData.append("JobTitle", $("#JobTitle").val());
            formData.append("JobTitle_ar", $("#JobTitle_ar").val());
            formData.append("Organization", $("#Organization").val());
            formData.append("Organization_ar", $("#Organization_ar").val());
            formData.append("Experience", $("#Experience").val());
            formData.append("Experience_ar", $("#Experience_ar").val());
            formData.append("Education", $("#Education option:selected").val());
            formData.append("EducationCertificate", document.getElementById("fuEducationCertificate").files[0]);
            formData.append("CIAHolder", $("#CIAHolder option:selected").val());
            if (document.getElementById("fuCIAHolderCertificate").files[0]!="") {
                formData.append("CIAHolderCertificate", document.getElementById("fuCIAHolderCertificate").files[0]);
            }
            formData.append("EnglishProficiency", $("#EnglishProficiency option:selected").val());
            formData.append("HoldEnglishProficiency", $("#HoldEnglishProficiency option:selected").val());
            if (document.getElementById("fuEnglishProficiencyCertificate").files[0] != "") {
                formData.append("EnglishProficiencyCertificate", document.getElementById("fuEnglishProficiencyCertificate").files[0]);
            }

            var control = $("#add-more-document").find('input');
            for (var i = 0; i < control.length; i++) {
                if ($(control[i]).attr('type') == "file") {
                    if ($(control[i]).attr('name') == "OtherProfessionalCertificates") {
                        formData.append("OtherProfessionalCertificates", $('.OtherProfessionalCertificates')[i].files[0]);
                    }
                }
            }

            if (document.getElementById("imageUpload").files[0] != "") {
                formData.append("ProfilePhoto", document.getElementById("imageUpload").files[0]);
            }

            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/UpdateMemberInfo",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                        $("#divStepWizard").css("display", "block");
                        $("#divStartProcess").css("display", "none");
                        $("#divMemberInfo").css("display", "none");
                    }
                    else {
                         $("#btnSubmit").html("@Umbraco.GetDictionaryValue("Submit")")
                    }
                },
                error: function (request, error) {
                    $("#btnSubmit").html("@Umbraco.GetDictionaryValue("Submit")")
                }
            });
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });

        function GetAvailableDate() {
            var formData = new FormData();
            formData.append("CourseCmsId", $("#hdnCourseCmsId").val());
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetAvailableDate",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {

                        var tbHtml = "";
                        $.each(response.AvailableDates, function (i, dateSlot) {
                            tbHtml += "<div class='item'>";
                            tbHtml += "<div class='custom-control custom-radio'>";
                            tbHtml += "<input type='radio' class='custom-control-input' id='" + dateSlot.SerialNo + "' name='dateSlot' value='" + dateSlot.InterviewDate + "' " + dateSlot.IsDefaultChecked +">";
                            tbHtml += "<label class='custom-control-label' for='" + dateSlot.SerialNo + "'>";
                            tbHtml += "<span>" + dateSlot.InterviewDateMonth+"</span>";
                            tbHtml += "<span>" + dateSlot.InterviewDateDay +"</span>";
                            tbHtml += "<small>" + dateSlot.TotalAvailableSlot +"</small>";
                            tbHtml += "</label>";
                            tbHtml += "</div>";
                            tbHtml += "</div>";
                        });

                        $("#divDateSlot").html(tbHtml);

                        $('.date-slider .owl-carousel').owlCarousel({
                            loop: false,
                            autoplay: false,
                            margin: 15,
                            autoplayTimeout: 3000,
                            autoplaySpeed: 1000,
                            autoplayHoverPause: true,
                            responsiveClass: true,
                            smartSpeed: 1500,
                            nav: true,
                            dots: false,
                            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
                            responsive: {
                                0: {
                                    items: 3,
                                    margin: 5,
                                },
                                768: {
                                    items: 7,
                                },
                                1200: {
                                    items: 7
                                }
                            }
                        });

                        $("#divDateSlot input:radio").click(function () {
                            GetAvailableTime($("#hdnCourseCmsId").val(), $("#lang").val(), $('input[name="dateSlot"]:checked').val());
                        });

                    }
                },
                error: function (request, error) {

                }
            });
        }

        function GetAvailableTime(CourseCmsId, lang, date) {
            var formData = new FormData();
            formData.append("CourseCmsId", CourseCmsId);
            formData.append("lang", lang);
            formData.append("date", date);
            $.ajax({
                url: "/Umbraco/Surface/ExternalCourse/GetAvailableTime",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        $.each(response.AvailableTime, function (i, timeSlot) {
                            tbHtml += "<div class='col-md-3 col-6'>";
                            tbHtml += "<div class='custom-control custom-radio'>";
                            tbHtml += "<input type='radio' class='custom-control-input' id='" + timeSlot.SerialNo + "' name='timeSlot' value='" + timeSlot.InterviewTime + "' " + timeSlot.IsDisable + ">";
                            tbHtml += "<label class='custom-control-label' for='" + timeSlot.SerialNo + "'>";
                            tbHtml += "<span>" + timeSlot.InterviewDisplayTime + "</span>";
                            tbHtml += "</label>";
                            tbHtml += "</div>";
                            tbHtml += "</div>";
                        });

                        $("#divTimeSlot").html(tbHtml);

                    }
                },
                error: function (request, error) {

                }
            });
        }

        //$('input[name="dateSlot"]').click(function () {
        //    alert($('input[name="dateSlot"]:checked').val());
        //});

    });
</script>


