﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

    var Home = pageContent.Parent.Parent;

    var ExternalCourse = Home.Children.Where(x => x.DocumentTypeAlias == "aboutCourseItems1").FirstOrDefault();   

}


<div class="right-side col-lg-9 col-md-10 col-12">
    <div class="body-content row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h1 class="">@pageContent.GetPropertyValue("title")</h1>                        
                    </div>
                </div>
            </div>

            <div class="row list-info steps-content">
                <div class="col-12 steps-info" style="margin-bottom:8px;margin-left: -31px;margin-top: 16px;" id="divMessage">
                    <div class="card bg-light mb-3" style="background-color: white !important;color: #00AEEF;height: 51px;">
                        <div class="card-body" style="text-align:center;">
                            <h5 class="card-title" id="DisplayMessage">@Umbraco.GetDictionaryValue("Not_Eligible_Program")</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>