﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IIA.Models.InvoiceViewModel>
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}


<section class="cart">
    <div class="content-body">
        <div class="container-fluid padd-0">
            <div class="row">
                <div class="cart-head">
                    <h1>@pageContent.GetPropertyValue("title")</h1>
                    @Html.Raw(pageContent.GetPropertyValue("description"))
                    <h3>@Umbraco.GetDictionaryValue("Your Invoice Number"): @this.Model.InvoiceInfo.InvoiceNumber</h3>
                </div>
            </div>
            @foreach (var item in this.Model.ListInvoiceItem)
            {
                <div class="product-row row">
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            @if (item.ProductType == "P")
                            {
                                <div class="col-lg-4 col-md-5 col-12 product-card">
                                    <img src="@item.ProductPicture" class="img-fluid" alt="@item.ProductCmsName">
                                </div>
                            }
                            @if (item.ProductType == "P")
                            {
                                <div class="col-lg-8 col-md-7 col-12">
                                    <h3>@item.ProductCmsName</h3>
                                    <p>@Umbraco.GetDictionaryValue("Quantity"): @item.Quantity</p>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-8 col-md-7 col-12">
                                    <h3>@item.CourseCmsName</h3>
                                    <p>@Html.Raw(@item.LevelCmsName + ", "+ @item.StudyMethodCmsName + ", " + @item.StartDate + " - "+ @item.EndDate)</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="row">                           
                            <div class="col-md-11 col-6">
                                <span class="price">SAR @string.Format("{0:n0}", item.Price)</span>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-12"><hr></div>
                </div>
            }
            <!-- Start Total Section -->
            <div class="row row-total">
                <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Sub Total")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.InvoiceInfo.SubTotal)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Discount")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.InvoiceInfo.Discount)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Shipping")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.InvoiceInfo.Shipping)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("VAT")</span>
                            <span class="right-side">SAR @string.Format("{0:n2}", this.Model.InvoiceInfo.VAT)</span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Grand Total")</span>
                            <span class="right-side large-num">SAR @string.Format("{0:n2}", this.Model.InvoiceInfo.GrandTotal)</span>
                        </li>
                        @*<li>
            <span class="left-side">@Umbraco.GetDictionaryValue("Transaction amount")</span>
            <span class="right-side large-num">@this.Model.InvoiceInfo.TransactionCurrency @string.Format("{0:0.00}", this.Model.InvoiceInfo.TransactionAmount)</span>
        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
