﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

    <input type="hidden" id="lang" value="@lang" />
    <input type="hidden" id="sc"/>
    <section class="cart">
        <div class="content-body">
            <div class="container-fluid padd-0">
                <div class="row">
                    <div class="cart-head">
                        <h1>@pageContent.GetPropertyValue("title")</h1>
                        @Html.Raw(pageContent.GetPropertyValue("description"))
                    </div>
                </div>
                <div id="divCartItem">

                </div>
                <div class="custom-radios" style="width:100%">
                    <h3>@Umbraco.GetDictionaryValue("Select Payment Method")</h3>
                    <div class="col-md-6">
                        <div>
                            <input type="radio" id="VISA" name="PaymentMethod" value="VISA" checked>
                            <label for="VISA">
                                <span>
                                    @Umbraco.GetDictionaryValue("VISA")
                                </span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="MASTER" name="PaymentMethod" value="MASTER">
                            <label for="MASTER">
                                <span>
                                    @Umbraco.GetDictionaryValue("MASTER")
                                </span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="MADA" name="PaymentMethod" value="MADA">
                            <label for="MADA">
                                <span>
                                    @Umbraco.GetDictionaryValue("MADA")
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Start Total Section -->
                <div class="row row-total">
                    <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                        <ul class="list-unstyled">
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Sub Total")</span>
                                <span class="right-side" id="spanSubTotal"></span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Discount")</span>
                                <span class="right-side" id="spanDiscount"></span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Shipping")</span>
                                <span class="right-side" id="spanShipping"></span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("VAT")</span>
                                <span class="right-side" id="spanVAT"></span>
                            </li>
                            <li>
                                <span class="left-side">@Umbraco.GetDictionaryValue("Grand Total")</span>
                                <span class="right-side large-num" id="spanGrandTotal"></span>
                            </li>
                        </ul>
                    </div>                    
                </div>   
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" name="promoCode" id="promoCode" class="form-control" style="width:70%;display:inline;" placeholder="@Umbraco.GetDictionaryValue("Enter_Promo_Code")" />
                        <button type="button" class="btn btn-light" id="btnApply">@Umbraco.GetDictionaryValue("Apply")</button>
                    </div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-light" style="float:right;" id="btnProceed">@Umbraco.GetDictionaryValue("Proceed to Checkout")</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

    GetCartItem($("#lang").val());

    function GetCartItem(lang) {
        $(document).ready(function () {

            var promoCode = $("#promoCode").val();

            $.ajax({
                url: '/Umbraco/Surface/Cart/GetCartCheckoutItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "', promoCode:'" + promoCode + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        var image = "";
                        var Description = "";

                        $.each(response.CartItem.CartList, function (i, cartItem) {

                            image = "";
                            Description = "";

                            if (cartItem.ProductType == "P") {
                                image = '     <div class="col-lg-4 col-md-5 col-12 product-card">  ' +
                                    '                               <img src="' + cartItem.ProductPicture + '" class="img-fluid" alt="' + cartItem.ProductCmsName + '">  ' +
                                    '                          </div>  ';
                                Description = '    <h3>' + cartItem.ProductCmsName + '</h3>  ' +
                                    '                               <p> @Umbraco.GetDictionaryValue("Quantity"): ' + cartItem.Quantity + '</p>  ';
                            }
                            else {
                                Description = '    <h3>' + cartItem.CourseCmsName + '</h3>  ' +
                                    '                              <p>' + cartItem.LevelCmsName + ', ' + cartItem.StudyMethodCmsName + ', ' + cartItem.StartDate + ' - ' + cartItem.EndDate + '</p>  ';
                            }


                            tbHtml += '   <div class="product-row row">  ' +
                                '                   <div class="col-lg-6 col-12">  ' +
                                '                       <div class="row">  ' + image +
                                '                           <div class="col-lg-8 col-md-7 col-12">  ' + Description +
                                '                           </div>  ' +
                                '                       </div>  ' +
                                '                   </div>  ' +
                                '                   <div class="col-lg-6 col-12">  ' +
                                '                       <div class="row">  ' +
                                '                           <div class="col-md-4 col-12">  ' +
                                '                               <div class="input-group" style="display:' + cartItem.ShowHideCounter + '">  ' +
                                //'                                   <span class="input-group-btn">  ' +
                                //'                                       <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="" onClick="MinusItem(' + cartItem.CartId + ')">  ' +
                                //'                                           <i class="far fa-minus"></i>  ' +
                                //'                                       </button>  ' +
                                //'                                   </span>  ' +
                                //'                                   <input type="text" id="quantity" name="quantity" class="form-control input-number" value="' + cartItem.Quantity+'" min="1" max="100" readonly>  ' +
                                //'                                   <span class="input-group-btn">  ' +
                                //'                                       <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" onClick="PlusItem(' + cartItem.CartId + ')">  ' +
                                //'                                           <i class="far fa-plus"></i>  ' +
                                //'                                       </button>  ' +
                                //'                                   </span>  ' +
                                '                               </div>  ' +
                                '                           </div>  ' +
                                '                           <div class="col-md-11 col-6">  ' +
                                '                               <span class="price">SAR ' + numberWithCommas(cartItem.Price) + '</span>  ' +
                                '                           </div>  ' +
                                '                           <div class="col-md-4 col-6 action-row" style="display:none;">  ' +
                                '                               <button class="btn btn-default delete-cart" onClick="DeleteItem(' + cartItem.CartId + ')"><i class="fal fa-trash-alt"></i></button>' +
                                '                           </div>  ' +
                                '                       </div>  ' +
                                '                   </div>  ' +
                                '                   <div class="col-12"><hr></div>  ' +
                                '              </div>  ';

                        });

                        $("#divCartItem").html(tbHtml);

                        $("#spanSubTotal").html("SAR " + numberWithCommas(response.CartItem.SubTotal));
                        $("#spanShipping").html("SAR " + numberWithCommas(response.CartItem.Shipping));
                        $("#spanVAT").html("SAR " + numberWithCommas(response.CartItem.VAT));
                        $("#spanDiscount").html("SAR " + numberWithCommas(response.CartItem.Discount));
                        $("#spanGrandTotal").html("SAR " + numberWithCommas(response.CartItem.GrandTotal));
                        $("#sc").val(response.CartItem.Shipping);
                    }
                    else {
                       AlertMessage('@Umbraco.GetDictionaryValue("Cart_Empty")');
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    function DeleteItem(CartId) {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/DeleteItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', CartId:'" + CartId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        GetCartItem($("#lang").val());
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    function MinusItem(CartId) {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/MinusItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', CartId:'" + CartId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        GetCartItem($("#lang").val());
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }
    function PlusItem(CartId) {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/PlusItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', CartId:'" + CartId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        GetCartItem($("#lang").val());
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    $("#btnProceed").on("click", function () {
        $(document).ready(function () {
            var PaymentMethod = $("input[name=PaymentMethod]:checked").val();
            var promoCode = $("#promoCode").val();
            $.ajax({
                url: '/Umbraco/Surface/Cart/ProceedToPayment',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', PaymentMethod:'" + PaymentMethod + "', sc:'" + $("#sc").val() + "', promoCode:'" + promoCode + "'}",
                success: function (response) {
                    if (response.status == true) {
                        window.location = response.url;
                    }
                    else {
                        AlertMessage(response.message);
                    }

                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        });
    });

        $("#btnApply").on("click", function () {
            $(document).ready(function () {
                var promoCode = $("#promoCode").val();
                if (promoCode != "") {
                    $.ajax({
                        url: '/Umbraco/Surface/Cart/ValidatePromoCode',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8',
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        type: 'POST',
                        data: "{lang:'" + $("#lang").val() + "', promoCode:'" + promoCode + "'}",
                        success: function (response) {
                            if (response.status == true) {
                                GetCartItem($("#lang").val());
                            }
                            else {
                                GetCartItem($("#lang").val());
                                if (response.message == "Invalid_Promo_Code") {
                                    AlertMessage('@Umbraco.GetDictionaryValue("Invalid_Promo_Code")');
                                }
                                else if (response.message == "Maximum_Use_Promo_Code") {
                                    AlertMessage('@Umbraco.GetDictionaryValue("Maximum_Use_Promo_Code")');
                                }
                            }

                        },
                        failure: function (response) {

                        },
                        error: function (response) {

                        }
                    });
                }
            });
        });
    </script>