﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);

}

<section class="cart">
    <div class="content-body">
        <div class="container-fluid padd-0">
            <div class="row">
                <div class="cart-head">
                    <h1>@pageContent.GetPropertyValue("title")</h1>
                    @Html.Raw(pageContent.GetPropertyValue("description"))
                </div>
                <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                    <button type="button" class="btn btn-light" id="btnSubmit">@Umbraco.GetDictionaryValue("Back to Payment Page")</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
        $(document).ready(function () {

            $("#btnSubmit").on("click", function () {

                window.location.href = '/@lang/shop/cart-checkout/';

            });
        });
</script>


