﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var image = pageContent.GetPropertyValue<IPublishedContent>("image");
}
    <input type="hidden" id="lang" value="@lang" />
<div class="login-section">
    <div class="container-fluid padd-0">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-12 left-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image:url(@image.Url);"></div>
            <div class="col-lg-6 col-md-7 col-12 right-side" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <form>
                    <div class="form-content">
                        <h2>@pageContent.GetPropertyValue("subTitle")</h2>                        
                        <h3>@Umbraco.GetDictionaryValue("Enter your email address")</h3>
                        <div class="form-group">
                            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                            <span class="validationForm" id="errEmailAddress"></span>
                        </div>                       
                        <div class="row login-action">                           
                            <div class="col-md-6 col-12 text-right">
                                <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                            </div>
                        </div>                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("email", $("#EmailAddress").val());
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/FormProcess/ForgotPassword",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Reset_Password_Email_Sent")');
                            $("#EmailAddress").val("");
                        }
                        else {
                           AlertMessage('@Umbraco.GetDictionaryValue("Forgot_Password_Email_Not_Found")');
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#EmailAddress").val() == '') {
                $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }

            return hasError;
        }
    });


</script>