﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var image = pageContent.GetPropertyValue<IPublishedContent>("image");
}
    <input type="hidden" value="@lang" name="lang" id="lang" />
    <div class="login-section">
        <div class="container-fluid padd-0">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12 left-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image:url(@image.Url);"></div>
                <div class="col-lg-6 col-md-7 col-12 right-side" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <form>
                        <div class="form-content">
                            <h2>@pageContent.GetPropertyValue("subTitle")</h2>

                            <div class="custom-radios">
                                <div>
                                    <input type="radio" id="Member" name="MembershipType" value="Member" checked>
                                    <label for="Member">
                                        <span>
                                            <i class="fal fa-user"></i> @Umbraco.GetDictionaryValue("Member")
                                        </span>
                                    </label>
                                </div>

                                <div>
                                    <input type="radio" id="NonMember" name="MembershipType" value="NonMember">
                                    <label for="NonMember">
                                        <span>
                                            <i class="fal fa-user"></i> @Umbraco.GetDictionaryValue("Non-Member")
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <h3>@Umbraco.GetDictionaryValue("Enter your credentials")</h3>
                            <div class="form-group">
                                <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                <span class="validationForm" id="errEmailAddress"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" id="Password" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Password")">
                                <span class="validationForm" id="errPassword"></span>
                            </div>
                            <div class="row login-action">
                                <div class="col-md-6 col-12 ">
                                    <a href="/@lang/forgot-password">@Umbraco.GetDictionaryValue("Forgot Password?")</a>
                                </div>
                                <div class="col-md-6 col-12 text-right">
                                    <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Login")</button>
                                </div>
                            </div>
                            <h4 class="text-center">@Umbraco.GetDictionaryValue("Dont Have an Account?") &nbsp; <a href="/@lang/registration/member-register/">@Umbraco.GetDictionaryValue("Member_Register")</a> <a href="/@lang/registration/non-member-register/">@Umbraco.GetDictionaryValue("Non_Member_Register")</a></h4>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $("#btnSubmit").on("click", function () {
                if (CheckValidation() == false) {
                    $(".validationForm").hide();
                    var formData = new FormData();
                    formData.append("EmailAddress", $("#EmailAddress").val());
                    formData.append("Password", $("#Password").val());
                    formData.append("lang", $("#lang").val());
                    $.ajax({
                        url: "/Umbraco/Surface/FormProcess/Login",
                        type: 'POST',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: formData,
                        beforeSend: function () {
                           // $("#loginloader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                        },
                        success: function (response) {
                            if (response.status == true) {
                                if (response.message != "") {
                                    if (response.message == "Account_Not_Activated") {
                                        AlertMessage('@Umbraco.GetDictionaryValue("Account_Not_Activated")');
                                    }
                                }
                                else {
                                    window.location = response.returnUrl;
                                }
                            }
                            else {
                                if (response.message != "") {
                                   AlertMessage('@Umbraco.GetDictionaryValue("Invalid_Credential")');
                                }
                            }

                            $('.load').remove();
                        },
                        error: function (request, error) {
                            AlertMessage(" Can't do because: " + error);
                            $('.load').remove();
                        }
                    });
                }
            });

            function CheckValidation() {
                $(".validationForm").hide();
                var hasError = false;

                if ($("#EmailAddress").val() == '') {
                    $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                    $("#EmailAddress").focus();
                    hasError = true;
                }

                if ($("#Password").val() == '') {
                    $("#errPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password")").show();
                    $("#Password").focus();
                    hasError = true;
                }
                return hasError;
            }
        });
    </script>