﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    
}
<input type="hidden" id="lang" value="@lang" />
<section class="cart">
    <div class="content-body">
        <div class="container-fluid padd-0">
            <div class="row">
                <div class="cart-head">
                    <h1>@pageContent.GetPropertyValue("title")</h1>
                    @Html.Raw(pageContent.GetPropertyValue("description"))
                </div>
            </div>
            <div id="divCartItem">

            </div>                      
            <!-- Start Total Section -->
            <div class="row row-total" style="display:none;" id="divCartSummary">
                <div class="col-lg-3 col-md-4 col-12 offset-lg-9 offset-md-8">
                    <ul class="list-unstyled">
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Sub Total")</span>
                            <span class="right-side" id="spanSubTotal"></span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Discount")</span>
                            <span class="right-side" id="spanDiscount"></span>
                        </li>
                        <li style="display:none;">
                            <span class="left-side">@Umbraco.GetDictionaryValue("Shipping")</span>
                            <span class="right-side" id="spanShipping"></span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("VAT")</span>
                            <span class="right-side" id="spanVAT"></span>
                        </li>
                        <li>
                            <span class="left-side">@Umbraco.GetDictionaryValue("Grand Total")</span>
                            <span class="right-side large-num" id="spanGrandTotal"></span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-light" id="btnProceed">@Umbraco.GetDictionaryValue("Proceed to Checkout")</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    GetCartItem($("#lang").val());

    function GetCartItem(lang) {

        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/GetCartItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        var image = "";
                        var Description = "";

                        $.each(response.CartItem.CartList, function (i, cartItem) {
                            image = "";
                            Description = "";

                            if (cartItem.ProductType == "P") {
                                image = '     <div class="col-lg-4 col-md-5 col-12 product-card">  ' +
                                    '                               <img src="' + cartItem.ProductPicture + '" class="img-fluid" alt="' + cartItem.ProductCmsName + '">  ' +
                                    '                          </div>  ';
                                Description = '    <h3>' + cartItem.ProductCmsName + '</h3>  ' +
                                    '                              <p></p>  ';
                            }
                            else {
                                Description = '    <h3>' + cartItem.CourseCmsName + '</h3>  ' +
                                    '                              <p>' + cartItem.LevelCmsName + ', ' + cartItem.StudyMethodCmsName + ', ' + cartItem.StartDate + ' - ' + cartItem.EndDate + '</p>  ';
                            }


                            tbHtml += '   <div class="product-row row">  ' +
                                '                   <div class="col-lg-6 col-12">  ' +
                                '                       <div class="row">  ' + image +
                                '                           <div class="col-lg-8 col-md-7 col-12">  ' + Description +
                                '                           </div>  ' +
                                '                       </div>  ' +
                                '                   </div>  ' +
                                '                   <div class="col-lg-6 col-12">  ' +
                                '                       <div class="row">  ' +
                                '                           <div class="col-md-4 col-12">  ' +
                                '                               <div class="input-group" style="display:' + cartItem.ShowHideCounter +'">  ' +
                                '                                   <span class="input-group-btn">  ' +
                                '                                       <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="" onClick="MinusItem(' + cartItem.CartId + ')">  ' +
                                '                                           <i class="far fa-minus"></i>  ' +
                                '                                       </button>  ' +
                                '                                   </span>  ' +
                                '                                   <input type="text" id="quantity" name="quantity" class="form-control input-number" value="' + cartItem.Quantity+'" min="1" max="100" readonly>  ' +
                                '                                   <span class="input-group-btn">  ' +
                                '                                       <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" onClick="PlusItem(' + cartItem.CartId + ')">  ' +
                                '                                           <i class="far fa-plus"></i>  ' +
                                '                                       </button>  ' +
                                '                                   </span>  ' +
                                '                               </div>  ' +
                                '                           </div>  ' +
                                '                           <div class="col-md-4 col-6">  ' +
                                '                               <span class="price">SAR ' + numberWithCommas(cartItem.Price) + '</span>  ' +
                                '                           </div>  ' +
                                '                           <div class="col-md-4 col-6 action-row">  ' +
                                '                               <button class="btn btn-default delete-cart" onClick="DeleteItem(' + cartItem.CartId + ')"><i class="fal fa-trash-alt"></i></button>' +
                                '                           </div>  ' +
                                '                       </div>  ' +
                                '                   </div>  ' +
                                '                   <div class="col-12"><hr></div>  ' +
                                '              </div>  ';

                        });

                        $("#divCartItem").html(tbHtml);

                        $("#spanSubTotal").html("SAR " + numberWithCommas(response.CartItem.SubTotal));
                        $("#spanShipping").html("SAR " + numberWithCommas(response.CartItem.Shipping));
                        $("#spanVAT").html("SAR " + numberWithCommas(response.CartItem.VAT));
                        $("#spanDiscount").html("SAR " + numberWithCommas(response.CartItem.Discount));
                        $("#spanGrandTotal").html("SAR " + numberWithCommas(response.CartItem.GrandTotal));
                        $("#divCartSummary").css("display", "block");
                    }
                    else {
                        $("#divCartItem").html("");
                        $("#divCartSummary").css("display", "none");
                        AlertMessage('@Umbraco.GetDictionaryValue("Cart_Empty")');
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    function DeleteItem(CartId) {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/DeleteItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', CartId:'" + CartId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        UpdateCounter();
                        GetCartItem($("#lang").val());
                        //AlertMessage(response.message);
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    function MinusItem(CartId) {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/MinusItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', CartId:'" + CartId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        UpdateCounter();
                        GetCartItem($("#lang").val());
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }
    function PlusItem(CartId) {
        var formData = new FormData();
        formData.append("CartId", CartId);
        formData.append("lang", $("#lang").val());
        $.ajax({
            url: "/Umbraco/Surface/Cart/CheckCartStockQty",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {
                // $("#loginloader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
            },
            success: function (response) {
                if (response.status == true) {
                    AddQty(CartId);
                }
                else {
                    if (response.message != "") {
                        AlertMessage('@Umbraco.GetDictionaryValue("Product_Quantity_Greater_Than_Stock_Qty") ' + response.availableStock);
                    }
                }
                $('.load').remove();
            },
            error: function (request, error) {
                AlertMessage(" Can't do because: " + error);
                $('.load').remove();
            }
        });

    }

    function AddQty(CartId) {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/PlusItem',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "', CartId:'" + CartId + "'}",
                success: function (response) {
                    if (response.status == true) {
                        UpdateCounter();
                        GetCartItem($("#lang").val());
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

    $("#btnProceed").on("click", function () {
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Cart/ProceedToCheckout',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        window.location = response.url;
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        });
    });
</script>