﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var image = pageContent.GetPropertyValue<IPublishedContent>("image");
}
<input type="hidden" id="key" value="@Request.QueryString["key"].ToString()" />
<input type="hidden" id="lang" value="@lang" />
<div class="login-section">
    <div class="container-fluid padd-0">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-12 left-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image:url(@image.Url);"></div>
            <div class="col-lg-6 col-md-7 col-12 right-side" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <form>
                    <div class="form-content">
                        <h2>@pageContent.GetPropertyValue("subTitle")</h2>
                        <div class="form-group">
                            <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("New Password")">
                            <span class="validationForm" id="errNewPassword"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Confirm New Password")">
                            <span class="validationForm" id="errConfirmPassword"></span>
                        </div>
                        <div class="row login-action">
                            <div class="col-md-6 col-12 text-right">
                                <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        CheckResetPasswordLink();

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("key", $("#key").val());
                formData.append("newPassword", $("#NewPassword").val());
                $.ajax({
                    url: "/Umbraco/Surface/FormProcess/ResetPassword",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                             AlertMessage('@Umbraco.GetDictionaryValue("Reset_Password_Success")');
                            $("#NewPassword").val("");
                            $("#ConfirmPassword").val("");
                        }
                        else {
                            AlertMessage("Error in submission, please try again!");
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        $("#NewPassword").on("change keyup", function () {
            if ($('#NewPassword').val() != "") {
                var passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-_$@@!%*?&])[A-Za-z\d-_$@@!%*?&]{8,}/;
                if (!passReg.test($('#NewPassword').val())) {
                    $("#errNewPassword").html("The password must contain the following: At least 8 characters, at least 1 upper case, 1 lower case, 1 number, and 1 special character. Special char only accepts -_$@@!%*?&").show();
                    $("#NewPassword").focus();
                }
                else {
                    $('#errNewPassword').html("").hide();
                }
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var passReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-_$@@!%*?&])[A-Za-z\d-_$@@!%*?&]{8,}/;

            if ($("#NewPassword").val() == '') {
                $("#errNewPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_New_Password")").show();
                $("#NewPassword").focus();
                hasError = true;
            }
            else if (!passReg.test($("#NewPassword").val())) {
                $("#errNewPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_Requirement")").show();
                $("#NewPassword").focus();
                hasError = true;
            }
            if ($("#ConfirmPassword").val() != $("#NewPassword").val()) {
                $("#errConfirmPassword").html("@Umbraco.GetDictionaryValue("Validation_Error_Password_NotMatch")").show();
                $("#ConfirmPassword").focus();
                hasError = true;
            }

            return hasError;
        }

        function CheckResetPasswordLink() {
            var formData = new FormData();
            formData.append("key", $("#key").val());
            $.ajax({
                url: "/Umbraco/Surface/FormProcess/CheckResetPasswordLink",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                    }
                    else {
                        RedirectMessage('@Umbraco.GetDictionaryValue("Reset_Password_Link_Expire")');
                    }
                },
                error: function (request, error) {
                    AlertMessage("Error in submission, please try again!");
                }
            });
        }

        function RedirectMessage(message) {
            if (message != null && message != "") {
                swal({
                    title: "",
                    text: message,
                    type: "error",
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: 'Ok'
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            window.location.href = '/' + $("#lang").val()+'/login/';
                        }
                    });
            }
        }
    });


</script>