﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<script src="/AdminUI/js/developer.js"></script>
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<!--<script src="/ui/javascript/uicreep-minify.js"></script>-->

<div>
    <h3 style="color: maroon; padding-left: 41px;">Internship Approval</h3>
    <table>
        <tr>
            <td>
                <p style="padding-left: 43px;">
                    <select id="Member" name="Member">
                    </select>
                    <span class="validationForm" id="errMember"></span>
                </p>
            </td>
            <td>
                <p style="padding-left: 43px;">
                    <select id="Status" name="Status">
                        <option value="">Select Status</option>
                        <option value="true">Approve</option>
                        <option value="false" selected="selected">Un Approve</option>
                    </select>
                </p>
            </td>
            <td>
                <p style="padding-left: 43px;">
                    <select id="Post" name="Post">
                    </select>
                    <span class="validationForm" id="errPost"></span>
                </p>
            </td>
        </tr>
    </table>
    <br /><br />
    <div class="form-row" id="divForm">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <input type="text" name="JobTitle" id="JobTitle" class="form-control" placeholder="Job Title">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <input type="text" name="Company" id="Company" class="form-control" placeholder="Company">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <input type="text" name="Location" id="Location" class="form-control" placeholder="Location">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <select name="Tenure" id="Tenure" class="form-control">
                    <option value="" disabled selected>Tenure</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Part Time">Part Time</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <textarea name="JobDescription" id="JobDescription" class="form-control" placeholder="Job Description"></textarea>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <textarea name="JobResponsibilities" id="JobResponsibilities" class="form-control" placeholder="Job Responsibilities"></textarea>
            </div>
        </div>
        <div class="col-md-6 col-12">
            Banner Image (Size:1140 x 351)
            <div class="form-group">
                <img src="" id="BannerImage" width="100px" height="100px" /><br />
                <input type="file" id="BannerImage" name="BannerImage">
            </div>
        </div>
        <div class="col-md-6 col-12">
            Background Image (Size: 764 x 531)
            <div class="form-group">
                <img src="" id="BackgroundImage" width="100px" height="100px" /><br />
                <input type="file" id="BackgroundImage" name="BackgroundImage">
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <button type="button" style="display:inline;" class="btn btn-light" id="btnUpdate" name="btnUpdate">Update</button>
                <button type="button" class="btn btn-light" id="btnActive" style="display:inline;" name="btnActive">Approve</button>
                <button type="button" class="btn btn-light" id="btnInActive" name="btnInActive" style="display:none;">Un Approve</button>

            </div>
        </div>
    </div>

    <!--<p style="padding-left: 43px;"><button class="btn btn-primary" ng-click="clickMe()">Export</button></p>-->
</div>
<script>
    var BannerImage;
    var BackgroundImage;

    GetMemberList("Internship");
    GetPostList($("#Status option:selected").val(), "", "Internship");
    $("#Status").change(function () {
        ClearField();
        GetPostList($("#Status option:selected").val(), $("#Member option:selected").val(), "Internship");
        if ($("#Status option:selected").val() == "true") {
            $("#btnActive").css("display", "none");
            $("#btnInActive").css("display", "inline");
        }
        else {
            $("#btnActive").css("display", "inline");
            $("#btnInActive").css("display", "none");
        }
    });
    $("#Member").change(function () {
        ClearField();
        GetPostList($("#Status option:selected").val(), $("#Member option:selected").val(), "Internship");
    });
    $("#Post").change(function () {
        ClearField();
        GetPostInfo($("#Post option:selected").val());
    });
    $("#btnActive").on("click", function () {
        if (CheckValidation() == false) {
            ApproveUnapprovePost($("#Post option:selected").val(), "true");
        }
    });
    $("#btnInActive").on("click", function () {
        if (CheckValidation() == false) {
            ApproveUnapprovePost($("#Post option:selected").val(), "false");
        }
    });
    function GetMemberList(postType) {
        $("#Member").html('<option value="">Loading, please wait</option>');
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetCorporateList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{postType:'" + postType + "'}",
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="">Select Corporate</option>';
                    $.each(response.MemberInfo, function (i, MemberInfo) {
                        tbHtml = tbHtml + '<option value="' + MemberInfo.ProfileId + '">' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + ' (' + MemberInfo.EmailAddress + ')</option>';
                    });

                    $("#Member").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function GetPostInfo(postId) {
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetPostInfo',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{postId:'" + postId + "'}",
            success: function (response) {
                if (response.status == true) {
                    $("#JobTitle").val(response.PostInfo.JobTitle);
                    $("#Company").val(response.PostInfo.Company);
                    $("#Location").val(response.PostInfo.Location);
                    $("#Tenure").val(response.PostInfo.Tenure).change();
                    $("#JobDescription").val(response.PostInfo.JobDescription);
                    $("#JobResponsibilities").val(response.PostInfo.JobResponsibilities);
                    $("#BannerImage").attr("src", response.PostInfo.BannerImage);
                    $("#BackgroundImage").attr("src", response.PostInfo.BackgroundImage);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function CheckValidation() {
        $(".validationForm").hide();
        var hasError = false;
        if ($("#Post option:selected").val() == '') {
            $("#errPost").html("Please select post").show();
            $("#Post").focus();
            hasError = true;
        }

        return hasError;
    }
    function ApproveUnapprovePost(postId, status) {
        $.ajax({
            url: '/Umbraco/Surface/Admin/ApproveUnapprovePost',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{postId:'" + postId + "', status:'" + status + "'}",
            success: function (response) {
                if (response.status == true) {
                    if (status == "true") {
                        AlertMessage("Selected post has been approved successfully!");
                    }
                    else {
                        AlertMessage("Selected post has been Unapproved successfully!");
                    }
                    GetPostList($("#Status option:selected").val(), $("#Member option:selected").val(), "Internship");
                    ClearField();
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function GetPostList(status, profileId, postType) {
        $("#Post").html("");
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetPostList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{status:'" + status + "', profileId:'" + profileId + "', postType:'" + postType + "'}",
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="">Select Internship</option>';
                    $.each(response.PostInfo, function (i, PostInfo) {
                        tbHtml = tbHtml + '<option value="' + PostInfo.PostId + '">' + PostInfo.JobTitle + '</option>';
                    });

                    $("#Post").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('input[type="file"]').change(function (e) {
        if (e.target.name == "BannerImage") {
            BannerImage = e.target.files[0];
        }
        else {
            BackgroundImage = e.target.files[0];
        }
    });


    $("#btnUpdate").on("click", function () {
        var formData = new FormData();
        formData.append("BannerImage", BannerImage);
        formData.append("BackgroundImage", BackgroundImage);
        formData.append("JobTitle", $("#JobTitle").val());
        formData.append("Company", $("#Company").val());
        formData.append("Location", $("#Location").val());
        formData.append("Tenure", $("#Tenure option:selected").val());
        formData.append("JobDescription", $("#JobDescription").val());
        formData.append("JobResponsibilities", $("#JobResponsibilities").val());
        formData.append("PostId", $("#Post option:selected").val());

        $.ajax({
            url: "/Umbraco/Surface/Admin/UpdateJobInternship",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {

            },
            success: function (response) {
                if (response.status == true) {
                    AlertMessage("Selected Post has been updated successfully");
                    ClearField();
                    GetPostInfo($("#Post option:selected").val());
                }
                else {
                    AlertMessage(response.message);
                }
            },
            error: function (request, error) {
                AlertMessage("Error in submission, please try again!");
            }
        });
    });


    function ClearField() {
        $("#JobTitle").val("");
        $("#Company").val("");
        $("#Location").val("");
        $("#Tenure").val("");
        $("#JobDescription").val("");
        $("#JobResponsibilities").val("");
        $("#BannerImage").attr("src", "");
        $("#BackgroundImage").attr("src", "");
        $("#BannerImage").val(null);
        $("#BackgroundImage").val(null);

    }

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>

<script>
    $("#Member").select2();
    $("#Post").select2();
</script>
