﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using nuPickers;
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var topImage = Model.GetPropertyValue<IPublishedContent>("topImage");
    var i = 0;
    var j = 0;

    int trainingCalendarId = lang == "en" ? 1924 : 3240;
    var trainingCalendar = Umbraco.TypedContent(trainingCalendarId);
    bool IsScheduelAvailable = false;
    var CourseName = Model.Parent.Name;
    var TrainingScheduleList = trainingCalendar.Descendants(4).Where(x => x.DocumentTypeAlias == "trainingCalendarMonth" && x.IsVisible() && x.Parent.Parent.Name==CourseName).ToList();
    if (TrainingScheduleList != null)
    {
        foreach(var item in TrainingScheduleList)
        {
            var listDate = item.GetPropertyValue<IEnumerable<IPublishedContent>>("availableDates").Where(x => x.GetPropertyValue<DateTime>("startDate") > DateTime.Now);
            if(listDate!=null && listDate.Count()>0)
            {
                IsScheduelAvailable = true;
            }
        }
    }
}



<!-- Start Main Content -->
    <main class="main">       
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Core Banner -->
        <section class="core-banner" data-aos="fade-in" data-aos-offset="" data-aos-duration="2000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <img class="img-fluid" src="@topImage.Url" alt="@Model.GetPropertyValue("title")">
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>

        @if (Model.GetPropertyValue<Boolean>("showHideRoadmap") == true)
        {
            <!-- Start Roadmap Section -->
            <section class="roadmap roadmap-cgap" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <h2>@Model.GetPropertyValue("roadmapTitle")</h2>
                    @Html.Raw(Model.GetPropertyValue("roadmapDescription"))
                </div>
            </section>
        }

        @if (Model.GetPropertyValue<Boolean>("showHideWhyDo") == true)
        {
            var whyDoImage = Model.GetPropertyValue<IPublishedContent>("whyDoImage");
            <!-- Start Why do IAP  Section -->
            <section class="overview video-sec why-iap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <div class="img-content">
                                <img src="@whyDoImage.Url" alt="@Model.GetPropertyValue("whyDoTitle")">
                            </div>
                        </div>
                        <div class="col-lg-6 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h2 class="header-title">@Model.GetPropertyValue("whyDoTitle")</h2>
                            @Html.Raw(Model.GetPropertyValue("whyDoDescription"))
                        </div>
                    </div>
                </div>
            </section>
            <!-- End CIA qualification  Section -->
        }
        <!-- End CIA qualification  Section -->
        @if (Model.GetPropertyValue<Boolean>("showHideRegister") == true)
        {
            var howToRegisterImage = Model.GetPropertyValue<IPublishedContent>("howToRegisterImage");
            <!-- Start How to Register Section -->
            <section class="how-register" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="300" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@howToRegisterImage.Url);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-12 left-side">
                            <h2 clas>@Model.GetPropertyValue("howToRegisterTitle")</h2>
                            <p>@Model.GetPropertyValue("howToRegisterSubText")</p>
                        </div>
                        <div class="col-lg-6 col-md-7 col-12 right-side">
                            @Html.Raw(@Model.GetPropertyValue("howToRegisterDescription"))
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (Model.GetPropertyValue<Boolean>("showHideCoursePart") == true)
        {

            <section class="pricing" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <h2 class="header-title">@Umbraco.GetDictionaryValue("Course Overview")</h2>
                    <div class="row">
                        <div class=" col-lg-4 col-md-4 col-12">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("coursePartItem"))
                                {
                                    string id = "item-tab" + i.ToString();
                                    string hrefId = "item-" + i.ToString();
                                    string active = "";
                                    if (i == 0)
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }

                                    <a class="nav-link @active" id="@id" data-toggle="pill" href="#@hrefId" role="tab" aria-controls="@hrefId" aria-selected="true">@item.GetPropertyValue("title")</a>
                                    i++;
                                }
                            </div>
                        </div>
                        <div class=" col-lg-8 col-md-8 col-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("coursePartItem"))
                                {
                                    string id = "item-" + j.ToString();
                                    string active = "";
                                    if (j == 0)
                                    {
                                        active = "show active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }

                                    <div class="tab-pane fade @active" id="@id" role="tabpanel" aria-labelledby="@id">
                                        <div class="table-responsive" style="overflow-x:inherit;">
                                            @Html.Raw(item.GetPropertyValue("description").ToString().Replace("<p>", "<p class='paragraph-title'>"))
                                        </div>
                                    </div>
                                    j++;
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }


        @if (Model.GetPropertyValue<Boolean>("showHideBenefits") == true)
        {
            <section class="benefits benefit-training-method">
                <div class="benefits-content">
                    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h2 class="text-center">@Model.GetPropertyValue("benefitsTitle")</h2>
                        <div class="row">
                            @Html.Raw(@Model.GetPropertyValue("benefitsDescription"))
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (Model.GetPropertyValue<Boolean>("showHideCertification") == true)
        {

            var certificationImage = Model.GetPropertyValue<IPublishedContent>("certificationImage");
            <section class="promoting">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h3>@Model.GetPropertyValue("certificationTitle")</h3>
                            @Html.Raw(@Model.GetPropertyValue("certificationDescription"))
                        </div>
                        <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <img src="@certificationImage.Url" alt="@Model.GetPropertyValue("certificationTitle")">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Exam scoring  -->
        }

        <section class="about-sec about-cia">
            @if (Model.GetPropertyValue<Boolean>("showHideWhatLearn") == true)
            {
                var image = Model.GetPropertyValue<IPublishedContent>("whatLearnImage");
                <div class="left-content sec sec1" style="background-image: url(@image.Url);">
                    <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <div class="content">
                            <h3>@Model.GetPropertyValue("whatLearnTitle")</h3>
                            @Html.Raw(@Model.GetPropertyValue("whatLearnDescription"))
                         </div>
                      </div>
                </div>
            }

        </section>

        @if (!string.IsNullOrEmpty(Model.Parent.GetPropertyValue("pricingTable").ToString()))
        {
            <section class="pricing" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <h2 class="header-title" style="margin-bottom:0px;">@Umbraco.GetDictionaryValue("Pricing Structure")</h2>
                    <div class="row">
                        @Html.Raw(Model.Parent.GetPropertyValue("pricingTable"))
                    </div>
                </div>
            </section>

        }

        @if (IsScheduelAvailable == true)
        {
            @Umbraco.RenderMacro("TrainingCalendar", new { courseId = Model.Parent.Id, isHeadingShow = 1, coursePage = "tcourse" })
        }

        <!-- Start About Section-->
        <section class="about-sec about-cia">
            @if (Model.GetPropertyValue<Boolean>("showHideExamContent") == true)
            {
                var image = Model.GetPropertyValue<IPublishedContent>("examContentImage");
                var examContentPDF = Model.GetPropertyValue<IPublishedContent>("examContentPDF");
                <div class="right-content sec sec2" style="background-image: url(@image.Url);">
                    <div class="fade-left-sec" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <div class="content">
                            <h3>@Model.GetPropertyValue("examContentTitle")</h3>
                            @Html.Raw(@Model.GetPropertyValue("examContentDescription"))
                            @if (examContentPDF != null)
                            {
                                <a href="javascript:;" id="btnDownloadBrochure" class="btn btn-light">@Model.GetPropertyValue("examContentButtonText")</a>
                            }
                          </div>
                       </div>
                </div>
            }            
        </section>

        @if (Model.GetPropertyValue<Boolean>("showHideExamScoring") == true)
        {

            var examScoringImage = Model.GetPropertyValue<IPublishedContent>("examScoringImage");
            <section class="promoting">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <img src="@examScoringImage.Url" alt="@Model.GetPropertyValue("examScoringTitle")">
                        </div>
                        <div class="col-lg-6 col-12" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h3>@Model.GetPropertyValue("examScoringTitle")</h3>
                            @Html.Raw(@Model.GetPropertyValue("examScoringDescription"))
                        </div>

                    </div>
                </div>
            </section>
            <!-- End Exam scoring  -->
        }

        <section class="about-sec about-cia"> 

            @if (Model.GetPropertyValue<Boolean>("showHideExamQuestion") == true)
            {
                var image = Model.GetPropertyValue<IPublishedContent>("sampleExamQuestionImage");
                var sampleExamQuestionPDF = Model.GetPropertyValue<IPublishedContent>("sampleExamQuestionPDF");
                <div class="left-content sec sec3" style="background-image: url(@image.Url);">
                    <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h3>@Model.GetPropertyValue("sampleExamQuestionTitle")</h3>
                        @Html.Raw(@Model.GetPropertyValue("sampleExamQuestionDescription"))
                        <a href="@sampleExamQuestionPDF.Url" class="btn btn-light" target="_blank">@Model.GetPropertyValue("sampleExamQuestionButtonText")</a>
                    </div>
                </div>
            }

        </section>
    </main>
    <div class="modal fade custom-modal" id="DownloadBrochure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg">
            @Umbraco.RenderMacro("DownloadBrochure", new { ContactType = "DownloadExamContent", PageId = this.Model.Id })
        </div>
    </div>
    <script>
        $(document).ready(function () {          
            $("#btnDownloadBrochure").on("click", function () {
                $("#DownloadBrochure").modal("show");
            });
        });
    </script>
