﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var AboutImage = Model.GetPropertyValue<IPublishedContent>("image");
    var whoWeAreImage = Model.GetPropertyValue<IPublishedContent>("whoWeAreImage");
    var ourTeamImage = Model.GetPropertyValue<IPublishedContent>("ourTeamImage");
    var standardGuidanceImage = Model.GetPropertyValue<IPublishedContent>("standardGuidanceImage");
    var aboutInternalAuditingImage = Model.GetPropertyValue<IPublishedContent>("aboutInternalAuditingImage");
    var policyResearchImage = Model.GetPropertyValue<IPublishedContent>("policyResearchImage");
    var AOfirstImage = Model.GetPropertyValue<IPublishedContent>("firstImage");
    var AOsecondImage = Model.GetPropertyValue<IPublishedContent>("secondImage");
    var weMakeImage = Model.GetPropertyValue<IPublishedContent>("weMakeImage");
    var serviceImage = Model.GetPropertyValue<IPublishedContent>("serviceImage");

    var AnalyticsContent = Model.Ancestors(1).Where(x => x.DocumentTypeAlias == "home").FirstOrDefault();

}
<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        <!-- Start official source Section-->
        <section class="official">
            <div class="container">
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>
        <!-- End official source Section-->
        <!-- Start Banner -->
        <section class="banner-empty" style="background-image: url(@AboutImage.Url);"> </section>
        <!-- Start Counter Section -->
        <section class="counter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="left-icon">
                            <i class="@AnalyticsContent.GetPropertyValue("analyticsNumberFirstIconClass")"></i>
                        </div>
                        <div class="right-counter">
                            <div class="num">
                                <span data-count="@AnalyticsContent.GetPropertyValue("analyticsNumberFirst")"></span>@AnalyticsContent.GetPropertyValue("analyticsNumberFirstUnit")
                            </div>
                            <p>@AnalyticsContent.GetPropertyValue("analyticsTextFirst")</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="left-icon">
                            <i class="@AnalyticsContent.GetPropertyValue("analyticsNumberSecondIconClass")"></i>
                        </div>
                        <div class="right-counter">
                            <div class="num">
                                <span data-count="@AnalyticsContent.GetPropertyValue("analyticsNumberSecond")"></span>@AnalyticsContent.GetPropertyValue("analyticsNumberSecondUnit")
                            </div>
                            <p>@AnalyticsContent.GetPropertyValue("analyticsTextSecond")</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="left-icon">
                            <i class="@AnalyticsContent.GetPropertyValue("analyticsNumberThirdIconClass")"></i>
                        </div>
                        <div class="right-counter">
                            <div class="num">
                                <span data-count="@AnalyticsContent.GetPropertyValue("analyticsNumberThird")"></span>@AnalyticsContent.GetPropertyValue("analyticsNumberThirdUnit")
                            </div>
                            <p>@AnalyticsContent.GetPropertyValue("analyticsTextThird")</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Counter Section -->
        <!-- Start Institute Section-->
        <section class="institute">
            <div class="container">
                @Html.Raw(Model.GetPropertyValue("secondDescription"))
            </div>
        </section>
        <!-- End Institute Section-->
        <!-- Start About Section-->
        <section class="about-sec">
            <div class="left-content sec sec1" style="background-image: url(@whoWeAreImage.Url);">
                <div class="content">
                    <h3>@Model.GetPropertyValue("whoWeAreTitle")</h3>
                    @Html.Raw(Model.GetPropertyValue("whoWeAreDescription"))
                    <a href="/@lang/about-us/who-we-are/" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>
                </div>

            <div class="right-content sec sec2" style="background-image: url(@ourTeamImage.Url);">
                <div class="content">
                    <h3>@Model.GetPropertyValue("ourTeamTitle")</h3>
                    @Html.Raw(Model.GetPropertyValue("ourTeamDescription"))
                    <a href="/@lang/about-us/our-team/" class="btn btn-light">@Umbraco.GetDictionaryValue("View Team Members")</a>
                </div>
                </div>

            <div class="left-content sec sec3" style="background-image: url(@standardGuidanceImage.Url);">
                <div class="content">
                    <h3>@Model.GetPropertyValue("standardGuidanceTitle")</h3>
                    @Html.Raw(Model.GetPropertyValue("standardGuidanceDescription"))
                    <a href="/@lang/about-us/standards-and-guidance/" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>
                </div>

            <div class="right-content sec sec4" style="background-image: url(@aboutInternalAuditingImage.Url);">
                <div class="content">
                    <h3>@Model.GetPropertyValue("aboutInternalAuditingTitle")</h3>
                    @Html.Raw(Model.GetPropertyValue("aboutInternalAuditingDescription"))
                    <a href="/@lang/about-us/about-internal-auditing/" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                </div>
                </div>

            <div class="left-content sec sec5" style="background-image: url(@policyResearchImage.Url);">
                <div class="content">
                    <h3>@Model.GetPropertyValue("policyResearchTitle")</h3>
                    @Html.Raw(Model.GetPropertyValue("policyResearchDescription"))
                    <a href="/@lang/about-us/policy-and-research/" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                </div>
                </div>
                <!-- Start associated-->
                <div class="associated-sec">
                    <div class="container">
                        <h3>@Model.GetPropertyValue("associateOrganizationTitle")</h3>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="image-content">
                                    <img src="@AOfirstImage.Url" alt="@Model.GetPropertyValue("firstTitle")">
                                    <div class="overlay">
                                        <a href="/@lang/about-us/associated-organizations/">
                                            <i class="fal fa-arrow-circle-right"></i>
                                            <span>@Umbraco.GetDictionaryValue("Read More")</span>
                                        </a>
                                    </div>
                                </div>
                                <h4>@Model.GetPropertyValue("firstTitle")</h4>
                                <a href="/@lang/about-us/associated-organizations/" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="image-content">
                                    <img src="@AOsecondImage.Url" alt="image">
                                    <div class="overlay">
                                        <a href="/@lang/about-us/associated-organizations/">
                                            <i class="fal fa-arrow-circle-right"></i>
                                            <span>@Umbraco.GetDictionaryValue("Read More")</span>
                                        </a>
                                    </div>
                                </div>
                                <h4>@Model.GetPropertyValue("secondTitle")</h4>
                                <a href="/@lang/about-us/associated-organizations/" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End associated-->
                <div class="section-image-about">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="text-content">
                                    <h2>@Model.GetPropertyValue("weMakeTitle")</h2>
                                    @Html.Raw(@Model.GetPropertyValue("weMakeDescription"))
                                    <a href="/@lang/about-us/we-make-learning-work/" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="img-content">
                                    <img src="@weMakeImage.Url" alt="@Model.GetPropertyValue("weMakeTitle")">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="display:none;">
                            <div class="col-md-6 col-12">
                                <div class="img-content">
                                    <img src="@serviceImage.Url" alt="@Model.GetPropertyValue("serviceTitle")">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="text-content dark-color">
                                    <h2>@Model.GetPropertyValue("serviceTitle")</h2>
                                    @Html.Raw(@Model.GetPropertyValue("serviceDescription"))
                                    <a href="/@lang/about-us/services/" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
</section>
    </main>
<!-- Start Footer-->