﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var OurBoardOfDirector = currentPage.Parent;
    var ProfileBoardOfDirector = currentPage.Children.Where(x => x.IsVisible() == true).ToList();

    var Parent = currentPage.Parent;
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->

        <div class="links-nav">
            <div class="container-fluid">
                <span>@Umbraco.GetDictionaryValue("You are here") :</span>
                <a href="/@lang/">@Umbraco.GetDictionaryValue("Home") <i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Parent.Parent.Url">@Parent.Parent.Parent.Parent.GetPropertyValue("title")<i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Parent.Url">@Parent.Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Url">@Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Url">@Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="#" class="active">@Model.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
            </div>
        </div>

        <!-- End Links ban-->
        <!-- Start Banner -->
        <section class="sub-banner">
            <h1>@Model.GetPropertyValue("title")</h1>
            <a href="/@lang/about-us/who-we-are/governance/">@Umbraco.GetDictionaryValue("Go Back")</a>
        </section>
        <!-- End Banner -->
        <!-- End Banner -->
        <!-- Start Overviwe Section -->
        <section class="overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 left-side">
                        @Html.Raw(Model.GetPropertyValue("description"))
                    </div>
                    <div class="col-lg-6">
                        <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Overviwe Section -->
        <!-- Start Our Board Members Cards-->
        <section class="governance">
            <div class="container">
                <h2 class="header-title">@OurBoardOfDirector.GetPropertyValue("title")</h2>
                <div class="row">
                    @foreach (var item in ProfileBoardOfDirector)
                    {
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="@item.Url" class="governance-card">
                                <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                <div class="card-content">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <p>@item.GetPropertyValue("designation")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Our Board Members Cards-->
    </main>
