﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var standardEthicsImage = Model.GetPropertyValue<IPublishedContent>("standardEthicsImage");
    var standardImage = Model.GetPropertyValue<IPublishedContent>("standardImage");
    var regulationsImage = Model.GetPropertyValue<IPublishedContent>("regulationsImage");
    var tabContent = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("tabContent");
    int i = 0;
    int j = 0;
    var activeClass = "";
    var show = "";
    var liActive = "";
}

<!-- Start Main Content -->
<main class="main">
    <input type="hidden" id="lang" value="@lang" />
    <input type="hidden" id="tabValue" />
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Banner -->
    @Html.Partial("TopBackgroundImage")
    <!-- End Banner -->
    <!-- Start About Internal Auditing Section -->
    <section class="internal-auditing paddTop-50">
        <div class="container">
            @Html.Raw(Model.GetPropertyValue("description"))
            <hr>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                @foreach (var item in tabContent)
                {
                    var id = "tab" + item.GetPropertyValue("title").ToString().Replace(" ", "").Replace("&", "").ToLower();

                    if (i == 0)
                    {
                        activeClass = "active";
                        liActive = "li-active";
                    }
                    else
                    {
                        activeClass = "";
                        liActive = "";
                    }
                    <li class="nav-item @liActive" role="presentation">
                        <a class="nav-link @activeClass" id="@id" data-toggle="pill" href="#@id.Replace("tab","")" role="tab" aria-controls="@id" aria-selected="true">@item.GetPropertyValue("title")</a>
                    </li>
                    i++;
                }
            </ul>
            <div class="tab-content" id="pills-tabContent">
                @foreach (var item in tabContent)
                {
                    if (j == 0)
                    {
                        show = "show active";
                    }
                    else
                    {
                        show = "";
                    }

                    var id = "tab" + item.GetPropertyValue("title").ToString().Replace(" ", "").Replace("&", "").ToLower();
                    var image = item.GetPropertyValue<IPublishedContent>("image");
                    <div class="tab-pane fade @show" id="@id.Replace("tab","")" role="tabpanel" aria-labelledby="@id">
                        <div class="row tab-info">
                            <div class="col-lg-4 col-md-5 col-12">
                                <img src="@image.Url" alt="@item.GetPropertyValue("title")">
                            </div>
                            <div class="col-lg-8 col-md-7 col-12">
                                @Html.Raw(item.GetPropertyValue("description"))
                                <a href="javascript:;" onclick="ShowContact('@item.GetPropertyValue("title")');" class="btn btn-light">@item.GetPropertyValue("linkTitle")</a>
                            </div>
                        </div>
                    </div>
                    j++;
                }
            </div>
        </div>
    </section>

</main>

<div class="modal fade custom-modal" id="Contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body form-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12 text-center left-bg">
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="form-content">
                                <h2>@Umbraco.GetDictionaryValue("Complete_Form")</h2>
                                <p></p>
                                <div class="form-group">
                                    <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                    <span class="validationForm" id="errFirstName"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="LastName" id="LastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                    <span class="validationForm" id="errLastName"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                    <span class="validationForm" id="errEmailAddress"></span>
                                </div>

                                <div class="form-group">
                                    <input type="number" name="ContactNo" id="ContactNo" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Contact No")">
                                    <span class="validationForm" id="errContactNo"></span>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="JobTitle" id="JobTitle" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title")">
                                    <span class="validationForm" id="errJobTitle"></span>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="Organization" id="Organization" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Organization")">
                                    <span class="validationForm" id="errOrganization"></span>
                                </div>
                                <div class="form-group">
                                    <div class="custom-select-field">
                                        <select name="Subject" id="Subject" class="form-control">
                                            <option value="" disabled selected>@Umbraco.GetDictionaryValue("Subject")</option>
                                            @foreach (var item in tabContent)
                                            {
                                                <option value="@item.GetPropertyValue("title")">@item.GetPropertyValue("title")</option>
                                            }
                                        </select>
                                        <span class="validationForm" id="errSubject"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea name="Message" id="Message" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Enter your message here")"></textarea>
                                    <span class="validationForm" id="errMessage"></span>
                                </div>
                                <div id="gCaptcha">
                                </div>
                                <span class="validationForm" id="errCaptcha"></span>
                                <div class="form-action">
                                    <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function ShowContact(title) {
        $("#Subject").val(title).change();
        $("#Contact").modal("show");
    }

</script>
<script>

    $(document).ready(function () {

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("FirstName", $("#FirstName").val());
                formData.append("LastName", $("#LastName").val());
                formData.append("EmailAddress", $("#EmailAddress").val());
                formData.append("ContactNo", $("#ContactNo").val());
                formData.append("Message", $("#Message").val());
                formData.append("Company", $("#Organization").val());
                formData.append("Designation", $("#JobTitle").val());
                formData.append("ContactType", "AboutInternalAudition");
                formData.append("PageId", $("#Subject option:selected").val());
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/Contact/AboutInternalAudition",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Contact_Us")');
                            $("#FirstName").val("");
                            $("#LastName").val("");
                            $("#EmailAddress").val("");
                            $("#ContactNo").val("");
                            $("#Message").val("");
                        }
                        else {
                            AlertMessage(response.message);
                        }
                    },
                    error: function (response) {
                        AlertMessage(response.responseText);
                    }
                });
            }
        });
        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#FirstName").val() == '') {
                $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName").focus();
                hasError = true;
            }

            if ($("#LastName").val() == '') {
                $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName").focus();
                hasError = true;
            }

            if ($("#EmailAddress").val() == '') {
                $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }

            if ($("#ContactNo").val() == '') {
                $("#errContactNo").html("@Umbraco.GetDictionaryValue("Validation_Error_ContactNo")").show();
                $("#ContactNo").focus();
                hasError = true;
            }

            if ($("#JobTitle").val() == '') {
                $("#errJobTitle").html("@Umbraco.GetDictionaryValue("Validation_Error_Job_Title")").show();
                $("#JobTitle").focus();
                hasError = true;
            }

            if ($("#Organization").val() == '') {
                $("#errOrganization").html("@Umbraco.GetDictionaryValue("Validation_Error_Organization")").show();
                $("#Organization").focus();
                hasError = true;
            }

            if ($("#Subject option:selected").val() == '') {
                $("#errSubject").html("@Umbraco.GetDictionaryValue("Validation_Error_Subject")").show();
                $("#Subject").focus();
                hasError = true;
            }

            if ($("#Message").val() == '') {
                $("#errMessage").html("@Umbraco.GetDictionaryValue("Validation_Error_Message")").show();
                $("#Message").focus();
                hasError = true;
            }

            var googleResponse = grecaptcha.getResponse();
            if (googleResponse.length === 0) {
                $("#errCaptcha").html("@Umbraco.GetDictionaryValue("Validation_Error_Captcha")").show();
                hasError = true;
            }

            return hasError;
        }
    });
</script>

@section Script
{

    <script src="https://www.google.com/recaptcha/api.js?key=6LfSvowaAAAAAEVTQxEo15YxOg-XVL7CHTRsuKJH&onload=loadCaptcha&render=explicit"
            async defer></script>
    <script type='text/javascript'>
        var captchaContainer = null;
        var loadCaptcha = function () {
            captchaContainer = grecaptcha.render('gCaptcha', {
                'sitekey': '6LfSvowaAAAAAEVTQxEo15YxOg-XVL7CHTRsuKJH',
                'callback': function (googleResponse) {
                }
            });
        };
    </script>

}
