﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var OurChairman = currentPage.Children.Where(x => x.DocumentTypeAlias.Equals("chairman")).FirstOrDefault();
    var OurCEO = currentPage.Children.Where(x => x.DocumentTypeAlias.Equals("cEO")).FirstOrDefault();
    var OurBoardOfDirector = currentPage.Children.Where(x => x.DocumentTypeAlias.Equals("ourBoardOfDirector")).FirstOrDefault();
    var AbouttheBoard = OurBoardOfDirector.Children.Where(x=>x.IsVisible()==true).ToList();    

}
<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Our Board of Directors Section-->

        <section class="official">
            <div class="container">
                <h2 class="header-title">@OurChairman.GetPropertyValue("title")</h2>
                @Html.Raw(OurChairman.GetPropertyValue("description"))
            </div>
        </section>

        <section class="governance">
            <div class="container">
                <div class="row one-profile-item">
                    @foreach (var item in OurChairman.Children.Where(x => x.IsVisible()))
                    {
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="javascript:;" class="governance-card">
                                <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                <div class="card-content">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <p>@item.GetPropertyValue("designation")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>


        <!-- End Our Board of Directors Section-->
        <!-- Start Governance Cards-->
        <section class="council">
            <div class="container">
                <h2 class="header-title">@OurBoardOfDirector.GetPropertyValue("title")</h2>
                @Html.Raw(OurBoardOfDirector.GetPropertyValue("description"))
                <div class="row">
                    @foreach (var item in AbouttheBoard)
                    {
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="javascript:;" class="governance-card">
                                <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                <div class="card-content">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <p>@item.GetPropertyValue("designation")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Governance Cards-->

        <section class="committee">
            <div class="container">
                <h2 class="header-title">@OurCEO.GetPropertyValue("title")</h2>
                @Html.Raw(OurCEO.GetPropertyValue("description"))
                <div class="row one-profile-item">
                    @foreach (var item in OurCEO.Children.Where(x => x.IsVisible()))
                    {
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="javascript:;" class="governance-card">
                                <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                <div class="card-content">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <p>@item.GetPropertyValue("designation")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>


    </main>