﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var IIAGlobal = Model.GetPropertyValue<IPublishedContent>("iIAGlobalImage");
    var IIAAffiliates = Model.GetPropertyValue<IPublishedContent>("iIAAffiliatesImage");
    var IIAAffiliatesIcon = Model.GetPropertyValue<IPublishedContent>("iIAAffiliatesMemberListIcon");
    var IIAAffiliatesPDF = Model.GetPropertyValue<IPublishedContent>("iIAAffiliatesMemberListPDF");

}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Associated header Section -->
        <section class="associated-text paddTop-50">
            <div class="container">                
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>
        <!-- Start IIA Global section-->
        <!-- Start About section-->
        <section class="about-sec" style="background-image: url(@IIAGlobal.Url);">
            <div class="left-content sec sec10">
                <h3>@Model.GetPropertyValue("iIAGlobalTitle")</h3>
                @Html.Raw(Model.GetPropertyValue("iIAGlobalDescription"))
                <a href="@Model.GetPropertyValue("iIAGlobalLink")" class="btn btn-light" target="_blank">@Umbraco.GetDictionaryValue("View IIA Global")</a>
            </div>
        </section>
        <!-- End About section-->
        <!-- Start IIA Affiliates Section-->
        <section class="affiliates" style="background-image: url(@IIAAffiliates.Url);">
            <div class="container h-100">
                <div class="affiliates-content">
                    <h2 class="header-title">@Model.GetPropertyValue("iIAAffiliatesTitle")</h2>
                    @Html.Raw(Model.GetPropertyValue("iIAAffiliatesDescription"))
                    <a href="@IIAAffiliatesPDF.Url" class="btn btn-light" target="_blank"><img src="@IIAAffiliatesIcon.Url" alt="@Model.GetPropertyValue("iIAAffiliatesTitle")"></a>
                </div>
            </div>
        </section>

    </main>