﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var childreen = Model.Children.Where(x => x.IsVisible()).ToList();
    var i = 0;
}

<!-- Start Main Content -->
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Banner -->
    @Html.Partial("TopBannerImage")
    <!-- End Banner -->
    <!-- Start Become Section-->
    <section class="official">
        <div class="container" data-aos="zoom-in" data-aos-offset="" data-aos-duration="2000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            @Html.Raw(Model.GetPropertyValue("description"))
        </div>
    </section>

    <!-- Start About Section-->
    <section class="about-sec">
        @foreach (var item in childreen)
        {
            var Image = item.GetPropertyValue<IPublishedContent>("bigImage");
            if (i % 2 == 0)
            {
                <div class="left-content sec sec1" style="background-image: url(@Image.Url);">
                    <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <div class="content">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                            </div>
                        </div>
                </div>
            }
            else
            {
                <div class="right-content sec sec2" style="background-image: url(@Image.Url);">
                    <div class="fade-left-sec" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <div class="content">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                        </div>
                    </div>

                </div>
            }
            i++;
        }

    </section>

    <!-- Start Membership Section -->
    <section class="membership">
        <div class="container">
            <div class="text-center">
                <h2>@Model.GetPropertyValue("membershipHeading")</h2>
                <p>@Model.GetPropertyValue("membershipSubText")</p>
            </div>
            <div class="row">
                @foreach (var item in childreen)
                {
                    var typeOfMembership = item.GetPropertyValue("typeOfMembership").ToString();
                    if (typeOfMembership == "Students" || typeOfMembership == "Individuals")
                    {
                        <div class="col-md-4 col-12" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <div class="card-membership">
                                <h3>@Umbraco.GetDictionaryValue(item.GetPropertyValue("typeOfMembership").ToString())</h3>
                                <p>@item.GetPropertyValue("membershipShortNotes")</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="left-side">
                                            <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@item.GetPropertyValue("generalDiscount")%</span>
                                        </div>
                                        <div class="right-side">
                                            <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n2}", Convert.ToDouble(item.GetPropertyValue("generalFee").ToString()) + (double.Parse(item.GetPropertyValue("generalFee").ToString()) * 15) / 100)</span>
                                        </div>
                                    </li>
                                </ul>
                                <a href="/@lang/registration/member-register/" class="btn btn-light">@Umbraco.GetDictionaryValue("Register Now")</a>
                            </div>
                        </div>
                    }
                    else if (typeOfMembership == "Corporate")
                    {
                        <div class="col-md-4 col-12" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <div class="card-membership">
                                <h3>@Umbraco.GetDictionaryValue(item.GetPropertyValue("typeOfMembership").ToString())</h3>
                                <p>@item.GetPropertyValue("membershipShortNotes")</p>
                                <ul class="list-unstyled">
                                    <li>
                                        <h4>@Umbraco.GetDictionaryValue("Gold")</h4>
                                        <div class="left-side">
                                            <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@item.GetPropertyValue("goldDiscount")%</span>
                                        </div>
                                        <div class="right-side">
                                            <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n0}", Convert.ToDouble(item.GetPropertyValue("goldFee").ToString()) + (double.Parse(item.GetPropertyValue("goldFee").ToString()) * 15) / 100)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>@Umbraco.GetDictionaryValue("Silver")</h4>
                                        <div class="left-side">
                                            <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@item.GetPropertyValue("silverDiscount")%</span>
                                        </div>
                                        <div class="right-side">
                                            <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n0}", Convert.ToDouble(item.GetPropertyValue("silverFee").ToString()) + (double.Parse(item.GetPropertyValue("silverFee").ToString()) * 15) / 100)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>@Umbraco.GetDictionaryValue("Bronze")</h4>
                                        <div class="left-side">
                                            <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@item.GetPropertyValue("bronzeDiscount")%</span>
                                        </div>
                                        <div class="right-side">
                                            <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n0}", Convert.ToDouble(item.GetPropertyValue("bronzeFee").ToString()) + (double.Parse(item.GetPropertyValue("bronzeFee").ToString()) * 15) / 100)</span>
                                        </div>
                                    </li>

                                </ul>
                                <a href="/@lang/registration/member-register/" class="btn btn-light">@Umbraco.GetDictionaryValue("Register Now")</a>
                            </div>
                        </div>                        
                    }
                }

            </div>
        </div>
    </section>
</main>
<!-- Start Footer-->