﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);    

}
<input type="hidden" id="lang" value="@lang" />
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        <!-- Start Shop -->
        <section class="shop-title" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>
        <!-- Start Shop Content -->
        <section class="shop-content" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <div class="row" style="display:none;">
                    <div class="col-12 filter">
                        <span>@Umbraco.GetDictionaryValue("Filter by") : </span>
                        <form>
                            <div class="select-filter form-content">
                                <div class="custom-select-field">
                                    <select name="CourseCategory" id="CourseCategory" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="select-filter form-content">
                                <div class="custom-select-field">
                                    <select name="Level" id="Level" class="form-control">
                                            <option value="">@Umbraco.GetDictionaryValue("Bookshop_Language")</option>
                                    </select>
                                </div>
                            </div>
                         </form>
                    </div>
                </div>
                <div class="row" id="divBookList">
                   
                </div>

                <div class="row pagination-row" style="display:none;">
                    <nav aria-label="Page navigation ">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>
    <script>

        GetCourseCategory($("#lang").val());

        GetProducts($("#lang").val(), "", "", 1);

        $("#CourseCategory").change(function () {
            if ($("#CourseCategory option:selected").val() != "") {
                GetLevel($("#lang").val(), $("#CourseCategory option:selected").val());
                GetProducts($("#lang").val(), $("#CourseCategory option:selected").val(), "", 1);
            }
            else {
                GetLevel($("#lang").val(), "");
                GetProducts($("#lang").val(), "", "", 1);
            }
        });

        $("#Level").change(function () {
            GetProducts($("#lang").val(), $("#CourseCategory option:selected").val(), $("#Level option:selected").val(), 1);
        });

        function GetCourseCategory(lang) {
            $("#CourseCategory").html("");
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/BookShop/GetCourseCategory',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{lang:'" + lang + "'}",
                    success: function (response) {
                        $("#CourseCategory").append('<option value="">@Umbraco.GetDictionaryValue("Category")</option>');
                        $.each(response.CourseCategory, function (i, p) {
                            $("#CourseCategory").append('<option value="' + p.Value + '">' + p.Text + '</option>');
                        });
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        }

        function GetLevel(lang, courseCategoryId) {
            if (courseCategoryId != "") {
                $("#Level").html("");
                $(document).ready(function () {
                    $.ajax({
                        url: '/Umbraco/Surface/BookShop/GetLevel',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8',
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        type: 'POST',
                        data: "{lang:'" + lang + "', courseCategoryId:" + courseCategoryId + "}",
                        success: function (response) {
                            $("#Level").append('<option value="">@Umbraco.GetDictionaryValue("Bookshop_Language")</option>');
                            $.each(response.Level, function (i, p) {
                                $("#Level").append('<option value="' + p.Value + '">' + p.Text + '</option>');
                            });
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            }
            else {
                 $("#Level").html('<option value="">@Umbraco.GetDictionaryValue("Bookshop_Language")</option>');
            }
        }

        function GetProducts(lang, courseCategoryId, levelId, page) {
            //$("#divBookList").html("");
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/BookShop/GetProducts',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{lang:'" + lang + "', courseCategoryId:'" + courseCategoryId + "', levelId:'" + levelId + "', page:'" + page + "'}",
                    success: function (response) {
                        if (response.status == true) {
                            var tbHtml = "";
                            var ButtonText = "";
                            $.each(response.ProductList, function (i, Item) {

                                ButtonText = "<button class='btn btn-light' onClick='AddToCart(\"" +
                                    Item.ProductId + "\",\"" +
                                    Item.ProductCmsName + "\",\"" +
                                    Item.Price + "\")'>@Umbraco.GetDictionaryValue("Add To Cart")</button>";

                                tbHtml += '   <div class="col-lg-3 col-md-6 col-12">  ' +
                                    '                           <div class="product">  ' +
                                    '                               <img src="' + Item.Image + '" class="img-fluid" alt="' + Item.Title +'">  ' +
                                    '                               <h3>' + Item.Title +'</h3>  ' +
                                    '                               <span class="price">SAR ' + numberWithCommas(Item.DisplayPrice) +'</span>  ' +
                                    '                               <a href="' + Item.Url + '">@Umbraco.GetDictionaryValue("Read More")</a>  ' + ButtonText +
                                    '                           </div>  ' +
                                    '                      </div>  ';



                            });

                            $("#divBookList").html(tbHtml);
                        }
                        else {
                            AlertMessage(response.message)
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        }

        function AddToCart(ProductCmsId, ProductCmsName, Price) {
            $(document).ready(function () {
                var formData = new FormData();
                formData.append("ProductCmsId", ProductCmsId);
                formData.append("ProductCmsName", ProductCmsName);
                formData.append("Quantity", 1);
                formData.append("Price", Price);
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/Cart/AddToCart",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {
                        // $("#loginloader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                    },
                    success: function (response) {
                        if (response.status == true) {
                            UpdateCounter();
                            AlertMessage('@Umbraco.GetDictionaryValue("Cart_Added_Success")');
                        }
                        else {
                            AlertMessage('@Umbraco.GetDictionaryValue("Cart_Added_Failed")');
                        }

                        $('.load').remove();
                    },
                    error: function (request, error) {
                        AlertMessage(" Can't do because: " + error);
                        $('.load').remove();
                    }
                });
            });
        }

    </script>