﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var bookshop = Model.Parent.Parent.Parent;
    var OtherBooks = bookshop.Descendants(3).Where(x => x.DocumentTypeAlias == "booksAndMaterials" && x.IsVisible() && x.Id!=Model.Id).ToList();


}
<input type="hidden" id="lang" value="@lang" />
<input type="hidden" id="name" value="@Model.Name" />

<main class="main">

    <div class="links-nav">
        <div class="container-fluid">
            <span>@Umbraco.GetDictionaryValue("You are here") :</span>
            <a href="/@lang/">@Umbraco.GetDictionaryValue("Home") <i class="fal fa-caret-right"></i></a>
            <a href="/@lang/bookshops-and-materials/">@Umbraco.GetDictionaryValue("Bookshops and Materials")<i class="fal fa-caret-right"></i></a>            
            <a href="#" class="active">@Model.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
        </div>
    </div>

    <!-- Start Banner -->
    @Html.Partial("TopBannerImage")
    <!-- End Banner -->
    <!-- Start product -->
    <section class="product-details">
        <div class="content-body">
            <div class="container-fluid padd-0">
                <div class="row product-row">
                    <div class="col-lg-4 col-md-4 col-12" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <img src="@image.Url" class="img-fluid" alt="@Model.GetPropertyValue("title")">
                    </div>
                    <div class="col-lg-8 col-8 col-12" data-aos="fade-left" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        @Html.Raw(Model.GetPropertyValue("description"))
                        <span class="price">SAR @String.Format("{0:n0}", Convert.ToDouble(Model.GetPropertyValue("price").ToString()) + Convert.ToDouble(Model.GetPropertyValue("price").ToString())*15/100)</span>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                            <i class="far fa-minus"></i>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <i class="far fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 text-right">
                                <button type="button" id="btnAddToCart" class="btn btn-light add-cart">@Umbraco.GetDictionaryValue("Add To Cart")</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Other product -->
                <div class="row row-other-product" data-aos="fade-in" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <div class="col-12">
                        <h2>@Umbraco.GetDictionaryValue("Other Books")</h2>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel owl-theme">
                            @foreach (var item in OtherBooks)
                                    {
                                        var thumbnail = item.GetPropertyValue<IPublishedContent>("image");
                            <div class="item">
                                <div class="product">
                                    <img src="@thumbnail.Url" class="img-fluid" alt="@item.GetPropertyValue("title")">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <span class="price">SAR @String.Format("{0:n0}", Convert.ToDouble(item.GetPropertyValue("price").ToString()) + Convert.ToDouble(item.GetPropertyValue("price").ToString()) * 15 / 100)</span>
                                    <a href="@item.Url">@Umbraco.GetDictionaryValue("Read More")</a>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<script>

    $(document).ready(function () {

       // GetOtherProducts($("#lang").val(), @Model.Id);

        $("#btnAddToCart").on("click", function () {
            var formData = new FormData();
            formData.append("productid", @Model.Id);
            formData.append("quantity", $("#quantity").val());
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/Cart/CheckStockQty",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    // $("#loginloader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                },
                success: function (response) {
                    if (response.status == true) {
                        AddToCart(@Model.Id, $("#name").val(), $("#quantity").val(), @Model.GetPropertyValue("price"));
                    }
                    else {
                        if (response.message != "") {
                            AlertMessage('@Umbraco.GetDictionaryValue("Product_Quantity_Greater_Than_Stock_Qty") ' + response.availableStock);
                        }
                    }
                    $('.load').remove();
                },
                error: function (request, error) {
                    AlertMessage(" Can't do because: " + error);
                    $('.load').remove();
                }
            });

        });

        function AddToCart(ProductCmsId, ProductCmsName, Quantity, Price) {

            var formData = new FormData();
            formData.append("ProductCmsId", ProductCmsId);
            formData.append("ProductCmsName", ProductCmsName);
            formData.append("Quantity", Quantity);
            formData.append("Price", Price);
            formData.append("lang", $("#lang").val());
            $.ajax({
                url: "/Umbraco/Surface/Cart/AddToCart",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    // $("#loginloader").html("<img src='/images/loader.gif' class='load' alt='Loading...'>");
                },
                success: function (response) {
                    if (response.status == true) {
                        UpdateCounter();
                        AlertMessage('@Umbraco.GetDictionaryValue("Cart_Added_Success")');
                    }
                    else {
                        AlertMessage('@Umbraco.GetDictionaryValue("Cart_Added_Failed")');
                    }
                    $('.load').remove();
                },
                error: function (request, error) {
                    AlertMessage(" Can't do because: " + error);
                    $('.load').remove();
                }
            });
        }

        function GetOtherProducts(lang, productCmsId) {
            $("#divBookList").html("");
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/BookShop/GetOtherProducts',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{lang:'" + lang + "', productCmsId:'" + productCmsId + "'}",
                    success: function (response) {
                        if (response.status == true) {
                            var tbHtml = "";
                            $.each(response.ProductList, function (i, Item) {

                                tbHtml+= '<div class="item">  '  +
                                        '<div class="product">  '  +
                                       '<img src="' + Item.Image + '" class="img-fluid" alt="' + Item.Title +'">  '  +
                                    '<h3>' + Item.Title +'</h3>  '  +
                                    '<span class="price">SAR ' + Item.Price +'</span>  '  +
                                       '<a href="' + Item.Url + '">@Umbraco.GetDictionaryValue("Read More")</a>'  +
                                       ' </div>  '  +
                                        '</div>  ' ;

                            });

                            $("#divBookList").html(tbHtml);
                        }
                        else {
                            AlertMessage(response.message)
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        }

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });
        $('.quantity-left-minus').click(function (e) {
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if (quantity > 1) {
                $('#quantity').val(quantity - 1);
            }
        });

    });


</script>