﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

    var TopImage = Model.GetPropertyValue<IPublishedContent>("topImage");

    var JobID = lang == "en" ? 2318 : 2688;
    var InternshipID = lang == "en" ? 2319 : 2692;

    var JobPage = Umbraco.TypedContent(JobID);
    var JobList= JobPage.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("datePosted")).ToList();

    var InternshipPage = Umbraco.TypedContent(InternshipID);
    var InternshipList = InternshipPage.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("datePosted")).ToList();

    var corporateJob = Utility.GetCorportePost("Job");
    var corporateInternship = Utility.GetCorportePost("Internship");
}

    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        @Html.Partial("TopBackgroundImage")
        <!-- End Links ban-->
        <!-- Start Career Section -->
        <section class="our-vision paddTop-50 media-center-news-details">
            <div class="container">
                @if (TopImage != null)
                {
                <div class="row" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <div class="col-12">
                        <img src="@TopImage.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
                }
                <div class="row">
                    <div class="col-12 values-sec" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                       @Html.Raw(Model.GetPropertyValue("description"))
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Career Types -->
        <section class="career-types" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">@Umbraco.GetDictionaryValue("Current Job Openings")</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-twp-tab" data-toggle="pill" href="#pills-twp" role="tab" aria-controls="pills-twp" aria-selected="false">@Umbraco.GetDictionaryValue("Internships")</a>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
                        <div class="row row-title">
                            <div class="col-lg-4 col-12">
                                <h4>@Umbraco.GetDictionaryValue("Job Title and Description")</h4>
                            </div>
                            <div class="col-lg-8 col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <h4>@Umbraco.GetDictionaryValue("Date Posted")</h4>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <h4>@Umbraco.GetDictionaryValue("Tenure")</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in JobList)
                        {
                            <div class="row row-career">
                                <div class="col-12">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <p>@Html.Raw(item.GetPropertyValue("jobDescription").ToString().Replace("<p>", "").Replace("</p>", "").Substring(0, 50))</p>
                                </div>
                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@DateTime.Parse(item.GetPropertyValue("datePosted").ToString()).ToString("dd MMM yyyy")</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@Umbraco.GetPreValueAsString(int.Parse(item.GetPropertyValue("tenure").ToString()))</h5>
                                        </div>
                                        <div class="col-lg-4  col-12">
                                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("See Full Details")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @foreach (var item in corporateJob)
                        {
                            <div class="row row-career">
                                <div class="col-12">
                                    <h3>@item.JobTitle</h3>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <p>@Html.Raw(item.JobDescription.ToString().Replace("<p>", "").Replace("</p>", "").Substring(0, 50))</p>
                                </div>
                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@DateTime.Parse(item.DatePosted.ToString()).ToString("MMM dd yyyy")</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@item.Tenure</h5>
                                        </div>
                                        <div class="col-lg-4  col-12">
                                            <a href="/@lang/media-center/careers/career-opportunities/corporate-post-details/?postId=@item.PostId" class="btn btn-light">@Umbraco.GetDictionaryValue("See Full Details")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane fade" id="pills-twp" role="tabpanel" aria-labelledby="pills-twp-tab">
                        <div class="row row-title">
                            <div class="col-lg-4 col-12">
                                <h4>@Umbraco.GetDictionaryValue("Job Title and Description")</h4>
                            </div>
                            <div class="col-lg-8 col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <h4>@Umbraco.GetDictionaryValue("Date Posted")</h4>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <h4>@Umbraco.GetDictionaryValue("Tenure")</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in InternshipList)
                        {
                            <div class="row row-career">
                                <div class="col-12">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <p>@Html.Raw(item.GetPropertyValue("jobDescription").ToString().Replace("<p>", "").Replace("</p>", "").Substring(0, 50))</p>
                                </div>
                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@DateTime.Parse(item.GetPropertyValue("datePosted").ToString()).ToString("dd MMM yyyy")</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@Umbraco.GetPreValueAsString(int.Parse(item.GetPropertyValue("tenure").ToString()))</h5>
                                        </div>
                                        <div class="col-lg-4  col-12">
                                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("See Full Details")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @foreach (var item in corporateInternship)
                        {
                            <div class="row row-career">
                                <div class="col-12">
                                    <h3>@item.JobTitle</h3>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <p>@Html.Raw(item.JobDescription.ToString().Replace("<p>", "").Replace("</p>", "").Substring(0, 50))</p>
                                </div>
                                <div class="col-lg-8 col-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@DateTime.Parse(item.DatePosted.ToString()).ToString("dd MMM yyyy")</h5>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <h5>@item.Tenure</h5>
                                        </div>
                                        <div class="col-lg-4  col-12">
                                            <a href="/@lang/media-center/careers/career-opportunities/corporate-post-details/?postId=@item.PostId" class="btn btn-light">@Umbraco.GetDictionaryValue("See Full Details")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>