﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

    var ProgressCareer = Model.Children.Where(x => x.DocumentTypeAlias == "progressYourCareer").FirstOrDefault();

    var CareerOpportunities = Model.Children.Where(x => x.DocumentTypeAlias == "careerOpportunities").FirstOrDefault();

    var IIAGraduates = Model.Children.Where(x => x.DocumentTypeAlias == "iIAGraduates").FirstOrDefault();

    var ProgressCareerIage = ProgressCareer.GetPropertyValue<IPublishedContent>("image");
    var CareerOpportunitiesIage = CareerOpportunities.GetPropertyValue<IPublishedContent>("image");
    var IIAGraduatesIage = IIAGraduates.GetPropertyValue<IPublishedContent>("image");


}

    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        <section class="sub-banner">
            <h1>@Model.GetPropertyValue("title")</h1>
            @*<a href="@parentUrl">@Umbraco.GetDictionaryValue("Go Back")</a>*@
        </section>
        <!-- End Links ban-->
        <!-- Start Careers Section-->
        <section class="career paddTop-50">
            <div class="container" data-aos="zoom-in" data-aos-offset="" data-aos-duration="2000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>

        <!-- Start About Section-->
        <section class="about-sec">
            <div class="left-content sec sec1" style="background-image:url(@ProgressCareerIage.Url)">
                <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@ProgressCareer.GetPropertyValue("title")</h3>
                    <p>@ProgressCareer.GetPropertyValue("introduction")</p>
                    <a href="@ProgressCareer.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>

            </div>

            <div class="right-content sec sec2" style="background-image:url(@CareerOpportunitiesIage.Url)">
                <div class="fade-left-sec" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@CareerOpportunities.GetPropertyValue("title")</h3>
                    <p>@CareerOpportunities.GetPropertyValue("introduction")</p>
                    <a href="@CareerOpportunities.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>

            </div>

            <div class="left-content sec sec3" style="background-image:url(@IIAGraduatesIage.Url)">
                <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@IIAGraduates.GetPropertyValue("title")</h3>
                    <p>@IIAGraduates.GetPropertyValue("introduction")</p>
                    <a href="@IIAGraduates.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>

            </div>
        </section>
    </main>