﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var mapImage = Model.GetPropertyValue<IPublishedContent>("mapImage");
    var PointOfInterest = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("pointofInterestItem");

}
<main class="main">
    <input type="hidden" id="lang" value="@lang" />
    <!-- Start Links ban-->
    <div class="links-nav">
        <div class="container-fluid">
            <span>@Umbraco.GetDictionaryValue("You are here") :</span>
            <a href="/@lang/">@Umbraco.GetDictionaryValue("Home") <i class="fal fa-caret-right"></i></a>
            <a href="#" class="active">@Model.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
        </div>
    </div>
    <!-- End Links ban-->
    <!-- Start Banner -->
    @*<section class="banner contact-banner" style="background-image: url(@mapImage.Url);">
        </section>*@
    <section class="responsive-map">
        <div id="map" class="map" style="position: relative; overflow: hidden;"></div>
    </section>

    <!-- End Banner -->
    <!-- Start Contact Section -->
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 left-side" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    @Html.Raw(Model.GetPropertyValue("getInTouchInfo"))
                    <ul class="contact-info list-unstyled">
                        <li>
                            <span><i class="far fa-phone-office"></i></span>
                            <div class="right-side">
                                <div class="num">
                                    @Html.Raw(Model.GetPropertyValue("phoneNo"))
                                </div>
                            </div>
                        </li>
                        <li>
                            <span><i class="far fa-map"></i></span>
                            <div class="right-side">
                                @Html.Raw(Model.GetPropertyValue("officeAddress"))
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-12" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <form>
                        <div class="form-content">
                            <h2>@Umbraco.GetDictionaryValue("Send us your queries")</h2>
                            <div class="form-group">
                                <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                <span class="validationForm" id="errFirstName"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="LastName" id="LastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                <span class="validationForm" id="errLastName"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                <span class="validationForm" id="errEmailAddress"></span>
                            </div>

                            <div class="form-group">
                                <input type="number" name="ContactNo" id="ContactNo" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Contact No")">
                                <span class="validationForm" id="errContactNo"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-select-field">
                                    <select name="PointOfInterest" id="PointOfInterest" class="form-control">
                                        <option value="" disabled selected>@Umbraco.GetDictionaryValue("Point of Interest")</option>
                                        @foreach (var item in PointOfInterest)
                                        {
                                            <option value="@item.GetPropertyValue("title")">@item.GetPropertyValue("title")</option>
                                        }
                                    </select>
                                    <span class="validationForm" id="errPointOfInterest"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="Message" id="Message" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Enter your message here")"></textarea>
                                <span class="validationForm" id="errMessage"></span>
                            </div>
                            <div id="gCaptcha">
                            </div>
                            <span class="validationForm" id="errCaptcha"></span>
                            <div class="form-action">
                                <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<script>

    $(document).ready(function () {


        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                formData.append("FirstName", $("#FirstName").val());
                formData.append("LastName", $("#LastName").val());
                formData.append("EmailAddress", $("#EmailAddress").val());
                formData.append("ContactNo", $("#ContactNo").val());
                formData.append("Message", $("#Message").val());
                formData.append("ContactType", "ContactUs");
                formData.append("PageId", $("#PointOfInterest option:selected").val());
                formData.append("lang", $("#lang").val());
                $.ajax({
                    url: "/Umbraco/Surface/Contact/ContactUs",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Contact_Us")');
                            $("#FirstName").val("");
                            $("#LastName").val("");
                            $("#EmailAddress").val("");
                            $("#ContactNo").val("");
                            $("#Message").val("");
                        }
                        else {
                            AlertMessage("Error in submission, please try again!");
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

            if ($("#FirstName").val() == '') {
                $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName").focus();
                hasError = true;
            }

            if ($("#LastName").val() == '') {
                $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName").focus();
                hasError = true;
            }

            if ($("#EmailAddress").val() == '') {
                $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }

            if ($("#ContactNo").val() == '') {
                $("#errContactNo").html("@Umbraco.GetDictionaryValue("Validation_Error_ContactNo")").show();
                $("#ContactNo").focus();
                hasError = true;
            }

            if ($("#PointOfInterest option:selected").val() == '') {
                $("#errPointOfInterest").html("@Umbraco.GetDictionaryValue("Validation_Error_Point_Of_Interest")").show();
                $("#PointOfInterest").focus();
                hasError = true;
            }

            if ($("#Message").val() == '') {
                $("#errMessage").html("@Umbraco.GetDictionaryValue("Validation_Error_Message")").show();
                $("#Message").focus();
                hasError = true;
            }

            var googleResponse = grecaptcha.getResponse();
            if (googleResponse.length === 0) {
                $("#errCaptcha").html("@Umbraco.GetDictionaryValue("Validation_Error_Captcha")").show();
                hasError = true;
            }

            return hasError;
        }

    });
</script>

@section Script
{

    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBowoNhx8kg7m55pavCu3e0cVmHUYVsoeU'></script>
    <script>
        //Map
        function init_map() {
            var myOptions = {
                zoom: 14, center: new google.maps.LatLng(@Model.GetPropertyValue("mapCoordinate")),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), myOptions);
            marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(@Model.GetPropertyValue("mapCoordinate")) });
            //google.maps.event.addListener(marker, 'click', function () {
            //    infowindow.open(map, marker);
            //});
            //infowindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);
    </script>

    <script src="https://www.google.com/recaptcha/api.js?key=6LfSvowaAAAAAEVTQxEo15YxOg-XVL7CHTRsuKJH&onload=loadCaptcha&render=explicit"
            async defer></script>
    <script type='text/javascript'>
        var captchaContainer = null;
        var loadCaptcha = function () {
            captchaContainer = grecaptcha.render('gCaptcha', {
                'sitekey': '6LfSvowaAAAAAEVTQxEo15YxOg-XVL7CHTRsuKJH',
                'callback': function (googleResponse) { 
                }
            });
        };
    </script>

}
