﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var JobPost = Utility.GetCorportePostById(long.Parse(Request.QueryString["postId"].ToString()));
}

<main class="main">
    <input type="hidden" id="hdnPostId" value="@JobPost.PostId" />
    <input type="hidden" id="hdnPostTitle" value="@JobPost.JobTitle" />
    <input type="hidden" id="hdnPostType" value="@JobPost.PostType" />
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Links ban-->
    <section class="sub-banner">
        <h1>@Model.GetPropertyValue("title")</h1>
        <a href="@Model.Parent.Url">@Umbraco.GetDictionaryValue("Go Back")</a>
    </section>
    <section class="career-details-info">
        <div class="container">
            @if (JobPost.BannerImage != null)
            {
                <div class="row" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <div class="col-12">
                        <img src="/Media/ApplicantFile/@JobPost.BannerImage" class="img-fluid" alt="@JobPost.JobTitle">
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-12 values-sec" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <h2>@JobPost.JobTitle</h2>
                        </div>
                        <div class="col-lg-8 col-12 career-details">
                            <ul class="list-unstyled">
                                <li>
                                    <h4>@Umbraco.GetDictionaryValue("Company")</h4>
                                    <span>@JobPost.Company</span>
                                </li>
                                <li>
                                    <h4>@Umbraco.GetDictionaryValue("Location")</h4>
                                    <span>@JobPost.Location</span>
                                </li>
                                <li>
                                    <h4>@Umbraco.GetDictionaryValue("Date Posted")</h4>
                                    <span>@DateTime.Parse(@JobPost.DatePosted.ToString()).ToString("dd MMM yyyy")</span>
                                </li>
                                <li>
                                    <h4>@Umbraco.GetDictionaryValue("Tenure")</h4>
                                    <span>@JobPost.Tenure</span>
                                </li>
                                <li><a href="#" data-toggle="modal" data-target="#careerModal" id="btnApplyNow" class="btn btn-lisght">@Umbraco.GetDictionaryValue("Apply Now")</a></li>
                            </ul>
                        </div>
                    </div>
                    @Html.Raw(Model.GetPropertyValue("jobDescription"))
                </div>
            </div>
        </div>
    </section>

    <section class="our-standards-2 overview">
        <div class="container-fluid">
            <div class="row">
                @if (JobPost.BackgroundImage != null)
                {
                    <div class="col-lg-6 col-12 img-content" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <img src="/Media/ApplicantFile/@JobPost.BackgroundImage" alt="image">
                    </div>
                    <div class="col-lg-6 col-12 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h2 class="header-title">@Umbraco.GetDictionaryValue("Responsibilities")</h2>
                        @Html.Raw(JobPost.JobResponsibilities.ToString().Replace("<p>", "<p class='paragraph-title'>"))
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-12 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h2 class="header-title">@Umbraco.GetDictionaryValue("Responsibilities")</h2>
                        @Html.Raw(JobPost.JobResponsibilities.ToString().Replace("<p>", "<p class='paragraph-title'>"))
                    </div>
                }


            </div>
        </div>
    </section>

    <div class="modal fade custom-modal" id="careerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body form-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 text-center left-bg">
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <form action="">
                                    <div class="form-content">
                                        <h2>@Umbraco.GetDictionaryValue("Apply Now")</h2><br />
                                        <h3>@JobPost.JobTitle</h3>
                                        @*<div class="job-info">
                                                <div class="left-side">
                                                    <h5>@Umbraco.GetDictionaryValue("Date Posted")</h5>
                                                    <span>@DateTime.Parse(JobPost.DatePosted.ToString()).ToString("MMM dd yyyy")</span>
                                                </div>
                                                <div class="right-side">
                                                    <h5>@Umbraco.GetDictionaryValue("Tenure")</h5>
                                                    <span>@JobPost.Tenure</span>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                            <span class="validationForm" id="errFirstName"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="LastName" id="LastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                            <span class="validationForm" id="errLastName"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                            <span class="validationForm" id="errEmailAddress"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" name="ContactNo" id="ContactNo" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Contact No")">
                                            <span class="validationForm" id="errContactNo"></span>
                                        </div>
                                        <div class="upload-file">
                                            <div class="custom-file">
                                                <input class="custom-file-input" name="CV" id="CV" type="file" />
                                                <label class="custom-file-label">@Umbraco.GetDictionaryValue("Upload Your CV")</label>
                                                <span class="validationForm" id="errCV"></span>
                                            </div>
                                        </div>
                                        <div id="gCaptcha">
                                        </div>
                                        <span class="validationForm" id="errCaptcha"></span>
                                        <div class="form-action">
                                            <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $(document).on('change', '.custom-file-input', function (event) {
            var files = event.target.files;
            console.log(files);
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#btnApplyNow").on("click", function () {
            //$("#careerModal").modal("show");
        });

        $("#btnSubmit").on("click", function () {
            if (CheckValidation() == false) {
                var formData = new FormData();
                var CV = document.getElementById("CV").files[0];

                formData.append("FirstName", $("#FirstName").val());
                formData.append("LastName", $("#LastName").val());
                formData.append("EmailAddress", $("#EmailAddress").val());
                formData.append("ContactNo", $("#ContactNo").val());
                formData.append("CV", CV);
                formData.append("ApplyFor", "CorporatePost");
                formData.append("PostType", $("#hdnPostType").val());
                formData.append("PostId", $("#hdnPostId").val());
                formData.append("PostTitle", $("#hdnPostTitle").val());

                $.ajax({
                    url: "/Umbraco/Surface/Careers/ApplyPost",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.status == true) {
                            AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Career_Apply")');
                            $("#FirstName").val("");
                            $("#LastName").val("");
                            $("#EmailAddress").val("");
                            $("#ContactNo").val("");
                            $("#CV").val(null);
                        }
                        else {
                            AlertMessage("Error in submission, please try again!");
                        }
                    },
                    error: function (request, error) {
                        AlertMessage("Error in submission, please try again!");
                    }
                });
            }
        });

        function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

             if ($("#FirstName").val() == '') {
                $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                $("#FirstName").focus();
                hasError = true;
            }

            if ($("#LastName").val() == '') {
                $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                $("#LastName").focus();
                hasError = true;
            }

            if ($("#EmailAddress").val() == '') {
                $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }
            else if (!emailReg.test($("#EmailAddress").val())) {
                $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                $("#EmailAddress").focus();
                hasError = true;
            }

            if ($("#ContactNo").val() == '') {
                $("#errContactNo").html("@Umbraco.GetDictionaryValue("Validation_Error_ContactNo")").show();
                $("#ContactNo").focus();
                hasError = true;
            }

            var CV = document.getElementById("CV").files[0];

            if (CV == null) {
                $("#errCV").html("@Umbraco.GetDictionaryValue("Validation_Error_Upload_CV")").show();
                hasError = true;
            }

            var googleResponse = grecaptcha.getResponse();
            if (googleResponse.length === 0) {
                $("#errCaptcha").html("@Umbraco.GetDictionaryValue("Validation_Error_Captcha")").show();
                hasError = true;
            }

            return hasError;
        }
    });
</script>

@section Script
{

    <script src="https://www.google.com/recaptcha/api.js?key=6LfSvowaAAAAAEVTQxEo15YxOg-XVL7CHTRsuKJH&onload=loadCaptcha&render=explicit"
            async defer></script>
    <script type='text/javascript'>
        var captchaContainer = null;
        var loadCaptcha = function () {
            captchaContainer = grecaptcha.render('gCaptcha', {
                'sitekey': '6LfSvowaAAAAAEVTQxEo15YxOg-XVL7CHTRsuKJH',
                'callback': function (googleResponse) {
                }
            });
        };
    </script>

}

