﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var Parent = currentPage.Parent;
}
<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        <div class="links-nav">
            <div class="container-fluid">
                <span>@Umbraco.GetDictionaryValue("You are here") :</span>
                <a href="/@lang/">@Umbraco.GetDictionaryValue("Home") <i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Parent.Parent.Url">@Parent.Parent.Parent.Parent.GetPropertyValue("title")<i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Parent.Url">@Parent.Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Url">@Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="@Parent.Parent.Url">@Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="#" class="active">@Model.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
            </div>
        </div>
        <!-- End Links ban-->
        <!-- Start Banner -->
        <section class="sub-banner">
            <h1>@Model.GetPropertyValue("title")</h1>
            <a href="/@lang/about-us/who-we-are/governance/">@Umbraco.GetDictionaryValue("Go Back")</a>
        </section>
        <!-- End Banner -->
        <!-- Start Overviwe Section -->
        <section class="overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 left-side">
                        @Html.Raw(Model.GetPropertyValue("description"))
                    </div>
                    <div class="col-lg-6">
                        <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Overviwe Section -->
    </main>