﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var TopImage = Model.GetPropertyValue<IPublishedContent>("TopImage");
}
@section Header
{
    <link href="/ui/stylesheet/developer-dashboard.css" rel="stylesheet">
    <link href="/ui/stylesheet/step-wizard.css" rel="stylesheet">
}
<!-- Start Main Content -->
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Banner -->
    <section class="banner-profile" style="background-image:url(@TopImage.Url)"></section>
    <!-- End Banner -->
    <!-- Start user navbar-->
    @{Html.RenderAction("TopMenu", "Dashboard");}

    <!-- Start Content -->
    <section class="content-dashboard">
        <div class="container-fluid padd-0">
            <div class="row">
                <div class="sidebar col-lg-3 col-md-2 col-12">
                    @{Html.RenderAction("LeftMenu", "Dashboard");}
                </div>
                @Html.Raw(Model.GetPropertyValue("pageSection"))
            </div>
        </div>
    </section>
</main>
<!-- Start Footer-->