﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var TopImage = Model.GetPropertyValue<IPublishedContent>("topImage");
    var backgroundImage = Model.GetPropertyValue<IPublishedContent>("backgroundImage");
    var upcomingEvents = Model.Parent.Parent.Descendants().Where(x => x.DocumentTypeAlias == "eventsItem" && x.IsVisible() && x.GetPropertyValue<DateTime>("date") >= DateTime.Now.Date).OrderByDescending(x => x.GetPropertyValue<DateTime>("date")).ToList();

}

    <main class="main">
        <input type="hidden" id="lang" value="@lang" />
        <input type="hidden" id="EventId" value="@Model.Id" />
        <input type="hidden" id="EventCmsName" value="@Model.Name" />
        <!-- Start Links ban-->
        <div class="links-nav">
            <div class="container-fluid">
                <span>@Umbraco.GetDictionaryValue("You are here") :</span>
                <a href="/@lang/">@Umbraco.GetDictionaryValue("Home") <i class="fal fa-caret-right"></i></a>
                <a href="@Model.Parent.Parent.Url">@Model.Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
                <a href="#" class="active">@Model.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
            </div>
        </div>
        <!-- End Links ban-->
        <section class="sub-banner">
            <h1>@Model.GetPropertyValue("title")</h1>
            <a href="@Model.Parent.Parent.Url">@Umbraco.GetDictionaryValue("Go Back")</a>
        </section>
        <!-- Start Event Info -->
        <section class="event-details paddTop-50">
            <div class="container">
                @if (TopImage != null)
                {
                    <div class="event-img" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <img src="@TopImage.Url" class="img-fluid" alt="image">
                    </div>
                }
                <div class="event-info" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <ul class="list-unstyled">
                        <li>
                            <span><i class="far fa-map-marker-alt"></i></span>
                            <div>
                                <p>@Umbraco.GetDictionaryValue("City")</p>
                                <h5>@Model.GetPropertyValue("city")</h5>
                            </div>
                        </li>
                        <li>
                            <span><i class="far fa-book"></i></span>
                            <div>
                                <p>@Umbraco.GetDictionaryValue("Type")</p>
                                <h5>@Model.GetPropertyValue("type")</h5>
                            </div>
                        </li>
                        <li>
                            <span><i class="fal fa-calendar"></i></span>
                            <div>
                                <p>@Umbraco.GetDictionaryValue("Date")</p>
                                <h5>@Model.GetPropertyValue("displayDate").ToString()</h5>
                            </div>
                        </li>
                        <li>
                            <span><i class="fal fa-clock"></i></span>
                            <div>
                                <p>@Umbraco.GetDictionaryValue("Time")</p>
                                <h5>@Model.GetPropertyValue("time")</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Start Event discription -->
        <section class="event-discription paddTop-50" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>

        <!-- Start Event Register -->
        <section class="event-register">
            <div class="container">
                <div class="row">
                    @if (backgroundImage != null)
                    {
                        <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-offset="450" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <img src="@backgroundImage.Url" class="img-fluid" alt="image">
                        </div>
                    }
                    <div class="col-lg-6 col-12 right-side" data-aos="fade-left" data-aos-offset="450" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h3>@Umbraco.GetDictionaryValue("Register for the event")</h3>
                        <form action="">
                            <div class="form-content">
                                <div class="form-row">
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("First Name")">
                                            <span class="validationForm" id="errFirstName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <input type="text" name="LastName" id="LastName" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Last Name")">
                                            <span class="validationForm" id="errLastName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Email Address")">
                                            <span class="validationForm" id="errEmailAddress"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <input type="number" name="ContactNo" id="ContactNo" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Contact No")">
                                            <span class="validationForm" id="errContactNo"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <div class="custom-select-field">
                                                <select name="Country" id="Country" class="form-control">
                                                </select>
                                                <span class="validationForm" id="errCountry"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <input type="text" name="City" id="City" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Job Title")">
                                            <span class="validationForm" id="errCity"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 co-12">
                                        <div class="form-group">
                                            <input type="text" name="ZipCode" id="ZipCode" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Company")">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-action">
                                            <button type="button" id="btnSubmit" class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="news paddBo-50">
            <div class="container" style="display:none;">
                <h2>@Umbraco.GetDictionaryValue("Upcoming Events")</h2>
                <div class="row news-col" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    @foreach (var item in upcomingEvents)
                    {
                        var image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                        <div class="col-md-4 col-12">
                            <img src="@image.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@DateTime.Parse(item.GetPropertyValue("date").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

    </main>
    <script>
        $(document).ready(function () {

            var jsonCountry = $.ajax({
                type: 'POST',
                url: "/Umbraco/Surface/FormProcess/GetCountry",
                dataType: "application/json; charset=utf-8",
                context: document.body,
                global: false,
                async: false,
                success: function (data) {
                    return data;
                }
            }).responseText;

            var strCountry = '<option value="">@Umbraco.GetDictionaryValue("Country")</option>';
            var jsonObject = $.parseJSON(jsonCountry);
            $.each(jsonObject, function (i, obj) {
                strCountry = strCountry + '<option value="' + obj.CountryCode + '">' + obj.CountryName + '</option>';

            });

            $("#Country").html(strCountry);

            $("#btnSubmit").on("click", function () {
                if (CheckValidation() == false) {
                    var formData = new FormData();
                    formData.append("FirstName", $("#FirstName").val());
                    formData.append("LastName", $("#LastName").val());
                    formData.append("EmailAddress", $("#EmailAddress").val());
                    formData.append("ContactNo", $("#ContactNo").val());
                    formData.append("Country", $("#Country option:selected").val());
                    formData.append("City", $("#City").val());
                    formData.append("ZipCode", $("#ZipCode").val());
                    formData.append("EventId", $("#EventId").val());
                    formData.append("EventCmsName", $("#EventCmsName").val());
                    formData.append("lang", $("#lang").val());
                    $.ajax({
                        url: "/Umbraco/Surface/Event/EventRegister",
                        type: 'POST',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: formData,
                        beforeSend: function () {

                        },
                        success: function (response) {
                            if (response.status == true) {
                              AlertMessage('@Umbraco.GetDictionaryValue("Thank_You_Event_Apply")');
                            }
                            else {
                                AlertMessage("Error in submission, please try again!");
                            }
                        },
                        error: function (request, error) {
                            AlertMessage("Error in submission, please try again!");
                        }
                    });
                }
            });

            function CheckValidation() {
                $(".validationForm").hide();
                var hasError = false;
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

                if ($("#FirstName").val() == '') {
                    $("#errFirstName").html("@Umbraco.GetDictionaryValue("Validation_Error_FirstName")").show();
                    $("#FirstName").focus();
                    hasError = true;
                }

                if ($("#LastName").val() == '') {
                    $("#errLastName").html("@Umbraco.GetDictionaryValue("Validation_Error_LastName")").show();
                    $("#LastName").focus();
                    hasError = true;
                }

                if ($("#EmailAddress").val() == '') {
                    $("#errEmailAddress").html("@Umbraco.GetDictionaryValue("Validation_Error_Email")").show();
                    $("#EmailAddress").focus();
                    hasError = true;
                }
                else if (!emailReg.test($("#EmailAddress").val())) {
                    $('#errEmailAddress').html("@Umbraco.GetDictionaryValue("Validation_Error_WrongEmail")").show();
                    $("#EmailAddress").focus();
                    hasError = true;
                }

                if ($("#ContactNo").val() == '') {
                    $("#errContactNo").html("@Umbraco.GetDictionaryValue("Validation_Error_ContactNo")").show();
                    $("#ContactNo").focus();
                    hasError = true;
                }

                if ($("#Country option:selected").val() == '') {
                    $("#errCountry").html("@Umbraco.GetDictionaryValue("Validation_Error_Country")").show();
                    $("#Country").focus();
                    hasError = true;
                }

                

                return hasError;
            }

        });
    </script>
