﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var eventType = Model.Children.Where(x => x.IsVisible()).ToList();

}

<main class="main">
    <input id="lang" value="@lang"  type="hidden"/>
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Links ban-->
    @Html.Partial("TopBannerImage")
    <!-- End Links ban-->
    <section class="event-sec">
        @Html.Raw(Model.GetPropertyValue("description"))
        <div class="container">
            <div class="row">
                <div class="col-12 filter">
                    <h5>@Umbraco.GetDictionaryValue("Filter by")</h5>
                    <form action="">
                        <ul class="list-unstyled">
                            <li class="input-calendar">
                                <input id="training-dates" class="form-control" placeholder="Y-m-d">
                            </li>
                            <li>
                                <button type="button" class="btn btn-light" value="P" onclick="GetEvents('','P','','1')"><i class="fal fa-calendar-alt"></i> @Umbraco.GetDictionaryValue("Past")</button>
                            </li>
                            @foreach (var item in eventType)
                            {
                                <li>
                                    <button type="button" class="btn btn-light" onclick="GetEvents('','',@item.Id.ToString(),'1')"><i class="fal fa-calendar-alt"></i>@item.GetPropertyValue("title")</button>
                                </li>
                            }                                                      

                        </ul>
                    </form>
                </div>
            </div>

            <div class="row" id="divEventList">

            </div>

            <div class="row pagination-row" style="display:none;">
                <nav aria-label="Page navigation ">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>
</main>

<script>
   
    var example = flatpickr('#training-dates', {
        altFormat: "F ,j Y",
        //defaultDate: "today",
        mode: 'range',
        dateFormat: "Y-m-d"
    });
   
</script>

<script>
    //$(document).ready(function () {

    GetEvents("", "", "", 1);
        function GetEvents(date, pastEvent, eventTypeId, page) {           

        $("#divEventList").html("");
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/Event/GetEvents',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{lang:'" + $("#lang").val() + "', date:'" + date + "', pastEvent:'" + pastEvent + "', eventTypeId:'" + eventTypeId + "', page:'" + page + "'}",
                    success: function (response) {
                        if (response.status == true) {
                            var tbHtml = "";
                            $.each(response.EventList, function (i, Item) {
                                tbHtml += '<div class="col-lg-4 col-md-6 col-12">' +
                                    '                    <div class="event-card">' +
                                    '                        <img class="img-fluid" src="' + Item.Image + '" alt="' + Item.Title+'">' +
                                    '                        <div class="event-info">' +
                                    '                            <h3>' + Item.Title +'</h3>' +
                                    '                            <p>@Umbraco.GetDictionaryValue("City") : ' + Item.City +'</p>' +
                                    '                            <p>@Umbraco.GetDictionaryValue("Type") : ' + Item.Type +'</p>' +
                                    '                            <p>@Umbraco.GetDictionaryValue("Date") : ' + Item.Date +'</p>' +
                                    '                            <p>@Umbraco.GetDictionaryValue("Time") : ' + Item.Time +'</p>' +
                                    '                        </div>' +
                                    '                        <div class="event-dis">' +
                                    '                            <p>' +
                                    '                               ' + Item.Introduction +
                                    '                            </p>' +
                                    '                            <a href="' + Item.Url+'" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>' +
                                    '                        </div>' +
                                    '                    </div>' +
                                    '                </div>';
                            });

                            $("#divEventList").html(tbHtml);
                        }
                        else {
                            AlertMessage(response.message)
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        }
               
        $("#training-dates").on("change", function () {
            GetEvents($("#training-dates").val(), "", "", 1);
        });        

    //});
</script>