﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using nuPickers;
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var sabicLogo = Model.GetPropertyValue<IPublishedContent>("sabicLogo");
    var harvardLogo = Model.GetPropertyValue<IPublishedContent>("harvardLogo");
    var topImage = Model.GetPropertyValue<IPublishedContent>("topImage");
    var videoImage = Model.GetPropertyValue<IPublishedContent>("videoImage");
    var step1DownloadBrochure = Model.GetPropertyValue<IPublishedContent>("downloadBrochure");
    var i = 0;
    var j = 0;
    var k = 1;
}


<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->

        <section class="harvard-content">
            <div class="top-logos">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <img src="@harvardLogo.Url" alt="logo">
                        </div>
                        <div class="col-6 text-right">
                            <img src="@sabicLogo.Url" alt="logo">
                        </div>
                    </div>
                </div>
            </div>

            <div class="harvard-banner">
                <div class="container">
                    <div class="text-center">
                        <img src="@topImage.Url" class="img-fluid" alt="banner">
                    </div>
                    <div class="text-info">
                        @Html.Raw(Model.GetPropertyValue("description"))
                    </div>
                </div>
            </div>

            <div class="overview video-sec">
                <div class="img-content video-trigger" href="@Model.GetPropertyValue("videoLink")">
                    <img src="@videoImage.Url" class="img-fluid" alt="image">
                </div>
            </div>

            <!-- Start Pricing Structure Section -->
            <div class="pricing">
                <div class="container">
                    <h2 class="header-title">@Model.GetPropertyValue("pricingStructureTitle")</h2>
                    <div class="row">
                        <div class=" col-lg-4 col-md-4 col-12">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("pricingItem"))
                                {
                                    string id = "item-tab" + i.ToString();
                                    string hrefId = "item-" + i.ToString();
                                    string active = "";
                                    if (i == 0)
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }

                                    <a class="nav-link @active" id="@id" data-toggle="pill" href="#@hrefId" role="tab" aria-controls="@hrefId" aria-selected="true">@item.GetPropertyValue("title")</a>
                                    i++;
                                }

                            </div>
                        </div>
                        <div class=" col-lg-8 col-md-8 col-12 data-part">
                            <div class="tab-content" id="v-pills-tabContent">

                                @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("pricingItem"))
                                {
                                    string id = "item-" + j.ToString();
                                    string active = "";
                                    if (j == 0)
                                    {
                                        active = "show active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }

                                    <div class="tab-pane fade @active" id="@id" role="tabpanel" aria-labelledby="@id">
                                        <div class="box-content">
                                            @Html.Raw(item.GetPropertyValue("description").ToString().Replace("<ul>", "<ul class='list-unstyled'>"))
                                        </div>
                                    </div>
                                    j++;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="methods">
            <div class="container">
                <div class="text-content">
                    <h2 class="header-title">@Model.GetPropertyValue("descriptionTitle")</h2>
                    @Html.Raw(Model.GetPropertyValue("descriptionDetails"))
                </div>
            </div>
        </div>*@

            <div class="section program-speakers">
                <div class="container" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h2 class="header-title">
                        @Model.GetPropertyValue("descriptionTitle")
                    </h2>
                    <p class="text-center"><strong>@Model.GetPropertyValue("descriptionSubTitle")</strong></p>

                    <div class="row">
                        @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("learningTypesItem"))
                        {
                            var icon = item.GetPropertyValue<IPublishedContent>("icon");
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="img"><img src="@icon.Url" alt="icon"></div>
                            <h4>@item.GetPropertyValue("title")</h4>
                        </div>
                        }                       
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(@Model.GetPropertyValue("journeyTitle").ToString()))
            {
            <!-- Start Timeline Section -->
            <div class="how-register" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12 left-side">
                            <h2>@Model.GetPropertyValue("journeyTitle")</h2>
                        </div>
                        <div class="col-lg-6 col-md-7 col-12 right-side">
                            @Html.Raw(Model.GetPropertyValue("descriptionDetails").ToString().Replace("<ul>", "<ul class='list-unstyled'>"))
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="pro-trip">
                <div class="container">
                    <h2 class="header-title">@Model.GetPropertyValue("programJourneyTitle")</h2>

                    <div class="row">
                        @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("programItem"))
                        {
                            <div class="col">
                                <h3>@item.GetPropertyValue("title")</h3>
                                @if (!string.IsNullOrEmpty(item.GetPropertyValue("subTitle").ToString()))
                                {
                                    <p>@item.GetPropertyValue("subTitle").ToString())</p>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="education-outcomes">
                <div class="container">
                    <h2 class="header-title">@Model.GetPropertyValue("educationOutcomesTitle")</h2>
                    <div class="row">
                        @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("educationOutcomesItem"))
                        {
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="num">
                                    @Html.Raw("0" + k.ToString())
                                </div>
                                <div class="text-box">
                                    @Html.Raw(item.GetPropertyValue("description"))
                                </div>
                            </div>
                            k++;
                        }
                    </div>
                </div>
            </div>

            <!-- Start How to Register Section -->
            <div class="how-register">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-12 left-side">
                            <h2>@Model.GetPropertyValue("howToRegisterTitle")</h2>
                        </div>
                        <div class="col-lg-6 col-md-7 col-12 right-side">
                            @Html.Raw(Model.GetPropertyValue("howToRegisterDescription").ToString().Replace("<ul>", "<ul class='list-unstyled'>"))
                        </div>
                    </div>
                </div>
            </div>

            <div class="methods">
                <div class="container">
                    <div class="text-content">
                        <h2 class="header-title">@Model.GetPropertyValue("programCostTitle")</h2>
                        @Html.Raw(Model.GetPropertyValue("programCostDescription"))

                        <div class="join">
                            <div class="container text-center">
                                @*@if (Utility.GetApplicationCookies("IsLogin") != null)
        {
            <a href="/@lang/my-account/apply-for-leadership-program/" class="btn btn-defaukt">@Model.GetPropertyValue("jointInternalButtonText")</a>
        }
        else
        {
            <a href="/@lang/registration/member-register/" class="btn btn-defaukt">@Model.GetPropertyValue("jointInternalButtonText")</a>
        }*@
                                <a href="/@lang/registration/member-register/" class="btn btn-defaukt">@Model.GetPropertyValue("jointInternalButtonText")</a>
                            </div>
                        </div>
                    </div>

                    <div class="join">
                        <div class="container text-center">
                            <a href="@step1DownloadBrochure.Url" target="_blank" class="btn btn-defaukt">@Umbraco.GetDictionaryValue("Download_Brochure")</a>                           
                        </div>
                    </div>

                </div>                
            </div>
            
        </section>
    </main>
    
