﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Overviwe Section -->
        <section class="overview server">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 left-side">
                        @Html.Raw(@Model.GetPropertyValue("description"))
                    </div>
                    <div class="col-lg-6">
                        <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Overviwe Section -->
    </main>