﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

}
<!-- Start Main Content -->
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <section class="sub-banner">
        <h1>@Model.GetPropertyValue("title")</h1>
    </section>
    <section class="core-banner aos-init aos-animate" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
        <div class="container">
            @Html.Raw(Model.GetPropertyValue("description"))
        </div>
    </section>

</main>
<!-- Start Footer-->
