﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var banner = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("topBannerItem");
    if (banner != null)
    {
        banner = banner.Where(x => x.GetPropertyValue<Boolean>("showHide") == true);
    }

    var TrainingCoursesCategory = currentPage.Children.Where(x => x.DocumentTypeAlias == "trainingCourses").FirstOrDefault().Children.Where(x => x.IsVisible() == true).Take(3).ToList();


    var AboutImage = Model.GetPropertyValue<IPublishedContent>("aboutImage");
    var CertificationImage = Model.GetPropertyValue<IPublishedContent>("certifiedImage");

    var OurPartner = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("ourPartnerItem");
    var OurSecondPartner = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("knowledgePartnersItems");

    var TrainingMethod = currentPage.Children.Where(x => x.DocumentTypeAlias == "trainingMethods").FirstOrDefault().Children.Where(x => x.IsVisible() == true).ToList();

    var MediaCentre = currentPage.Children.Where(x => x.DocumentTypeAlias == "mediaCenter").FirstOrDefault();

    var FeatureNews = MediaCentre.Children.Where(x => x.DocumentTypeAlias == "news").FirstOrDefault().Children.Where(x => x.IsVisible() == true && x.GetPropertyValue<Boolean>("featured")).Take(1).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();
    var OtherNews = MediaCentre.Children.Where(x => x.DocumentTypeAlias == "news").FirstOrDefault().Children.Where(x => x.IsVisible() == true && x.GetPropertyValue<Boolean>("featured") == false).Take(3).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();

    var Award = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("awardItem");

    var BecomeMemberImage = Model.GetPropertyValue<IPublishedContent>("becomeMemberImage");
}

@section Header{
    <style>
        #appView .powrMark {
            font-size: .9rem;
            font-family: gordita;
            position: relative;
            cursor: pointer;
            display: none !important;
        }
        .twitterFeed .powrMark {
            background-color: rgba(0,174,238,1);
            color: #333 !important;
            border-radius: 3px;
            display: none !important;
        }
    </style>
}
<main class="main">
    <!-- promo start-->
    <section class="promo" style="visibility: hidden;">
        <div class="promo-slider">
            @foreach (var item in banner)
            {
                var Image = item.GetPropertyValue<IPublishedContent>("bannerImage");
                <div class="promo-slider__item promo-slider__item--style-1">
                    <picture>
                        <source srcset="@Image.Url" media="(min-width: 992px)" />
                        <img class="img--bg" src="@Image.Url" alt="img" />
                    </picture>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="align-container">
                                    <div class="align-container__item">
                                        <div class="promo-slider__wrapper-1">
                                            <h2 class="promo-slider__title"><span>@item.GetPropertyValue("bannerTitle")</span></h2>
                                        </div>
                                        <div class="promo-slider__wrapper-2">
                                            <p class="promo-slider__subtitle">@item.GetPropertyValue("bannerSubTitle")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- slider nav start-->
        <div class="slider__nav slider__nav--promo">
            <div class="promo-slider__count"></div>
            <div class="slider__arrows">
                <div class="slider__prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="slider__next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- slider nav end-->
    </section>
    <!-- promo end-->
    <!-- Start Certification -->
    <section class="certification paddTop-50">
        <div class="container-fluid">
            <div class="section-head text-center">
                <h1 class="text-header">@Model.GetPropertyValue("certificationTitle")</h1>
                <p>@Model.GetPropertyValue("certificationSubTitle")</p>
            </div>
            <div class="row">
                @foreach (var item in TrainingCoursesCategory)
                {
                    var Image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                    var count = item.Children.Where(x => x.IsVisible()).Count();
                    <div class="col-md-4 col-12">
                        <div class="card-certification">
                            <img src="@Image.Url" alt="image">
                            <div class="overlay">
                                <div class="content">
                                    <div class="label">
                                        @count @Umbraco.GetDictionaryValue("Courses")
                                    </div>
                                    <h2>@item.GetPropertyValue("title")</h2>
                                    <div class="card-info">
                                        <p>
                                            @item.GetPropertyValue("introduction")
                                        </p>
                                        <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Learn More")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End Certification -->
    <!-- Start About Section -->
    <section class="about-section" style="background-image: url(@AboutImage.Url);">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-6 col-md-7 col-12">
                    <h2>@Model.GetPropertyValue("aboutTitle")</h2>
                    @Html.Raw(Model.GetPropertyValue("aboutDescription"))
                    <div class="action-about">
                        <a href="/@lang/about-us/" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- Start Counter Section -->
    <section class="counter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="left-icon">
                        <i class="@Model.GetPropertyValue("analyticsNumberFirstIconClass")"></i>
                    </div>
                    <div class="right-counter">
                        <div class="num">
                            <span data-count="@Model.GetPropertyValue("analyticsNumberFirst")"></span>@Model.GetPropertyValue("analyticsNumberFirstUnit")
                        </div>
                        <p>@Model.GetPropertyValue("analyticsTextFirst")</p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="left-icon">
                        <i class="@Model.GetPropertyValue("analyticsNumberSecondIconClass")"></i>
                    </div>
                    <div class="right-counter">
                        <div class="num">
                            <span data-count="@Model.GetPropertyValue("analyticsNumberSecond")"></span>@Model.GetPropertyValue("analyticsNumberSecondUnit")
                        </div>
                        <p>@Model.GetPropertyValue("analyticsTextSecond")</p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="left-icon">
                        <i class="@Model.GetPropertyValue("analyticsNumberThirdIconClass")"></i>
                    </div>
                    <div class="right-counter">
                        <div class="num">
                            <span data-count="@Model.GetPropertyValue("analyticsNumberThird")"></span>@Model.GetPropertyValue("analyticsNumberThirdUnit")
                        </div>
                        <p>@Model.GetPropertyValue("analyticsTextThird")</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Section -->
    <!-- Start Certified  Section-->
    @if (Model.GetPropertyValue<Boolean>("videoShowHide") == true)
    {
        <section class="certified" style="background-image: url(@CertificationImage.Url);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>@Model.GetPropertyValue("certifiedTitle")</h2>
                        @Html.Raw(@Model.GetPropertyValue("certifiedDescription"))
                        <button class="btn btn-light video-trigger" href="@Model.GetPropertyValue("videoLink")"><i class="fal fa-play"></i>@Umbraco.GetDictionaryValue("Play Video")</button>
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- End Certified  Section-->
    <!-- Start Our Partners Section -->
    @if (Model.GetPropertyValue<Boolean>("ourPartnerShowHide") == true)
    {
        if (OurPartner!=null && OurPartner.Count() > 0)
        {
        <section class="awards partner-logo">
            <div class="container">
                <h2 class="section-head text-center">@Model.GetPropertyValue("ourPartnerTitle")</h2>
                <div class="owl-carousel owl-theme">
                    @foreach (var item in OurPartner)
                    {
                        var Image = item.GetPropertyValue<IPublishedContent>("logo");
                        <div class="item">
                            <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                            <p style="color:black;">@item.GetPropertyValue("title")</p>
                        </div>
                    }
                </div>
            </div>
        </section>
        }
        if (OurSecondPartner!=null && OurSecondPartner.Count() > 0)
        {
        <section class="awards partner-logo">
            <div class="container">
                <h2 class="section-head text-center">@Model.GetPropertyValue("partnerSecondTitle")</h2>
                <div class="owl-carousel owl-theme">
                    @foreach (var item in OurSecondPartner)
                    {
                        var Image = item.GetPropertyValue<IPublishedContent>("logo");
                        <div class="item">
                            <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                            <p style="color:black;">@item.GetPropertyValue("title")</p>
                        </div>
                    }
                </div>
            </div>
        </section>
        }
        @*<section class="partners">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <h2>@Model.GetPropertyValue("ourPartnerTitle")</h2>
                            <p>@Model.GetPropertyValue("ourPartnerSubTitle")</p>
                        </div>
                        @foreach (var item in OurPartner)
                        {
                            var Image = item.GetPropertyValue<IPublishedContent>("logo");
                            <div class="col-md-4 col-12 text-center">
                                <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                            </div>
                        }
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                </div>
            </section>*@
    }
    <!-- End Our Partners Section -->
    <!-- Start Training Methods Section -->
    <section class="training ">
        <div class="container-fluid">
            <div class="section-head text-center">
                <h2 class="text-header">@Umbraco.GetDictionaryValue("Training Methods")</h2>
            </div>
            <div class="row">
                @foreach (var item in TrainingMethod)
                {
                    var Image = item.GetPropertyValue<IPublishedContent>("smallImage");

                    <div class="col-lg-4 col-md-6 col-12">
                        <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                        <div class="training-info">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>
                                @item.GetPropertyValue("introduction")
                            </p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- End Training Methods Section -->
    <!-- Start News Section -->
    <section class="news paddBo-50" style="display:none;">
        <div class="container">
            <div class="row new-row">
                @foreach (var item in FeatureNews)
                {
                    var Image = item.GetPropertyValue<IPublishedContent>("featureImage");
                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="full-img">
                            <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12 col-right">
                        <h2>@Umbraco.GetDictionaryValue("Latest News")</h2>
                        <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                        <h3>@item.GetPropertyValue("title")</h3>
                        <p>@item.GetPropertyValue("introduction")</p>
                        <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                    </div>
                }
            </div>
            <div class="row news-col">
                @foreach (var item in OtherNews)
                {
                    var Image = item.GetPropertyValue<IPublishedContent>("smallImage");
                    <div class="col-md-4 col-12">
                        <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                        <div class="news-content">
                            <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                        </div>
                    </div>
                }
                <div class="col-12 text-center center">
                    <a href="/@lang/media-center/news/" class="btn btn-light">@Umbraco.GetDictionaryValue("View All News")</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End News Section -->
    <!-- Start Awards Section -->
    <section class="awards">
        <div class="container">
            <h2 class="section-head text-center">@Model.GetPropertyValue("awardTitle")</h2>
            <div class="owl-carousel owl-theme">
                @foreach (var item in Award)
                {
                    var Image = item.GetPropertyValue<IPublishedContent>("logo");
                    <div class="item">
                        <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                        <p>@item.GetPropertyValue("title")</p>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End Awards Section -->
    <!-- Start Social Section-->
    <section class="social">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-header">@Model.GetPropertyValue("socialMediaTitle")</h2>
                <p><i class="fab fa-twitter"></i> @Model.GetPropertyValue("socialMediaSubTitle")</p>
            </div>
            <div class="row">
                @Html.Raw(Model.GetPropertyValue("socialMediaWizard"))
            </div>
        </div>
    </section>
    <!-- End Social Section-->
    <!-- Start Member  Section-->
    <section class="member" style="background-image: url(@BecomeMemberImage.Url);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>@Model.GetPropertyValue("becomeMemberTitle")</h2>
                    <p>
                        @Model.GetPropertyValue("becomeMemberSubTitle")
                    </p>
                    <a href="/@lang/become-qualified">@Umbraco.GetDictionaryValue("Register Now")</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Member  Section-->
</main>