﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

    var TopImage = Model.GetPropertyValue<IPublishedContent>("topImage");

    var page = Request.QueryString["page"] != null ? int.Parse(Request.QueryString["page"]) : 1;
    var keyword = Request.QueryString["keyword"] != null ? Request.QueryString["keyword"] : "";

}

    <main class="main">
        <input type="hidden" id="lang" value="@lang" />
        <input type="hidden" id="page" value="@page" />
        <input type="hidden" id="parmKeyword" value="@keyword" />
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        @Html.Partial("TopBackgroundImage")
        <!-- End Links ban-->
        <!-- Start Career Section -->
        <section class="our-vision paddTop-50 media-center-news-details">
            <div class="container">
                @if (TopImage != null)
                {
                    <div class="row" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <div class="col-12">
                            <img src="@TopImage.Url" alt="@Model.GetPropertyValue("title")">
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12 values-sec" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        @Html.Raw(Model.GetPropertyValue("description"))
                    </div>
                </div>
                <div class="row row-filter" style="margin-top: 40px;margin-bottom: -45px;">
                    <div class="col-md-12 col-12 padd-left">
                        <div class="form-content">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="@Umbraco.GetDictionaryValue("Enter_Search_Key")" />
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <button type="button" id="btnSearch" class="btn btn-light">@Umbraco.GetDictionaryValue("Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </section>
        
        <!-- Start Career Types -->
        <section class="graduates-row">
            <div class="container" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="row" id="divMemberList">

                </div>
                <div class="row pagination-row">
                    <nav aria-label="Page navigation" id="divPagination">
                        @*<ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>*@
                    </nav>
                </div>
            </div>
        </section>
    </main>
<script>
    $(document).ready(function () {
        GetMemberList($("#parmKeyword").val(), "", $("#page").val());
        function GetMemberList(keyword, company, page) {
           // $("#divMemberList").html("Loading, please wait...");
            $.ajax({
                url: '/Umbraco/Surface/Careers/GetMemberList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{keyword:'" + keyword + "', company:'" + company + "', page:'" + page + "', lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        var designation = "";
                        $.each(response.MemberInfo, function (i, MemberInfo) {

                            designation = "";
                            if (MemberInfo.JobTitle != null) {
                                designation = '<h3>' + MemberInfo.JobTitle + ', ' + MemberInfo.Organization + '</h3>';
                            }

                            tbHtml += '<div class="col-lg-2 col-md-4 col-6 text-center">' +
                                '<div class="user-img">' +
                                '<img src="' + MemberInfo.ProfilePhoto + '" alt="' + MemberInfo.FirstName + '">' +
                                '</div>' +
                                '<h2>' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + '</h2>' +
                                designation +
                                '<a href="/@lang/media-center/careers/iia-graduates/graduate-details/?proId=' + MemberInfo.ProfileId + '">@Umbraco.GetDictionaryValue("View Bio")</a>' +
                                '</div>';

                        });

                        $("#divMemberList").html(tbHtml);
                        $("#divPagination").html(response.pagination);

                        $("#divMemberList").css("display", "flex");
                        $("#divPagination").css("display", "inline");
                    }
                    else {                        
                        $("#divMemberList").css("display", "none");
                        $("#divPagination").css("display", "none");
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        }

        $("#keyword").change(function () {
            GetMemberList($("#keyword").val(), "", "1");
        });

        $("#btnSearch").click(function () {
            GetMemberList($("#keyword").val(), "", "1");
        });

    });
</script>