﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

    var Blog = Model.Children.Where(x => x.DocumentTypeAlias == "news1").FirstOrDefault();
    var BlogItem = Blog.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();

    var CaseStudies = Model.Children.Where(x => x.DocumentTypeAlias == "news11").FirstOrDefault();
    var CaseStudiesItem = CaseStudies.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();

    var WhitePaper = Model.Children.Where(x => x.DocumentTypeAlias == "whitePapers").FirstOrDefault();
    var WhitePaperItem = WhitePaper.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();

    var Publications = Model.Children.Where(x => x.DocumentTypeAlias == "publications").FirstOrDefault();
    var PublicationsItem = Publications.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();

    var Webinar = Model.Children.Where(x => x.DocumentTypeAlias == "webinar").FirstOrDefault();
    var WebinarItem = Webinar.GetPropertyValue<IEnumerable<IPublishedContent>>("videoItem");
    var WebinarImage = Webinar.GetPropertyValue<IPublishedContent>("image");

}

    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        @Html.Partial("TopBackgroundImage")
        <!-- End Links ban-->
        <!-- Start Insights Section-->
        <section class="official">
            <div class="container" data-aos="zoom-in" data-aos-offset="" data-aos-duration="2000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
               @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>

        <!-- Start News Section -->
        <section class="news slider-news" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="text-center">@Blog.GetPropertyValue("title") <a href="@Blog.Url">@Umbraco.GetDictionaryValue("View All")</a></h2>
                <div class="owl-carousel owl-theme">
                    @foreach (var item in BlogItem)
                    {
                        var smallImage = item.GetPropertyValue<IPublishedContent>("smallImage");
                        <div class="item">
                            <img src="@smallImage.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>                       
                    }
                </div>
            </div>
        </section>
        <!-- End News Section -->
        <!-- Start Whitepaper Section -->
        <section class="news slider-news bg-white" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="text-center">@WhitePaper.GetPropertyValue("title") <a href="@WhitePaper.Url">@Umbraco.GetDictionaryValue("View All")</a></h2>
                <div class="owl-carousel owl-theme">
                    @foreach (var item in WhitePaperItem)
                    {
                        var smallImage = item.GetPropertyValue<IPublishedContent>("thumbnail");
                        var pdf = item.GetPropertyValue<IPublishedContent>("pDF");
                        <div class="item">
                            <img src="@smallImage.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@pdf.Url" class="link-news" target="_blank">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Whitepaper Section -->
        <!-- Start Video media center -->
        <section class="videos-media-center slider-news" style="background-image:url(@WebinarImage.Url)">
            <div class="container" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <h2 class="text-center">@Webinar.GetPropertyValue("title") <a href="@Webinar.Url">@Umbraco.GetDictionaryValue("View All")</a></h2>
               <p class="text-center"> @Html.Raw(Webinar.GetPropertyValue("description"))</p>
            <div class="owl-carousel owl-theme">
                @foreach (var item in WebinarItem)
                {
                    var image = item.GetPropertyValue<IPublishedContent>("image");
                <div class="item">
                    <a class="video-content video-trigger" href="@item.GetPropertyValue("videoLink")">
                        <img src="@image.Url" class="img-fluid" alt="image">
                    </a>
                </div>
                }
            </div>
            </div>
        </section>

        <!-- Start Publications Section -->
        <section class="news slider-news" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="text-center">@Publications.GetPropertyValue("title") <a href="@Publications.Url">@Umbraco.GetDictionaryValue("View All")</a></h2>
                <div class="owl-carousel owl-theme">
                    @foreach (var item in PublicationsItem)
                    {
                        var smallImage = item.GetPropertyValue<IPublishedContent>("thumbnail");
                        var pdf = item.GetPropertyValue<IPublishedContent>("pDF");
                        <div class="item">
                            <img src="@smallImage.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@pdf.Url" class="link-news" target="_blank">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Publications Section -->
        <!-- Start Whitepaper Section -->
        <section class="news slider-news bg-white" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="text-center">@CaseStudies.GetPropertyValue("title") <a href="@CaseStudies.Url">@Umbraco.GetDictionaryValue("View All")</a></h2>
                <div class="owl-carousel owl-theme">
                    @foreach (var item in CaseStudiesItem)
                    {
                        var smallImage = item.GetPropertyValue<IPublishedContent>("smallImage");
                        <div class="item">
                            <img src="@smallImage.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Whitepaper Section -->

    </main>