﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{
    Layout = null;
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var rootNode = lang == "en" ? Umbraco.TypedContent(1131) : Umbraco.TypedContent(2459);
    var trainingCourseCategory = rootNode.Descendants().Where(x => x.DocumentTypeAlias == "trainingCourseCategory");
    var MediaCenter= rootNode.Descendants().Where(x => x.DocumentTypeAlias == "mediaCenter").FirstOrDefault();
    var Logo = rootNode.GetPropertyValue<IPublishedContent>("logo");

    var ActivePage = Umbraco.TypedContent(pageId);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (ActivePage.GetPropertyValue("seoTitle") != null)
    {
        if (!string.IsNullOrEmpty(ActivePage.GetPropertyValue<string>("seoTitle")))
        {
            <title>@ActivePage.GetPropertyValue("seoTitle") | IIA KSA</title>
        }
        else
        {
            <title>IIA KSA</title>
        }
    }
    else
    {
        <title>IIA KSA</title>
    }
    @if (ActivePage.GetPropertyValue("metaDescription") != null)
    {
        if (!string.IsNullOrEmpty(ActivePage.GetPropertyValue<string>("metaDescription")))
        {
            <meta name="description" content="@ActivePage.GetPropertyValue("metaDescription")" />
        }
    }
    @if (ActivePage.GetPropertyValue("metaKeywords") != null)
    {
        if (!string.IsNullOrEmpty(ActivePage.GetPropertyValue<string>("metaKeywords")))
        {
            <meta name="keywords" content="@ActivePage.GetPropertyValue("metaKeywords")" />
        }
    }

    @if (ActivePage.GetPropertyValue("canonical") != null)
    {
        if (!string.IsNullOrEmpty(ActivePage.GetPropertyValue<string>("canonical")))
        {
            <link rel="canonical" href="@ActivePage.GetPropertyValue("canonical")" />
        }
    }

    @if (ActivePage.GetPropertyValue("hideInSearch") != null)
    {
        if (ActivePage.GetPropertyValue<Boolean>("hideInSearch") == true)
        {
            <meta name="robots" content="noindex, nofollow">
        }
        else
        {
            <meta name="robots" content="index,follow">
        }
    }


    <script>
        var AnimationLoad = true;
        if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
            AnimationLoad = false;
        }
        if (navigator.platform.indexOf("iPhone") != -1 || navigator.platform.indexOf("iPod") != -1) {
            AnimationLoad = false;
        }
    </script>


    <!-- Bootstrap -->
    @if (lang == "en")
    {
        <link href="/ui/stylesheet/main.css?v=2" rel="stylesheet">
        <link href="/ui/stylesheet/developer.css?v=2" rel="stylesheet">
        <link href="/ui/stylesheet/harvard-style.css?v=2" rel="stylesheet">
    }
    else
    {
        <link href="/ui/stylesheet/main.css?v=2" rel="stylesheet">
        <link href="/ui/stylesheet/developer.css?v=2" rel="stylesheet">
        <link href="/ui/stylesheet/harvard-style.css?v=2" rel="stylesheet">
        <link href="/ui/stylesheet/rtl.css?v=2" rel="stylesheet">

    }

    <script>
        if (AnimationLoad == true) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '/ui/stylesheet/aos.css?v=1.1';
            document.head.appendChild(link);
        }
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/customalert/sweetalert.css" />
    <link rel="icon" href="/ui/media/element/fav.png" type="image/x-icon">
    <script src="/ui/javascript/uicreep-minify.js?v=1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/customalert/sweetalert-dev.js"></script>

    <script>
        if (AnimationLoad == true) {
            var ele = document.createElement("script");
            var scriptPath = "/ui/javascript/aos.js?v=1.1"
            ele.setAttribute("src", scriptPath);
            document.head.appendChild(ele);
        }
    </script>

    @RenderSection("Header", false)

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WVC538V');</script>
    <!-- End Google Tag Manager -->
    
</head>
 
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVC538V"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page-wrapper">
        <!-- mobile menu start-->
        <!-- mobile menu end-->
        <!-- aside dropdown start-->
        <div class="aside-dropdown">
            <div class="aside-dropdown__inner">
                <span class="aside-dropdown__close">
                    <i class="far fa-times"></i>
                </span>
                <div class="aside-dropdown__item d-lg-none d-block">
                    <ul class="aside-menu">


                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang"><span>@Umbraco.GetDictionaryValue("Home")</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/about-us/"><span>@Umbraco.GetDictionaryValue("About Us")</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/media-center/news"><span>@Umbraco.GetDictionaryValue("News")</span></a></li>
                        @*<li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/events/"><span>@Umbraco.GetDictionaryValue("Events")</span></a></li>*@
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/training-and-courses/"><span>@Umbraco.GetDictionaryValue("Trainings and Courses")</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/become-qualified/"><span>@Umbraco.GetDictionaryValue("Become Qualified")</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/registration/non-member-register/"><span>@Umbraco.GetDictionaryValue("Non Member Courses")</span></a></li>
                    </ul>
                </div>
                <div class="aside-dropdown__item">
                    <!-- aside menu start-->
                    <ul class="aside-menu">
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/training-calendar/"><span>@Umbraco.GetDictionaryValue("Training Calendar")</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/training-methods/"><span>@Umbraco.GetDictionaryValue("Training Methods")</span></a></li>
                        @*<li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/internal-audit-leadership-program/"><span>@Umbraco.GetDictionaryValue("Harvard_Course")</span></a></li>*@
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/bookshop-and-materials/"><span>@Umbraco.GetDictionaryValue("Bookshops and Materials")</span></a></li>
                        @*<li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/media-center/"><span>@Umbraco.GetDictionaryValue("Media Centre")</span></a></li>*@
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/media-center/careers/"><span>@Umbraco.GetDictionaryValue("Careers")</span></a></li>
                        <li class="aside-menu__item"><a class="aside-menu__link" href="/@lang/contact-us/"><span>@Umbraco.GetDictionaryValue("Contact Us")</span></a></li>
                        <li style="padding-top: 14px;" class="aside-menu__item"><a class="aside-menu__link button button--squared" href="/@lang/events/ksa-events/the-8th-internal-audit-conference/"><span>@Umbraco.GetDictionaryValue("The Annual Conference")</span></a></li>

                    </ul>
                </div>
                @if (Utility.GetApplicationCookies("IsLogin") != null)
                {
                    <div class="aside-dropdown__item"><a class="button button--squared" href="/@lang/my-account/user-profile/"><span>@Umbraco.GetDictionaryValue("My Account")</span></a></div>
                }
                else
                {
                    <div class="aside-dropdown__item"><a class="button button--squared" href="/@lang/login"><span>@Umbraco.GetDictionaryValue("Login")</span></a></div>
                }

            </div>
        </div>
        <!-- aside dropdown end-->
        <!-- header start-->
        <header class="header header--front">
            <div class="container-fluid">
                <div class="row no-gutters justify-content-between">
                    <div class="col-auto d-flex align-items-center left-header">
                        <div class="dropdown-trigger d-none">
                            <div class="dropdown-trigger__item"></div>
                        </div>
                        <div class="header-logo"><a class="header-logo__link" href="/@lang"><img class="header-logo__img" src="@Logo.Url" alt="logo" /></a></div>

                    </div>
                    <div class="col-auto">
                        <!-- main menu start-->
                        <nav class="top-menu">
                            <ul class="main-menu ">
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/training-calendar/"><span>@Umbraco.GetDictionaryValue("Training Calendar")</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/training-methods/"><span>@Umbraco.GetDictionaryValue("Training Methods")</span></a></li>
                                @*<li class="main-menu__item"><a class="main-menu__link" href="/@lang/internal-audit-leadership-program/"><span>@Umbraco.GetDictionaryValue("Harvard_Course")</span></a></li>*@
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/bookshop-and-materials/"><span>@Umbraco.GetDictionaryValue("Bookshops and Materials")</span></a></li>
                                @*<li class="main-menu__item"><a class="main-menu__link" href="/@lang/media-center/"><span>@Umbraco.GetDictionaryValue("Media Centre")</span></a></li>*@
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/media-center/careers/"><span>@Umbraco.GetDictionaryValue("Careers")</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/contact-us/"><span>@Umbraco.GetDictionaryValue("Contact Us")</span></a></li>
                                <li style="padding-top: 14px;" class="main-menu__item"><a class="button button--squared" href="/@lang/events/ksa-events/the-8th-internal-audit-conference/"><span>@Umbraco.GetDictionaryValue("The Annual Conference")</span></a></li>
</ul>
                        </nav>
                        <nav>

                            <ul class="main-menu" id="menu-items-container" >

                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang"><span>@Umbraco.GetDictionaryValue("Home")</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/about-us/"><span>@Umbraco.GetDictionaryValue("About Us")</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/media-center/news"><span>@Umbraco.GetDictionaryValue("News")</span></a></li>
                                @*<li class="main-menu__item"><a class="main-menu__link" href="/@lang/events/"><span>@Umbraco.GetDictionaryValue("Events")</span></a></li>*@
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/training-and-courses/"><span>@Umbraco.GetDictionaryValue("Trainings and Courses")</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/become-qualified/"><span>@Umbraco.GetDictionaryValue("Become Qualified")</span></a></li>
                                <li class="main-menu__item"><a class="main-menu__link" href="/@lang/registration/non-member-register/"><span>@Umbraco.GetDictionaryValue("Non Member Courses")</span></a></li>
                                @*//Test*@
                            </ul>
                        </nav>
                        <!-- main menu end-->
                    </div>
                    <div class="col-auto d-flex align-items-center right-header">
                        <div class="nav-action">
                            <!-- lang select start-->
                            <ul class="lang-select">
                                <li class="lang-select__item lang-select__item--active">
                                    @if (Request.Url.ToString().Contains("/en/") || Request.Url.ToString().Contains("/en"))
                                    {
                                        <a href="@Request.Url.ToString().Replace("/en/", "/ar/").Replace("/en", "/ar")">العربية</a>
                                        @*<ul class="lang-select__sub-list">
                            <li><a href="@Request.Url.ToString().Replace("/en/", "/ar/").Replace("/en", "/ar")">العربية</a></li>
                        </ul>*@
                                    }
                                    else if (Request.Url.ToString().Contains("/ar/") || Request.Url.ToString().Contains("/ar"))
                                    {
                                        <a href="@Request.Url.ToString().Replace("/ar/", "/en/").Replace("/ar", "/en")">English</a>
                                        @*<ul class="lang-select__sub-list">
                            <li><a href="@Request.Url.ToString().Replace("/ar/", "/en/").Replace("/ar", "/en")">English</a></li>
                        </ul>*@
                                    }
                                    else
                                    {
                                        <a href="@Html.Raw(@Request.Url.ToString()+"en")">English</a>
                                        @*<ul class="lang-select__sub-list">
                            <li><a href="@Html.Raw(@Request.Url.ToString()+"ar")">العربية</a></li>
                        </ul>*@
                                    }


                                </li>
                            </ul>
                            <!-- lang select end-->
                            <a href="/@lang/shop/my-cart/" class="cart-link">
                                <span class="counter-cart" id="cartCounter">0</span>
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                        </div>
                        <!-- <div class="dropdown-trigger d-block d-sm-none">
        <div class="dropdown-trigger__item"></div>
    </div> -->
                        
                        @if (Utility.GetApplicationCookies("IsLogin") != null)
                        {
                            <a class="button button--squared" href="/@lang/my-account/user-profile/"><span>@Umbraco.GetDictionaryValue("My Account")</span></a>
                        }
                        else
                        {
                            <a class="button button--squared" href="/@lang/login"><span>@Umbraco.GetDictionaryValue("Login")</span></a>
                        }

                    </div>
                </div>
            </div>
        </header>
        <!-- header end-->

        @RenderBody()

        <!-- Start Footer-->
        <footer>
            <div class="container">
                <div class="row form-row">
                    @Html.Partial("EmailSubscription")
                </div>
                <div class="row links">
                    <div class="col-lg-4 col-12">
                        <h3>@Umbraco.GetDictionaryValue("Links")</h3>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <a href="/@lang/about-us/">@Umbraco.GetDictionaryValue("About Us")</a>
                                @*<a href="/@lang/events/">@Umbraco.GetDictionaryValue("Events")</a>*@
                                <a href="/@lang/training-and-courses/">@Umbraco.GetDictionaryValue("Trainings and Courses")</a>
                                <a href="/@lang/training-calendar/">@Umbraco.GetDictionaryValue("Training Calendar")</a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a href="/@lang/training-methods/">@Umbraco.GetDictionaryValue("Training Methods") </a>
                                <a href="/@lang/become-qualified/">@Umbraco.GetDictionaryValue("Become Qualified")</a>
                                <a href="/@lang/registration/non-member-register/">@Umbraco.GetDictionaryValue("Non Member Courses")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="row">
                            @foreach (var item in trainingCourseCategory)
                            {
                                <div class="col-lg-4 col-md-6 col-12">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    @foreach (var course in item.Children.Where(x => x.IsVisible()))
                                    {
                                        <a href="@course.Url">@course.GetPropertyValue("title")</a>
                                    }
                                </div>

                            }
                        </div>
                    </div>
                </div>

                <div class="row links-inline">
                    <div class="col-12"><hr></div>
                    <div class="col-12">
                        <a href="/@lang/bookshop-and-materials/">@Umbraco.GetDictionaryValue("Bookshops and Materials")</a>
                        <a href="/@lang/contact-us/">@Umbraco.GetDictionaryValue("Contact Us")</a>
                        <a href="/@lang/cookie-statement/">@Umbraco.GetDictionaryValue("Cookie Statement")</a>
                        <a href="/@lang/refund-policy/">@Umbraco.GetDictionaryValue("Refund Policy")</a>
                        <a href="/@lang/shipping-policy/">@Umbraco.GetDictionaryValue("Shipping Policy")</a>
                        <a href="/@lang/delivery-information/">@Umbraco.GetDictionaryValue("Delivery Information")</a>
                    </div>
                    <div class="col-12"><hr></div>
                </div>

                <div class="row footer-bottom">
                    <div class="col-lg-8 col-12">
                        <p>@Umbraco.GetDictionaryValue("Copyright")</p>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="soical-links">
                            @*<a target="_blank" href="@MediaCenter.GetPropertyValue("facebookLink")"><i class="fab fa-facebook-f"></i></a>*@
                            <a target="_blank" href="@MediaCenter.GetPropertyValue("twitterLink")"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="@MediaCenter.GetPropertyValue("linkedInLink")"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <div class="right-links">
                            <a href="/@lang/privacy-policy/">@Umbraco.GetDictionaryValue("Privacy Policy")</a>
                            <a href="/@lang/terms-conditions/">@Umbraco.GetDictionaryValue("Terms and Conditions")</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>

        UpdateCounter();
        LoadElectionsVoting();

        function AlertMessage(message) {
            if (message != null && message != "") {
                swal({
                    title: "",
                    text: message,
                    type: "error",
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: '@Umbraco.GetDictionaryValue("Ok")'
                },
                    function (isConfirm) {
                        if (isConfirm) {

                        }
                    });
            }
        }

        //function AlertMessage(message) {
        //    if (message != null && message != "") {
        //        swal({
        //            title: message,
        //        });
        //    }
        //}

        function UpdateCounter() {
            $(document).ready(function () {
                $.ajax({
                    url: '/Umbraco/Surface/Cart/UpdateCounter',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    type: 'POST',
                    data: "{}",
                    success: function (response) {
                        if (response.status == true) {
                            $("#cartCounter").html(response.counter);
                        }
                        else {
                            $("#cartCounter").html(response.counter);
                        }
                    },
                    failure: function (response) {

                    },
                    error: function (response) {

                    }
                });
            });
        }

        function LoadElectionsVoting() {
            $.ajax({
                url: '/Umbraco/Surface/Dashboard/getOpenElectionsForVoting',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{}",
                success: function (response) {
                    var isArabic = '@lang' == 'ar';
                    if (response.elections.length > 0) {
                        for (var index = 0; index < response.elections.length; index++) {
                            $('#menu-items-container').append('<li class="main-menu__item"><a class="main-menu__link" style="cursor:pointer;" onclick="SetVoteElection(' + response.elections[index].ElectionId + ')"><span>' + ((isArabic) ? response.elections[index].TitleAr : response.elections[index].Title) + '</span></a></li>');
                        }
                    }
                },
                failure: function (response) {

                },
                error: function (response) {

                }

            });
        }

        function SetVoteElection(electionId){
            $.ajax({
            url: '/Umbraco/Surface/Election/ApplyVottingElectionInCookie',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            success: function (response) {
                if (response.status == true) {
                    var link = '/@lang/voting';
                    window.location.replace(link);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        }

        function numberWithCommas(x) {
            // return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            return x.toLocaleString('en-US');
        }

    </script>
    <script>
        $(document).ready(function () {
            $('.clsAlphaNoOnly').keypress(function (e) {  // Accept only alpha numerics, no special characters
                var regex = new RegExp("^[a-zA-Z0-9 ]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }

                e.preventDefault();
                return false;
            });

            $('.clsAlphaNoOnly').bind('paste', function (e) {
                e.preventDefault(); //disable cut,copy,paste
            });
        })
    </script>
    @RenderSection("Script", required: false)


</body>

</html>


