﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var topBanner = Model.GetPropertyValue<IPublishedContent>("topBanner");
    var careerImage = Model.GetPropertyValue<IPublishedContent>("careerImage");
    var insightImage = Model.GetPropertyValue<IPublishedContent>("insightImage");
    var socialBackgroundImage = Model.GetPropertyValue<IPublishedContent>("socialBackgroundImage");
    var institutesImage = Model.GetPropertyValue<IPublishedContent>("institutesImage");
    var professionalsImage = Model.GetPropertyValue<IPublishedContent>("professionalsImage");
    var individualsImage = Model.GetPropertyValue<IPublishedContent>("individualsImage");


    var FeatureNews = Model.Children.Where(x => x.DocumentTypeAlias == "news").FirstOrDefault().Children.Where(x => x.IsVisible() == true && x.GetPropertyValue<Boolean>("featured")).Take(1).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();
    var OtherNews = Model.Children.Where(x => x.DocumentTypeAlias == "news").FirstOrDefault().Children.Where(x => x.IsVisible() == true && x.GetPropertyValue<Boolean>("featured") == false).Take(3).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();

    var VideoGallery = Model.Descendants().Where(x => x.DocumentTypeAlias == "videoGallery").FirstOrDefault();
    var VideoGalleryItem = VideoGallery.GetPropertyValue <IEnumerable<IPublishedContent>>("videoItem");

    var PhotoGallery = Model.Descendants().Where(x => x.DocumentTypeAlias == "photoGallery").FirstOrDefault();
    var PhotoGalleryItem = PhotoGallery.GetPropertyValue<IEnumerable<IPublishedContent>>("photoItem");

    Response.Redirect("/" + lang + "/media-center/careers/");

}

    <main class="main">
                
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        <!-- Start Training Methods Section -->
        <section class="training training-method-sec" data-aos="fade-in" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <div class="section-head text-center">
                    @Html.Raw(Model.GetPropertyValue("description"))
                </div>
            </div>
        </section>
        <!-- End Training Methods Section -->
        <!-- Start About Section-->
        <section class="about-sec media-center-about">
            <div class="left-content sec sec1" style="background-image: url(@careerImage.Url) !important;">
                <div class="fade-left-sec" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@Model.GetPropertyValue("careerTitle")</h3>
                    <p>@Model.GetPropertyValue("careerIntroduction")</p>
                    <a href="/@lang/media-center/careers" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>

            </div>

            <div class="right-content sec sec2" style="background-image: url(@insightImage.Url) !important;">
                <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@Model.GetPropertyValue("insightTitle")</h3>
                    <p>@Model.GetPropertyValue("insightIntroduction")</p>
                    <a href="/@lang/media-center/insights" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                </div>

            </div>
        </section>

        <!-- Start For Memebership section-->
        <section class="membership-media-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-12" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <a href="@Model.GetPropertyValue("institutesLink")">
                            <img src="@institutesImage.Url" class="img-fluid" alt="image">
                            <h3>@Model.GetPropertyValue("institutesTitle")</h3>
                        </a>
                        @Html.Raw(Model.GetPropertyValue("institutesDescription"))
                    </div>
                    <div class="col-md-4 col-12" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <a href="@Model.GetPropertyValue("professionalsLink")">
                            <img src="@professionalsImage.Url" class="img-fluid" alt="image">
                            <h3>@Model.GetPropertyValue("professionalsTitle")</h3>
                        </a>
                        @Html.Raw(Model.GetPropertyValue("professionalsDescription"))
                    </div>
                    <div class="col-md-4 col-12" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <a href="@Model.GetPropertyValue("individualsLink")">
                            <img src="@individualsImage.Url" class="img-fluid" alt="image">
                            <h3>@Model.GetPropertyValue("individualsTitle")</h3>
                        </a>
                        @Html.Raw(Model.GetPropertyValue("individualsDescription"))
                    </div>
                </div>
            </div>
        </section>
        <!-- Start News Section -->
        <section class="news news-media-center paddBo-50">
            <div class="container">
                <div class="row new-row">
                    @foreach (var item in FeatureNews)
                    {
                        var Image = item.GetPropertyValue<IPublishedContent>("featureImage");
                        <div class="col-lg-8 col-md-7 col-12">
                            <div class="full-img">
                                <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-12 col-right">
                            <h2>@Umbraco.GetDictionaryValue("Latest News")</h2>
                            <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                        </div>
                    }
                </div>
                <div class="row news-col" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    @foreach (var item in OtherNews)
                    {
                        var Image = item.GetPropertyValue<IPublishedContent>("smallImage");
                        <div class="col-md-4 col-12">
                            <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                    <div class="col-12 text-center center">
                        <a href="/@lang/media-center/news/" class="btn btn-light">@Umbraco.GetDictionaryValue("View All News")</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End News Section -->
        <!-- Start Video media center -->
        <section class="videos-media-center">
            <div class="container" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <h2>@VideoGallery.GetPropertyValue("title")</h2>
                <div class="row">
                    @foreach (var item in VideoGalleryItem)
                    {
                        var image = item.GetPropertyValue<IPublishedContent>("image");
                        <div class="col-lg-4 col-md-6 col-12">
                            <a class="video-content video-trigger" href="@item.GetPropertyValue("videoLink")">
                                <img src="@image.Url" class="img-fluid" alt="image">
                            </a>
                        </div>
                    }

                </div>
            </div>
        </section>

        <!-- Start image media center -->
        <section class="img-media-center" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2>@PhotoGallery.GetPropertyValue("title")</h2>
                <div class="row">
                    @foreach (var item in PhotoGalleryItem)
                    {
                        var thumbnail = item.GetPropertyValue<IPublishedContent>("thumbnail");
                        var bigImage = item.GetPropertyValue<IPublishedContent>("bigImage");
                        <div class="col-lg-4 col-md-6 col-12">
                            <a class="img-content " data-fancybox="gallery" href="@bigImage.Url">
                                <img src="@thumbnail.Url" class="img-fluid" alt="image">
                            </a>
                        </div>
                    }

                </div>
            </div>
        </section>

        <!-- Start Linkedin Section-->
        <section class="social socia-media-center" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="text-header"><i class="fab fa-linkedin"></i>@Model.GetPropertyValue("linkedInFeedTitle")</h2>
                <div class="row">
                    @Html.Raw(Model.GetPropertyValue("linkedInFeed"))
                </div>
            </div>
        </section>
        <!-- End Linkedin Section-->
        <!-- Start Facebook Section-->
        <section class="social socia-media-center" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="text-header"><i class="fab fa-facebook"></i>@Model.GetPropertyValue("facebookFeedTitle")</h2>
                <div class="row">
                    @Html.Raw(Model.GetPropertyValue("facebookFeed"))
                </div>
            </div>
        </section>
        <!-- End FaceBook Section-->
        <!-- Start  social Section -->
        <section class="policy-social" style="background-image: url(@socialBackgroundImage.Url);">
            <div class="container h-100" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="row h-100">
                    <div class="col-lg-6 col-md-8 col-12 text-side h-100">
                        @Html.Raw(Model.GetPropertyValue("socialDescription"))
                    </div>
                    <div class="col-lg-6 col-md-4 col-12 social-side h-100">
                        <a href="@Model.GetPropertyValue("facebookLink")" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="@Model.GetPropertyValue("twitterLink")" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="@Model.GetPropertyValue("linkedInLink")" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main>