﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@using nuPickers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var SubItem = Model.GetPropertyValue <IEnumerable<IPublishedContent>>("subItemList");
    var i = 0;
}
<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        <!-- Start Individual Benefits -->
        <section class="becoming">
            <div class="container-fluid padd-0">
                @foreach (var item in SubItem)
                {
                    var Image = item.GetPropertyValue<IPublishedContent>("image");

                    if (i % 2 == 0)
                    {

                        <div class="row">
                            <div class="col-lg-6 right-side" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                                @Html.Raw(item.GetPropertyValue("description"))
                            </div>

                            <div class="col-lg-6 left-side" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@Image.Url);">
                                <h2 class="header-title">@item.GetPropertyValue("title")</h2>
                                <p>@item.GetPropertyValue("subTitle")</p>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="row second-row">
                            <div class="col-lg-6 left-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@Image.Url);">
                                <h2 class="header-title">@item.GetPropertyValue("title")</h2>
                                <p>@item.GetPropertyValue("subTitle")</p>
                            </div>
                            <div class="col-lg-6 right-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                                @Html.Raw(item.GetPropertyValue("description"))
                            </div>
                        </div>
                    }
                    i++;
                }

            </div>
        </section>
        <!-- End Individual Benefits -->
        @if (Model.GetPropertyValue<Boolean>("showHideDontForget") == true)
        {
            var Image = Model.GetPropertyValue<IPublishedContent>("donTForgetImage");
            <!-- Start Don’t Forget Section -->
            <div class="bg-sec-benefits" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@Image.Url);">
                <div class="container">
                    <h2>@Model.GetPropertyValue("donTForgetTitle")</h2>
                    @Html.Raw(Model.GetPropertyValue("donTForgetDescription"))
                </div>
            </div>
        }


        <!--Start Membership details-->
    <section class="membership-details">
        @*<div class="container" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <h2>@Model.Parent.GetPropertyValue("membershipHeading")</h2>
            <p>@Model.Parent.GetPropertyValue("membershipSubText")</p>
        </div>*@
        @if (Model.GetPropertyValue("typeOfMembership").ToString() == "Students" || Model.GetPropertyValue("typeOfMembership").ToString() == "Individuals")
        {
            <div class="content">
                <div class="container" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@Umbraco.GetDictionaryValue(Model.GetPropertyValue("typeOfMembership").ToString())</h3>
                    <p>@Model.GetPropertyValue("membershipShortNotes")</p>
                    <div class="row row-center">
                        <div class="col-lg-8 col-12 ">
                            <div class="row-type">
                                <div class="left-side">
                                    <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@Model.GetPropertyValue("generalDiscount")%</span>
                                </div>
                                <div class="right-side">
                                    <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n2}", Convert.ToDouble(Model.GetPropertyValue("generalFee").ToString()) + (double.Parse(Model.GetPropertyValue("generalFee").ToString()) * 15) / 100)</span>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <a href="/@lang/registration/member-register/" class="btn btn-light">@Umbraco.GetDictionaryValue("Register Now")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="content">
                <div class="container" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h3>@Umbraco.GetDictionaryValue(Model.GetPropertyValue("typeOfMembership").ToString())</h3>
                    <p>@Model.GetPropertyValue("membershipShortNotes")</p>
                    <div class="row row-center">
                        <div class="col-md-4 col-12 ">
                            <div class="row-type">
                                <h4>@Umbraco.GetDictionaryValue("Gold")</h4>
                                <div class="left-side">
                                    <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@Model.GetPropertyValue("goldDiscount")%</span>
                                </div>
                                <div class="right-side">
                                    <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n0}", Convert.ToDouble(Model.GetPropertyValue("goldFee").ToString()) + (double.Parse(Model.GetPropertyValue("goldFee").ToString()) * 15) / 100)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 ">
                            <div class="row-type">
                                <h4>@Umbraco.GetDictionaryValue("Silver")</h4>
                                <div class="left-side">
                                    <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@Model.GetPropertyValue("silverDiscount")%</span>
                                </div>
                                <div class="right-side">
                                    <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n0}", Convert.ToDouble(Model.GetPropertyValue("silverFee").ToString()) + (double.Parse(Model.GetPropertyValue("silverFee").ToString()) * 15) / 100)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 ">
                            <div class="row-type">
                                <h4>@Umbraco.GetDictionaryValue("Bronze")</h4>
                                <div class="left-side">
                                    <h5> @Umbraco.GetDictionaryValue("Discount")</h5> <span>@Model.GetPropertyValue("bronzeDiscount")%</span>
                                </div>
                                <div class="right-side">
                                    <h5> @Umbraco.GetDictionaryValue("Price")</h5> <span> SAR @String.Format("{0:n0}", Convert.ToDouble(Model.GetPropertyValue("bronzeFee").ToString())+ (double.Parse(Model.GetPropertyValue("bronzeFee").ToString()) * 15) / 100)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <a href="/@lang/registration/member-register/" class="btn btn-light">@Umbraco.GetDictionaryValue("Register Now")</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>
    </main>
<!-- Start Footer-->