﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var profileInfo = Utility.UserProfileById(Request.QueryString["proId"].ToString(), lang);
}
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Banner -->
    <section class="sub-banner">
        <h1>@Model.GetPropertyValue("title")</h1>
        <a href="@Model.Parent.Url">@Umbraco.GetDictionaryValue("Go Back")</a>
    </section>
    <!-- End Banner -->
    <!-- Start Team Section -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 text-center">
                    <img src="@profileInfo.ProfilePhoto" alt="@profileInfo.FirstName">
                    <button style="margin-top:20px;" type="button" class="btn btn-light" id="btnContact">@Umbraco.GetDictionaryValue("Contact to mentor")</button>
                </div>
                <div class="col-lg-8 col-12 user-info">
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-12">
                            @if (profileInfo.MiddleName != "")
                            {
                                <h2>@Html.Raw(profileInfo.FirstName + " " + profileInfo.MiddleName + " " + profileInfo.LastName)</h2>
                            }
                            else
                            {
                                <h2>@Html.Raw(profileInfo.FirstName + " " + profileInfo.LastName)</h2>
                            }
                            @if (!string.IsNullOrEmpty(profileInfo.JobTitle))
                            {
                                <p>@Html.Raw(profileInfo.JobTitle + ", " + profileInfo.Organization)</p>
                            }
                        </div>
                    </div>
                    <div class="team-dis row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <p>@Umbraco.GetDictionaryValue("Experience")</p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            @Html.Raw(profileInfo.Experience)
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <p>@Umbraco.GetDictionaryValue("Qualifications")</p>

                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            @Html.Raw(profileInfo.Qualification)
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <p>@Umbraco.GetDictionaryValue("Bio")</p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            @Html.Raw(profileInfo.Bio)
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->
</main>
<div class="modal fade custom-modal" id="contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        @Umbraco.RenderMacro("ContactMentor", new { ContactType = "ContactMentor", PageId = profileInfo.ProfileId })
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnContact").on("click", function () {
            $("#contact").modal("show");
        });

    });
</script>