﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var missionVisionValueImage = Model.GetPropertyValue<IPublishedContent>("missionVisionValueImage");
    var standardEthicsImage = Model.GetPropertyValue<IPublishedContent>("standardEthicsImage");
    var governanceImage = Model.GetPropertyValue<IPublishedContent>("governanceImage");

    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias.Equals("home"));
    var Award = homePage.GetPropertyValue<IEnumerable<IPublishedContent>>("awardItem");
    var ourGoalImage = Model.GetPropertyValue<IPublishedContent>("ourGoalImage");
    var ourPrincipleImage = Model.GetPropertyValue<IPublishedContent>("ourPrincipleImage");
    var becomeCharteredInstituteImage = Model.GetPropertyValue<IPublishedContent>("becomeCharteredInstituteImage");


}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Promoting Section-->
        <section class="official promoting-text">
            <div class="container">
               @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>
        <!-- End Promoting Section-->
        <!-- Start Our Vision Section -->
        <section class="our-vision">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
                <div class="row text-content">
                    <div class="col-md-6 col-12 mission-sec">
                        @Html.Raw(Model.GetPropertyValue("missionDescription"))
                    </div>
                    <div class="col-md-6 col-12 vision-se">
                        @Html.Raw(Model.GetPropertyValue("visionDescription"))
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12 values-sec">
                        @Html.Raw(Model.GetPropertyValue("valuesDescription"))
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Vision Section -->
        <!-- Start Our Goal Section -->
        <section class="our-goal" style="background-image: url(@ourGoalImage.Url);">
            <div class="container">
                <h2 class="header-title">@Model.GetPropertyValue("ourGoalTitle")</h2>
                <div class="row">
                    @Html.Raw(Model.GetPropertyValue("ourGoalDescription").ToString().Replace("<p>", "<div class='col-md-6 col-12'><i class='fal fa-check-circle'></i><p>").Replace("</p>", "</p></div>"))
                </div>
            </div>
        </section>
        <!-- End Our Goal Section -->
        <!-- Start Our Principles  Section-->
        <section class="member our-principles" style="background-image: url(@ourPrincipleImage.Url) !important;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>@Model.GetPropertyValue("ourPrincipleTitle")</h2>
                        @Html.Raw(@Model.GetPropertyValue("ourPrincipleDescription"))
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Principles  Section-->
        <!-- Start About section-->
        <section class="about-sec">
            <div class="left-content sec sec7" style="background-image: url(@becomeCharteredInstituteImage.Url);">
                <h3>@Model.GetPropertyValue("becomeCharteredInstituteTitle")</h3>
                @Html.Raw(@Model.GetPropertyValue("becomeCharteredInstituteDescription"))
            </div>
        </section>
        <!-- End About section-->

    </main>
<!-- Start Footer-->