﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var mediacenter = Model.Parent.Parent;
    var socialBackgroundImage = mediacenter.GetPropertyValue<IPublishedContent>("socialBackgroundImage");

    var ListItem = Model.Parent.Children.Where(x => x.IsVisible() && x.Id != Model.Id).Take(3).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();
}
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        @Html.Partial("TopBackgroundImage")
        <!-- End Links ban-->
        <!-- Start Knowledge is immense around Section -->
        <section class="our-vision paddTop-50 media-center-news-details">
            <div class="container">
                @if (Model.GetPropertyValue<IPublishedContent>("bigImage") != null)
                {
                    var image = Model.GetPropertyValue<IPublishedContent>("bigImage");
                <div class="row" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <div class="col-12">
                        <img src="@image.Url" alt="image">
                    </div>
                </div>
                }
                <div class="row">
                    <div class="col-12 values-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        @Html.Raw(Model.GetPropertyValue("details"))
                    </div>
                </div>
            </div>
        </section>

        <section class="our-standards-2 overview news-bg">
            <div class="container-fluid">
                <div class="row">
                    @if (Model.GetPropertyValue<IPublishedContent>("secondImage") != null)
                    {
                        var image = Model.GetPropertyValue<IPublishedContent>("secondImage");
                <div class="col-lg-6 col-12 img-content" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <img src="@image.Url" alt="image">
                </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.GetPropertyValue("secondParagraph").ToString()))
                    {
                    <div class="col-lg-6 col-12 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                       @Html.Raw(Model.GetPropertyValue("secondParagraph"))
                    </div>
                    }

                </div>
            </div>
        </section>

        <!-- Start News Section -->
        <section class="news other-news" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2>@Umbraco.GetDictionaryValue("Other News")</h2>                
                <div class="row news-col">
                    @foreach (var item in ListItem)
                    {
                        var smallImage = item.GetPropertyValue<IPublishedContent>("smallImage");
                        <div class="col-md-4 col-12">
                            <img src="@smallImage.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }                   
                </div>
            </div>
        </section>
        <!-- End News Section -->
        <!-- Start policy social Section -->
        <section class="policy-social" style="background-image: url(@socialBackgroundImage.Url);">
            <div class="container h-100" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="row h-100">
                    <div class="col-lg-6 col-md-8 col-12 text-side h-100">
                        @Html.Raw(mediacenter.GetPropertyValue("socialDescription"))
                    </div>
                    <div class="col-lg-6 col-md-4 col-12 social-side h-100">
                        <a href="@mediacenter.GetPropertyValue("facebookLink")" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="@mediacenter.GetPropertyValue("twitterLink")" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="@mediacenter.GetPropertyValue("linkedInLink")" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </section>


    </main>