﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var managementTeam = currentPage.Children.Where(x => x.DocumentTypeAlias.Equals("managementTeam")).FirstOrDefault();
    var ProfileManagementTeam = managementTeam.Children.Where(x => x.IsVisible() == true).ToList();
    var ourTrainer = currentPage.Children.Where(x => x.DocumentTypeAlias.Equals("ourTrainer")).FirstOrDefault();
    var ProfileOurTrainer = ourTrainer.Children.Where(x => x.IsVisible() == true).ToList();
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Management Team Section-->
        <section class="official">
            <div class="container">
                <h2 class="header-title">@managementTeam.GetPropertyValue("title")</h2>
                @Html.Raw(managementTeam.GetPropertyValue("description"))
            </div>
        </section>
        <!-- End Management Team Section-->
        <!-- Start Governance Cards-->
        <section class="governance">
            <div class="container">
                <div class="row">
                    @foreach (var item in ProfileManagementTeam)
                    {
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="@item.Url" class="governance-card">
                                <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                <div class="card-content">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <p>@item.GetPropertyValue("designation")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Governance Cards-->
        <!-- Start Our Trainers -->
        <section class="council our-trainers">
            <div class="container">
                <h2 class="header-title">@ourTrainer.GetPropertyValue("title")</h2>
                <div class="our-trainers-text">
                    @Html.Raw(ourTrainer.GetPropertyValue("description"))
                </div>
                <div class="row">
                    @foreach (var item in ProfileOurTrainer)
                    {
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <div class="col-lg-3 col-md-6 col-12">
                            <a href="@item.Url" class="governance-card">
                                <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                <div class="card-content">
                                    <h3>@item.GetPropertyValue("title")</h3>
                                    <p>@item.GetPropertyValue("designation")</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Our Trainers -->

    </main>