﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("topImage");
    var codeOfPracticePDF = Model.GetPropertyValue<IPublishedContent>("codeOfPracticePDF");
    var Shareimage = Model.GetPropertyValue<IPublishedContent>("shareImage");
    var pressRelease = currentPage.Children.Where(x => x.DocumentTypeAlias.Equals("pressRelease")).FirstOrDefault();
    var pressReleaseItem = pressRelease.Children.Where(x => x.IsVisible() == true).Take(3).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Policy and Research Section -->
        <section class="our-vision paddTop-50 policy">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
                <div class="row text-content">
                    <div class="col-md-6 col-12 research-sec">                        
                        @Html.Raw(Model.GetPropertyValue("researchReports"))
                    </div>
                    <div class="col-md-6 col-12 codes-se">                        
                        @Html.Raw(Model.GetPropertyValue("codesOfPractices"))
                        <a href="@codeOfPracticePDF.Url" class="btn btn-light" target="_blank">@Model.GetPropertyValue("codesOfPracticeLinkTitle")</a>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12 values-sec">
                        <h2>@pressRelease.GetPropertyValue("title")</h2>
                        @Html.Raw(pressRelease.GetPropertyValue("description"))
                    </div>
                </div>
            </div>
        </section>
        <!-- End Policy and Research Section -->
        <!-- Start News Section -->
        <section class="news policy-news">
            <div class="container">
                <div class="row news-col">
                    @foreach (var item in pressReleaseItem)
                    {
                        var Image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                    <div class="col-md-4 col-12">
                        <a href="@item.Url"><img src="@image.Url" alt="@item.GetPropertyValue("title")"></a>
                        <div class="news-content">
                            <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("dd MMM yyyy")</p>
                            <h3><a href="@item.Url">@item.GetPropertyValue("title")</a></h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                        </div>
                    </div>
                    }                    
                </div>
            </div>
        </section>
        <!-- End News Section -->
        <!-- Start policy social Section -->
        <section class="policy-social" style="background-image:url(@Shareimage.Url)">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-6 col-md-8 col-12 text-side h-100">
                        @Html.Raw(Model.GetPropertyValue("shareText"))
                    </div>
                    <div class="col-lg-6 col-md-4 col-12 social-side h-100">
                        @*<a href="@Model.GetPropertyValue("facebookLink")" target="_blank"><i class="fab fa-facebook-f"></i></a>*@
                        <a href="@Model.GetPropertyValue("twitterLink")" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="@Model.GetPropertyValue("linkedInLink")" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </section>


    </main>