﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var mediacenter = lang == "en" ? Umbraco.TypedContent(1196) : Umbraco.TypedContent(2654);
    var socialBackgroundImage = mediacenter.GetPropertyValue<IPublishedContent>("socialBackgroundImage");

    var ListItem = Model.Parent.Children.Where(x => x.IsVisible() && x.Id != Model.Id).Take(3).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();
}
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Links ban-->
    @Html.Partial("TopBackgroundImage")
    <!-- End Links ban-->
    <!-- Start Knowledge is immense around Section -->
    <section class="our-vision paddTop-50 media-center-news-details">
        <div class="container">
            @if (Model.GetPropertyValue<IPublishedContent>("detailsPageImage") != null)
            {
                var image = Model.GetPropertyValue<IPublishedContent>("detailsPageImage");
                <div class="row" data-aos="zoom-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <div class="col-12">
                        <img src="@image.Url" alt="image">
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-12 values-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    @Html.Raw(Model.GetPropertyValue("description"))
                </div>
            </div>
        </div>
    </section>       

    <!-- Start News Section -->
    <section class="news other-news" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
        <div class="container">
            <h2>@Umbraco.GetDictionaryValue("Other Press Release")</h2>
            <div class="row news-col">
                @foreach (var item in ListItem)
                {
                    var image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                <div class="col-md-4 col-12">
                    <a href="@item.Url"><img src="@image.Url" alt="@item.GetPropertyValue("title")"></a>
                    <div class="news-content">
                        <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("dd MMM yyyy")</p>
                        <h3><a href="@item.Url">@item.GetPropertyValue("title")</a></h3>
                        <p>@item.GetPropertyValue("introduction")</p>
                        <a href="@item.Url" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <!-- End News Section -->
    <!-- Start policy social Section -->
    <section class="policy-social" style="background-image: url(@socialBackgroundImage.Url);">
        <div class="container h-100" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="row h-100">
                <div class="col-lg-6 col-md-8 col-12 text-side h-100">
                    @Html.Raw(mediacenter.GetPropertyValue("socialDescription"))
                </div>
                <div class="col-lg-6 col-md-4 col-12 social-side h-100">
                    <a href="@mediacenter.GetPropertyValue("facebookLink")" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="@mediacenter.GetPropertyValue("twitterLink")" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="@mediacenter.GetPropertyValue("linkedInLink")" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </section>


</main>