﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("picture");
    var Parent = currentPage.Parent;
    var backUrl = currentPage.Parent.Parent;

}
<!-- Start Main Content -->
<main class="main">
    <!-- Start Links ban-->
    <div class="links-nav">
        <div class="container-fluid">
            <span>@Umbraco.GetDictionaryValue("You are here") :</span>
            <a href="/@lang/">@Umbraco.GetDictionaryValue("Home") <i class="fal fa-caret-right"></i></a>
            <a href="@Parent.Parent.Parent.Parent.Url">@Parent.Parent.Parent.Parent.GetPropertyValue("title")<i class="fal fa-caret-right"></i></a>
            <a href="@Parent.Parent.Parent.Url">@Parent.Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
            <a href="@Parent.Parent.Url">@Parent.Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
            <a href="@Parent.Parent.Url">@Parent.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
            <a href="#" class="active">@Model.GetPropertyValue("title") <i class="fal fa-caret-right"></i></a>
        </div>
    </div>
    <!-- End Links ban-->
    <!-- Start Banner -->
    <section class="sub-banner">
        <h1>@Parent.GetPropertyValue("title")</h1>
        <a href="@backUrl.Url">@Umbraco.GetDictionaryValue("Go Back")</a>
    </section>
    <!-- End Banner -->
    <!-- Start Team Section -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 user-image">
                    <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                </div>
                <div class="col-lg-8 col-12 user-info">
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-12">
                            <h2>@Model.GetPropertyValue("title")</h2>
                            <p>@Model.GetPropertyValue("designation")</p>
                        </div>
                    </div>
                    <div class="team-dis row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <p>@Umbraco.GetDictionaryValue("Experience")</p>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            @Html.Raw(@Model.GetPropertyValue("experience"))
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <p>@Umbraco.GetDictionaryValue("Qualifications")</p>

                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            @Html.Raw(@Model.GetPropertyValue("qualification"))
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->
</main>
