﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);


}
<input type="hidden" id="lang" value="@lang" />
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Links ban-->
    @Html.Partial("TopBackgroundImage")
    <!-- End Links ban-->
    <!-- Start Careers Section-->
    <section class="career paddTop-50">
        <div class="container" data-aos="zoom-in" data-aos-offset="" data-aos-duration="2000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            @Html.Raw(Model.GetPropertyValue("description"))
        </div>
    </section>
    <!-- Start Our Mentors -->
    <section class="council">
        <div class="container" data-aos="fade-up" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            @Html.Raw(Model.GetPropertyValue("ourMentorDescription"))
            <div class="row" id="divMemberList">

            </div>
        </div>
    </section>
    <!-- End Our Mentors -->
</main>
<script>
    GetMemberList("", "");
    function GetMemberList(keyword, company) {
        $("#divMemberList").html("");
        $(document).ready(function () {
            $.ajax({
                url: '/Umbraco/Surface/Careers/GetMentoringList',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{keyword:'" + keyword + "', company:'" + company + "', lang:'" + $("#lang").val() + "'}",
                success: function (response) {
                    if (response.status == true) {
                        var tbHtml = "";
                        var designation = "";
                        $.each(response.MemberInfo, function (i, MemberInfo) {

                            designation = "";
                            if (MemberInfo.JobTitle != null) {
                                designation = '<p>' + MemberInfo.JobTitle + ', ' + MemberInfo.Organization + '</p>';
                            }

                            tbHtml += '   <div class="col-lg-3 col-md-6 col-12">  ' +
                                '                               <a href="/@lang/media-center/careers/progress-your-career/mentoring-details/?proId=' + MemberInfo.ProfileId+'" class="governance-card">  ' +
                                '                                   <img src="' + MemberInfo.ProfilePhoto + '" alt="' + MemberInfo.FirstName + '">  ' +
                                '                                   <div class="card-content">  ' +
                                '                                       <h3>' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + '</h3>  ' +
                                                                        designation +
                                '                                   </div>  ' +
                                '                               </a>  ' +
                                '                          </div>  ';
                        });

                        $("#divMemberList").html(tbHtml);
                    }
                    else {
                        $("#divMemberList").css("display", "none");
                    }
                },
                failure: function (response) {
                    AlertMessage(response.responseText);
                },
                error: function (response) {
                    AlertMessage(response.responseText);
                }
            });
        });
    }

</script>