﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);    
    var standardEthicsImage = Model.GetPropertyValue<IPublishedContent>("standardEthicsImage");
    var standardImage = Model.GetPropertyValue<IPublishedContent>("standardImage");
    var regulationsImage = Model.GetPropertyValue<IPublishedContent>("regulationsImage");

}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Our Standards Section -->
        <section class="our-standards overview paddTop-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 left-side">
                        <h2 class="header-title">
                            @Model.GetPropertyValue("standardEthicsTitle")
                        </h2>
                        @Html.Raw(@Model.GetPropertyValue("standardEthicsDescription"))
                    </div>
                    <div class="col-lg-6">
                        <img src="@standardEthicsImage.Url" alt="@Model.GetPropertyValue("standardEthicsTitle")">
                    </div>
                </div>
            </div>
        </section>

        <section class="our-standards-2 overview">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-12 img-content">
                        <img src="@standardImage.Url" alt="@Model.GetPropertyValue("standardTitle")">
                    </div>
                    <div class="col-lg-6 col-12 left-side">
                        <h2 class="header-title">@Model.GetPropertyValue("standardTitle")</h2>
                        @Html.Raw(@Model.GetPropertyValue("standardDescription"))
                    </div>

                </div>
            </div>
        </section>

        <section class="our-standards overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 left-side">
                        <h2 class="header-title">@Model.GetPropertyValue("regulationsTitle")</h2>
                        @Html.Raw(@Model.GetPropertyValue("regulationsDescription"))
                    </div>
                    <div class="col-lg-6">
                        <img src="@regulationsImage.Url" alt="@Model.GetPropertyValue("regulationsTitle")">
                    </div>
                </div>
            </div>
        </section>
    </main>