﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@using System.Threading.Tasks;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);

    var response = IIA.Helper.QuickBook.getAccessToken();

}

<!-- Start Main Content -->
    <main class="main">    
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <section class="sub-banner">
            <h1>@Model.GetPropertyValue("title")</h1>
        </section>
        <!-- Start official source Section-->
        <section class="official">
            <div class="container">
                @Html.Raw(Model.GetPropertyValue("description"))
            </div>
        </section>
    </main>
<!-- Start Footer-->