﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("topBanner");
    var trainingMethodsItem = currentPage.Children.Where(x => x.IsVisible()).ToList();
    
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        <!-- Start Training Methods Section -->
        <section class="training training-method-sec" data-aos="fade-up" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container-fluid">
                <div class="section-head text-center">
                    @Html.Raw(Model.GetPropertyValue("description"))
                </div>
                <div class="row">
                    @foreach (var item in trainingMethodsItem)
                    {
                        var thumbnail = item.GetPropertyValue<IPublishedContent>("smallImage");
                    <div class="col-lg-4 col-md-6 col-12">
                        <img src="@thumbnail.Url" alt="@item.GetPropertyValue("title")">
                        <div class="training-info">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>
                                @item.GetPropertyValue("introduction")
                            </p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                        </div>
                    </div>
                    }                 

                </div>
            </div>
        </section>
        <!-- End Training Methods Section -->
    </main>
<!-- Start Footer-->