﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var bigImage = Model.GetPropertyValue<IPublishedContent>("bigImage");
    var whyTakeCourseImage = Model.GetPropertyValue<IPublishedContent>("whyTakeCourseImage");
    var whatYouNeedImage = Model.GetPropertyValue<IPublishedContent>("whatYouNeedImage");
    var testimonialBackgroundImage = Model.GetPropertyValue<IPublishedContent>("testimonialBackgroundImage");
    var testimonialItem = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("testimonialItem");
    var OurTrainer= Model.GetPropertyValue<IEnumerable<IPublishedContent>>("selectTutor");
    int i = 0;
    int j = 0;

}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Benefits Section -->
        <section class="benefits benefit-training-method">
            @Html.Raw(Model.GetPropertyValue("description"))
            <div class="banner" style="background-image: url(@bigImage.Url);"></div>
            <div class="benefits-content">
                <div class="container" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <h2 class="text-center">@Model.GetPropertyValue("benefitsTitle")</h2>
                    <div class="row">
                        @Html.Raw(@Model.GetPropertyValue("benefitsDescription"))
                    </div>
                </div>
            </div>
        </section>

        <!-- Start Becoming -->
        <section class="becoming becoming-training-method">
            <div class="container-fluid padd-0">
                <div class="row">
                    <div class="col-lg-6 left-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <img src="@whyTakeCourseImage.Url" alt="@Model.GetPropertyValue("whyTakeCourseTitle")">
                    </div>
                    <div class="col-lg-6 right-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h3>@Model.GetPropertyValue("whyTakeCourseTitle")</h3>
                        @Html.Raw(@Model.GetPropertyValue("whyTakeCourseDescription").ToString().Replace("<li>", "<li><i class='far fa-book'></i>"))
                    </div>
                </div>


                <div class="row second-row">
                    <div class="col-lg-6 right-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <h3>@Model.GetPropertyValue("whatYouNeedTitle")</h3>
                        @Html.Raw(@Model.GetPropertyValue("whatYouNeedDescription").ToString().Replace("<li>", "<li><i class='far fa-book'></i>"))
                    </div>
                    <div class="col-lg-6 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        <img src="@whatYouNeedImage.Url" alt="@Model.GetPropertyValue("whatYouNeedTitle")">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Becoming -->
        @if (OurTrainer != null && OurTrainer.Count() > 0)
        {
            <section class="committee">
                <div class="container">
                    <h2 class="header-title">@Model.GetPropertyValue("meetTheTutorTitle")</h2>
                    <div class="owl-carousel owl-theme">
                        @foreach (var item in OurTrainer)
                        {
                            var picture = item.GetPropertyValue<IPublishedContent>("picture");
                            <div class="item">
                                <a href="@item.Url" class="governance-card">
                                    <img src="@picture.Url" alt="@item.GetPropertyValue("title")">
                                    <div class="card-content">
                                        <h3>@item.GetPropertyValue("title")</h3>
                                        <p>@item.GetPropertyValue("designation")</p>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }


        @if (Model.GetPropertyValue<Boolean>("testimonialShowHide") == true)
        {
            <!-- Start Training Slider -->
        <section class="slider-core slider-training-method" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-ride="carousel">
                <div class="carousel-inner h-100">
                    @foreach (var item in testimonialItem)
                    {
                        var active = "";
                        if (i == 0)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        <div class="carousel-item  h-100 @active">
                            <div class="item item1" style="background-image: url('@testimonialBackgroundImage.Url');">
                                <div class="container h-100">
                                    <div class="carousel-caption">
                                        <h2 class="header-title ">@Umbraco.GetDictionaryValue("Hear From Our Students")</h2>
                                        <p>“@item.GetPropertyValue("testimonialText")“</p>
                                        <h4>@item.GetPropertyValue("writtenBy")</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        i++;
                    }

                </div>
                <ol class="carousel-indicators">
                    @foreach (var item in testimonialItem)
                    {
                        var active = "";
                        if (j == 0)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <li data-target="#carouselExampleCaptions" data-slide-to="@j.ToString()" class="@active">
                            <img src="@picture.Url" alt="@Model.GetPropertyValue("writtenBy")">
                        </li>
                        j++;
                    }
                </ol>
            </div>
        </section>

        }

    </main>
