﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var BigImage = Model.GetPropertyValue<IPublishedContent>("detailsPageImage");
    var CourseItem = Model.Children.Where(x => x.IsVisible()).ToList();
    var i = 0;
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Core Banner -->
        @if (string.IsNullOrEmpty(Model.GetPropertyValue("messageText").ToString()))
        {
            <section class="core-banner" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    @if (BigImage != null)
                    {
                        <img class="img-fluid" src="@BigImage.Url" alt="@Model.GetPropertyValue("title")">
                    }
                    @Html.Raw(Model.GetPropertyValue("description"))
                </div>
            </section>
        }
        else
        {
            <section class="message-info message-industry aos-init aos-animate" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                           @Html.Raw(Model.GetPropertyValue("description"))
                            <div class="message">
                                <div class="icon-box"><i class="far fa-info"></i></div>
                                <div class="message-box">@Html.Raw(Model.GetPropertyValue("messageText"))</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="overview server eligibility-sec transition-sec padd-0 aos-init aos-animate" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12 left-side">
                            @Html.Raw(Model.GetPropertyValue("secondDescription").ToString().Replace("<li>", "<li><i class='far fa-book'></i>"))
                        </div>

                    </div>
                </div>
            </section>

        }
        <!-- Start About Section-->
        <section class="about-sec core-about-sec">
            @foreach (var item in CourseItem)
            {
                var Image = item.GetPropertyValue<IPublishedContent>("bigImage");
                if (i % 2 == 0)
                {
                    <div class="left-content sec sec1" style="background-image: url(@Image.Url);">
                        <div class="fade-right-sec" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                        </div>

                    </div>
                }
                else
                {
                    <div class="right-content sec sec2" style="background-image: url(@Image.Url);">
                        <div class="fade-left-sec" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>@item.GetPropertyValue("introduction")</p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Know More")</a>
                        </div>

                    </div>
                }
                i++;
            }


        </section>
    </main>