﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using nuPickers;
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var detailsPageImage = Model.GetPropertyValue<IPublishedContent>("detailsPageImage");
    var aboutCourse = Model.Children.Where(x => x.IsVisible()).FirstOrDefault();
    var OurTrainer = Model.GetPropertyValue<Picker>("selectTrainer");
    var trainingMethodsItem = Model.GetPropertyValue<Picker>("selectTrainingMethods");
    var i = 0;
    var j = 0;
    var k = 0;
    var trainingMethodsExtraClass = "";
    if(trainingMethodsItem.AsPublishedContent().Count()<3)
    {
        trainingMethodsExtraClass = "training-methods-less-than-three";
    }
    var factRatingClass = "";
    if (currentPage.Name == "CIA")
    {
        factRatingClass = "facts-rating";
    }

}


<!-- Start Main Content -->
<main class="main">
    <!-- Start Links ban-->
    @Html.Partial("Breadcrumb")
    <!-- End Links ban-->
    <!-- Start Banner -->
    @Html.Partial("TopBackgroundImage")
    <!-- End Banner -->
    <!-- Start CIA -->
    <section class="promoting cia-sec top-logo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    @Html.Raw(Model.GetPropertyValue("description"))
                    <a href="@aboutCourse.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                </div>
                <div class="col-lg-6 col-12" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                    <img src="@detailsPageImage.Url" alt="@Model.GetPropertyValue("title")">
                </div>
            </div>
        </div>
    </section>
    <!-- End CIA -->
    @if (Model.GetPropertyValue<Boolean>("showHideStatsFacts") == true)
    {
        if (string.IsNullOrEmpty(Model.GetPropertyValue("statsUpsHeading").ToString()))
        {
            <!-- Start Counter Section -->
            <section class="counter cia-counter @factRatingClass" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("statsUSPsFacts"))
                        {
                            var IconClass = "fal fa-cog";
                            if(!string.IsNullOrEmpty(item.GetPropertyValue<string>("iconClass")))
                            {
                                IconClass = item.GetPropertyValue<string>("iconClass");
                            }
                            else
                            {
                                IconClass= "fal fa-cog";
                            }
                            <div class="col-md-3 col-12">
                                <div class="left-icon">                                  
                                    <i class="@IconClass"></i>
                                </div>
                                <div class="right-counter">
                                    <div class="num">
                                        <span data-count="@item.GetPropertyValue("number").ToString().Replace("$", "").Replace(",", "").Replace("دولار", "")"></span>@item.GetPropertyValue("additionalSymbol")
                                    </div>
                                    <p>@item.GetPropertyValue("title")</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }
        else
        {
            <!-- Start Total Certified QIAL -->
            <section class="qial-total" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                <div class="container">
                    <h2>@Model.GetPropertyValue("statsUpsHeading")</h2>
                    <div class="row">
                        @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("statsUSPsFacts"))
                        {
                            var IconClass = "fal fa-check-circle";
                            if (!string.IsNullOrEmpty(item.GetPropertyValue<string>("iconClass")))
                            {
                                IconClass = item.GetPropertyValue<string>("iconClass");
                            }
                            else
                            {
                                IconClass = "fal fa-check-circle";
                            }

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="qial-content">
                                    <div class="left-side">
                                        <i class="@IconClass"></i>
                                    </div>
                                    <div class="right-side">
                                        <div class="num"><span data-count="@item.GetPropertyValue("number").ToString().Replace("$", "").Replace(",", "").Replace("دولار", "")"></span> @item.GetPropertyValue("additionalSymbol")</div>
                                       
                                        <p>@item.GetPropertyValue("title")</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="total-num">
                                @Umbraco.GetDictionaryValue("Grand Total"): @Model.GetPropertyValue("grandTotal")
                            </div>
                            <div class="message text-center">
                                <div class="icon-box"><i class="far fa-info"></i></div>
                                <div class="message-box">@Model.GetPropertyValue("statsUpNotes")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
    <!-- End Counter Section -->
    <!-- Start Our Trainers -->
    @if (OurTrainer.AsPublishedContent().Count() > 0)
    {
    <section class="committee committee-training" data-aos="fade-in" data-aos-offset="" data-aos-duration="1500" data-aos-delay="200" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
        <div class="container">
            <h2 class="header-title">@Model.GetPropertyValue("ourTrainerTitle")</h2>
            <p class="paragraph-title">@Html.Raw(Model.GetPropertyValue("ourTrainerIntroduction"))</p>
            <div class="owl-carousel owl-theme">
                @foreach (var item in OurTrainer.AsPublishedContent())
                {
                    var image = item.GetPropertyValue<IPublishedContent>("picture");
                    <div class="item">
                        <a href="@item.Url" class="governance-card">
                            <img src="@image.Url" alt="@item.GetPropertyValue("title")">
                            <div class="card-content">
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("designation")</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
    }
    <!-- End Our Trainers -->
    <!-- Start Training Slider -->
    @if (Model.GetPropertyValue<Boolean>("showHideTestimonial") == true)
    {
        var BackImage = Model.GetPropertyValue<IPublishedContent>("testimonialBackgroundImage");
        <section class="slider-core" data-aos="fade-in" data-aos-offset="" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-ride="carousel">
                <div class="carousel-inner h-100">
                    @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("testimonialItem"))
                    {
                        var active = "";
                        if (i == 0)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        <div class="carousel-item  h-100 @active">
                            <div class="item item1" style="background-image: url(@BackImage.Url) !important;">
                                <div class="container h-100">
                                    <div class="carousel-caption">
                                        <h2 class="header-title ">@Umbraco.GetDictionaryValue("Hear From Our Students")</h2>
                                        <p>“@item.GetPropertyValue("testimonialText")“</p>
                                        <h4>@item.GetPropertyValue("writtenBy")</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        i++;
                    }

                </div>
                <ol class="carousel-indicators">
                    @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("testimonialItem"))
                    {
                        var active = "";
                        if (j == 0)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        var picture = item.GetPropertyValue<IPublishedContent>("picture");
                        <li data-target="#carouselExampleCaptions" data-slide-to="@j.ToString()" class="@active">
                            <img src="@picture.Url" alt="@Model.GetPropertyValue("writtenBy")">
                        </li>
                        j++;
                    }
                </ol>
            </div>
        </section>
    }

    @if (!string.IsNullOrEmpty(Model.GetPropertyValue("eligibilityTitle").ToString()))
    {
        var image = Model.GetPropertyValue<IPublishedContent>("eligibilityImage");
        <!-- Start Eligibility Section -->
        <section class="overview server eligibility-sec">
            <div class="container">
                <div class="row">
                    @if (image != null)
                    {
                        <div class="col-lg-6" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <img src="@image.Url" alt="@Model.GetPropertyValue("eligibilityTitle")">
                        </div>
                        <div class="col-lg-6 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h2 class="header-title">@Model.GetPropertyValue("eligibilityTitle")</h2>
                            @Html.Raw(Model.GetPropertyValue("eligibilityDescription"))
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-12 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                            <h2 class="header-title">@Model.GetPropertyValue("eligibilityTitle")</h2>
                            @Html.Raw(Model.GetPropertyValue("eligibilityDescription"))
                        </div>
                    }

                </div>
            </div>
        </section>
    }
    <!-- End Eligibility Section -->
    <!-- Start Exam Syllabus Section -->
    @if (!string.IsNullOrEmpty(Model.GetPropertyValue("examSyllabusTitle").ToString()))
    {
        <section class="internal-auditing syllabus" data-aos="fade-up" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="header-title">@Model.GetPropertyValue("examSyllabusTitle")</h2>
                @Html.Raw(Model.GetPropertyValue("examSyllabusDescription").ToString().Replace("<p>", "<p class='paragraph-title'>"))
            </div>
        </section>
    }
    <!-- End Exam Syllabus Section -->
    <!-- Start Training Methods Section -->
    @if (trainingMethodsItem.AsPublishedContent().Count() > 0)
    {
    <section class="training @trainingMethodsExtraClass" data-aos="fade-up" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
        <div class="container-fluid">
            <div class="section-head text-center">
                <h2 class="header-title">@Umbraco.GetDictionaryValue("Training Methods")</h2>
            </div>
            <div class="row">
                @foreach (var item in trainingMethodsItem.AsPublishedContent())
                {
                    var thumbnail = item.GetPropertyValue<IPublishedContent>("smallImage");
                    <div class="col-lg-4 col-md-6 col-12">
                        <img src="@thumbnail.Url" alt="@item.GetPropertyValue("title")">
                        <div class="training-info">
                            <h3>@item.GetPropertyValue("title")</h3>
                            <p>
                                @item.GetPropertyValue("introduction")
                            </p>
                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    }
    <!-- End Training Methods Section -->
    @Html.Partial("JoinKSAandDownloadBrochure")

    @if (Model.GetPropertyValue<Boolean>("showHideFAQ") == true)
    {
        <div class="faq" data-aos="fade-up" data-aos-offset="" data-aos-duration="1500" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2>@Umbraco.GetDictionaryValue("Qualification FAQ")</h2>
                <div class="accordion" id="accordionExample">
                    @foreach (var item in Model.GetPropertyValue<IEnumerable<IPublishedContent>>("fAQItem"))
                    {
                        var id = "tab-" + k.ToString();
                        var isShow = "";
                        if (k == 0)
                        {
                            isShow = "show";
                        }
                        else
                        {
                            isShow = "";
                        }
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                @if (k == 0)
                                {
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#@id" aria-expanded="true" aria-controls="collapseOne">
                                        @item.GetPropertyValue("title")
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@id" aria-expanded="true" aria-controls="collapseOne">
                                        @item.GetPropertyValue("title")
                                    </button>
                                }

                            </div>

                            <div id="@id" class="collapse @isShow" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    @Html.Raw(@item.GetPropertyValue("description").ToString().Replace("<span>", "").Replace("</span>", "").Replace("<p>", "").Replace("</p>", ""))
                                </div>
                            </div>
                        </div>
                        k++;
                    }
                </div>

            </div>
        </div>
    }
</main>


