﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var BigImage = Model.GetPropertyValue<IPublishedContent>("detailsPageImage");
    var CourseItem = Model.Children.Where(x => x.IsVisible()).ToList();
    var i = 0;
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        @Umbraco.RenderMacro("TrainingCalendar", new { courseId = 0, isHeadingShow=0, coursePage = "tc" })
    </main>