﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var topBanner = Model.GetPropertyValue<IPublishedContent>("topBanner");
    var TrainingCoursesCategory = currentPage.Children.Where(x => x.IsVisible() == true).ToList();
    var whyBecomeCertifiedImage = Model.GetPropertyValue<IPublishedContent>("whyBecomeCertifiedImage");
    var whyEarnProfessionalImage = Model.GetPropertyValue<IPublishedContent>("whyEarnProfessionalImage");
    var testingThroughIIATopImage = Model.GetPropertyValue<IPublishedContent>("testingThroughIIATopImage");
    var qualificationsImage = Model.GetPropertyValue<IPublishedContent>("qualificationsImage");
    var homePage = currentPage.Ancestors(1).Where(x => x.DocumentTypeAlias == "home").FirstOrDefault();

    var trainingMethods = homePage.Children.FirstOrDefault(x => x.ContentType.Alias.Equals("trainingMethods"));
    var trainingMethodsItems = trainingMethods.Children.Where(x => x.IsVisible()).ToList();

    var TrainingCoursesItems = TrainingCoursesCategory.DescendantsOrSelf("trainingCourseItem").ToList();
    var TrainingCoursesPrices = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("pricingItem");
    var i = 0;
    var j = 0;
}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBannerImage")
        <!-- End Banner -->
        <!-- Start Certification -->
        <section class="certification paddTop-50 certification-training" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <div class="section-head top-header text-center">
                   @Html.Raw(Model.GetPropertyValue("description"))
                </div>
            </div>
            <div class="container-fluid">
                <div class="section-head text-center">
                    <h2 class="header-title">@Umbraco.GetDictionaryValue("Certification Suites")</h2>
                </div>
                <div class="row">
                    @foreach (var item in TrainingCoursesCategory)
                    {
                        var Image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                        var count = item.Children.Where(x => x.IsVisible()).Count();
                        <div class="col-md-4 col-12">
                            <div class="card-certification">
                                <img src="@Image.Url" alt="image">
                                <div class="overlay">
                                    <div class="content">
                                        <div class="label">
                                            @count @Umbraco.GetDictionaryValue("Courses")
                                        </div>
                                        <h2>@item.GetPropertyValue("title")</h2>
                                        <div class="card-info">
                                            <p>
                                                @item.GetPropertyValue("introduction")
                                            </p>
                                            <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Learn More")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Certification -->
        <!-- Start Becoming -->
        <section class="becoming">
            <div class="container-fluid padd-0">
                <div class="row">
                    <div class="col-lg-6 left-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@whyBecomeCertifiedImage.Url);">
                        <h2 class="header-title">@Model.GetPropertyValue("whyBecomeCertifiedTitle")</h2>
                        <p>@Model.GetPropertyValue("whyBecomeCertifiedIntroduction")</p>
                    </div>
                    <div class="col-lg-6 right-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        @Html.Raw(@Model.GetPropertyValue("whyBecomeCertifiedDescription").ToString().Replace("<li>", "<li><i class='far fa-book'></i>"))
                    </div>
                </div>


                <div class="row second-row">
                    <div class="col-lg-6 right-side" data-aos="fade-right" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
                        @Html.Raw(@Model.GetPropertyValue("whyEarnProfessionalDescription").ToString().Replace("<li>", "<li><i class='far fa-book'></i>"))
                    </div>
                    <div class="col-lg-6 left-side" data-aos="fade-left" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom" style="background-image: url(@whyEarnProfessionalImage.Url);">
                        <h2 class="header-title">@Model.GetPropertyValue("whyEarnProfessionalTitle")</h2>
                        <p>@Model.GetPropertyValue("whyEarnProfessionalIntroduction")</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Becoming -->
        <!-- Start Testing  Section -->
        <section class="banner-empty" style="background-image: url(@testingThroughIIATopImage.Url);"> </section>
        <section class="testing-sec" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container text-center">
                <span><i class="far fa-pen"></i></span>
                <h2>@Model.GetPropertyValue("testingThroughIIATitle")</h2>
                @Html.Raw(@Model.GetPropertyValue("testingThroughIIADescription").ToString())
            </div>
        </section>
        <!-- End Testing  Section -->
        <!-- Start Training Methods Section -->
        <section class="training " data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container-fluid">
                <div class="section-head text-center">
                    <h2 class="header-title">@Umbraco.GetDictionaryValue("Training Methods")</h2>
                </div>
                <div class="row">
                    @foreach (var item in trainingMethodsItems)
                    {
                        var thumbnail = item.GetPropertyValue<IPublishedContent>("smallImage");
                        <div class="col-lg-4 col-md-6 col-12">
                            <img src="@thumbnail.Url" alt="@item.GetPropertyValue("title")">
                            <div class="training-info">
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>
                                    @item.GetPropertyValue("introduction")
                                </p>
                                <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- End Training Methods Section -->
        <!-- Start Pass Rates -->
        <section class="pass-rates" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="header-title">@Model.GetPropertyValue("passRatesTitle")</h2>
                <p class="paragraph-title">@Html.Raw(@Model.GetPropertyValue("passRatesDescription"))</p>
                <div class="table-responsive">
                    @Html.Raw(@Model.GetPropertyValue("passRatesTableData"))
                </div>
            </div>
        </section>
        <!-- End Pass Rates -->
        <!-- Start Pricing Structure Section -->
        <section class="pricing" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <h2 class="header-title">@Model.GetPropertyValue("pricingStructureTitle")</h2>
                <p class="paragraph-title">@Html.Raw(@Model.GetPropertyValue("pricingStructureDescription"))</p>
                <div class="row">
                    <div class=" col-lg-4 col-md-4 col-12">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @foreach (var item in TrainingCoursesPrices)
                            {
                                string id = "item-tab" + i.ToString();
                                string hrefId = "item-" + i.ToString();
                                string active = "";
                                if(i==0)
                                {
                                    active = "active";
                                }
                                else
                                {
                                    active = "";
                                }

                                <a class="nav-link @active" id="@id" data-toggle="pill" href="#@hrefId" role="tab" aria-controls="@hrefId" aria-selected="true">@item.GetPropertyValue("title")</a>
                                i++;
                            }
                        </div>
                    </div>
                    <div class=" col-lg-8 col-md-8 col-12">
                        <div class="tab-content" id="v-pills-tabContent">
                            @foreach (var item in TrainingCoursesPrices)
                            {
                                string id = "item-" + j.ToString();
                                string active = "";
                                if (j == 0)
                                {
                                    active = "show active";
                                }
                                else
                                {
                                    active = "";
                                }

                            <div class="tab-pane fade @active" id="@id" role="tabpanel" aria-labelledby="@id">
                                <div class="table-responsive">
                                    @Html.Raw(item.GetPropertyValue("description"))
                                </div>
                            </div>
                                j++;
                            }
                            
                        </div>
                    </div>
                </div>

                <div class="row tabel-dis">
                   @Html.Raw(Model.GetPropertyValue("cPSAAndCPEADescription"))
                </div>
                <div class="row row-tabel">
                    @Html.Raw(Model.GetPropertyValue("cCMSDescription"))
                </div>
            </div>
        </section>
        <!-- End Pricing Structure Section -->
        <!-- Start Qualifications Section-->
        <section class="qualifications-sec" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <h2 class="header-title">@Model.GetPropertyValue("qualificationsTitle")</h2>
                        <img src="@qualificationsImage.Url" alt="@Model.GetPropertyValue("qualificationsTitle")">
                        @Html.Raw(Model.GetPropertyValue("qualificationsDescription"))
                    </div>
                </div>
            </div>
        </section>
        <!-- End Qualifications Section-->
        <!-- Start Traning Slider -->
        <section class="traning-slider" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in TrainingCoursesItems)
                    {
                        var thumbnail = item.GetPropertyValue<IPublishedContent>("thumbnail");
                    <div class="item">
                        <img src="@thumbnail.Url" alt="@item.GetPropertyValue("title")">
                        <h2>@item.GetPropertyValue("shortCode")</h2>
                        <p>@item.GetPropertyValue("introduction")</p>
                        <a href="@item.Url" class="btn btn-light">@Umbraco.GetDictionaryValue("Read More")</a>
                    </div>
                    }                   

                </div>
            </div>
        </section>
    </main>