﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{
    Layout = "Master.cshtml";
    //var currentPage = Model.AncestorOrSelf
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var pageContent = Umbraco.TypedContent(pageId);
    var AnalyticsContent = Model.Ancestors(1).Where(x => x.DocumentTypeAlias == "home").FirstOrDefault();
    var votingTitle = Model.GetPropertyValue<IPublishedContent>("votingImage");
    var votingImage = Model.GetPropertyValue<IPublishedContent>("votingTitle");
}

@* the fun starts here *@
<link href="~/ui/stylesheet/voting.css" rel="stylesheet">
<link rel="icon" href="~/ui/media/element/fav.png" type="image/x-icon">
<style>
    .banner-voting {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 360px;
    }

    .ar-dir {
        direction: rtl;
    }

    .en-dir {
        direction: ltr;
    }
</style>

<main class="main">

    <!-- Start Links ban-->

    <input type="hidden" id="votingTitle" value="@votingTitle" />
    <input type="hidden" id="pageLang" value="@lang" />
    <div class="links-nav">
        <div class="container-fluid">
            <span>@Umbraco.GetDictionaryValue("You are here") :</span>
            <a href="/">@Umbraco.GetDictionaryValue("Home")  <i class="fal fa-caret-right"></i></a>
            <a href="#" class="active" id="PageTitleName"></a>
        </div>
    </div>
    <!-- End Links ban-->
    <!-- Start Banner -->
    <!-- <section class="banner" style="background-image: url('../ui/media/images/shop/banner.png');"> -->
    <section class="banner">
        <h1>@(lang == "ar" ? "التصويت للانتخابات" : "Voting For Election")</h1>
    </section>
    <!-- End Banner -->


    <section class="voting-title" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
        <div class="container ">
            <h2 class="header-title"> @(lang == "ar" ? "يستطيع للمترشح التصويت والاعتراض علي المرشحين المتاحين" : "A candidate can vote or object to one of the available candidates")</h2>
            <p class="paragraph-title">@(lang == "ar" ? "صوت الان" : "Vote Now")</p>
            <div class="date text-center">
                <h5>@Umbraco.GetDictionaryValue("Today"): @DateTime.Now.ToString("dd MMMM yyyy")</h5>
            </div>
        </div>
    </section>

    <section class="voting-content" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
        <div class="container @(lang== "ar" ? "ar-dir" : "en-dir")">
            <div class="row" id="cardsContainer">
            </div>
        </div>
    </section>

</main>

<!-- Objection Modal -->
<div class="modal fade popup-custom" id="objectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body form-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <form action="">
                    <input type="hidden" id="objectionCandidateId" name="objectionCandidateId" />
                    <div class="form-content">
                        <div class="text-center">
                            <h2>@Umbraco.GetDictionaryValue("Add Objection To Candidate")</h2>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <label for="">@Umbraco.GetDictionaryValue("Candidate Name")</label>
                            <input type="text" name="CandidateName" id="CandidateName" class="form-control" readonly placeholder="@Umbraco.GetDictionaryValue("Candidate Name")">
                        </div>
                        <div class="form-group">
                            <label for="">@Umbraco.GetDictionaryValue("The Reason")</label>
                            <textarea class="form-control" id="TheReason" name="TheReason" placeholder="@Umbraco.GetDictionaryValue("The Reason")"></textarea>
                            <span class="validationForm" id="errTheReason"></span>


                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="IsAgree" name="IsAgree">
                                <label class="custom-control-label" for="IsAgree">
                                    @Umbraco.GetDictionaryValue("I Agree To")
                                <a href="/@lang/terms-conditions/" target="_blank">@Umbraco.GetDictionaryValue("Terms and Conditions") </a> @Umbraco.GetDictionaryValue("And") <a href="/@lang/privacy-policy/" target="_blank">@Umbraco.GetDictionaryValue("Privacy Policy")</a>
                            </label>
                        </div>
                    </div>

                    <div class="form-action row">
                        <div class="col-md-6 col-12">
                            <button type="button" onclick="SaveObjection()" id="btnSaveObjection" disabled class="btn btn-light">@Umbraco.GetDictionaryValue("Submit")</button>
                        </div>
                        <div class="col-md-6 col-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">@Umbraco.GetDictionaryValue("Cancel")</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- User Modal -->
<div class="modal fade user-custom" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body user-vote-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="row">
                    <div class="col-md-5 col-12 left-side">
                        <input type="hidden" id="UserCandidateId" />
                        <input type="hidden" id="UserElectionId" />
                        <input type="hidden" id="ResumeFileLink" />
                        <input type="hidden" id="ElectionProgramFileLink" />
                        <img id="CandidateImage" src="" alt="user">
                        <h3 id="UserCandidateName"></h3>
                        <h5 id="CandidateJobTitle"></h5>
                        <p id="CandidateBio"></p>
                        <a onclick="SubmitVote()" style="cursor: pointer;">@Umbraco.GetDictionaryValue("Vote Now")</a>
                    </div>
                    <div class="col-md-7 col-12 right-side">
                        <h4>About</h4>
                        <p id="CandidateDescription"></p>
                        <div class="links">
                            <a class="btn btn-light" id="ResumeFile" onclick="downloadFile(this)">@Umbraco.GetDictionaryValue("Download Resume")</a>
                            <a class="btn btn-light" id="ElectionProgramFile" onclick="downloadFile(this)">@Umbraco.GetDictionaryValue("Download Election Program")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    LoadElectionsVotingInfo();

    function SaveObjection() {
    if (CheckValidationForObjection() == false)
    {
         var candidateId = $("#objectionCandidateId").val();
         var reason = $("#TheReason").val();
         $.ajax({
                url: '/Umbraco/Surface/Votting/ObjectionForCandidate',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{candidateId:'" + candidateId + "' , reason:'" + reason + "'}",
                success: function (response) {
                    if (response.status) {
                       LoadElectionsVotingInfo();
                       $("#objectionCandidateId").val('');
                       $("#TheReason").val('');
                       $("#IsAgree").prop("checked" , false);
                    }
                    else {
                       AlertMessage(response.error);
                    }
                },
                failure: function (response) {
                    AlertMessage("Error in submission, please try again!");
                },
                error: function (response) {
                    AlertMessage("Error in submission, please try again!");
                }

            });
         }
    }

    function CheckValidationForObjection() {
            $(".validationForm").hide();
            var hasError = false;
            if ($("#TheReason").val() == '') {
                $("#errTheReason").html('@Umbraco.GetDictionaryValue("Validation_Error_ObjectionReason")').show();
                $("#TherReason").focus();
                hasError = true;
            }

           return hasError;
        }



    $("#IsAgree").change(function() {
    if(this.checked)
    {
      $("#btnSaveObjection").prop("disabled" , false);
    }
    else
    {
      $("#btnSaveObjection").prop("disabled" , true);
    }
    });

 function Vote(candidateId)
    {
              var lang = $("#pageLang").val();
              $.ajax({
                url: '/Umbraco/Surface/Votting/getElectionInfosForVotingByCandidateId',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{candidateId:'" + candidateId + "' , lang:'" + lang + "'}",
                success: function (response) {
                    if (response.status) {
                       $("#UserCandidateId").val(response.data.CandidateId);
                       $("#UserElectionId").val(response.data.ElectionId);
                       $("#UserCandidateName").text(response.data.CandidateName);
                       $("#CandidateJobTitle").text(response.data.JobTitle);
                       $("#CandidateBio").text(response.data.Bio);
                       $("#CandidateDescription").text(response.data.CandidateDescription);
                       $("#CandidateImage").prop("src" , response.data.CandidateProfile);
                       $("#ResumeFileLink").val(response.data.ResumeFile);
                       $("#ElectionProgramFileLink").val(response.data.ElectionProgramFile);
                       $("#userModal").modal('show');
                    }
                },
                failure: function (response) {

                },
                error: function (response) {

                }

            });
     }

           function SubmitVote()
           {
               var candidateId = $("#UserCandidateId").val();
               var electionId = $("#UserElectionId").val();
               $.ajax({
                url: '/Umbraco/Surface/Votting/VoteForCandidate',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{candidateId:'" + candidateId + "' , electionId:'" + electionId + "'}",
                success: function (response) {
                    if (response.status) {
                       LoadElectionsVotingInfo();
                       $("#UserCandidateId").val('');
                       $("#UserElectionId").val('');
                    }
                    else {
                       AlertMessage(response.error);
                    }
                },
                failure: function (response) {
                    AlertMessage("Error in submission, please try again!");
                },
                error: function (response) {
                    AlertMessage("Error in submission, please try again!");
                }

            });
           }

           function downloadFile(e){
               var id =  '#' + $(e).prop("id") + 'Link';
               var url = $(id).val();
               var a = document.createElement("a");
               a.href = url;
               fileName = url.split("/").pop();
               a.download = fileName;
               document.body.appendChild(a);
               a.click();
               window.URL.revokeObjectURL(url);
               a.remove();
           }

            function ShowObjection(candidateId , candidateName)
            {
                $("#objectionCandidateId").val('');
                $("#TheReason").val('');
                $("#IsAgree").prop("checked" , false);
                $("#btnSaveObjection").prop("disabled" , true);
                $("#CandidateName").val(candidateName);
                $("#objectionCandidateId").val(candidateId);
                $("#objectionModal").modal('show');
            }

            function LoadElectionsVotingInfo() {
                $('#cardsContainer').html('');
                var lang = $("#pageLang").val();
                $.ajax({
                url: '/Umbraco/Surface/Votting/getElectionInfosForVoting',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{lang:'" + lang + "'}",
                success: function (response) {
                     $("#userModal").modal('hide');
                     $("#objectionModal").modal('hide');
                    if (response.data.length > 0) {
                    for (var index = 0; index < response.data.length; index++) {
                     $("#PageTitleName").text(response.data[index].ElectionName)
                     var content = '<div class="col-lg-4 col-md-6 col-12">'
                     var footer = '';
                     // Box Open
                     if(response.data[index].Status == 1)
                     {
                         content += '<div class="box"> ';
                         footer += ' <button class="btn btn-light" data-toggle="modal" onclick="Vote('+ response.data[index].CandidateId +')">'+'@Umbraco.GetDictionaryValue("Vote Now")'+ '</button> </div>';
                     }
                     // Box Confirmed
                     else if(response.data[index].Status == 2)
                     {
                         content += ' <div class="box vote-confirmed"> ';
                         footer += '  <button class="btn btn-light" disabled="">' + '@Umbraco.GetDictionaryValue("Vote confirmed")' +'</button> </div>';
                     }
                     else if(response.data[index].Status == 3)
                     {
                         content += ' <div class="box vote-closed"> ';
                         footer += '  <button disabled="" class="btn btn-light">'+ '@Umbraco.GetDictionaryValue("Voting is not started")' +'</button> </div> ';
                     }
                     // Box Closed
                     else {
                         content += ' <div class="box vote-closed"> ';
                         footer += '  <button disabled="" class="btn btn-light">'+ '@Umbraco.GetDictionaryValue("Vote Closed")' +'</button> </div> ';
                     }
                      content +=  '<img src="' + response.data[index].CandidateProfile + '" alt="user">' +
                                    '<div class="content"><h3>' + response.data[index].CandidateName + '</h3>' +
                                    '<h5>' +response.data[index].JobTitle + '</h5>' +
                                    '<p>' + response.data[index].Bio + '</p> ';
                      // Can Object
                      if(response.data[index].CanObjectStatus == 1)
                      {
                         content += ' <a href="#" data-toggle="modal" onclick="ShowObjection('+response.data[index].CandidateId +' , `'+response.data[index].CandidateName+'`)">'+ '@Umbraco.GetDictionaryValue("Any objection?")' +'</a>';
                      }
                      // Already Objected
                      else if(response.data[index].CanObjectStatus == 2)
                      {
                         content += ' <span>'+ '@Umbraco.GetDictionaryValue("Already objected")' +'</span>';
                      }
                      // Same Logged In User
                      else if(response.data[index].CanObjectStatus == 3)
                      {
                          content += ' <span style="visibility: hidden;">'+ '@Umbraco.GetDictionaryValue("Objection Closed")' +'</span>';
                      }
                      // Object Closed
                      else
                      {
                         content += ' <span>'+ '@Umbraco.GetDictionaryValue("Objection Closed")' +'</span>';
                      }

                     content += ' </div>';
                     content += footer;
                     $('#cardsContainer').append(content);
                    }
                    }
                },
                failure: function (response) {

                },
                error: function (response) {

                }

            });
        }


</script>