﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var ListItem = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("videoItem");
}

    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        @Html.Partial("TopBackgroundImage")
        <!-- End Links ban-->
        <!-- Start News Section -->

        <section class="videos-media-center slider-news" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <div class="row news-col">
                    @foreach (var item in ListItem)
                    {
                        var image = item.GetPropertyValue<IPublishedContent>("image");                       
                    <div class="item">
                        <a class="video-content video-trigger" href="@item.GetPropertyValue("videoLink")">
                            <img src="@image.Url" class="img-fluid" alt="image">
                        </a>
                    </div>
                    }

                </div>
                <div class="row pagination-row" style="display:none;">
                    <nav aria-label="Page navigation ">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        
        <!-- End News Section -->

    </main>