﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var ListItem = Model.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.GetPropertyValue<DateTime>("publishedDate")).ToList();
}

    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Links ban-->
        @Html.Partial("TopBackgroundImage")
        <!-- End Links ban-->
        <!-- Start News Section -->
        <section class="news news-media-center" data-aos="fade-up" data-aos-offset="" data-aos-duration="1000" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-anchor-placement="top-bottom">
            <div class="container">
                <div class="row news-col">
                    @foreach (var item in ListItem)
                    {
                        var smallImage = item.GetPropertyValue<IPublishedContent>("thumbnail");
                        var pdf = item.GetPropertyValue<IPublishedContent>("pDF");
                        <div class="col-md-4 col-12">
                            <img src="@smallImage.Url" alt="image">
                            <div class="news-content">
                                <p class="date">@Convert.ToDateTime(@item.GetPropertyValue("publishedDate").ToString()).ToString("MMM dd yyyy")</p>
                                <h3>@item.GetPropertyValue("title")</h3>
                                <p>@item.GetPropertyValue("introduction")</p>
                                <a href="@pdf.Url" target="_blank" class="link-news">@Umbraco.GetDictionaryValue("Read More")</a>
                            </div>
                        </div>
                    }
                   
                </div>
                <div class="row pagination-row" style="display:none;">
                    <nav aria-label="Page navigation ">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <!-- End News Section -->

    </main>