﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CMS.Helpers;
@{

    Layout = "Master.cshtml";
    var currentPage = Model.AncestorOrSelf();
    int pageId = UmbracoContext.Current.PageId.Value;
    var lang = Utility.GetLanguage(pageId);
    var image = Model.GetPropertyValue<IPublishedContent>("image");
    var missionVisionValueImage = Model.GetPropertyValue<IPublishedContent>("missionVisionValueImage");
    var missionVisionValueBackgroundImage = Model.GetPropertyValue<IPublishedContent>("missionVisionValueTopImage");
    var standardEthicsImage = Model.GetPropertyValue<IPublishedContent>("standardEthicsImage");
    var governanceImage = Model.GetPropertyValue<IPublishedContent>("governanceImage");

    var homePage = currentPage.Ancestors(2).Where(x => x.DocumentTypeAlias == "home").FirstOrDefault();
    var Award = homePage.GetPropertyValue<IEnumerable<IPublishedContent>>("awardItem");

    var advisoryImage = Model.GetPropertyValue<IPublishedContent>("advisoryImage");

}

<!-- Start Main Content -->
    <main class="main">
        <!-- Start Links ban-->
        @Html.Partial("Breadcrumb")
        <!-- End Links ban-->
        <!-- Start Banner -->
        @Html.Partial("TopBackgroundImage")
        <!-- End Banner -->
        <!-- Start Promoting -->
        <section class="promoting">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        @Html.Raw(Model.GetPropertyValue("description"))
                    </div>
                    <div class="col-lg-6 col-12">
                        <img src="@image.Url" alt="@Model.GetPropertyValue("title")">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Promoting -->
        <!-- Start Banner -->
        <section class="banner-empty2" style="background-image: url(@missionVisionValueImage.Url); display:none;"> </section>
        <!-- Start Member  Section-->
        <section class="member" style="background-image: url(@missionVisionValueBackgroundImage.Url);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>@Model.GetPropertyValue("missionVisionValueTitle")</h2>
                        @Html.Raw(Model.GetPropertyValue("missionVisionValueDescription"))
                        <a href="/@lang/about-us/who-we-are/mission-vision-values/">@Umbraco.GetDictionaryValue("Know More")</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Member Section-->
        <!-- Start Standards section-->
        <section class="standards">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-12 left-side">
                        <img src="@standardEthicsImage.Url" alt="@Model.GetPropertyValue("standardEthicsTitle")">
                    </div>
                    <div class="col-xl-6 col-lg-7 col-12 right-side">
                        <h2>@Model.GetPropertyValue("standardEthicsTitle")</h2>
                        @Html.Raw(Model.GetPropertyValue("standardEthicsDescription"))
                    </div>
                </div>
            </div>
        </section>
        <!-- Start Standards section-->
        <!-- Start About section-->
        <section class="about-sec">
            <div class="left-content sec sec1" style="background-image: url(@governanceImage.Url);">
                <div class="content">
                    <h3>@Model.GetPropertyValue("governanceTitle")</h3>
                    @Html.Raw(Model.GetPropertyValue("governanceDescription"))
                    <a href="/@lang/about-us/who-we-are/governance/" class="btn btn-light">@Umbraco.GetDictionaryValue("View Governance Page")</a>
                </div>
            </div>
            @if (Model.GetPropertyValue<Boolean>("advisoryBoardShowHide") == true)
            {
                <div class="right-content sec sec2" style="background-image: url(@advisoryImage.Url);">
                    <div class="content">
                        <h3>@Model.GetPropertyValue("advisoryTitle")</h3>
                        @Html.Raw(Model.GetPropertyValue("advisoryDescription"))
                        <a href="/@lang/about-us/who-we-are/advisory-board/" class="btn btn-light">@Umbraco.GetDictionaryValue("View Advisory Board")</a>
                    </div>
                </div>
            }

        </section>
            <!-- End About section-->
            <!-- Start Awards Section -->
            <section class="awards">
                <div class="container">
                    <h2 class="section-head text-center">@homePage.GetPropertyValue("awardTitle")</h2>
                    <div class="owl-carousel owl-theme">
                        @foreach (var item in Award)
                        {
                            var Image = item.GetPropertyValue<IPublishedContent>("logo");
                            <div class="item">
                                <img src="@Image.Url" alt="@item.GetPropertyValue("title")">
                                <p>@item.GetPropertyValue("title")</p>
                            </div>
                        }
                    </div>
                </div>
            </section>
            <!-- End Awards Section -->
    </main>
<!-- Start Footer-->