﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<!-- <script src="/AdminUI/js/developer.js"></script> -->
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/AdminUI/js/jquery-validate/bootstrap.validate.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<style>
    .select2-container {
    width: 26rem !important;
}

    .td-padding {
        padding: 20px;
    }
    .field-validation-error {
        color: red !important;
    }
    .profile-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .ValidationSummary {
        display: flex;
        justify-content: start;
        align-items: center;
        display: none;
        border: 2px solid red;
        margin-bottom: 18px;
        border-radius: 8px;
        width: 60rem;
    }

    .d-flex {
        display: flex;
    }

    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-b-10 {
        padding-bottom: 10px;
    }
</style>

<div>
    <h3 style="color: maroon;" id="ElectionCommitteeTitlePage">Candidate Objection Requests</h3>
    <div id="ValidationSummary" class="ValidationSummary" style="display:none;">
        <span style="color:red; font-size: large; margin: 2px;" id="electionErrorMessage">
          * Please Select Election 
        </span>
     </div>
    <table id="ConfigTb">
        <tr>
            <td class="td-padding">
                <p>
                    <select id="Election" name="Election"></select>
                    <span class="validationForm" id="errElection"></span>
                </p>
            </td>
        </tr>
    </table>

    <br /><br/>
 </div>

<div class="show-requests">
    <h3 style="color: maroon;margin-top:20px;" ">Candidate Objection Requests List</h3>
    <table style="width:100%" id="tblRequestsList" class="table table-contact footable default footable-loaded">
    </table>
</div> 
 
 <div class="request-details" id="RequestInfo">
     <input type="hidden" id="ObjectionRequestId" name="ObjectionRequestId" />
    <div class="col-md-6 col-12 p-b-10">
        <div class="form-group">
         <lable for="Status" style="font-size: 16px; width: 28%;">Status</lable>
         <input type="text" name="Status" id="Status" class="form-control" readonly>
       </div>
    </div>

    <div class="col-md-6 col-12 p-b-10">
        <div class="form-group">
         <lable for="newElection" style="font-size: 16px; width: 28%;">Election</lable>
         <input type="text" name="ElectionName" id="ElectionName" class="form-control" readonly>
       </div>
    </div>

   <div class="col-md-6 col-12 p-b-10">
       <div class="form-group">
        <Label for="MemberName" style="font-size: 16px; width: 28%;">Objection From Member</Label>
        <input type="text" name="MemberName" id="MemberName" class="form-control" readonly>
       </div>
    </div>

    <div class="col-md-6 col-12 p-b-10">
       <div class="form-group">
        <Label for="CandidateName" style="font-size: 16px; width: 28%;">CandidateName</Label>
        <input type="text" name="CandidateName" id="CandidateName" class="form-control" readonly>
       </div>
    </div>

    <div class="col-md-6 col-12 p-b-10">
    <div class="form-group">
        <Label for="Reason" style="font-size: 16px; width: 28%;">The Reason</Label>
        <textarea name="Reason" id="Reason" class="form-control" readonly></textarea>
    </div>
    </div>

    <div class="col-md-6 col-12 p-b-10" id="BanDateDiv">
        <div class="form-group">
            <lable for="BanDate" style="font-size: 16px; width: 28%;">Ban Date <!-- <span style="color:red">*</span> --> </lable>
            <input type="text" readonly data-toggle="datepicker" name="BanDate"  id="BanDate" Required data-val="true" data-val-required="Required" class="form-control" placeholder="BanDate">
        </div>
        <span id="errBanDate" class="field-validation-valid help-inline validationForm" data-valmsg-for="BanDate" data-valmsg-replace="true"></span>
    </div>

    <div class="form-action d-flex d-flex-center">
        <button type="button" id="BtnApprove" name="BtnApprove" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Approve</button>
        <button type="button" id="BtnReject" name="BtnReject" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Reject</button>
        <button type="button" id="btnDetailsBack" name="btnDetailsBack" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Back</button>
    </div>
</div>

 
 
<script>
    GetElectionList();
    $('.show-requests').hide();
    $('.request-details').hide();
    $("#Election").select2();

    $("#Election").change(function () {
        ResetPage();
        GetRequestsList();
    });

    $("#btnDetailsBack").on("click" , function(){
        ResetPage();
    });

    $("#BtnApprove").on("click" , function(){
        TakeAction(true);
    });

    $("#BtnReject").on("click" , function(){
        TakeAction(false);
    });

    function TakeAction(isApprove)
    {
        var message = ""
        if(isApprove)
        {
            message = "Are you sure you want to approve this request" ;
        }
        else {
            message = "Are you sure you want to reject this request" ;
        }
        var result = confirm(message);
        if(result)
        {
            var status = isApprove;
            var formData = new FormData();
            formData.append("candidateObjectionId", $("#ObjectionRequestId").val());
            if(isApprove && $("#BanDate").val() != '')
            {
                formData.append("banDate", $("#BanDate").val());
            }
            else
            {
                $("#BanDate").val('')
            }
            formData.append("isApprove", status);

            $.ajax({
            url: "/Umbraco/Surface/Election/ChangeObjectionCandidateStatus",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    ResetPage();
                    GetRequestsList();
                }
                else {
                        AlertMessage(response.message);
                }
            },
            error: function (request, error) {
                AlertMessage("Error in submission, please try again!");
            }
        });

        }
    }

    function CheckValidationForAction(isApprove)
      {
        $(".validationForm").hide();
        var hasError = false;
          if(isApprove)
          {
            if ($("#BanDate").val() == '') {
                $("#errBanDate").html("Required").show();
                $("#BanDate").focus();
                hasError = true;
            }
          }
          return hasError;
      }

    function GetElectionList() {
        $("#Election").html("");
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#Election").html(tbHtml);
                    $('.show-requests').show();
                }
                else 
                {
                    alert(response.error);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetRequestsList(){
        $("#Requests").html("");
        $("#tblRequestsList").html("Loading, Please wait...");
        var electionId = $("#Election option:selected").val();
        if (electionId == 0) {
            $("#tblRequestsList").html("");
            return;
        }
        $.ajax({
            url: "/Umbraco/Surface/Election/GetAllCandidateObjectionRequests",
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    if (response.data != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>Election Name</th>" +
                            "<th>Candidate Name</th>" +
                            "<th>Member Name</th>" +
                            "<th>Status</th>" +
                            "<th>Action</th>" +
                            "</tr></thead>";

                        $.each(response.data, function (i, row) {
                            tbHtml += "<tr>" +
                                "<td>"+ row.ElectionName +"</td>" +
                                "<td>" + row.CandidateName + "</td>" +
                                "<td>" + row.MemberName + "</td>" +
                                "<td>" + row.StatusName + "</td>" +
                                "<td> <a href='javascript:;' onClick='openRequest(\"" + row.ObjectionRequestId + "\" , \"" + electionId + "\")'>Show details</a></td>";
                            "</tr>";
                        });

                        $("#tblRequestsList").html(tbHtml);
                    }
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {

            }
        });
    }

    function openRequest(candidateObjectionId , electionId) {
        $.ajax({
            url: '/Umbraco/Surface/Election/GetAllCandidateObjectionRequests',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "' , candidateObjectionId:'" + candidateObjectionId + "' }",
            success: function (response) {
                if (response.status == true) {  
                    displayRequest(response);
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function displayRequest(response) {
        $("#ConfigTb").hide();
        $("#ObjectionRequestId").val(response.data.ObjectionRequestId);
        $("#ElectionName").val(response.data.ElectionName);
        $("#CandidateName").val(response.data.CandidateName);
        $("#MemberName").val(response.data.MemberName);
        $("#Reason").val(response.data.Reason);
        $("#Status").val(response.data.StatusName);
        $("#BanDate").val("");
        if(response.data.BanDate != "")
        {
            $("#BanDate").val(response.data.BanDate);   
        }
        if(response.data.StatusName == 'Pending')
        {
            $("#BanDateDiv").show();
            $("#BtnApprove").show();
            $("#BtnReject").show();
        }
        else if(response.data.StatusName == 'Rejected')
        {
            $("#BanDateDiv").hide();
            $("#BtnApprove").hide();
            $("#BtnReject").hide();
        }
        else 
        {
            $("#BanDateDiv").show();
            $("#BtnApprove").hide();
            $("#BtnReject").hide();
        }
        $('.show-requests').hide();
        $('.request-details').show();
    }

    function ResetPage(){
        $("#ConfigTb").show();
        $("#ObjectionRequestId").val("");
        $("#ElectionName").val("");
        $("#CandidateName").val("");
        $("#MemberName").val("");
        $("#Status").val("");
        $("#Reason").val("");
        $('.show-requests').show();
        $('.request-details').hide();
        $("#BtnApprove").show();
        $("#BtnReject").show();
    }

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>

