﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>

<input type="hidden" id="ProfileId" name="ProfileId" />
<div>
    <h3 style="color: maroon;">Member Search</h3>
    <div class="form-row">
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sFirstName_en" id="sFirstName_en" class="form-control" placeholder="First Name (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sFirstName_ar" id="sFirstName_ar" class="form-control" placeholder="First Name (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sMiddleName_en" id="sMiddleName_en" class="form-control" placeholder="Middle Name (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sMiddleName_ar" id="sMiddleName_ar" class="form-control" placeholder="Middle Name (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sLastName_en" id="sLastName_en" class="form-control" placeholder="Last Name (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sLastName_ar" id="sLastName_ar" class="form-control" placeholder="Last Name (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sEmail" id="sEmail" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <div class="custom-select-field">
                    <select id="sGender" name="sGender" class="form-control">
                        <option value="">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <div class="custom-select-field">
                    <select name="sCountry" id="sCountry" class="form-control">
                    </select>
                </div>
                </div>
            </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sCity_en" id="sCity_en" class="form-control" placeholder="City (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sCity_ar" id="sCity_ar" class="form-control" placeholder="City (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sMobile" id="sMobile" class="form-control" placeholder="Mobile Number">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sPhone" id="sPhone" class="form-control" placeholder="Phone Number">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sNationalId" id="sNationalId" class="form-control" placeholder="National ID Number">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <div class="custom-select-field">
                    <select id="sMembershipType" name="sMembershipType" class="form-control">
                        <option value="">Membership Type</option>
                        <option value="Students">Students</option>
                        <option value="Individuals">Individuals</option>
                        <option value="Corporate">Corporate</option>
                        <option value="Professional">Professional</option>
                    </select>
                </div>
                </div>
            </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <div class="custom-select-field">
                    <select id="sMembershipBadge" name="sMembershipBadge" class="form-control">
                        <option value="">Membership Badge</option>
                        <option value="Gold">Gold</option>
                        <option value="Silver">Silver</option>
                        <option value="Bronze">Bronze</option>
                    </select>
                </div>
                </div>
            </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sIIAGlobalNumber" id="sIIAGlobalNumber" class="form-control" placeholder="IIA Global Number">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sJobTitle_en" id="sJobTitle_en" class="form-control" placeholder="Job Title (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sJobTitle_ar" id="sJobTitle_ar" class="form-control" placeholder="Job Title (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sOrganization_en" id="sOrganization_en" class="form-control" placeholder="Organization (English)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" name="sOrganization_ar" id="sOrganization_ar" class="form-control" placeholder="Organization (Arabic)">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" data-toggle="datepicker" name="sDOB" id="sDOB" class="form-control" placeholder="Date Of Birth">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" data-toggle="datepicker" name="sMembershipStartDate" id="sMembershipStartDate" class="form-control" placeholder="Membership Start Date">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <input type="text" data-toggle="datepicker" name="sMembershipEndDate" id="sMembershipEndDate" class="form-control" placeholder="Membership End Date">
            </div>
        </div>
        <div class="col-md-2 col-12">
            <div class="form-group">
                <button type="button" class="btn btn-light" id="btnSearch" style="display:block;" name="btnSearch">Search</button>
            </div>
        </div>
    </div>

    <h3 style="color: maroon;margin-top:20px;"">Member List</h3>
    <table style="width:100%" id="tblMemberList" class="table table-contact footable default footable-loaded">
    </table>
    <div style="display:none; margin-top:20px;" id="divMemberInfo">
        <h3 style="color: maroon;">Member Information</h3>
       
            <div class="form-row">
                <div class="col-md-2 col-12">
                    <div class="form-group">
                       
                            <select id="MembershipType" name="MembershipType" class="form-control">
                                <option value="">Membership Type</option>
                                <option value="Students">Students</option>
                                <option value="Individuals">Individuals</option>
                                <option value="Corporate">Corporate</option>
                                <option value="Professional">Professional</option>
                            </select>
                        
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                       
                            <select id="MembershipBadge" name="MembershipBadge" class="form-control">
                                <option value="">Membership Badge</option>
                                <option value="Gold">Gold</option>
                                <option value="Silver">Silver</option>
                                <option value="Bronze">Bronze</option>
                            </select>
                      
                    </div>
                </div>

                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="First Name (English)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="FirstName_ar" id="FirstName_ar" class="form-control" placeholder="First Name (Arabic)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="MiddleName" id="MiddleName" class="form-control" placeholder="Middle Name (English)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="MiddleName_ar" id="MiddleName_ar" class="form-control" placeholder="Middle Name (Arabic)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Last Name (English)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="LastName_ar" id="LastName_ar" class="form-control" placeholder="Last Name (Arabic)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="NationalIDNumber" id="NationalIDNumber" class="form-control" placeholder="National ID Number">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                       
                            <select id="Gender" name="Gender" class="form-control">
                                <option value="">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                       
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" data-toggle="datepicker" name="DateOfBirth" id="DateOfBirth" class="form-control" placeholder="Date Of Birth">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="JobTitle" id="JobTitle" class="form-control" placeholder="Job Title (English)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="JobTitle_ar" id="JobTitle_ar" class="form-control" placeholder="Job Title (Arabic)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="Organization" id="Organization" class="form-control" placeholder="Organization (English)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="Organization_ar" id="Organization_ar" class="form-control" placeholder="Organization (Arabic)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                       
                            <select name="Country" id="Country" class="form-control">
                            </select>
                       
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="City" id="City" class="form-control" placeholder="City (English)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="City_ar" id="City_ar" class="form-control" placeholder="City (Arabic)">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="Zip_Postal_Code" id="Zip_Postal_Code" class="form-control" placeholder="ZIP / Postal Code">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="number" name="MobileNumber" id="MobileNumber" class="form-control" placeholder="Mobile No">
                        <span class="validationForm" id="errMobileNumber"></span>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="number" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="Phone No">
                        <span class="validationForm" id="errPhoneNumber"></span>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="number" name="FaxNumber" id="FaxNumber" class="form-control" placeholder="Fax No">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" name="IIAGlobalNumber" id="IIAGlobalNumber" class="form-control" placeholder="IIA Global Number">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" data-toggle="datepicker" name="MembershipStartDate" id="MembershipStartDate" class="form-control" placeholder="Membership Start Date">
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" data-toggle="datepicker" name="MembershipEndDate" id="MembershipEndDate" class="form-control" placeholder="Membership End Date">
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <textarea name="Qualification" id="Qualification" class="form-control" placeholder="Qualifications"></textarea>

                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <textarea name="Qualification_ar" id="Qualification_ar" class="form-control" placeholder="Qualifications (Arabic)"></textarea>

                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <textarea name="Experience" id="Experience" class="form-control" placeholder="Experience"></textarea>

                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <textarea name="Experience_ar" id="Experience_ar" class="form-control" placeholder="Experience (Arabic)"></textarea>

                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <textarea name="Bio" id="Bio" class="form-control" placeholder="Bio"></textarea>

                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <textarea name="Bio_ar" id="Bio_ar" class="form-control" placeholder="Bio (Arabic)"></textarea>

                    </div>
                </div>

                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <input type="text" data-toggle="datepicker" name="BanDate" id="BanDate" class="form-control" placeholder="Ban Date">
                    </div>
                </div>
                
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-light" id="btnUpdate" style="display:block;" name="btnUpdate">Update</button>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
<script>

    $(document).ready(function () {
        var jsonCountry = $.ajax({
            type: 'POST',
            url: "/Umbraco/Surface/FormProcess/GetCountry",
            dataType: "application/json; charset=utf-8",
            context: document.body,
            global: false,
            async: false,
            success: function (data) {
                return data;
            }
        }).responseText;

        var strCountry = '<option value="">Country</option>';
        var jsonObject = $.parseJSON(jsonCountry);
        $.each(jsonObject, function (i, obj) {
            strCountry = strCountry + '<option value="' + obj.CountryCode + '">' + obj.CountryName + '</option>';

        });

        $("#sCountry").html(strCountry);
        $("#Country").html(strCountry);      

    });

    $("#btnSearch").on("click", function () {
        $("#divMemberInfo").css("display", "none");
        GetMemberList();
        ClearField();
    });

    function GetMemberList() {
        $("#tblMemberList").html("Loading, Please wait...");
        var formData = new FormData();
        formData.append("sFirstName_en", $("#sFirstName_en").val());
        formData.append("sFirstName_ar", $("#sFirstName_ar").val());
        formData.append("sMiddleName_en", $("#sMiddleName_en").val());
        formData.append("sMiddleName_ar", $("#sMiddleName_ar").val());
        formData.append("sLastName_en", $("#sLastName_en").val());
        formData.append("sLastName_ar", $("#sLastName_ar").val());
        formData.append("sEmail", $("#sEmail").val());
        formData.append("sGender", $("#sGender option:selected").val());
        formData.append("sCountry", $("#sCountry option:selected").val());
        formData.append("sCity_en", $("#sCity_en").val());
        formData.append("sCity_ar", $("#sCity_ar").val());
        formData.append("sMobile", $("#sMobile").val());
        formData.append("sPhone", $("#sPhone").val());
        formData.append("sNationalId", $("#sNationalId").val());
        formData.append("sMembershipType", $("#sMembershipType option:selected").val());
        formData.append("sMembershipBadge", $("#sMembershipBadge option:selected").val());
        formData.append("sIIAGlobalNumber", $("#sIIAGlobalNumber").val());
        formData.append("sJobTitle_en", $("#sJobTitle_en").val());
        formData.append("sJobTitle_ar", $("#sJobTitle_ar").val());
        formData.append("sOrganization_en", $("#sOrganization_en").val());
        formData.append("sOrganization_ar", $("#sOrganization_ar").val());
        formData.append("sDOB", $("#sDOB").val());
        formData.append("sMembershipStartDate", $("#sMembershipStartDate").val());
        formData.append("sMembershipEndDate", $("#sMembershipEndDate").val());
        // formData.append("sBanDate", $("#BanDate").val());

        $.ajax({
            url: "/Umbraco/Surface/Admin/SearchMember",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {

            },
            success: function (response) {
                if (response.status == true) {
                    if (response.MemberInfo != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>First Name</th>" +
                            "<th>Middle Name</th>" +
                            "<th>Last Name</th>" +
                            "<th>Email</th>" +
                            "<th>Membership</th>" +
                            "<th>MobileNumber</th>" +
                            "<th>Country</th>" +
                            "<th>City</th>" +
                            "<th>Membership Start Date</th>" +
                            "<th>Membership End Date</th>" +
                            "<th>Is Active</th>" +
                            "<th>Action</th>" +
                            "</tr></thead>";

                        $.each(response.MemberInfo, function (i, MemberInfo) {
                            tbHtml += "<tr>" +
                                "<td>" + MemberInfo.FirstName + "</td>" +
                                "<td>" + MemberInfo.MiddleName + "</td>" +
                                "<td>" + MemberInfo.LastName + "</td>" +
                                "<td>" + MemberInfo.EmailAddress + "</td>" +
                                "<td>" + MemberInfo.MembershipType + "</td>" +
                                "<td>" + MemberInfo.MobileNumber + "</td>" +
                                "<td>" + MemberInfo.Country + "</td>" +
                                "<td>" + MemberInfo.City + "</td>" +
                                "<td>" + MemberInfo.MembershipStartDate + "</td>" +
                                "<td>" + MemberInfo.MembershipEndDate + "</td>" +
                                "<td>" + MemberInfo.IsActive + "</td>" +
                                "<td><a href='javascript:;' onClick='getDetails(\"" +
                                MemberInfo.ProfileId + "\")'>Edit</a> | <a href='javascript:;' onClick='deleteMember(\"" +
                                MemberInfo.ProfileId + "\")'>Delete</a></td>";
                            "</tr>";
                        });

                        $("#tblMemberList").html(tbHtml);
                    }
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {

            }
        });
    }       

    function getDetails(ProfileId) {        
        $("#divMemberInfo").css("display", "block");    
        GetMemberInfo(ProfileId);
    }
    function GetMemberInfo(profileId) {
        ClearField();
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetSearchMemberByID',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{profileId:'" + profileId + "'}",
            success: function (response) {
                if (response.status == true) {
                    $("#MembershipType").val(response.MemberInfo.MembershipType).change();
                    $("#MembershipBadge").val(response.MemberInfo.MembershipBadge).change();
                    $("#FirstName").val(response.MemberInfo.FirstName);
                    $("#FirstName").focus();
                    $("#FirstName_ar").val(response.MemberInfo.FirstName_ar);
                    $("#MiddleName").val(response.MemberInfo.MiddleName);
                    $("#MiddleName_ar").val(response.MemberInfo.MiddleName_ar);
                    $("#LastName").val(response.MemberInfo.LastName);  
                    $("#LastName_ar").val(response.MemberInfo.LastName_ar);
                    $("#NationalIDNumber").val(response.MemberInfo.NationalIDNumber);
                    $("#Gender").val(response.MemberInfo.Gender).change(); 
                    $("#DateOfBirth").val(response.MemberInfo.DateOfBirth); 
                    $("#JobTitle").val(response.MemberInfo.JobTitle); 
                    $("#JobTitle_ar").val(response.MemberInfo.JobTitle_ar); 
                    $("#Organization").val(response.MemberInfo.Organization);
                    $("#Organization_ar").val(response.MemberInfo.Organization_ar);
                    $("#Country").val(response.MemberInfo.Country).change();   
                    $("#City").val(response.MemberInfo.City);
                    $("#City_ar").val(response.MemberInfo.City_ar);
                    $("#Zip_Postal_Code").val(response.MemberInfo.Zip_Postal_Code);
                    $("#MobileNumber").val(response.MemberInfo.MobileNumber);  
                    $("#PhoneNumber").val(response.MemberInfo.PhoneNumber);  
                    $("#FaxNumber").val(response.MemberInfo.FaxNumber);  
                    $("#EmailAddress").val(response.MemberInfo.EmailAddress);                   
                    $("#IIAGlobalNumber").val(response.MemberInfo.IIAGlobalNumber);
                    $("#Experience").val(response.MemberInfo.Experience);
                    $("#Experience_ar").val(response.MemberInfo.Experience_ar);
                    $("#Qualification").val(response.MemberInfo.Qualification);
                    $("#Qualification_ar").val(response.MemberInfo.Qualification_ar);
                    $("#Bio").val(response.MemberInfo.Bio); 
                    $("#Bio_ar").val(response.MemberInfo.Bio_ar); 
                    if (response.MemberInfo.strMembershipStartDate != "") {   
                        $("#MembershipStartDate").val(response.MemberInfo.strMembershipStartDate);
                        $("#MembershipStartDate").removeAttr("disabled"); 
                    }
                    else {
                        $("#MembershipStartDate").val("");
                        $("#MembershipStartDate").attr("disabled", "disabled");
                    }
                    if (response.MemberInfo.strMembershipEndDate != "") {
                        $("#MembershipEndDate").val(response.MemberInfo.strMembershipEndDate);
                        $("#MembershipEndDate").removeAttr("disabled"); 
                    }
                    else {
                        $("#MembershipEndDate").val("");
                        $("#MembershipEndDate").attr("disabled", "disabled");
                    }
                    if (response.MemberInfo.strBanDate != "") {   
                        $("#BanDate").val(response.MemberInfo.strBanDate);
                    }
                    else {
                        $("#BanDate").val("");
                    }

                    $("#ProfileId").val(response.MemberInfo.ProfileId);
                                       
                    
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function ClearField() {
        $("#MembershipType").val("").change();
        $("#MembershipBadge").val("").change();
        $("#FirstName").val("");        
        $("#FirstName_ar").val("");
        $("#MiddleName").val("");
        $("#MiddleName_ar").val("");
        $("#LastName").val("");
        $("#LastName_ar").val("");
        $("#NationalIDNumber").val("");
        $("#Gender").val("").change();
        $("#DateOfBirth").val("");
        $("#JobTitle").val("");
        $("#JobTitle_ar").val("");
        $("#Organization").val("");
        $("#Organization_ar").val("");
        $("#Country").val("").change();
        $("#City").val("");
        $("#City_ar").val("");
        $("#Zip_Postal_Code").val("");
        $("#MobileNumber").val("");
        $("#PhoneNumber").val("");
        $("#FaxNumber").val("");
        $("#EmailAddress").val("");
        $("#IIAGlobalNumber").val("");
        $("#Experience").val("");
        $("#Experience_ar").val("");
        $("#Qualification").val("");
        $("#Qualification_ar").val("");
        $("#Bio").val("");
        $("#Bio_ar").val("");       
        $("#MembershipStartDate").val("");     
        $("#MembershipEndDate").val("");        
        $("#ProfileId").val("");
        $("#BanDate").val("");
    }

    $("#btnUpdate").on("click", function () {
        UpdateMemberByID();
    });
    function UpdateMemberByID() {
        var formData = new FormData();
        formData.append("ProfileId", $("#ProfileId").val());
        formData.append("FirstName", $("#FirstName").val());
        formData.append("FirstName_ar", $("#FirstName_ar").val());
        formData.append("MiddleName", $("#MiddleName").val());
        formData.append("MiddleName_ar", $("#MiddleName_ar").val());
        formData.append("LastName", $("#LastName").val());
        formData.append("LastName_ar", $("#LastName_ar").val());
        formData.append("NationalIDNumber", $("#NationalIDNumber").val());
        formData.append("Gender", $("#Gender option:selected").val());
        formData.append("DateOfBirth", $("#DateOfBirth").val());
        formData.append("JobTitle", $("#JobTitle").val());
        formData.append("JobTitle_ar", $("#JobTitle_ar").val());
        formData.append("Organization", $("#Organization").val());
        formData.append("Organization_ar", $("#Organization_ar").val());        
        formData.append("Country", $("#Country option:selected").val());
        formData.append("City", $("#City").val());  
        formData.append("City_ar", $("#City_ar").val());  
        formData.append("Zip_Postal_Code", $("#Zip_Postal_Code").val()); 
        formData.append("MobileNumber", $("#MobileNumber").val()); 
        formData.append("PhoneNumber", $("#PhoneNumber").val()); 
        formData.append("FaxNumber", $("#FaxNumber").val()); 
        formData.append("EmailAddress", $("#EmailAddress").val()); 
        formData.append("IIAGlobalNumber", $("#IIAGlobalNumber").val()); 
        formData.append("MembershipStartDate", $("#MembershipStartDate").val());
        formData.append("MembershipEndDate", $("#MembershipEndDate").val());
        formData.append("MembershipType", $("#MembershipType option:selected").val());
        formData.append("MembershipBadge", $("#MembershipBadge option:selected").val());
        formData.append("Qualification", $("#Qualification").val()); 
        formData.append("Qualification_ar", $("#Qualification_ar").val()); 
        formData.append("Bio", $("#Bio").val()); 
        formData.append("Bio_ar", $("#Bio_ar").val()); 
        formData.append("Experience", $("#Experience").val()); 
        formData.append("Experience_ar", $("#Experience_ar").val()); 
        formData.append("BanDate", $("#BanDate").val()); 
        $.ajax({
            url: "/Umbraco/Surface/Admin/UpdateMemberByID",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {

            },
            success: function (response) {
                if (response.status == true) {
                    GetMemberList();
                    AlertMessage("Member information has been updated successfully!");
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {

            }
        });
    }
    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }

    $("#MembershipType").change(function () {
        if (this.value == "Corporate" || this.value == "Professional") {
            $("#MembershipBadge").removeAttr("disabled"); 
        }
        else {
            $("#MembershipBadge").val("").change();
            $("#MembershipBadge").attr("disabled", "disabled");
        }
    });

    function deleteMember(ProfileId) {
        var result = confirm("Are you sure you want to delete this member?");
        if (result) {            
            $.ajax({
                url: '/Umbraco/Surface/Admin/DeleteMemberById',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                type: 'POST',
                data: "{profileId:'" + ProfileId + "'}",
                success: function (response) {
                    if (response.status == true) {  
                        GetMemberList();
                        AlertMessage("Member has been deleted successfully!");
                    }
                    else {
                        AlertMessage(response.message);
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        }   
   
</script>


