﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<!-- <script src="/AdminUI/js/developer.js"></script> -->
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/AdminUI/js/jquery-validate/bootstrap.validate.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<style>
    .select2-container {
    width: 26rem !important;
}

    .td-padding {
        padding: 20px;
    }
    .field-validation-error {
        color: red !important;
    }
    .profile-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .ValidationSummary {
        display: flex;
        justify-content: start;
        align-items: center;
        display: none;
        border: 2px solid red;
        margin-bottom: 18px;
        border-radius: 8px;
        width: 60rem;
    }

    .d-flex {
        display: flex;
    }

    .d-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-b-10 {
        padding-bottom: 10px;
    }
</style>

<div>
    <h3 style="color: maroon;" id="ElectionCommitteeTitlePage">Candidate Requests</h3>
    <div id="ValidationSummary" class="ValidationSummary" style="display:none;">
        <span style="color:red; font-size: large; margin: 2px;" id="electionErrorMessage">
          * Please Select Election 
        </span>
        <span style="color:red; font-size: large; margin: 2px; display:block;" id="memberErrorMessage">
            * Please Select One User At Least 
          </span>
     </div>
    <table id="ConfigTb">
        <tr>
            <td class="td-padding">
                <p>
                    <select id="Election" name="Election"></select>
                    <span class="validationForm" id="errElection"></span>
                </p>
            </td>
            <td class="td-padding">
                <button type="button" id="btnNewCandidate" name="btnNewCandidate" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">New Candidate</button>
            </td>
        </tr>
    </table>

    <br /><br/>
 </div>

<div class="show-requests">
    <h3 style="color: maroon;margin-top:20px;" ">Requests List</h3>
    <table style="width:100%" id="tblRequestsList" class="table table-contact footable default footable-loaded">
    </table>
</div> 
 
 <div class="request-details" id="RequestInfo">
    <div class="form-group" id="StatusInfoDiv">
      <span >Status :</span> 
      <span id="Status"></span>
    </div>
   <div class="form-row">
      <div class="col-md-6 col-12 p-b-10" id="ElectionDropDownDiv">
        <div class="form-group d-flex">
        <lable for="newElection" style="font-size: 16px; width: 8%;">Election <span style="color:red">*</span></lable>
        <select id="newElection" name="newElection"></select>
      </div>
      <span class="validationForm" id="errnewElection"></span>
    </div>

    <div class="col-md-6 col-12 p-b-10" id="MemberDropDownDiv">
        <div class="form-group d-flex">
        <lable for="newMember" style="font-size: 16px; width: 8%;">Member <span style="color:red">*</span></lable>
        <select id="newMember" name="newMember"></select>
      </div>
      <span class="validationForm" id="errnewMember"></span>
    </div>

   </div>
    <div class="form-group">
        <Label for="Bio">Short Bio</Label>
        <input type="text" name="Bio" id="Bio"
               onkeyup="countBioChar(this)" onpaste="countBioChar(this)"
               minlength="100" class="form-control" placeholder="Short Bio">
        <span class="float-right" style="padding-top: 6px;">
            <span id="countBioChar"> 0 </span> <span> / 100 word</span>
        </span>
        <span class="validationForm" id="errBio"></span>
    </div>
    <div class="form-group">
        <Label for="Description">Full Bio</Label>
        <textarea name="Description" id="Description" class="form-control"
                  onkeyup="countDescriptionChar(this)" onpaste="countDescriptionChar(this)"
                  minlength="250" placeholder="Full Bio"></textarea>
        <span class="float-right" style="padding-top: 6px;">
            <span id="countDescriptionChar"> 0 </span> <span> / 250 word</span>
        </span>
        <span class="validationForm" id="errDescription"></span>
    </div>

    <div class="form-group d-flex" style="margin-top:3rem;">
        <div class="col-md-6">
            <div class="form-content" id="divResumeFile">
                <div class="row tab-title">
                    <div class="col-lg-6 col-12">
                        <h4>Upload Resume</h4>
                    </div>
                    <div class="col-lg-8 col-12 file-format">
                        <p style="color:black;font-size: 15px;">Supported Format Doc</p>
                    </div>
                </div>
                <div class="upload-file">
                    <div class="custom-file">
                        <input type="file" name="ResumeFile" id="ResumeFile" />
                        <span class="validationForm" id="ResumeFileError"></span>
                    </div>
                    <div class="custom-file-link">
                        <a href="" id="ResumeFileLink" class="file-Link" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="form-content" id="divElectionProgramFile">
                <div class="row tab-title">
                    <div class="col-lg-6 col-12">
                        <h4>Upload Election Program</h4>
                    </div>
                    <div class="col-lg-8 col-12 file-format">
                        <p style="color:black;font-size: 15px;">Supported Format Doc</p>
                    </div>
                </div>
                <div class="upload-file">
                    <div class="custom-file">
                        <input type="file" name="ElectionProgramFile" id="ElectionProgramFile" />
                        <span class="validationForm" id="ElectionProgramFileError"></span>
                    </div>
                    <div class="custom-file-link" >
                        <a href="" id="ElectionProgramFileLink" class="file-Link" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group d-flex" style="margin-top:3rem;">
        <div class="col-md-6">
            <div class="form-content" id="divLetterOfInterestFile">
                <div class="row tab-title">
                    <div class="col-lg-6 col-12">
                        <h4>Upload Letter Of Interest</h4>
                    </div>
                    <div class="col-lg-8 col-12 file-format">
                        <p style="color:black;font-size: 15px;">Supported Format Doc</p>
                    </div>
                </div>
                <div class="upload-file">
                    <div class="custom-file">
                        <input type="file" name="LetterOfInterestFile" id="LetterOfInterestFile" />
                        <span class="validationForm" id="LetterOfInterestFileError"></span>
                    </div>
                    <div class="custom-file-link" >
                        <a href="" id="LetterOfInterestFileLink" class="file-Link" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-content" id="divOtherDocumentFile">
                <div class="row tab-title">
                    <div class="col-lg-12 col-12">
                        <h4>Education Certification And Other Relevant Documents</h4>
                    </div>
                    <div class="col-lg-8 col-12 file-format">
                        <p style="color:black;font-size: 15px;">Supported Format Doc</p>
                    </div>
                </div>
                <div class="upload-file ">
                  <div class="upload-file-otherdocument-filediv">
                    <div class="custom-file-otherdocumentfileinput">
                        <input type="file" class="OtherDocumentFileField" name="OtherDocumentFile" id="OtherDocumentFile" />
                        <!-- <label class="custom-file-label OtherDocumentFileLabel">Add file</label> -->
                        <div class="row-action text-right" style="padding-right:2rem;">
                            <button type="button" class="remove-parent width-6 btn-primary">
                             <i class="fal fa-minus-octagon"></i>Delete
                            </button>
                         </div>
                        <span class="validationForm" id="OtherDocumentFileError"></span>
                    </div>
                  </div>

                    <button type="button" class="add-more">
                        <i class="fa fa-plus" aria-hidden="true"></i>Add more document
                      </button>

                    <div class="custom-file-otherdocumentfile-link">
                        <!-- <a href="" id="OtherDocumentFileLink" class="file-Link"  target="_blank"></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-action d-flex d-flex-center">
        <button type="button" id="btnCreateCandidate" name="btnCreateCandidate" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">New Candidate</button>
        <button type="button" id="btnAction" name="btnAction" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Take Action</button>
        <button type="button" id="btnDetailsBack" name="btnDetailsBack" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Back</button>
    </div>
</div>

 <div class="request-action-details" id="RequestAction">
     <input type="hidden" id="CandidateId" name="CandidateId" />
    <div class="form-group">
        <Label for="Comment">Comment</Label>
        <input type="text" name="Comment" id="Comment" class="form-control" placeholder="Comment">
        <span class="validationForm" id="errComment"></span>
    </div>

    <div class="form-action d-flex d-flex-center">
        <button type="button" id="btnApprove" name="btnApprove" onclick="TakeAction(true)" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Approve</button>
        <button type="button" id="btnReject" name="btnReject" onclick="TakeAction(false)" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Reject</button>
        <button type="button" id="btnActionBack" name="btnActionBack" style="width: 11rem;height: 4rem; margin:14px;" class="btn btn-light">Back</button>
    </div>
 </div>
 
<script>
    GetElectionList();
    $('.show-requests').hide();
    $('.request-details').hide();
    $(".request-action-details").hide();
    $("#Election").change(function () {
        ResetPage();
        GetRequestsList();
    });

    function GetNewElectionList()
    {
        $("#newElection").html("");
        $("#newMember").html("");
        $.ajax({
            url: '/Umbraco/Surface/Candidate/GetAssignedElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#newElection").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    $("#newElection").change(function () {
        var electionId = $("#newElection").val();
        if(electionId !=0)
        {
            GetMemberList(electionId);
        }
    });
    $("#btnNewCandidate").on("click" , function(){
        ResetPage();
        GetNewElectionList();
        $("#ConfigTb").hide();
        $("#StatusInfoDiv").hide();
        $('.show-requests').hide();
        $(".request-action-details").hide();
        $("#btnActionBack").hide();
        $("#btnAction").hide();
        $('.request-details').show();
        $("#MemberDropDownDiv").show();
        $("#ElectionDropDownDiv").show();
        $("#btnCreateCandidate").show();
        resetInputFile();
        $(".upload-file-otherdocument-filediv").show();
        $(".add-more").show();
        $(".custom-file-otherdocumentfile-link").hide();
    });

    function GetMemberList(electionId){
        $("#newMember").html("");
        $.ajax({
            url: '/Umbraco/Surface/Candidate/GetAllActiveMembers',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '';
                    $.each(response.MembersInfo, function (i, MembersInfo) {
                        tbHtml = tbHtml + '<option value="' + MembersInfo.MemberId + '">' + MembersInfo.MemberName + '</option>';
                    });
                    $("#newMember").html(tbHtml);
                    $("#newMember").select2();
                    }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $("#btnAction").on("click" , function(){
        $('.show-requests').hide();
        $('.request-details').hide();
        $("#Comment").val('');
        $(".request-action-details").show();
        $("#btnActionBack").show();
        $(".validationForm").hide();
    });

    $("#btnActionBack").on("click" , function(){
        $('.show-requests').hide();
        $(".request-action-details").hide();
        $("#Comment").val('');
        $('.request-details').show();
    });

    $("#btnDetailsBack").on("click" , function(){
        ResetPage();
    });

    function TakeAction(isApprove)
    {
        var message = ""
        if(isApprove)
        {
            message = "Are you sure you want to approve this request" ;
        }
        else {
            message = "Are you sure you want to reject this request" ;
        }
        var result = confirm(message);
        if(result && CheckValidationForAction(isApprove) == false)
        {
            var status = isApprove;
            var formData = new FormData();
            formData.append("CandidateId", $("#CandidateId").val());
            formData.append("IsApprove", status);
            formData.append("Comment", $("#Comment").val());
            $.ajax({
            url: "/Umbraco/Surface/Candidate/UpdateCandidateStatus",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    ResetPage();
                    GetRequestsList();
                }
                else {
                        AlertMessage(response.message);
                }
            },
            error: function (request, error) {
                AlertMessage("Error in submission, please try again!");
            }
        });

        }
    }
    

    function CheckValidationForAction(isApprove)
      {
        $(".validationForm").hide();
        var hasError = false;
          if(!isApprove)
          {
            if ($("#Comment").val() == '') {
                $("#errComment").html("Required").show();
                $("#Comment").focus();
                hasError = true;
            }
          }
          return hasError;
      }

    function GetElectionList() {
        $("#Election").html("");
        $("#newElection").html("");
        $.ajax({
            url: '/Umbraco/Surface/Candidate/GetAssignedElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#Election").html(tbHtml);
                    $("#newElection").html(tbHtml);
                    $('.show-requests').show();
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetRequestsList(){
        $("#Requests").html("");
        $("#tblRequestsList").html("Loading, Please wait...");
        var electionId = $("#Election option:selected").val();
        if (electionId == 0) {
            $("#tblRequestsList").html("");
            return;
        }
        $.ajax({
            url: "/Umbraco/Surface/Candidate/GetAllElectionRequests",
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                    if (response.data != null) {
                        var tbHtml = "";
                        tbHtml = "<thead><tr>" +
                            "<th>ProfilePhoto</th>" +
                            "<th>Email</th>" +
                            "<th>Status</th>" +
                            "<th>Action</th>" +
                            "</tr></thead>";

                        $.each(response.data, function (i, row) {
                            tbHtml += "<tr>" +
                                "<td><img class='profile-image' src='/Media/ApplicantFile/" + row.ProfilePhoto + "'/></td>" +
                                "<td>" + row.Email + "</td>" +
                                "<td>" + row.StatusName + "</td>" +
                                "<td> <a href='javascript:;' onClick='openRequest(\"" + row.CandidateId + "\")'>Show details</a></td>";
                            "</tr>";
                        });

                        $("#tblRequestsList").html(tbHtml);
                    }
                }
                else {
                    alert(response.message);
                }
            },
            error: function (request, error) {

            }
        });
    }

    function openRequest(candidateId) {
        $.ajax({
            url: '/Umbraco/Surface/Candidate/GetCandidateInfo',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{candidateId:'" + candidateId + "'}",
            success: function (response) {
                if (response.status == true) {  
                    displayRequest(response);
                }
                else {
                    AlertMessage(response.message);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function displayRequest(response) {
        $("#ConfigTb").show();
        $("#CandidateId").val(response.CandidateInfo.CandidateId);
        $("#Bio").val(response.CandidateInfo.Bio);
        $("#Description").val(response.CandidateInfo.Description);
        $(".file-Link").text("Show file");
        $("#ResumeFileLink").prop("href" ,response.CandidateInfo.ResumeFile);
        $("#ElectionProgramFileLink").prop("href" , response.CandidateInfo.ElectionProgramFile);
        $("#LetterOfInterestFileLink").prop("href", response.CandidateInfo.LetterOfInterestFile);
        $(".custom-file-otherdocumentfile-link").html('');
        var array = response.CandidateInfo.OtherDocumentFilesList;
        console.log(response.CandidateInfo);
        for (let index = 0; index < array.length; index++) {
            $(".custom-file-otherdocumentfile-link").append("<a href='"+array[index]+"' style='margin:0px 10px 0px 10px;' id='OtherDocumentFileLink' class='file-Link'  target='_blank'>Show File</a>")
        }
        $("#Status").text(response.CandidateInfo.StatusName);
        if(response.CandidateInfo.Status != 3)
        {
            $("#btnAction").hide();
        }
        else {
            $("#btnAction").show();
        }
        $("#btnCreateCandidate").hide();
        $("#StatusInfoDiv").show();
        $("#MemberDropDownDiv").hide();
        $("#ElectionDropDownDiv").hide();
        $("#Bio").prop("disabled" , true)
        $("#Description").prop("disabled" , true)
        $("#Bio").trigger("keyup");
        $("#Description").trigger("keyup");
        $(".custom-file").hide();
        $(".file-format").hide();
        $(".custom-file-link").show();
        $('.show-requests').hide();
        $(".request-action-details").hide();
        $('.request-details').show();
        $(".upload-file-otherdocument-filediv").hide();
        $(".custom-file-otherdocumentfile-link").show();
        $(".add-more").hide();
    }

    function ResetPage(){
        $("#ConfigTb").show();
        $("#CandidateId").val("");
        $("#Bio").val("");
        $("#Description").val("");
        $(".file-Link").text("");
        $("#ResumeFileLink").prop("href" ,"");
        $("#ElectionProgramFileLink").prop("href" , "");
        $("#LetterOfInterestFileLink").prop("href" , "");
        $("#OtherDocumentFileLink").prop( "href" , "");
        $("#ResumeFile").val("");
        $("#ElectionProgramFile").val("");
        $("#LetterOfInterestFile").val("");
        $("#OtherDocumentFile").val("");
        $("#Status").text("");
        $("#Bio").prop("disabled" , false)
        $("#Description").prop("disabled" , false)
        $("#Bio").trigger("keyup");
        $("#Description").trigger("keyup");
        resetInputFile();
        $(".custom-file").show();
        $(".file-format").show();
        $(".custom-file-link").hide();
        $('.show-requests').show();
        $('.request-details').hide();
        $(".request-action-details").hide();

    }

  
    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
</script>


<script>
    $("#Requests").select2({
        multiple : true
    })
    $("#Election").select2();
    $("#newElection").select2();
    $("#newMember").select2();
</script>


<script>

   function resetInputFile()
   {
     var arr = $(".custom-file-otherdocumentfileinput");
     $(".OtherDocumentFileField").val("");
     if(1 < arr.length)
     {
         for (let index = 1; index <= $(".custom-file-otherdocumentfileinput").length; index++) {
             const element = $(".custom-file-otherdocumentfileinput")[index];
             element.remove();
         }
     }
   }

    $(".add-more").on('click', function () {
            var $row = $('.custom-file-otherdocumentfileinput:last-child').clone();
            $('.upload-file-otherdocument-filediv').append($row);
    });

    $(document).on('click', '.remove-parent', function () {
        debugger;
        if ($(this).parent().parent().parent().find('.custom-file-otherdocumentfileinput').length > 1)
            $(this).parent().parent().remove();
    });

    function countBioChar(val) {
    var len = val.value.length;
    if (len > 100) {
    val.value = val.value.substring(0, 100);
    } 
    else
    {
    $('#countBioChar').text(len);
    }
};

    function countDescriptionChar(val) {
    var len = val.value.length;
    if (len > 250) {
    val.value = val.value.substring(0, 250);
    } 
    else
    {
    $('#countDescriptionChar').text(len);
    }
};

    $(document).ready(function () {
        $("#Bio").trigger("keyup");
        $("#Description").trigger("keyup");
        resetInputFile();
        var status = $("#status").val();
        $(document).on('change', '.custom-file-input', function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                $(this).next('.custom-file-label').addClass("selected").html(file.name);
            }
        });
    });

     

       function CheckValidation() {
            $(".validationForm").hide();
            var hasError = false;
            var electionValue = $("#newElection option:selected").val();
            var memberValue = $("#newMember option:selected").val();
            if (memberValue == ''|| memberValue == null) {
                $("#errnewMember").html("Required").show();
                $("#newMember").focus();
                hasError = true;
            }

            if (electionValue == '' || electionValue == 0 || electionValue == null) {
                $("#errnewElection").html("Required").show();
                $("#newElection").focus();
                hasError = true;
            }

            if ($("#Bio").val() == '') {
                $("#errBio").html("Required").show();
                $("#Bio").focus();
                hasError = true;
            }

            if ($("#Description").val() == '') {
                $("#errDescription").html("Required").show();
                $("Description").focus();
                hasError = true;
            }

            if ($("#ResumeFile").val() == '') {
                $("#ResumeFileError").html("Required").show();
                $("#ResumeFile").focus();
                hasError = true;
            }

            if ($("#ElectionProgramFile").val() == '') {
                $("#ElectionProgramFileError").html("Required").show();
                $("#ElectionProgramFile").focus();
                hasError = true;
            }

            if ($("#LetterOfInterestFile").val() == '') {
                $("#LetterOfInterestFileError").html("Required").show();
                $("#LetterOfInterestFile").focus();
                hasError = true;
            }

            if ($("#OtherDocumentFile").val() == '') {
                $("#OtherDocumentFileError").html("Required").show();
                $("#OtherDocumentFile").focus();
                 hasError = true;
            }
           return hasError;
        }

        $("#btnCreateCandidate").on("click", function () {
                    if (CheckValidation() == false ) {
                       $(this).prop("disabled" , true);
                       $("#btnDetailsBack").prop("disabled" , true);
                        var electionId = $("#newElection option:selected").val();
                        var memberId = $("#newMember option:selected").val();
                        var formData = new FormData();
                        formData.append("MemberId", memberId);
                        formData.append("ElectionId", electionId);
                        formData.append("Bio", $("#Bio").val());
                        formData.append("Description", $("#Description").val());
                        formData.append("ResumeFile", $("#ResumeFile")[0].files[0]);
                        formData.append("ElectionProgramFile", $("#ElectionProgramFile")[0].files[0]);
                        formData.append("LetterOfInterestFile", $("#LetterOfInterestFile")[0].files[0]);
                        if($(".OtherDocumentFileField").length != 0)
                        {
                            $(".OtherDocumentFileField").each(function(index, file) {
                                var item = $(file)[0].files[0];
                                if (item != undefined)
                                    formData.append("OtherDocumentFiles", item);
                            });                        
                        }
                $.ajax({
                        url: "/Umbraco/Surface/Candidate/ApplyCandidateByAdmin",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {},
                    success: function (response) {
                        if (response.status == true) 
                        {
                            $("#btnCreateCandidate").prop("disabled" , false);
                            $("#btnDetailsBack").prop("disabled" , false);
                            ResetPage();
                            GetRequestsList();
                        }
                        else 
                        {
                            $("#btnCreateCandidate").prop("disabled" , false);
                            $("#btnDetailsBack").prop("disabled" , false);
                            AlertMessage("Error in apply, please try again!");
                        }
                    },
                    error: function (request, error) {
                                $("#btnCreateCandidate").prop("disabled" , false);
                                $("#btnDetailsBack").prop("disabled" , false);
                                AlertMessage("Error in apply, please try again!");
                            }
                        });
                    }
                });

</script>