﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/select2.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>

<div>
    <h6 style="color: maroon;">Download Sample Excel (Keep empty for 3 fields Membership, StartDate, EndDate which will read from parent account)   <button type="button" class="btn btn-light" style="background-color: gray;border: 1px solid gray;" id="btnDownload" name="btnUpload">Download</button></h6>

    <h3 style="color: maroon;">Corporate Member Bulk Upload</h3>
    <div class="form-row">
        <div class="col-md-4 col-12">
            <div class="form-group">
                <select id="ParentProfileId" name="ParentProfileId" class="form-control">
                </select>
                <span class="validationForm" id="errParentProfileId"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 col-12">
            <div class="form-group">
                Choose Excel File: <br />
                <input type="file" id="MemberExcel" name="MemberExcel">
            </div>
            <span class="validationForm" id="errMemberExcel"></span>
        </div>
        <div class="col-md-12 col-12">
            <div class="form-group">
                <button type="button" class="btn btn-light" id="btnUpload" style="display:block;" name="btnUpload">Upload</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    GetCorporateAccount();
    var ExcelFile='';
    $('input[type="file"]').change(function (e) {
        if (e.target.name == "MemberExcel") {
            ExcelFile = e.target.files[0];
        }        
    });
    $("#btnUpload").on("click", function () {
        if (CheckValidation() == false) {
            $("#btnUpload").html("Progress, please wait..");
            var formData = new FormData();
            formData.append("ParentProfileId", $("#ParentProfileId option:selected").val());
            formData.append("ExcelFile", ExcelFile);
            $.ajax({
                url: "/Umbraco/Surface/Admin/CorporateMemberBulkUpload",
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {

                },
                success: function (response) {
                    if (response.status == true) {
                        $("#btnUpload").html("Upload");
                        AlertMessage(response.message);
                    }
                    else {
                        $("#btnUpload").html("Upload");
                        AlertMessage(response.message);
                    }
                },
                error: function (request, error) {
                    $("#btnUpload").html("Upload");
                    AlertMessage("Error in submission, please try again!");
                }
            });
        }
    });
        
    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }
    function GetCorporateAccount() {
        $.ajax({
            url: '/Umbraco/Surface/Admin/GetCorporateAccount',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{}",
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Corporate Account</option>';
                    $.each(response.MemberInfo, function (i, MemberInfo) {
                        tbHtml = tbHtml + '<option value="' + MemberInfo.ProfileId + '">' + MemberInfo.FirstName + ' ' + MemberInfo.MiddleName + ' ' + MemberInfo.LastName + ' (' + MemberInfo.EmailAddress + ')</option>';
                    });

                    $("#ParentProfileId").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function CheckValidation() {
        $(".validationForm").hide();
        var hasError = false;
        if ($("#ParentProfileId option:selected").val() == '0') {
            $("#errParentProfileId").html("Please select corporate account").show();
            $("#ParentProfileId").focus();
            hasError = true;
        }
        if (ExcelFile == '') {
            $("#errMemberExcel").html("Please choose excel file").show();            
            hasError = true;
        }
        return hasError;
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnDownload").on("click", function () {
            window.location.href = "/Media/ExcelFile/Corporate_Member_Bulk_Upload.xlsx";
        });
    });
</script>


