﻿<link href="/ui/stylesheet/main.css" rel="stylesheet">
<link href="/ui/stylesheet/developer.css" rel="stylesheet">
<!-- <script src="/AdminUI/js/developer.js"></script> -->
<link rel="stylesheet" href="/customalert/sweetalert.css" />
<link rel="stylesheet" href="/AdminUI/css/select2.css" />
<script src="/customalert/sweetalert-dev.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/AdminUI/js/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
<script src="/AdminUI/js/jquery-validate/bootstrap.validate.js"></script>
<script src="/ui/javascript/uicreep-minify.js"></script>
<script src="/AdminUI/js/select2.js"></script>






<style>

.select2-container {
    width: 20rem !important;
}

.field-validation-error{
    color: red ! important;
}

.ValidationSummary {
    display: flex;
    justify-content: start;
    align-items: center;
    display: none;
    border: 2px solid red;
    margin-bottom: 18px;
    border-radius: 8px;
    width: 60rem;
}

.d-flex {
    display: flex;
}

.p-b-10{
    padding-bottom: 10px;
}
</style>

<div>
    <h3 style="color: maroon;" id="ElectionTitlePage">Create Election</h3>
    <table>
        <tr>
            <td>
                <p>
                    <select id="Election" name="Election">
                    </select>
                    <span class="validationForm" id="errElection"></span>
                </p>
            </td>
        </tr>
    </table>
    <br /><br />
    <form id="divForm">
     <input type="hidden" name="IsRedo" id="IsRedo" />
     <input type="hidden" name="PastElectionId" id="PastElectionId" />

    <div id="ValidationSummary" class="ValidationSummary">
       <span style="color:red; font-size: large; margin: 3px;" id="errorMessage">
        
       </span>
    </div>
    <div class="form-row">
        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="Title" style="font-size: 16px; width: 28%;">Title English <span style="color:red">*</span> </lable>
                <input type="text" name="Title" id="Title" class="form-control" placeholder="Title" data-val="true" data-val-required="Required" Required>
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="Title" data-valmsg-replace="true"></span>
        </div>
        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="TitleAr" style="font-size: 16px; width: 28%;">Title Arabic <span style="color:red">*</span> </lable>
                <input type="text" name="TitleAr" id="TitleAr" class="form-control" placeholder="Title Arabic" data-val="true" data-val-required="Required" Required>
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="TitleAr" data-valmsg-replace="true"></span>
        </div>
        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="ApplyTitle" style="font-size: 16px; width: 28%;">My Account Menu Title English <span style="color:red">*</span> </lable>
                <input type="text" name="ApplyTitle" id="ApplyTitle" class="form-control" placeholder="Apply Title" data-val="true" data-val-required="Required" Required>
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="ApplyTitle" data-valmsg-replace="true"></span>
        </div>
        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="ApplyTitleAr" style="font-size: 16px; width: 28%;">My Account Menu Title Arabic <span style="color:red">*</span> </lable>
                <input type="text" name="ApplyTitleAr" id="ApplyTitleAr" class="form-control" placeholder="Apply Title Arabic" data-val="true" data-val-required="Required" Required>
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="ApplyTitleAr" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="Description" style="font-size: 16px; width: 28%;">Description <span style="color:red">*</span> </lable>
                <textarea name="Description" id="Description" class="form-control" placeholder="Description" data-val="true" data-val-required="Required" Required></textarea>
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="ApplyStartDate" style="font-size: 16px; width: 28%;">Apply Start Date <span style="color:red">*</span> </lable>
                <input type="text" readonly data-toggle="datepicker" name="ApplyStartDate" Required id="ApplyStartDate" data-val="true" data-val-required="Required" class="form-control" placeholder="Apply start date">
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="ApplyStartDate" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="ApplyEndDate" style="font-size: 16px; width: 28%;">Apply End Date <span style="color:red">*</span> </lable>
                <input type="text" readonly data-toggle="datepicker" name="ApplyEndDate" Required id="ApplyEndDate" data-val="true" data-val-required="Required" class="form-control" placeholder="Apply end date">
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="ApplyEndDate" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="StartDate" style="font-size: 16px; width: 28%;">Election Start Date <span style="color:red">*</span> </lable>
                <input type="text" readonly data-toggle="datepicker" name="StartDate" id="StartDate" Required class="form-control" placeholder="Start date" data-val="true" data-val-required="Required">
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="EndDate" style="font-size: 16px; width: 28%;">Election End Date <span style="color:red">*</span> </lable>
                <input type="text" readonly data-toggle="datepicker" name="EndDate" id="EndDate" Required class="form-control" placeholder="End date" data-val="true" data-val-required="Required">
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="EndDate" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="NumberOfWinners" style="font-size: 16px; width: 28%;">Number Of Winners <span style="color:red">*</span> </lable>
                <input type="number" name="NumberOfWinners" id="NumberOfWinners" Required min="1" class="form-control" data-val="true" data-val-required="Required" placeholder="Number of winners">
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="NumberOfWinners" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group d-flex">
                <lable for="WinningAnnouncementDate" style="font-size: 16px; width: 28%;">Winning Announcement Date <span style="color:red">*</span> </lable>
                <input type="datetime-local" name="WinningAnnouncementDate" Required id="WinningAnnouncementDate"
                       data-val="true" data-val-required="Required" class="form-control" placeholder="Winning announcement date">
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="WinningAnnouncementDate" data-valmsg-replace="true"></span>
        </div>

        <div class="col-md-6 col-12 p-b-10" id="ElectionStatusDiv" style="display:none;">
            <div class="form-group d-flex">
                <span style="color: red;margin-right: 2px;">*</span>
                <select id="Status" class="form-control" name="Status" data-val="true" data-val-required="Required">
                </select>
            </div>
            <span class="field-validation-valid help-inline" data-valmsg-for="Status" data-valmsg-replace="true"></span>
        </div>


        <div class="col-md-6 col-12 p-b-10">
            <div class="form-group">
                <button type="button" class="btn btn-light" id="btnSave" style="display:inline;" name="btnSave">Save</button>
                <button type="button" style="display:none;" class="btn btn-light" id="btnRedo" name="btnRedo">Redo</button>
                <button type="button" style="display:none;" class="btn btn-light" id="clearVotes" name="clearVotes">Clear votes</button>
                <button type="button" class="btn btn-light" id="btnReset" style="display:inline;" name="btnReset">Reset Page</button>
            </div>
        </div>
    </div>
</form>
</div>


<script>
    GetElectionList();
    $("#Election").change(function () {
        $("#ValidationSummary").hide();
        ClearField();
        var electionValue = $("#Election option:selected").val();
        if(electionValue == 0)
        {
            $("#ElectionTitlePage").text("Create Election");
            $("#btnRedo").hide();
            $("#clearVotes").hide();
             ResetElectionStatusList();
        }
        else 
        {
            $("#ElectionTitlePage").text("Update Election");
            $("#btnRedo").show();
            $("#clearVotes").show();
            GetElectionStatusList();
        }
        if(electionValue != 0)
        {
           GetElectionInfo(electionValue);
        }
    });

    $("#btnRedo").on("click", function () {
        $("#ValidationSummary").hide();
        if (CheckValidation() == false) {
            RedoElection($("#Election option:selected").val());
        }
    });

    $("#clearVotes").on("click", function () {
        var electionId = $("#Election option:selected").val()
        $.ajax({
            url: '/Umbraco/Surface/Election/ClearVotes',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            success: function (response) {
                if (response.status == true) {
                    alert("Votes Cleared Successfully");
                }
                else {
                    alert(response.error);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    function ResetElectionStatusList(){
        $("#ElectionStatusDiv").hide();    
    }


    function GetElectionStatusList()
    {
        $("#Status").html(" ");
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionStatusList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '';
                    $.each(response.ElectionStatusInfo, function (i, ElectionStatusInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionStatusInfo.Id + '">' + ElectionStatusInfo.Text + '</option>';
                    });

                    $("#Status").html(tbHtml);

                    $("#ElectionStatusDiv").show();    
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function GetElectionInfo(electionId) {
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionInfo',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            data: "{electionId:'" + electionId + "'}",
            success: function (response) {
                if (response.status == true) {
                    $("#Title").val(response.ElectionInfo.Title);
                    $("#TitleAr").val(response.ElectionInfo.TitleAr);
                    $("#ApplyTitle").val(response.ElectionInfo.ApplyTitle);
                    $("#ApplyTitleAr").val(response.ElectionInfo.ApplyTitleAr);
                    $("#Description").val(response.ElectionInfo.Description);
                    $("#StartDate").datepicker("setDate", response.ElectionInfo.StartDate);
                    $("#EndDate").datepicker("setDate" , response.ElectionInfo.EndDate);
                    $("#ApplyStartDate").datepicker("setDate" , response.ElectionInfo.ApplyStartDate);
                    $("#ApplyEndDate").datepicker("setDate" , response.ElectionInfo.ApplyEndDate);
                    $("#WinningAnnouncementDate").val(response.ElectionInfo.WinningAnnouncementDate);
                    $("#NumberOfWinners").val(response.ElectionInfo.NumberOfWinners);
                    $("#Status").val(response.ElectionInfo.Status)
                    $("#IsRedo").val(false);
                    $("#PastElectionId").val(0);
                    $("#Status").select2();
                    $("#Status").select2();
                    $("#ElectionStatusDiv").show();  
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function CheckValidation() {
        $(".validationForm").hide();
        var hasError = false;
        if ($("#Election option:selected").val() == '') {
            $("#errElection").html("Please select election").show();
            $("#Election").focus();
            hasError = true;
        }
        return hasError;
    }

    function RedoElection(electionId) {
        $("#IsRedo").val(true);
        $("#PastElectionId").val(electionId);
          GetElectionList();
         $("#ElectionTitlePage").text("Redo Election - update the data and click save");
         $("#btnRedo").hide();
         $("#clearVotes").hide();
    }

    function GetElectionList() {
        $("#Election").html("");
        $.ajax({
            url: '/Umbraco/Surface/Election/GetElectionList',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-Requested-With': 'XMLHttpRequest',
            },
            type: 'POST',
            success: function (response) {
                if (response.status == true) {
                    var tbHtml = '<option value="0">Select Election</option>';
                    $.each(response.ElectionInfo, function (i, ElectionInfo) {
                        tbHtml = tbHtml + '<option value="' + ElectionInfo.ElectionId + '">' + ElectionInfo.Title + '</option>';
                    });
                    $("#Election").html(tbHtml);
                }
                else {
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $("#btnReset").on("click", function () {
        $("#ValidationSummary").hide();
        ClearField();
        ResetElectionStatusList();
        GetElectionList();
        $("#btnRedo").hide();
        $("#clearVotes").hide();
        $("#ElectionTitlePage").text("Create Election");
        $("#IsRedo").val(false);
        $("#PastElectionId").val(0);

    });

    $("#btnSave").on("click", function () {
        $("#ValidationSummary").hide();
        var isValid = CheckFromValidate();
        if(!isValid)
        {
            return;
        }
        var electionId = $("#Election option:selected").val();
        var status = 1;
        if(electionId != 0)
        {
            status = $("#Status option:selected").val();   
        }
        var IsRedo = false;
        if($("#IsRedo").val() == 'true')
        {
            IsRedo = true;
        }
        $("#btnSave").prop("disabled" , true);
        var formData = new FormData();    
        formData.append("Title", $("#Title").val());
        formData.append("TitleAr", $("#TitleAr").val());
        formData.append("ApplyTitle", $("#ApplyTitle").val());
        formData.append("ApplyTitleAr", $("#ApplyTitleAr").val());
        formData.append("Description", $("#Description").val());
        formData.append("StartDate", $("#StartDate").val());
        formData.append("EndDate", $("#EndDate").val());
        formData.append("ApplyStartDate", $("#ApplyStartDate").val());
        formData.append("ApplyEndDate", $("#ApplyEndDate").val());
        formData.append("NumberOfWinners",  $("#NumberOfWinners").val());
        formData.append("WinningAnnouncementDate", $("#WinningAnnouncementDate").val());
        formData.append("Status", status);
        formData.append("ElectionId", electionId);
        formData.append("IsRedo", IsRedo);
        formData.append("PastElectionId", $("#PastElectionId").val());
    
        $.ajax({
            url: "/Umbraco/Surface/Election/SaveElection",
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            beforeSend: function () {
            },
            success: function (response) {
                if (response.status == true) {
                if(electionId == 0)
                {
                    $("#btnSave").prop("disabled" , false);
                    AlertMessage("Selected Election has been created successfully");
                }
                else {
                    $("#btnSave").prop("disabled" , false);
                    AlertMessage("Selected Election has been updated successfully");
                }
                    $("#ElectionTitlePage").text("Create Election");
                    $("#btnRedo").hide();
                    $("#clearVotes").hide();
                    $("#ElectionStatusDiv").hide(); 
                    $("#btnSave").prop("disabled" , false);
                    ClearField();
                    GetElectionList();
                    // GetElectionInfo($("#Election option:selected").val());
                }
                else {
                    if(response.error == 'Date Conflict')
                    {
                        $("#ValidationSummary").show();
                        $("#btnSave").prop("disabled" , false);
                        $("#errorMessage").html("Election End Date Must Be Greater Than Election Start Date <br> Apply End Date Must Be Greater Than Apply Start Date<br> Winning Announcement Date Must Be Greater Than Election Dates");
                        return;
                    }
                    else {
                        $("#btnSave").prop("disabled" , false);
                        AlertMessage(response.message);
                    }
                }
            },
            error: function (request, error) {
                $("#btnSave").prop("disabled" , false);
                AlertMessage("Error in submission, please try again!");
            }
        });
    });
       

    function ClearField() {
        $("#Title").val("");
        $("#TitleAr").val("");
        $("#ApplyTitle").val("");
        $("#ApplyTitleAr").val("");
        $("#Description").val("");
        $("#StartDate").val("");
        $("#EndDate").val("");
        $("#ApplyStartDate").val("");
        $("#ApplyEndDate").val("");
        $("#NumberOfWinners").val("");
        $("#WinningAnnouncementDate").val("");
        $("#IsRedo").val(false);
        $("#PastElectionId").val(0);
    }

    function AlertMessage(message) {
        if (message != null && message != "") {
            swal({
                title: "",
                text: message,
                type: "error",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Ok'
            },
                function (isConfirm) {
                    if (isConfirm) {

                    }
                });
        }
    }

    function CheckFromValidate()
    {
        const title = document.getElementById("Title");
        const titleAr = document.getElementById("TitleAr");
        const applyTitle = document.getElementById("ApplyTitle");
        const applyTitleAr = document.getElementById("ApplyTitleAr");
        const description = document.getElementById("Description");
        const startDate = document.getElementById("StartDate");
        const endDate = document.getElementById("EndDate");
        const applyStartDate = document.getElementById("ApplyStartDate");
        const applyEndDate = document.getElementById("ApplyEndDate");
        const numberOfWinners = document.getElementById("NumberOfWinners");
        const winningAnnouncementDate = document.getElementById("WinningAnnouncementDate");
        if (title.checkValidity() && titleAr.checkValidity() && applyTitle.checkValidity() && applyTitleAr.checkValidity() && description.checkValidity() && startDate.checkValidity() && endDate.checkValidity() &&
           applyStartDate.checkValidity() && applyEndDate.checkValidity() && numberOfWinners.checkValidity() && winningAnnouncementDate.checkValidity())
           {
               return true;
           }
           else {
               $("#ValidationSummary").show();
               $("#errorMessage").text("Please Fill All Required Fileds");
           }   
    }
</script>


<script>   
    $("#Status").select2();
    $("#Election").select2();
 </script>
