.register-section .form-content .avatar-upload {
    margin-bottom: 25px !important;
    position: relative !important;
    max-width: 100% !important;
    display: inline-block !important;
}

.register-section .form-content .avatar-upload .avatar-preview {
    width: 160px !important;
    height: 160px !important;
    position: relative !important;
    display: inline-block !important;
}

.register-section .form-content .avatar-upload .avatar-edit input+label {
    color: #00AEEF !important;
    cursor: pointer !important;
}

.register-section .form-content .avatar-upload .right-side {
    width: calc(100% - 170px) !important;
    padding-left: 15px !important;
    display: inline-block !important;
    vertical-align: top !important;
}

.register-section .form-content .avatar-upload .avatar-edit{
       position: relative !important;
     right: 0px !important; 
    z-index: 1 !important;
    top: 10px !important;
}