.validationForm {
    font-size: 12px;
    color: red;
}

.search-table .left-side .parent-list .list-field select {
    word-wrap: normal;
    height: auto;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 5px;
    color: #000000;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 15px;
}

.search-table .left-side .parent-list .list-field select:focus {
    border: 0;
    border-bottom: 1px solid #00AEEF;
    outline: none
}

.shop-content .filter form .custom-select-field select {
    padding: 0 15px
}

.team-content .user-image img {
    width: 100%;
}

.governance-card img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    object-position: top;
}

.committee .owl-carousel .owl-nav {
    top: 24%
}

.governance-links {
    text-align: center;
    margin-bottom: 25px;
}

header.header .nav-action a.cart-link {
    width: calc(100% - 100px);
    position: relative
}

header.header .lang-select {
    width: 95px
}

header.header .button span {
    display: block;
    width: 100%;
    text-align: center
}

.certified .btn i {
    padding-right: 7px
}

.row.one-profile-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-right-sec,
.fade-left-sec {
    width: 100%
}

.graduates-row .user-img img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

section.roadmap {
    color: #fff;
}

.login-section .right-side h4 {
    font-size: 16px;
    margin: 20px 0 0;
    text-align: left !important;
}

.login-section .right-side h4.text-center a {
    display: inline-block;
    font-size: 14px;
    padding-right: 5px;
}

.certified h2,
.certified p {
    color: #000000;
}

.event-sec .filter ul li button i {
    padding-right: 5px;
}

.certification .card-certification .overlay {
    height: 150px;
}



/*
section.counter.cia-counter .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
*/
/*
section.counter.cia-counter .col-12:nth-child(3) {
    border-right: 1px solid #D8D8D8;
}
*/
.awards {
    height: auto;
    padding: 30px 0;
}

.internal-auditing hr,
.governance-links {
    display: none
}

.internal-auditing .paragraph-title {
    margin-bottom: 20px;
}

input#training-dates::-webkit-input-placeholder {
    color: #fff !important;
    font-family: 'ProximaNova-Regular';
}

input#training-dates::-moz-placeholder,
input#training-dates::-webkit-input-placeholder {
    color: #fff !important;
    font-family: 'ProximaNova-Regular';
}

input#training-dates:-ms-input-placeholder {
    color: #fff !important;
    font-family: 'ProximaNova-Regular';
}

input#training-dates:-moz-placeholder {
    color: #fff !important;
    font-family: 'ProximaNova-Regular';
}

.how-register .right-side {
    flex-flow: column;
}

.team-content .user-info p {
    color: #4F4F4F;
    margin-bottom: 15px;
}

.faq .card .btn {
    position: relative
}

.faq .card .btn:after {
    position: absolute;
    content: "\f106";
    font-family: "Font Awesome 5 Pro";
    right: 25px;
    top: 13px;
    font-size: 20px;
    color: #000000
}

.faq .card .collapsed:after {
    content: "\f107";
}

.faq .card .card-body {
    font-family: 'Cairo-Regular';
}

.benefits-content p {
    margin-bottom: 15px
}

.register-section ul li a {
    opacity: 1;
}

.shop-content .form-content .custom-select-field {
    position: relative;
    width: 100%;
}

.official p {
    color: #000
}

.top-logo-section img {
    width: 60%;
    margin: 0 auto;
    display: block
}

.training .training-info {
    height: 250px
}

.traning-slider .item img {
    height: 280px;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}

.news .news-content p {
    line-height: 28px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-width: 100%;
    height: 80px;
}


.news .news-content p.date {
    height: auto;
    line-height: 14px
}

.counter .col-md-3 {
    padding: 0 15px;
}

.counter .col-md-3:nth-child(3) {
    border-right: 1px solid #D8D8D8;
}

header.header .lang-select__item--active {
    text-align: center;
}

.custom-modal .modal-content {
    padding: 0;

}

.custom-modal .modal-body {

    border-top: 0;
}

.custom-modal .close {
    z-index: 5555;
}

.our-goal {
    padding: 50px 0 25px;
    height: 50vw;
}

.our-goal h2 {
    display: none
}

.about-section {
    height: 32vw;
}
.affiliates .container,
.user-nav .container,
footer .container,
.about-section .container {
    max-width: 100%;
    padding: 0 9%;
}
.aside-dropdown .aside-menu {
        list-style: none}
.certification .card-certification .overlay .content .label {
    display: none
}
.register-section ul li {
    width: 25%;
}
.becoming .second-row .left-side img {
        height: 100%;
    }
.graduates-row h2 {
    height: 65px;
}
.user-nav .right-side a i {
    padding: 0 10px;
}
.responsive-map {
    height: 430px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.responsive-map  .map {
    width: 100%;
    height: 100%;
}
.facts-rating .col-md-3{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.facts-rating .col-md-3:nth-child(3) {
    border-right: 0;
}
.training-methods-less-than-three .row {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group.calendar-icon::after {
    position: absolute;
    content: "\f073";
    right: 0;
    top: 0px;
    font-family: "Font Awesome 5 Pro";
    color: #00aeef;
    font-size: 18px;
}
.form-group.calendar-icon {
    position: relative;
}
.news h3 a {color: #000000;}
.news h3 a:hover {
    color: #00AEEF;
}
.promo .promo-slider__count::after {
    display: none
}
section.training {
    margin-top: 40px;
}
.shop-content .product h3 {
    font-size: 18px;
    margin: 15px 0 5px;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fa-phone-office:before {
    content: "\f095";
}
.training .training-info p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-width: 100%;
    height: 80px;
}
.partners .row {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
}
.partners hr {
    margin: 15px -15px 0;
}
.standards {
    padding: 50px 0;
}
section.member {
    margin-top: 30px;
}
.traning-slider .item p {
    height: 70px;
    min-height: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-width: 100%;
}
section.benefits.benefit-training-method .row p {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
section.pricing{
    padding-bottom: 0;
}
.membership .col-md-4:nth-child(1) ul li,
.membership .col-md-4:nth-child(2) ul li {
    border-bottom: 0
}
.membership .col-md-4:nth-child(1) ul li .right-side,
.membership .col-md-4:nth-child(2) ul li .right-side,
.membership .col-md-4:nth-child(1) ul li .left-side,
.membership .col-md-4:nth-child(2) ul li .left-side {
    width: 100%;
        border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.shop-content .filter form .custom-select-field::after {
    top: 0px;
}
.shop-content .product a {
    color: #00AEEF;
    display: inline-block;
    width: 47%;
    background-color: transparent;
    padding: 0 5px;
    border: 1px solid #00AEEF;
    text-align: center;
    height: 35px;
    margin-top: 0;
    position: relative;
    top: 2px;
    line-height: 35px;
    margin-right: 1%
}
.shop-content .product a:hover {
    background-color: #00AEEF;
    color: #fff;
}
.shop-content .product .btn {
    padding: 6px 5px;
    display: inline-block;
    margin-top: 0;
    width: 48%;
    border-radius: 0;
    border: 1px solid #00AEEF;
    height: 34px;
    margin-left: 1%
}
footer .form-row input {
    height: 48px;
}
footer .form-row button.btn {
    line-height: 48px;
    height: 48px;
    position: relative;
    top: -3px;
}
header.header .nav-action a.cart-link span.counter-cart {
    position: absolute;
    background-color: #f00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    top: -8px;
    right: -9px;
}
.about-sec .content {
    width: 44%;
}
.about-sec p {
     width: 100%; 
}
.sub-banner a,
.promo .promo-slider__count {
    display: none
}
.about-section a:hover, .about-section a:focus {
    background-color: transparent !important;
    color: #020F20;
    border-color: transparent;
}
.membership .card-membership ul li span {
    font-size: 14px;
    width: 85px;
}
.membership .card-membership ul li h5 {
    width: calc(100% - 90px);
}
.associated-sec .btn {
    display: none
}
.internal-auditing .tab-info .btn {
    position: absolute;
    bottom: 0;
}
.certified h2, .certified p {
    text-shadow: 2px 2px 5px rgb(0 0 0 / 52%);
}
header.header .header-logo__img {
    max-width: 270px;
}
.cart .product-card {
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
.cart .col-lg-8.col-md-7.col-12 {
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}
.user-nav .left-side ul .user-img img {
    height: 100%;
    object-fit: cover;
}
.about-sec h2 {
    font-family: 'Cairo-SemiBold';
}


/** Start Media Query **/
@media  (min-width: 1200px) and (max-width:1440px) {
    .counter .col-12 {
        padding: 0 35px;
    }
    .btn,
    .career-details-info .career-details ul li span,
    .career-details-info .career-details ul li h4,
    .career-types .tab-content .row-career h5,
    .career-types .tab-content .row-title h4,
    .graduates-row h2,
    .internal-auditing li.nav-item .nav-link,
    footer .form-row button.btn,
    footer .form-row p,
    .about-section a,
    .certification .card-certification .overlay .content .card-info .btn,
    .certification .card-certification .overlay .content .card-info p,
    header.header .button,
    .main-menu .main-menu__item .main-menu__link,
    body {
        font-size: 14px
    }
    
    .search-table .table thead th,
    .search-table .table tbody td,
    .search-table .table tbody td .btn,
    .top-menu .main-menu__item .main-menu__link{font-size: 13px}
    
    .why-iap.video-sec h2,
    .faq h2,
    .roadmap h2,
    .iia-join h2,
    .contact-us .left-side h1,
    .career h2,
    .benefits .benefits-content h2,
    .membership h2,
    .member h2,
    .certified h2,
    .about-section h2,
    .section-head .text-header {font-size: 40px;} 
    
    
    .register-section .form-content .tab-title h2,
    .membership .card-membership h3,
    .training .training-info h3,
    .certification .card-certification .overlay .content h2{font-size: 21px}
    
    .certification .card-certification .overlay {
        height: 135px;
    }
    
    .content-dashboard .right-side .body-content .list-info ul li .right-side,
    .cart .content-body .row-total .large-num,
    .cart .content-body .product-row h3,
    .server.eligibility-sec li h4,
    .contact-us .left-side .contact-info li .right-side .num,
    .career-types .tab-content .row-career h3,
    .shop-content .product h3,
    .benefits .benefits-content h4,
    .search-table .left-side h3,
    .register-section ul li a h3,
    .bg-sec-benefits ul li,
    .becoming .right-side li h4,
    footer .links h3,
    .counter .right-counter .num {
        font-size: 18px
    }
    .about-sec h2,
    .cart .content-body .cart-head h1,
    .awards h2,
    .request-call h2,
    .career-details-info h2,
    .qualifications-sec h3,
    .pricing .row-tabel h3,
    .policy-social p,
    .our-vision h2,
    .certification-training .top-header h2, .header-title,
    footer .form-row h2 {font-size: 28px}
    
    
    .banner h1 {
        font-size: 37px
    }
    .about-sec .associated-sec h4,
    .content-dashboard .right-side .current-jop h2,
    .content-dashboard .right-side .body-content .title h1,
    .core-banner h3,
    .syllabus h3 ,
    .contact-us .form-content h2,
    .search-table .table-title,
    .traning-slider .item h2,
    .pricing .tabel-dis h3,
    .becoming .right-side h3,
    .news h3,
    .promoting h3, .message-industry h2 {
        font-size: 24px;
    }
    .graduates-row h2 {
        height: 50px;
    }
    .training .training-info {
    height: 210px;
}
    
}
@media only screen and (min-width: 1640px) {
    body {
        font-size: 1.2em
    }
    .affiliates .affiliates-content {
        width: 350px
    }
    main {
        padding-top: 125px;
    }
    .about-section a {
        font-size: 1.2em;
    }.certification .card-certification .overlay .content .card-info p {
        font-size: .8em!important;
        line-height: 26px;
    }
    
    .becoming .right-side h3,
    footer .links h3,
    .counter .right-counter .num {
        font-size: 1.2em;
    }
    .register-section .register-body .title h1, .bg-sec-benefits h2, .about-sec h3, .sub-banner h1, .event-discription h2,
    .banner h1,
    .member h2,
    .section-head .text-header,
    .partners h2 {
        font-size: 2.5em;
    }
    
    .governance-card .card-content h3,
    .main-menu .main-menu__item .main-menu__link {
        font-size: .75em;
    }
    header.header .lang-select,
    .top-menu .main-menu__item .main-menu__link {
        font-size: .75em
    }
    header.header .nav-action a.cart-link {
        width: calc(100% - 115px);
    }
    .pricing .paragraph-title,
    .paragraph-title,
    .testing-sec h2,
    .governance-card .card-content,
    .about-sec .btn {
        font-size: .8em;
    }
    footer form {
        font-size: 15px
    }
    
    footer .footer-bottom .soical-links a,
    footer .footer-bottom p,
    footer .links-inline a,
    footer .links a {
        font-size: .7em;
    }
    footer .footer-bottom .right-links {
        width: calc(100% - 6em);
        font-size: 15px
    }
    .about-sec .section-image-about .text-content p {
        line-height: normal;
    }
    .search-table .left-side .rest-btn,
    .graduates-row h2,
    .user-nav .left-side ul .account-type,
    .search-table .left-side .parent-list .list-field select,
    .search-table .table tbody td .btn,
    .search-table .table tbody td,
    .search-table .table thead th,
    .login-section .right-side h4.text-center a,
    .governance-card .card-content p {
        font-size: 15px 
    }
    .graduates-row a,
    .content-dashboard .right-side .body-content .list-info ul li .right-side a,
    .content-dashboard .right-side .body-content .contact-sec .phone,
    .request-call .btn,
    .iia-join .btn,
    .career-details-info .career-details ul li .btn,
    .career-details-info .career-details ul li span,
    .career-details-info .career-details ul li h4,
    .career-types .tab-content .row-title h4,
    .career-types .tab-content .row-career .btn,
    .career-types .tab-content .row-career h5,
    .graduates-row h2,
    button#btnAddToCart,
    .shop-content .product a,
    .shop-content .filter span,
    .shop-content .filter form .custom-select-field select,
    .search-table .left-side .parent-list .list-field .link-header,
    .login-section .right-side .btn,
    .login-section .right-side h4,
    .register-section .form-content .upload-file .custom-file-label::after,
    .membership-details .content .row-center span,
    .membership-details .content .row-center h5,
    .membership .card-membership ul li h5,
    .training .training-info .btn,
    .membership .card-membership .btn,
    traning-slider .btn,
    .news .link-news,
    .news .link-news,
    .policy .btn,
    .internal-auditing .tab-info .btn,
    .internal-auditing li.nav-item .nav-link {
        font-size: 17px
    }
    .becoming .right-side li h4 {
        width: calc(100% - 40px);
    }
     .content-dashboard .right-side .body-content .list-info ul li .right-side,
    .content-dashboard .right-side .body-content .user-name,
    .faq .card .btn,
    .qial-total .total-num,
    .career-types .tab-content .row-career h3,
    .custom-modal h2,
    .becoming .right-side li h4 {
        font-size: 22px
    }
    .register-section .register-body .tab-content {
        padding: 3em 2em 2em;
    }
    .faq .card .card-body {
        font-size: 18px;
    }
    .counter .right-counter p {
        line-height: normal;
    }

    .form-content ::-webkit-input-placeholder,
    .form-content input::-webkit-input-placeholder {
      font-size:16px
    }

    .form-content ::-moz-placeholder,
    .form-content input::-webkit-input-placeholder {
      font-size:16px
    }

    .form-content :-ms-input-placeholder,
    .form-content input:-ms-input-placeholder {
      font-size:16px
    }

    .form-content :-moz-placeholder,
    .form-content input:-moz-placeholder {
      font-size:16px 
    }
    .form-content .form-control {
        font-size: 18px;
    }
    .login-section .right-side {
            padding: 3em;
    }
    contact-us .form-content {
        padding: 2em;
    }
    .message-box {
        width: calc(100% - 100px);
    }
    .qial-total .message.text-center {
        width: 98%;
    }
    .content-dashboard .right-side .body-content .list-info ul li .right-side {
        width: calc(100% - 10px);
    }
    .graduates-row h2 {
        height: 50px;
    }
    .message-info p {
        color: #4F4F4F;
        font-size: 14px;
    }
    

}
@media  (min-width: 1200px) {
    .content-dashboard .sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .content-dashboard .right-side.col-lg-9.col-md-10.col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .content-dashboard .sidebar ul li {
        padding: 20px 5px 20px 25px;
    }
    .certification .card-certification .overlay .content .card-info p {
        font-size: 15px
    }

    .certification-training .top-header h2,
    .header-title {
        font-size: 36px;
        line-height: 40px;
    }

    .banner h1 {
        font-size: 45px
    }

    .register-section .register-body .title h1,
    .bg-sec-benefits h2,
    .about-sec h3,
    .sub-banner h1,
    .event-discription h2 {
        font-size: 40px
    }

    .promoting h3,
    .message-industry h2 {
        font-size: 30px
    }
}
@media only screen and (min-width: 1367px) {
    .promo .promo-slider__item--style-1 .promo-slider__title span:first-of-type {
        font-size: 50px;
        line-height: 50px;
    }
}
@media  (min-width: 1200px) and (max-width: 1281px) {
    .becoming .second-row .left-side img {
        height: 100%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-title {
        font-size: 32px;
    }

    .traning-slider .item img {
        height: 240px;
    }
    .training .training-info {
        height: 200px;
    }
    .training .training-info p {
        -webkit-line-clamp: 3;
        height: 70px;
    }


    .news .news-content p {
        line-height: 32px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-width: 100%;
        height: 125px;
    }
    .about-sec .content {
        width: 50%;
    }
    .cart .content-body .product-row h3 {
        font-size: 18px
    }
    

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-logo-section img {
        width: 45%;
        margin: 0 auto;
        display: block;
    }

    .traning-slider .item img {
        height: 180px;
    }

    .training .training-info {
        height: 185px;
    }

    .news .news-content p {
        line-height: 18px;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-width: 100%;
        height: 90px;
    }

    .counter .col-md-3 {
        padding: 0 40px;
        flex: 0 0 50%;
        max-width: 50%;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .counter .col-md-3:nth-child(2) {
        border-right: 0
    }

    .about-section {
        background-position: right;
    }
    .affiliates .container,
    .user-nav .container,
    footer .container,
    .about-section .container {
        padding: 0 15px;
    }
    .graduates-row h2 {
        height: 50px;
    }
    .facts-rating .col-md-3{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding: 0 10px
    }
    .training .row {
        display: flex;
        justify-content: center;
    }
    .training .training-info p {
        -webkit-line-clamp: 3;
        height: 50px;
    }
    .about-sec .content {
        width: 50%;
    }
    .internal-auditing .tab-info p {
        font-size: 14px
    }
}

@media (max-width: 767px) {
    .governance-card img {
        height: auto
    }

    .governance-links a.btn.btn-info {
        display: block;
        width: 100%;
        margin: 0 0 10px;
    }

    .col-auto.d-flex.align-items-center.left-header {
        width: calc(100% - 135px);
    }

    .top-logo-section img {
        width: 70%;
        margin: 30px auto 15px;
        display: block;
    }

    .top-logo-section .row {
        flex-direction: column-reverse;
    }

    .traning-slider .item img {
        height: 180px;
    }

    .training .training-info {
        height: auto;
    }

    .news .news-content p {
        line-height: 18px;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-width: 100%;
        height: 90px;
    }

    .certification .card-certification .overlay {
        height: auto;
    }

    .certified {
        background-position: right
    }
    .affiliates .container,
    .user-nav .container,
    footer .container,
    .about-section .container {
        padding: 0 15px;
    }

    .about-section {
        height: auto;
    }
    .faq .card .btn:after {
        right: 10px
    }
    .aside-dropdown .aside-dropdown__item:nth-of-type(2) {
        margin-top: 15px;
    }
    .aside-dropdown .aside-menu__item:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .aside-dropdown .aside-dropdown__item:nth-of-type(2) .aside-menu li:nth-child(4) a {
        color: inherit;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
    }
    .aside-dropdown .aside-dropdown__item:nth-of-type(2) .aside-menu li:nth-child(5) {
        margin: 15px 0
    }
    .aside-dropdown .aside-dropdown__item:nth-of-type(3) {
        margin-top: 0;
    }
    .register-section ul li {
    width: 100%;
}
    .graduates-row h2 {
        height: 65px;
    }
    .facts-rating .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px
    }
    .training .training-info p,
    .shop-content .product h3 {
        height: auto
    }
    .traning-slider .item p {
        height: auto;
        -webkit-line-clamp: unset;
    }
    .shop-content .product .btn,
    .shop-content .product a {
        width: 100%;
        margin: 5px 0
    }
    header.header .nav-action a.cart-link span.counter-cart {
        right: 0;
        top: -5px;
    }
    .about-sec .content {
        width: 100%;
    }
    .institute h2 {
        font-size: 20px
    }
    .internal-auditing .tab-info .btn {
        position: relative;
    }
    .cart .product-card {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.cart .col-lg-8.col-md-7.col-12 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
    .cart .content-body .product-row h3 {
    font-size: 14px;
}

}