/** Start arabic style **/
.main-menu .main-menu__item:not(:last-of-type) {
    margin-right: 0;
    margin-left: 30px;
}

/*
.top-menu {
    text-align: left;
}
*/

header.header .lang-select {
    padding-right: 0;
    padding-left: 0;
}

header.header .nav-action a.cart-link {
    text-align: left;
}

.promo .promo-slider .align-container {
    text-align: right;
    justify-content: flex-end;
}

.promo .promo-slider__count {
    right: 75px;
    left: auto;
}

.certification .card-certification .overlay .content .label {
    right: 0;
    left: auto;
}

.certification .card-certification .overlay .content .card-info .btn {
    float: left;
}

.about-section {
    text-align: right;
}

.counter .right-counter {
    padding-right: 15px;
    padding-left: 0;
}

.graduates-row,
.governance,
.exam-content,
section.training {
    direction: rtl;
}

.standards,
.pricing,
.pass-rates,
.shipping,
.how-register,
.message-info,
.product-details,
.pracitioner-syllabus,
.our-goal,
.our-vision,
.cart,
.register-section .register-body,
.register-section ul,
section.img-media-center,
.videos-media-center,
.membership-media-center,
.team-content,
.login-section,
.message-industry,
.event-register,
.event-discription,
.event-details,
.event-sec,
.membership-details,
section.becoming,
.internal-auditing,
.contact-us,
.faq,
.iia-join,
.benefits,
.syllabus-exam,
.qial-total,
.promoting,
.policy-social,
.custom-modal .modal-body,
.career-types,
.career-details-info,
.custom-modal .form-body,
.shop-content,
.membership,
.content-dashboard,
.user-nav,
.iia-part,
.search-table,
.aside-dropdown,
footer,
header.header.header--front,
section.certification,
.counter,
.news,
section.social {
    direction: rtl;
    text-align: right;
}

.social .social-card h3 i {
    left: 0;
    right: auto;
}

.social .social-card .soical-action .left-icon a {
    padding-left: 20px;
    padding-right: 0;
}

.product-details .row-other-product,
.input-group,
.news.slider-news,
.social .social-card .soical-action .left-icon {
    direction: ltr;
}

footer .form-row button.btn {
    margin-right: 5px;
    margin-left: 0;
}

.cart .content-body .product-row .action-row,
.cart .content-body .product-row .price,
footer .footer-bottom .right-links {
    text-align: left;
}

footer .footer-bottom .soical-links a {
    padding-left: 20px;
    padding-right: 0;
}

footer .footer-bottom .soical-links a:last-child {
    padding: 0;
}

.aside-dropdown {
    right: 0;
    left: auto;
}

.aside-dropdown .aside-dropdown__inner {
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
}

.aside-dropdown--active .aside-dropdown__inner {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

header.header .lang-select__sub-list::before {
    content: "";
    display: inline-block;
    border: 15px solid transparent;
    border-top: 20px solid #020F20;
    position: absolute;
    top: -15px;
    right: 33px;
}

header.header .dropdown-trigger {
    margin: 0 0 0 15px;
}

.qualifications-sec h2,
.qualifications-sec,
.pricing .paragraph-title,
.pricing h2,
.core-banner,
.pracitioner-syllabus p,
.pracitioner-syllabus h2,
.internal-auditing .paragraph-title,
.cpsa-sec p,
.internal-auditing .header-title,
.becoming .left-side p,
.becoming .left-side h2,
.server.eligibility-sec,
section.our-vision.media-center-news-details,
section.overview.video-sec.why-iap,
.roadmap,
.roadmap-cgap,
.links-nav .container-fluid,
.core-banner h3,
.overview .left-side p,
.overview .left-side h2 {
    text-align: right;
}

.overview {
    padding: 50px 0;
    direction: rtl;
}

[data-aos=fade-right] {

    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

[data-aos=fade-left] {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
}

.affiliates [data-aos=fade-left],
.about-sec [data-aos=fade-left] {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.about-sec [data-aos=fade-right] {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
}

.search-table .left-side .parent-list .list-field .link-header::after {
    left: 30px;
    right: auto;
}

.iia-part .right-side {
    padding-right: 20px;
    padding-left: 0;
}

.sub-banner a {
    left: 50px;
    right: auto;
}

.user-nav .left-side ul .account-type {
    border-right: 1px solid #EAEAEA;
    padding-right: 10px;
    padding-left: 0;
    border-left: 0;
}

.user-nav .right-side a {
    padding-left: 10px;
    padding-right: 0;
}

.user-nav .right-side a:last-child {
    padding: 0;
}

.content-dashboard .sidebar ul li {
    padding: 20px 55px 20px 5px;
}

.content-dashboard .sidebar ul li a i {
    padding-left: 5px;
    padding-right: 0;
}
.content-dashboard .right-side .body-content .user-name {
    padding-right: 15px;
    padding-left: 0;
}
.content-dashboard .right-side .body-content .row-enrol .table td .user-info {
    padding-right: 10px;
    padding-left: 0;
}
.content-dashboard .right-side .body-content .row-enrol .table td .btn {
    padding: 5px 0px;
    font-size: 13px;
    width: 90px!important;
}

.content-dashboard .right-side .body-content .info-sec,
.content-dashboard .right-side .body-content .list-info ul li .right-side {
/*    text-align: left;*/
}

.content-dashboard .right-side .row-delegate a {
    padding-right: 25px;
    padding-left: 0;
}

.content-dashboard .right-side .row-message .btn-col .btn:first-child {
    margin-left: 10px;
    margin-right: 0;
}

.content-dashboard .right-side .body-content .row-filter .padd-left {
    padding-right: 0;
    padding-left: 15px;
}

.content-dashboard .right-side .body-content .exclusive-pro .user-info {
    padding-right: 25px;
    padding-left: 0;
}

.text-right {
    text-align: left !important;
}

.text-left {
    text-align: right !important;
}

.team-content .user-info .team-dis h2,
.content-dashboard .right-side .body-content .row-btn {
    text-align: left;
}

.content-dashboard .right-side .body-content .info-sec i {
    padding-left: 5px;
    padding-right: 0;
}

.content-dashboard .right-side .body-content .info-sec span {
    padding-right: 10px;
}

.content-dashboard .right-side .body-content .form-content .upload-file .custom-file-label {
    padding: 0 0 0 30px;
}

.content-dashboard .right-side .body-content .form-content .upload-file::after {
    left: 6px;
    right: auto;
}

.content-dashboard .right-side .current-jop .list-info ul li .right-side a {
    padding-right: 25px;
    padding-left: 0;
    float: left;
}

.content-dashboard .right-side .apply-sec .action-apply,
.content-dashboard .right-side .body-content .contact-sec,
.content-dashboard .right-side .body-content .form-content .form-action {
    text-align: left;
}

.search-table .custom-select-field::after {
    left: 10px;
    right: auto;
}

.shop-content .filter form .custom-select-field::after {
    left: -15px;
    right: auto;
}

.custom-modal .form-body {
    padding: 0 0 0 25px;
}

.custom-modal .form-content .job-info .right-side {
    padding-right: 15px;
    border-right: 1px solid #CCCCCC;
    padding-left: 0;
    border-left: 0;
}

.custom-modal .form-content .job-info .left-side {
    padding-left: 15px;
    padding-right: 0;
}

/*
.custom-modal .modal-content {
    padding: 0 0 25px 25px;
}
*/
.custom-modal .form-body {
    padding: 0;
}
.custom-modal .form-content {
    padding-left: 0;
}

.custom-modal .close {
    left: 10px;
    right: auto;
}

.career-details-info .career-details ul li:last-child {
    border-left: 0;
    padding-left: 0;
    border-right: 1px solid #CCCCCC;
    padding-right: 15px;
}

.career-types .tab-content .row-career {
    border-right: 3px solid #00AEEF;
    border-left: 0;
}

.policy-social .social-side a {
    padding-left: 60px;
    padding-right: 0;
}

.qial-total .qial-content .right-side {
    padding-right: 15px;
    padding-left: 0;
}

.qial-total .qial-content {
    border-left: 1px solid #D8D8D8;
    border-right: 0;
}

.qial-total .col-lg-3:last-child .qial-content,
.qial-total .col-lg-3:nth-child(4) .qial-content {
    border-left: 0;
}

.server.eligibility-sec .left-side {
    padding: 0 50px 0 15px;
}

.benefits .benefits-content h4 {
    padding-right: 25px;
    padding-left: 0;
}

.benefits .benefits-content h4::after {
    right: 0;
    left: auto;
}

.faq .card .btn {
    text-align: right !important;
}

.message-box {
    border-left: 1px solid #D8D8D8;
    ;
    right: -4px;
    left: 0;
    border-right: 0;
}

.contact-us .left-side .contact-info li .right-side {
    padding-right: 10px;
    padding-left: 0;
}

.form-content .custom-select-field::after {
    left: 10px;
    right: auto;
}

.internal-auditing li.nav-item .nav-link {
    border-left: 1px solid #D8D8D8;
    border-right: 0;
}

.internal-auditing li.nav-item .nav-link.active {
    border-right: 1px solid #D8D8D8;
    border-left: 0;
}

.becoming .right-side li h4 {
    padding-right: 10px;
    padding-left: 0;
}

.event-sec .filter ul .input-calendar input {
    padding: 0 30px 0 15px;
}

.pagination-row .page-link {
    margin-left: 15px;

}

.page-item:first-child .page-link {
    margin-right: 0;
}

.event-sec .filter ul li {
    margin-left: 15px;
    margin-right: 0;
}

.event-details .event-info ul li span {
    padding-left: 15px;
    padding-right: 0;
}

.event-register .right-side {
    padding-right: 40px;
    padding-left: 15px;
}

.event-details .event-info ul li {
    border-left: 1px solid #0998CD;
    border-right: 0;
}

.event-details .event-info ul li:last-child {
    border-left: 0;
}

.cart .content-body .row-total li span,
.custom-modal ul li .right-side {
    text-align: left;
}

.server.eligibility-sec li h4 {
    padding-right: 10px;
    padding-left: 0;
}

.slider-news h2 a {
    left: 0;
    right: auto;
}

.social.socia-media-center h2 i {
    padding-left: 5px;
    padding-right: 0;
}

.register-section ul li::after {
    left: 25px;
    right: auto;
    content: "\f0d9";
}

.register-section .form-content .avatar-upload .right-side {
    padding-right: 15px;
    padding-left: 0;
}

.register-section .form-content .upload-file .custom-file-label {
    padding: 0 15px 0 130px;
}

.register-section .form-content .upload-file .custom-file-label::after {
    padding-left: 20px;
    padding-right: 0;
    left: 0;
    right: auto;
}

.offset-lg-9 {
    margin-right: 75%;
    margin-left: 0;
}

.our-vision h2::after {
    right: -30px;
    left: auto;
}

.our-goal i {
    padding-left: 10px;
    padding-right: 0;
}

.about-sec .left-content.sec.sec7 .fade-right-sec {
    width: 50%;
    text-align: right;
}

.about-sec .left-content.sec.sec7 .fade-right-sec p {
    width: 100%;
}

.how-register li p::before {
    right: -15px;
    left: auto;
}

.how-register li p:after {
    right: -10px;
    left: 0;
}

.how-register li {
    padding-right: 15px;
    padding-left: 0;
}

.shipping .content-body .banner-row .btn-default {
    margin-right: 10px;
    margin-left: 0;
}

.shipping .content-body .header-content .form-group {
    margin-left: 0;
    margin-right: 15px;
}

.icon-box {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.our-standards .col-lg-6 {
    padding: 0 15px;
}

.membership .card-membership ul li span,
.membership-details .content .row-center span {
    text-align: left;
}

.membership-details .content .left-side span {
    padding-right: 0;
    padding-left: 15px;
}

.sub-banner h1 {
    font-size: 34px;
}

.why-iap.video-sec h2 {
    font-size: 37px;
}

.message-industry h2 {
    font-size: 32px;
}

.message-box {
    height: auto;
    padding: 5px 10px;
}

.promoting h3 {
    font-size: 30px;
}

.faq .card .btn:after {
    left: 25px;
    right: auto
}

.certification .card-certification .overlay .content .card-info p {
    font-size: 14px;
}

.certification .card-certification .overlay .content h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.certification .card-certification .overlay {
    height: 150px;
}

.training .training-info {
    height: 220px;
}
/*
.benefits-content p {
    text-align: center;
    width: 100%;
}
*/
.membership .card-membership p {

    font-size: 14px;
}
.register-section .form-content .upload-file .custom-file-label::after {
    content: "تصفح ملفات";
}
.links-nav .fa-caret-right:before {
    content: "\f0d9";
}
.graduates-row a {
    font-size: 13px;
}
header.header .nav-action a.cart-link span.counter-cart {
    left: -9px;
    right: auto
}
.about-sec .left-content p,
.about-sec .left-content .content {
    text-align: right!important;
}
.form-group.calendar-icon::after {
    left: 0;
    right: auto
}
.council {
    direction: rtl;
}
.cart .content-body .row-total .left-side {
    width: 80px;
    text-align: right;
}
/**** Media query ****/
@media  (min-width: 1200px) and (max-width:1440px) {
    footer .footer-bottom p,
    footer .footer-bottom .right-links,
    footer .links-inline a,
    footer .links a {
        font-size: 12px
    }
    .why-iap.video-sec h2,
    .faq h2,
    .roadmap h2,
    .iia-join h2,
    .contact-us .left-side h1,
    .career h2,
    .benefits .benefits-content h2,
    .membership h2,
    .member h2,
    .certified h2,
    .about-section h2,
    .section-head .text-header {font-size: 35px;} 
    .certification .card-certification .overlay {
        height: 135px;
    }
    
    .register-section .form-content .tab-title h2,
    .membership .card-membership h3,
    .training .training-info h3,
    .certification .card-certification .overlay .content h2{font-size: 19px}

    .server.eligibility-sec li h4,
    .contact-us .left-side .contact-info li .right-side .num,
    .career-types .tab-content .row-career h3,
    .shop-content .product h3,
    .benefits .benefits-content h4,
    .search-table .left-side h3,
    .register-section ul li a h3,
    .bg-sec-benefits ul li,
    .becoming .right-side li h4,
    footer .links h3,
    .counter .right-counter .num {
        font-size: 16px
    }
    
    .request-call h2,
    .career-details-info h2,
    .qualifications-sec h3,
    .pricing .row-tabel h3,
    .policy-social p,
    .our-vision h2,
    .certification-training .top-header h2, .header-title,
    footer .form-row h2 {font-size: 24px}
    
    
    .banner h1 {
        font-size: 34px
    }
    .awards h2,
    .core-banner h3,
    .syllabus h3 ,
    .contact-us .form-content h2,
    .search-table .table-title,
    .traning-slider .item h2,
    .pricing .tabel-dis h3,
    .becoming .right-side h3,
    .news h3,
    .promoting h3, .message-industry h2 {
        font-size: 21px;
    }
    
}
@media only screen and (min-width: 1640px) {
    .iia-join h2 {
        font-size: 44px;
    }
}
@media only screen and (min-width: 576px) {
    header.header .lang-select__sub-list::before {
        right: 33px;
        left: auto;
        -webkit-transform: rotate(90deg);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-menu .main-menu__item:not(:last-of-type) {
        margin-left: 15px;
        margin-right: 0;
    }

    .sub-banner h1 {
        font-size: 34px;
    }

    .certification .card-certification .overlay {
        height: 195px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .social .social-card .soical-action .left-icon a {
        padding-left: 5px;
        padding-right: 0;
    }

    .content-dashboard .sidebar ul li {
        padding: 20px 0;
    }

    .content-dashboard .sidebar {
        padding-right: 10px;
        padding-left: 0;
    }

    .career-details-info .career-details ul li:nth-child(4) {
        border-right: 1px solid #CCCCCC;
    }

    .qial-total .col-lg-3:nth-child(even) .qial-content {
        border-left: 0;
    }

    .g-recaptcha {
        right: -5%;
        left: 0;
    }

    .event-register .right-side {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .event-register .right-side .g-recaptcha {
        right: 0;
        left: 0;
    }

    .offset-lg-9 {
        margin-right: 66.66667%;
    }

    .shipping .content-body .banner-row .btn-default {
        margin-right: 5px;
    }

    .membership-details .content .left-side span {
        padding: 0;
    }

    .sub-banner h1 {
        font-size: 30px;
    }

    .certification .card-certification .overlay {
        height: 220px;
    }

    .training .training-info {
        height: 170px;
    }
    .about-sec .section-image-about {
        height: 267px;
    }
    .about-sec .section-image-about .img-content {
        height: 100%;
    }
    .about-sec .section-image-about img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center

    }
    .membership .card-membership p {
        font-size: 11px;
        padding: 0 4px;
    }
    .promoting h3 {
        font-size: 21px;
    }

}

@media only screen and (max-width: 767px) {
    header.header .lang-select {
        padding-right: 20px;
        padding-left: 20px;
    }

    .social .social-card .soical-action .left-icon a {
        padding-left: 5px;
    }

    footer .form-row button.btn {
        margin-right: 0;
        margin-left: 0;
    }

    .sub-banner a {
        left: 15px;
        right: auto;
    }

    .content-dashboard .sidebar ul li {
        padding: 20px 0;
    }

    .content-dashboard .sidebar {
        padding-right: 10px;
        padding-left: 0;
    }

    .content-dashboard .right-side .body-content .contact-sec,
    .content-dashboard .right-side .apply-sec .action-apply,
    .content-dashboard .right-side .body-content .list-info ul li .right-side {
        text-align: right;
    }

    .content-dashboard .right-side .body-content .exclusive-pro .user-info {
        padding-right: 0;
        padding-left: 0;
    }

    .content-dashboard .right-side .body-content .info-sec span {
        padding-right: 0 !important;
        text-align: right;
    }

    .custom-modal .modal-content {
        padding: 0;
    }

    .custom-modal .form-body {
        padding: 25px 0;
    }

    .career-details-info .career-details ul li:last-child {
        border-left: 0;
        padding-left: 0;
        border-right: 0;
        padding-right: 0;
    }

    .policy-social .social-side a {
        padding-left: 30px;
        padding-right: 0;
    }

    .message-box {
        right: 0;
        border-right: 1px solid #D8D8D8;
    }

    .qial-total .col-lg-3:nth-child(even) .qial-content {
        border-left: 0;
    }

    .contact-us .left-side .contact-info li .right-side {
        padding-right: 0;
        padding-left: 0;
    }

    .g-recaptcha {
        right: -5%;
        left: 0;
    }

    .event-register .right-side {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .team-content .user-info .team-dis h2,
    .custom-modal ul li .right-side {
        text-align: right;
    }

    .offset-lg-9 {
        margin-right: 0;
    }

    .about-sec .left-content.sec.sec7 .fade-right-sec {
        width: 100%;
    }

    .sub-banner h1 {
        text-align: center;
    }

    .shipping .content-body .banner-row .btn-default {
        margin-right: 0;
        margin-left: 0;
    }

    .membership-details .content .left-side span {
        padding: 0;
    }
    .training .training-info {
        height: auto;
    }
    header.header .nav-action a.cart-link span.counter-cart {
        left: 0;
        right: auto;
        top: -5px;
    }

}