/*Voting  */
.voting-title {
    padding: 50px 0 15px;
}
.voting-title h2 {
    margin-bottom: 5px!important;
}
.voting-title h5 {
    font-size: 16px;
    margin: 20px 0 0;
    color: #000;
}
.voting-content {
    background-color: #F7F7F7;
    padding: 80px 0 0
}
.voting-content .box {
    box-shadow: 0px 2px 5px 1px rgba(173, 173, 173, 0.1);
    text-align: center;
    margin-bottom: 90px;
    background-color: #fff;
    position: relative;
}
.voting-content .box img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 1px rgba(134, 134, 134, 0.1);
    margin-top: -45px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
}
.voting-content .box .content {
    padding: 0 20px;
    color: #4F4F4F;
    padding-top: 15px;
    position: relative;
}
.voting-content .box .content h3 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #00AEEF;
}
.voting-content .box .content h5 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #4F4F4F;
    text-transform: uppercase;
    font-family: 'Cairo-Regular';
}
.voting-content .box .content h6 {
    color: #4F4F4F;
    font-family: 'Cairo-Regular';
    font-size: 14px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.voting-content .box .content h6 span {
    text-transform: uppercase;
}
.voting-content .box .content p {
    color: #000000;
    font-size: 14px;
    margin: 15px 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 46px
}
.voting-content .box .content a {
    text-decoration: underline;
    color: #4F4F4F;
    font-size: 14px;
    font-family: 'Cairo-Regular';
}
.voting-content .box .content a:hover {
    color: #00AEEF;
}
.voting-content .box .btn {
    margin-top: 5px;
    width: 100%;
    border-radius: 0;
    padding: 10px
}
.voting-content .box.vote-confirmed .btn {
    background-color: #4F4F4F;
    border-color: #4F4F4F;
    color: #fff;
}
.voting-content .box.vote-closed {
    opacity: .8;
}
.voting-content .box.vote-closed .btn {
    background-color: #4F4F4F;
    border-color: #4F4F4F;
    color: #000;
}

.popup-custom h2 {
    font-size: 21px;
    margin-bottom: 0;
    text-align: center;
}
.popup-custom .form-content p {
    color: #4F4F4F;
    margin-bottom: 25px
}
.popup-custom .form-body {
    padding: 50px;
}
.popup-custom .form-body label {
    font-size: 16px;
    color: #4F4F4F;
}

.popup-custom .form-body .form-control {
    border: 1px solid #949494;
    border-radius: 5px;
    padding: 12px;
    height: 48px;
}
.popup-custom .form-body .form-control:focus {
    border-color: #00AEEF;;
}
.popup-custom .form-body textarea.form-control {
    max-height: 100%;
    height: 120px;
    overflow: hidden;
    overflow-y: auto;
    resize: none;
}
.popup-custom  .form-content .form-group {
    margin-bottom: 15px
}
.popup-custom  .custom-control {
    margin-top: 10px;
}
.popup-custom  .custom-control label{
    font-size: 13px;
}
.popup-custom  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #00AEEF;
    background-color: #00AEEF;
}

.popup-custom  .form-action .btn{
    width: 100%;
}
.popup-custom  .form-action .btn-default {
    background-color: #808080;
    border-color: #808080;
}
.popup-custom  .form-action .btn-default:hover {
    color: #808080;
    background-color: transparent;
}
.user-custom button.close,
.popup-custom button.close {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 30px;
}
.user-vote-body {
    padding: 40px;
}
.user-vote-body .left-side {
    text-align: center;
    padding-top: 15px;
    border-right: 1px solid #e0e0e0;
}
.user-vote-body .left-side img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
    border:3px solid #00AEEF;
}

.user-vote-body .left-side h3 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #00AEEF;
}
.user-vote-body .left-side h5 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #4F4F4F;
    text-transform: uppercase;
    font-family: 'Cairo-Regular';
}
.user-vote-body .left-side p {
    color: #4F4F4F;
    font-size: 14px;
    margin: 15px 0;
}
.user-vote-body .left-side a {
    text-decoration: underline;
    color: #00AEEF;
    font-size: 14px;
    font-family: 'Cairo-Regular';
}
.user-vote-body .right-side {
    padding-top: 15px;
}
.user-vote-body .right-side p {
    color: #4F4F4F;
    font-size: 14px;
    margin: 0;
}
.user-vote-body .right-side h4 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
    padding-left: 12px;
    position: relative;
}
.user-vote-body .right-side h4::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00AEEF;
    left: 0;
    bottom: 5px;
}
.user-vote-body .links {
    margin-top: 15px;
}
.user-vote-body .links .btn {
    background-color: transparent;
    color: #00AEEF;
}
.user-vote-body .links .btn:hover {
    background-color: #00AEEF;
    color: #fff;
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    .user-custom .modal-dialog {
        max-width: 100%;
    }
    .voting-content .box .content h3 {
        font-size: 18px;
    }
}

@media only screen and  (max-width: 767px) {
    .voting-content .box .content h3 {
        font-size: 18px;
    }
    .user-vote-body .left-side {
        text-align: center;
        padding-top: 0;
        border-right: 0;
    }
    .user-vote-body {
        padding: 20px
    }
    .user-vote-body .left-side img {
        width: 120px;
        height: 120px
    }
    
    .popup-custom .form-body {
        padding: 20px
    }
    .popup-custom .form-action .btn-default {margin-top: 15px;}
    .popup-custom .form-content p{margin-bottom: 15px;}
    .user-vote-body .links .btn {
        background-color: transparent;
        color: #00AEEF;
        width: 100%;
        margin-top: 15px
    }
    .user-vote-body .links {
        margin-top: 0;
    }
    
    
}